<div id="home">
    <div id="home-form-container">
        <form action="/artists">
            <div>
                <input type="text" name="name" placeholder="Artist">
            </div>
            <div>
                <button class="btn-artists">
                    Search for an Artist
                </button>
            </div>

        </form>
    </div>
</div>