<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="stylesheets/searched.css">
  <title>Document</title>
</head>
<body>
  <div>
    <form action="/albums" method="POST">
    {{#each output1}}
    <div>
      <img src="{{this.images.0.url}}" alt='Image Not Avaliable'> 
      <a href="albums?id={{this.id}}">{{this.name}}</a> 
    </div>
   {{/each}}
   </form>
  </div>
</body>
</html>