
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Spotify</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1>SPOTIFY</h1>
  <%- body %>
</body>
</html>
