<div class="container">

<form action="/" method='post'>
<div class="form-container">
    <input type="text" class='text-input' name='searchArtist'>
    <input type="submit" value="Search for an artist" class='btn'>
    </div>
</form>

</div>


