

<form action="/artists"  method = "GET">
    <div class="form-group">
        <label for="artistInput"></label>
        <input type="text" class="form-control" id="artistInput" placeholder="The Beattles" name="searchArtist">
    </div>
 
    <button type="submit" class="btn btn-primary">Search for an artist</button>
</form>
