body{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.bg-index {
  background-image: url(https://static.pexels.com/photos/167605/pexels-photo-167605.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.form-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

.home-search {
  margin-top: 10px;
  background-color: black;
  border-radius: 0;
  color: white;
  background-color: #ff6666;
  border: 1px solid #ff6666;
}

.tracks-track-section{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0px;
  background-color: lightgrey;
  width: 100%;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0;
}

 .p1{
  padding-top: 20px;
  width: 75%;
}
.p2{
  padding-top: 20px;
  width: 15%;
}

.tracks-title-section{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0px;
  background-color: grey;
  width: 100%;
  height: 10vh;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

