<form action="/artists" method="GET">
  <label for="art">Find artists</label>
  <input type="text" class="btn bt-dark" id="art" name="art">
  <button type="submit" class="btn btn-dark">Buscar</button>
</form>