<article class="col-12 col-md-4 mt-1">
  <div class="border border-0 rounded rounded-3">
    <a href="#">
      <img
        src="{{this.images.0.url}}"
        class="img-thumbnail col-6"
        alt="Poster for "
      />
    </a>
    <div class="bg-secondary p-2">
      <h2>{{this.name}}</h2>
      <a href="tracks/{{this.id}}">View Tracks</a>
    </div>
  </div>
</article>