<div class="container">
    <div class="artist-grid">
    
        <div class="card">
            <div class="card-img-top">
                <img src={{this.images.1.url}}>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
            </div>
        </div>

    </div>
</div> 