 <div class="albums-container">
<article class="card">
     <img id="album-image" src="{{this.images.1.url}}" alt=""/>
    <h3 id="card-name">{{this.name}}</h3>
    
<button id="view-button"><a href="/albums/{{this.id}}/tracks" name="tracks">View Tracks</a></button>
</article>

</div>