<div class='albums'>
	<img src='{{this.images.0.url}}' alt='album image' />
	<h3>{{this.name}}</h3>
	<a href='{{this.external_urls.spotify}}'>Go to artist page</a>
	<button><a href='/tracks/{{this.id}}'>Tracks</a></button>
</div>