
<div class="cards card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.images.0.url}}" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-text">{{this.name}}</h2>
    <a href="/tracks/{{this.id}}"><button action="/albums" method="GET" class="btn btn-danger" type="submit">View Tracks</button></a>
  </div>
</div>