<div class="card">
    <img class="" style="" src="{{this.images.1.url}}" alt="">
    <div class="">
        <h3 class="">{{this.name}} {{this.lastName}}</h3>

      <a href="/viewTracks/{{this.id}}"><button>View Tacks</button></a>
    </div>
</div>