<div class="card h-100">
  <img src="{{this.photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{albums.name}} {{this.name}}</h5>
    <a href="/">View Album</a>
  </div>
</div>