
<div class="artistCard">
  <a href="/view-tracks/{{this.id}}">
    <div class="albumImg">
        <img src="{{this.images.[0].url}}" alt="{{this.name}}"/>
    </div>
    <div class="albumName">  
      <h5>{{this.name}}</h5>
    </div>
  </a>
</div>