<div class="col-md-4 card-container">
    <img src="{{images.0.url}}" />
    <div class="card-title-container">
        <p>{{name}}</p>
        <a href="/tracks/{{id}}">View Tracks</a>
    </div>
</div>