<div class="poster">

    <div class="album">
           <img src="{{this.images.1.url}}" alt="Album">
    </div>

    <div class="info">
        <h3>{{this.name}}</h3>
      <a href="/albums/{{this.name}}/{{this.id}}">View tracks</a>

    </div>








</div>