 <div class="card" style="width: 33.333%;">
    <img class="card-img-top" src=" {{this.images.0.url}}" alt="">
 
 <div class="card-body">
    
        <button type='submit'><a href='/tracks/{{id}}'>View Tracks</a></button>  
</div>
    
   
</div>