
<div class="col-lg-auto col-md-6 col-sm-9 mb-4">
    <div class="card border-0 text-black text-center">
    <img class="card-img-top mb-2" src="{{images.0.url}}" alt="Card image">
          <div class="card-body mt-2 d-flex flex-column">
                <h5 class="card-title" id="card-under">{{name}}</h5>
                <a href="/tracklist/{{id}}" class="btn btn-primary btn-dark">View Tracks</a>
          </div>
    </div>
</div>

