<div class="album-card">
    <div class="image">
       <img class="img" src="{{this.images.[0].url}}" alt="{{this.name}} cover">
    </div>
    <div>
       <p>{{this.name}}</p> 
        <a href="/album-tracks/{{this.id}}">View Tracks</a>
    </div>
</div>