<div class='card'>
  <img src="{{images.0.url}}" alt='album-pic' />
  <div class='card-footer'>
    <h3>
      {{name}}
    </h3>
    <h4>
      <a href="/albums/tracks/{{id}}">
        View Tracks
      </a>
    </h4>
  </div>
</div>