<div class="card text-center" style="width: 18rem;">
  
  <img src={{this.images.0.url}} class="card-img-top" alt="...">

  <div class="card-body">
    <p class="card-text">{{this.name}}</p>
     <button  class="btn btn-danger "  type="submit"><a href= /viewTracks/{{id}}>View Tracks</a></button>
 
  </div>
</div>