<div class='album'>
	<img src='{{this.images.0.url}}' alt='album image' />
	<div class='grey-bar'>
		<h3>{{this.name}}</h3>

		<button class='search-button'><a href='/tracks/{{this.id}}'>Tracks</a></button>
	</div>
</div>