<div class="card" style="min-width: 10rem;">
  <img src="{{album.images.[0].url }}" class="card-img-top" alt=" image">
  <div class="card-body">
    <h5 class="card-title">{{album.name}}</h5>
    <a href="/tracks/{{album.id}}" class="btn btn-danger">View Tracks</a>
  </div>
</div>