<div class="col-md-4">
    <img class="card-img-top" src="{{this.images.0.url}}" alt="" />
    <div class=" card-body px-0 pb-3 mb-3 bg-dark">
        <h5 class="card-title p-1 text-light text-center">
            <strong>{{this.name}}</strong>
        </h5>
        <p class="card-text mx-auto d-flex justify-content-center">
            <a href="/tracks/{{this.id}}" class="btn btn-danger"> View Tracks </a>
        </p>
    </div>
</div>