{{!-- Album partial --}}
{{!-- <h1>Albums for: {{this.artists.0.}} </h1> --}}
<div>
    <img src="{{this.images.0.url}}" alt="{{this.name}}">
    <button> <a href="/track-info/{{this.id}}">View Tracks</a> </button>
</div>