<div class="card m-2 align-items-center">
  <img class="text-center my-2 " id="albums" src={{images.0.url}} alt="" />
  <div class="albumname text-center text-white my-w">
    <h5 class="name">{{name}}</h5>

  </div>
</div>