<div class="card m-4">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{images.[0].url}}" class="img-fluid" alt="{{this.name}}"/>
                <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
        </div>
        <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <a href="/tracks/{{this.id}}" class="btn btn-artists">View Tracks</a>
        </div>
</div>