<div class="col-md-3">
  <div class="card">
    <img class="card-img-top" src="{{this.albumImage.url}}" alt="Artist Image"/>
    <div class="card-body">
      <h5 class="card-title">{{this.albumName}}</h5>
      <a id="view-album-button" href="/tracks/{{this.albumId}}">View Tracks</a>
    </div>
  </div>
</div>

