<div class="artist-card-container">  
    <img src="{{images.1.url}}" alt="">
    <div class="artist-name-container">
        <h2>{{name}}</h2>
        <a class="card-links" href="/tracks/{{id}}">View tracks</a>
    </div>
    
    
</div>
