<div>
    <img src="{{images.0.url}}" alt="artist-pic">
    <div>
        <h4>
            {{name}}
        </h4>
        <h5>
            <a href="/albums/{{id}}">
            View Albums
            </a>  
        </h5>
    </div>
</div>