
<div class="artists-found">
  <img src="{{imgSrc}}" /> <!-- correct path -->
  <h4>{{name}}</h4>
  <!-- correct path -->
  <a href="/albums/{{}}">Albums</a>
  <!-- correct path for albums in new view -->
</div>