<div class="card mt-3 mb-3" style="width: 18rem;">
    <img src="{{this.images.[0].url}}" class="card-img-top" alt="{{this.name}}'s image">
    <div class="card-body">
        <h5 class="card-title text-dark">{{this.name}}</h5>
        <a href="/albums/{{this.id}}" class="btn btn-success">View Albums</a>
    </div>
</div>