<div>
    {{!-- <div><img src={{this.images[0].url}}/></div> --}}
    <div>
        {{#with this.images.[0]}}
            <img src={{url}}/>
        {{/with}}
    </div>
    <div>{{this.name}}</div>
    <button><a href={{this.href}}>view artists</a></button>
</div>