<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{this.images.0.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">
                <a href="/albums/{{this.id}}" class="btn">View Albums</a>
            </p>
        </div>
    </div>
</div>
