{{#with this}}
    <div class='my-4 col-4'>
      <a class='d-flex text-decoration-none text-dark'>
        <div class='row g-0'>
          <div class='col-md-4 d-flex justify-content-center'>
            <img
              src='https://i.scdn.co/image/6b2a709752ef9c7aaf0d270344157f6cd2e0f1a7'
              alt='{{name}}'
              class='img-responsive mx-auto pl-4'
              style='max-width: 150px; max-height: 250px;'
            />
          </div>
          <div class='col-md-8'>
            <div class='card-body'>
              <h5 class='card-title text-center'>{{name}}</h5>
              <button type = "submit" class "btn btn-danger"><a href="/albums/someArtistIdGoesHere">View Albums</a></button>
            </div>
          </div>
        </div>
      </a>
    </div>
{{/with}}