<article class="container col-12 col-md-4">
  <div class="col-8  border border-0 rounded rounded-3">
    <a href="/albums/{{this.id}}">
      <img
        src="{{this.images.0.url}}"
        class="img-thumbnail col-12"
        alt="Poster for "
      />
    </a>
    <div class="bg-gradient p-1">
      <h4>{{this.name}}</h4>
      <a href="/albums/{{this.id}}">View Albums</a>
    </div>
  </div>
</article>