{{!-- <section class="artist__search">

  <div class="card">
    <div>
      <img src="{{images.0.url}}" alt="{{name}}" />
    </div>
    <div class="artist__search--card--info">
      <h3>{{name}}</h3>
      <a href="/albums/{{this.id}}">View Albums</a>
    </div>

  </div>

</section> --}}