<div class="container mx-auto">
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        {{#each artists}}
        <div class="col mx-3 my-2 d-flex align-items-strecth">
            <div class="card text-white bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="{{images.[0].url}}" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p> --}}
                    <a href="/albums/{{this.id}}" class="btn btn-danger">View Albums</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>