<div class="col-md-4">
    <div class="card">
        <img src="{{this.images.0.url}}" class="card-img-top" alt="No image provided by api" />
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <a href=" /albums/{{this.id}}" class="btn btn-primary">View Albums</a>
        </div>
    </div>
</div>