
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <a href="/albums/{{id}}" class="btn btn-primary">View Albums</a>
  </div>
</div>

