<div class="card">
    <img class="" style="" src="{{this.images.1.url}}" alt="">
    <div class="">
        <h3 class="">{{this.name}} {{this.lastName}}</h3>
      <a href="/albums/{{this.id}}"><button>View Artist</button></a>
    </div>
</div>