<div class="poster">

    <div class="album">
           <img src="{{this.images.1.url}}" alt="ARTISTA">
    </div>

    <div class="info">
        <h3>{{this.name}}</h3>
      <a href="/albums/{{this.id}}">View Albums</a>

    </div>








</div>