            {{!-- <img width="35%" src="{{this.images.0.url}}" alt="image">
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
            <h1>{{this.name}}</h1>
            <a href="/albums/{{this.id}}">
        <button type="button" class="w-100 btn btn-lg btn-outline-primary"> View Albums</a></button>
      </div> --}}