<div class="card-deck">
        <div class="card">
                <img class="card-img-top" src="{{images.[0].url}}" alt="{{this.name}}">
                <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <a href="#" style="text-decoration: none;">View Albums</a>
                </div>
        </div>   
</div>