<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="{{this.images.1.url}}"  
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text"></p>
      <a href="/views/partials/albums.hbs">View Albums</a>
      
    </div>
  </div>
</div>