
<div class="card text-center bg-dark text-white" style="width: 18rem;">
    <img class="card-img-top" src="{{this.images.0.url}}" style="height: 18rem;" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.name}}/{{this.id}}/" class="btn btn btn btn-danger">View Albums</a>
    </div>
</div>
