 <div class="artist-partial">
  <div class="artist-details">
    <h3>{{this.name}}</h3>
    <img src="{{this.images.0.url}}" alt="images"> 
    <p>URI: <a href="{{this.uri}}">{{this.uri}}</a> </p>
   </div>
</div> 