<div class="card col-4">
    <img src="{{this.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.id}}" class="btn btn-primary">View albums</a>
    </div>
</div>