<div class='artist'>
	<img src='{{this.images.0.url}}' alt='artist image' />
	<h3>{{this.name}}</h3>
	<a href='{{this.external_urls.spotify}}'>Go to artist page</a>
	<button><a href='/albums/{{this.id}}'>Albums</a></button>
</div>