<div class="col-md-3">
  <div class="card">
    <img class="card-img-top" src="{{this.artistImage.url}}" alt="Artist Image"/>
    <div class="card-body">
      <h5 class="card-title">{{this.artistName}}</h5>
      <a id="view-album-button" href="/albums/{{this.artistId}}">View Albums</a>
    </div>
  </div>
</div>
