<div class="artist-card">
    <div class="image">
       <img class="img" src="{{this.images.[0].url}}" alt="{{this.name}} cover">
    </div>
    <div>
        <p>{{this.name}}</p> <a href="/albums/{{this.id}}">View Albuns</a>
    </div>
</div>