<div class="card">
  <br />
  <br />
  <img
    height='200px'
    src="{{images.0.url}}"
    alt='artist-pic'
  />
  <h3>{{name}}</h3>
  {{!-- <h4><a href="{{external_urls.spotify}}">View albums</a></h4> --}}
  <h4><a href="/albums/{{id}}">View albums</a></h4>
</div>