<div class="col">
    <div class="card my-2" style="border: 0">
        <img src={{images.0.url}} class="card-img-top h-100" alt="artist-image">
        <div class="grey">
            <h4 class="card-title text-center my-1">{{name}}</h4>
            <div class="text-center">
                <a href='/albums/{{id}}' class="btn my-2 rounded-pill">View Albums</a>
            </div>
        </div>
    </div>
</div>