<div class="card align-items-center">
  <img class="text-center my-2" id="artists" src={{images.0.url}} alt="" />
  <div class="artistname text-center text-white my-2">
    <h5 class="name">{{name}}</h5>
  </div>
</div>