<div class="col-md-8">
    <div class="card">
        <div class="card-container">
            <img src="{{this.images}}" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title"> {{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
            </div>
        </div>
    </div>
</div>