<div class="artistCard">
    <div class="artistCardFlex">
        <img src="{{images.[0].url}}" alt="{{name}}">
        <h2>{{name}}</h2>
        <a href="/albums/{{id}}">View Albums</a>

    </div>
    </div>