<div class="artist-card">
  <img
    src="{{this.images.[0].url}}"
    alt="Artist image"
  />
  <div class="artist-info">
    <h3>{{this.name}}</h3>
    <a href="/albums/{{this.id}}">View Album</a>
  </div>

</div>