{{!-- <div class="albums-container"> --}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{images.0.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{genres}}</p>
            <a href="/artist/{{id}}" class="btn btn-success">View Albums</a>
        </div>
    </div>
{{!-- </div> --}}