 <div class="artist-container">
<article class="card">
     <img id="artist-image" src="{{this.images.1.url}}" alt="No image"/>
    <h3 id="card-name">{{this.name}}</h3>
     <button id="view-button"> <a href="/albums/{{this.id}}" name="albums">View Albums</a></button>
</article>

</div>