<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="{{artist.images.[0].url }}" class="card-img-top" alt=" image">
    <div class="card-body">
      <h5 class="card-title">{{artist.name}}</h5>
      <a href="/albums/{{artist.id}}" class="btn btn-danger">View Albums</a>
    </div>
  </div>
</div>