<div class="search-result-card">
    <div class="img-container">
        <img src="{{this.images.1.url}}" alt="">
        <h1 class="artist-name">{{this.name}}</h1>
    </div>
    <a href="/tracks/{{this.id}}" class="view-tracks">View Tracks</a>
</div>