<div class="card h-100 text-center">
    <img src="{{this.images.0.url}}" class="card-img-top" alt="{{this.name}}">
    <div class="card-body">
        <h5 class="card-title">{{this.external_urls}}</h5>
        <a class="card-text" href="/albums/{{id}}"><button type="button" class="btn btn-danger">View Albums</button></a>
    </div>
</div>