<div class="col-md-4">
    <img class="card-img-top" src="{{this.images.0.url}}" alt="" />
    <div class=" card-body">
        <h5 class="card-title">
            {{this.name}}
        </h5>
        <p class="card-text">
            <a href="/albums/{{this.id}}" class="btn btn-danger"> View Albums </a>
        </p>
    </div>
</div>