<div class="card" style="width: 18rem;">
  <img src={{this.image}} class="card-img-top" alt="artist-image" />
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/albums/{{this.artistId}}" class="btn btn-danger">View albums</a>
  </div>
</div>