<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="{{images.0.url}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            {{!-- <p class="card-text">{{information}}</p> --}}
            <a href="#" class="btn btn-primary">See albums</a>
        </div>
    </div>
</div>