<div class="artist-card">
  <img
    src="https://i.scdn.co/image/ab6761610000e5eb4b36d28b55620959821f4a5b"
    alt="Artist image"
  />
  <div class="artist-info">
    <h3>{{this.name}}</h3>
    <a href="/albums/{{this.id}}">View Album</a>
  </div>

</div>