<div class="card mt-5 mx-3 shadow" style="width: 20%;">
    <img class="card-img-top" style="object-fit: cover;" src="{{this.images.0.url}}" alt="">
    <div class="card-body bg-dark justify-content-center">
        <h5 class="card-title text-white">{{this.name}}</h5>
      <a href="/albums-search/{{this.id}}">  <button>View Albums</button></a>
    </div>
</div>