<div class="card" style="width: 18rem;">
    <img src="{{images.[0].url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <div>
            <h5 class="card-title">{{name}} </h5>
            <a class="button" href="/albums/{{id}}">View Album</a>
        </div>
    </div>
</div>

