<div class='artist'>
	<img src='{{this.images.0.url}}' alt='artist image' />

	<div class='grey-bar'>
		<h3>{{this.name}}</h3>
		<button class='search-button' id='to-albums'><a href='/albums/{{this.id}}'>Albums</a></button>
	</div>
</div>