<div class="artistCard">
  <a href="/albums/{{this.id}}">
    <div class="artistImg">
        <img src="{{this.images.[0].url}}" alt="{{this.name}}"/>
    </div>
    <div class="artistName">  
      <h5>{{this.name}}</h5>
    </div>
  </a>
</div>

