<div class="row bg-light mb-2 p-2 ">
    <div class="col-md-8 d-flex align-items-center">
        <h6 class="">{{name}}</h6>
    </div>    
    <audio class="col-md-4" src="{{preview_url}}" controls></audio>    
</div>