<div class="row bg-light border border-light p-2">
    <div class="col-md-8">
        <p>
            {{name}}
        </p>
    </div>    
    <audio class="col-md-4" src="{{href}}" controls></audio>    
</div>