<div class="row bg-light mb-2 p-2 d-flex justify-content-start align-content-center">
    <div class="col-md-8">
        <p class="font-weight-bold">{{name}}</p>
    </div>    
    <audio class="col-md-4" src="{{preview_url}}" controls></audio>    
</div>