<div class="albums-card-container">
    <img class="artist-image" src="{{images.1.url}}" alt="">
    <div class="artist-name-container">
        <h2>{{name}}</h2>
        <a class="card-links" href="/albums/{{id}}">View albuns</a>
    </div>
    
</div>

