<div class="col-md-4">
    <div class="card">
      <img src={{images.0.url}} class="card-img-top"/>
        <div class="card-body">
          <h5 class="cardtitle">{{name}}</h5>
          <a href="/albums/{{id}}" class="view-albuns">View Albuns</a>
        </div>
    </div>    
</div>