<div class="col-md-4  col-sm-3 mt-3">
    <img src="{{this.images.0.url}}" alt="{{this.name}}" width="100%">
    <div class="bg-dark text-center d-flex flex-column">
        <h3 class="text-white">{{this.name}}</h3>