{{#if id}}
<div class="card">
    <div class="card_image" style="background-image: url('{{images.[0].url}}');"></div>
    <div class="card_content">
        <div classs="card_title">
            <h3>{{name}}</h3>
        </div>
        <div class="card_actions">
            <a class="btn btn-secondary btn-lg" href="/albums/{{id}}?artist={{name}}">View Albums</a>
        </div>
    </div>
</div>
{{/if}}