  <div class="col">
    <div class="card h-100">
        {{#if images.0.url }}
            <img src="{{images.0.url}}" class="card-img-top" alt="{{name}} picture">        
        {{else}}
            <img src="https://via.placeholder.com/600.png?text=Image+no+avalible" class="card-img-top" alt="Image no avalible">      
        {{/if}} 
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="#" class="btn btn-primary">View Albums</a>
      </div>
    </div>
  </div>
