{{!-- <section class="detail-summary">
    <img class="detail-summary-img" src="{{this.images.[0].url}}" alt="">
    <div class="detail-summary-content">
        <h2>{{this.name}}</h2>
</section> 
------tried to use partials but it is complicated to have styles from CSS --}}
--}}