<div id="global-container-artists">
    {{#each inputArray}}
    <div class="sub-containers">
        <img class="artist-image" src={{this.image}} alt="image artist">
        <h1 class="artist-name">{{this.name}}</h1>
        <a href={{this.href}}>
            <button class="view-albums-button">{{this.buttonText}}</button>
        </a>
    </div>
    {{/each}}
</div>