<footer class="navbar bg-dark d-flex justify-content-center align-items-baseline">
    <p class="text-white">Ironhack Lab - Developed by <a href="https://github.com/xavirepi" target="_blank"
            class="spotify-green">Javier Repi</a></p>
</footer>