<footer class="text-muted py-4 mt-auto">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Express Spotify Searcher <a href="https://github.com/manucaralmo/lab-express-spotify">By Manuel Carrillo</a></p>
    </div>
</footer>