<form action="/artist-search" id="home-form" class="d-flex justify-content-center align-items-center flex-column">
  <div class="">
    <input type="text" name="artist" class="form-control" id="artistImput" aria-describedby="artistlHelp">
    <label for="artistImput" class="form-label"></label>
  </div> 
  <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>