<header>
  <div class="header-container">
    <nav class="header-nav">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <div class="query">
      {{#if query}}
        you found:
        <span class="header-text">{{query}}</span>
      {{/if}}
    </div>
    <div class="logo">
      Spotify Clone
    </div>
  </div>
</header>