<form action="/artist-search" method="GET" id="searchForm">
    <input type="text" name="artista" placeholder="What artist are you looking for?"/>
    <button type="submit">Search for an Artist</button>
</form>