<section class="formImg d-flex justify-content-center align-items-center h-100">

  <form action="/artist-search" method="get" class="d-flex flex-column justify-content-center align-items-center h-25 w-50 formArtist">
    <input class="w-50 mb-2 border border-dark-subtle rounded-1 formSearch text-center" type="search" name="artist" placeholder="Artist's name">
    <button class="btn btn-danger border-0 rounded-0" type="submit">Search for an Artist</button>
  </form>

</section>