{{#with this}}
    <div class='col-4 row g-0 d-flex justify-content-center'>
        <div class="card mb-3" style="width: 18rem; background-color: grey">
          <img src='{{images.[0].url}}' alt='{{name}}' class='img-responsive' style='max-width: 30vw; max-height: 35vh;'/>
          <div class="card-body">
            <h5 class='card-title text-center text-white'>{{name}}</h5>
            {{#if viewAlbums}}
            {{> infoAlbums}}
            {{else viewTracks}}
            {{> infoTracks}}      
            {{/if}}
          </div>
        </div>
    </div>
{{/with}}

