<nav id="navbar">
    <div>
        <img class="spotify-logo" src="./images/spotify-logo.png" alt="spotify logo">
    </div>
    <ul class="nav-links">
        <li class="nav-link">Premium</li>
        <li class="nav-link">Discover</li>
        <li class="nav-link">Help</li>
        <li class="nav-link">Download</li>
    </ul>
</nav>