<section class="container-fluid nav">
    <div class="row">
        <div class="col">
            <a href="/">
                <img src="/images/spotify.svg" alt="spotify-logo">
            </a>
        </div>
    </div>
</section>