<nav class="nav-bar">
    <a href="/">
    <img src="/images/spotify-logo.png">
    </a>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Artists</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Download</a></li>
    </ul>
</nav>
