<div class="d-flex flex-row justify-content-center bg-light">
    <ul class="nav nav-pills">
        <li class="nav-item my-4">
            <a class="nav-link active bg-secondary" aria-current="page" href="/" >Go to Search</a>
        </li>
    </ul>
</div>