<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand fs-3 fw-semibold" style="color:#26d767;" href="/" srt>Express Spotify</a>
  </div>
</nav>