<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">HOME</a>
    <form class="d-flex" action="/artist-search" method="GET">
      <input name="artist" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning" type="submit">Search an artist</button>
    </form>
  </div>
</nav>