<div class="navbar">
    <a id="nav-home" href="/">Home</a>
    <form class="form-nav" action="/artist-search" method="GET">
            <input id="artist-navbar" type="text" name="artist">
            <button id="search-btn-nav" type="submit">GO</button>
    </form>
</div>

