<div class="one-album element">
	
	<img class="prev-img" src="{{this.images.0.url}}" alt="">

	<div class="header-container">
		<h3 class="header">{{this.name}}</h3>
		
	</div>

	<a class="button" href="/tracks/{{this.id}}">View Tracks</a>

</div>