<div class="one-artist element">
	
	<img class="prev-img" src="{{this.images.0.url}}" alt="">

	<h3 class="header">{{this.name}}</h3>

	<a class="button" href="/albums/{{this.id}}">View Albums</a>

</div>