<div class=""style="max-height: 33,3%;">

  <div class="d-flex card h-100 mb-3 col-sm-3" style="max-width: 18rem;">
    <img class="card-img-top" src={{this.images.0.url}} alt="Card image cap">
    <div class="card-block text-center">
      <h5 class="card-title">{{this.name}}</h5>
      <a class= "bg-danger text-light m-2 text-center" href=/albums/{{id}}>View Albums</a>
    </div>
  </div>
</div>