<div class=""style="max-height: 33,3%;">

  <div class="d-flex card h-100 mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src={{this.images.0.url}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <a href=/tracks/{{id}}>View Tracks</a>
    </div>
  </div>
</div>