<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="http://kenikin.com/w/nba-players-Wallpaper-Full-HD-number-yM1.jpg"
                    alt="NBA players">
                <div class="card-body">
                    <h5 class="card-title">Players</h5>
                    <p class="card-text">Check the top NBA players, according to Ironhack Curriculum staff.</p>
                    <a href="/players" class="btn btn-primary">See Players</a>
                </div>
            </div>
        </div>
    </div>
</div>