<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/search-albums/{{this.id}}" class='btn btn-primary'>Ver albums</a>
      </div>
</div>