<div class="container-fluid ">
    <div class="row">
            <div class="card col-12 text-center" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Album's Image">
                <div class="card-body">
                    <h5 class="card-title">Album's Name</h5>
                    <a href="#" class="btn btn-dark card-btn">View Album</a>
                </div>
            </div>
            
    </div>
</div>