<div class="column search">
<h1>The world's largest online music service. Find out more about your favourite artists</h1>
<div class="search-container">
    <form action="/artist-search", method="GET"/>
    <input type="search" name="artistName" placeholder="Search...">
    <button type="submit">Search</button>
    </form>
</div>
</div>