<div class="card my-2 text-center align-items-center">
    <h5 class="name my-3">{{name}}</h5>
    <audio class="audiocontrol mb-2" controls>
        <source src="{{preview_url}}" type="audio/ogg">
        <source src="{{preview_url}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
