<div class="card">
  <div class="text-left">
    <h5 class="name">{{name}}</h5>
    <audio src="{{external_urls.spotify}}" autoplay>
  Your browser does not support the <code>audio</code> element.
</audio>
  </div>
</div>