
    <h5 class="name">{{name}}</h5>
    <audio controls>
        <source src="{{preview_url}}" type="audio/ogg">
        <source src="{{preview_url}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

