<p>{{name}}</p>
{{!-- <audio class="track" src="{{preview_url}} controls">Your browser does not support the html audio tag.</audio> --}}
<audio controls>
  <source src="{{preview_url}}">
  Your browser does not support the html audio tag.
</audio>