<div class="card" style="width: 33.333%;">
    <img class="card-img-top" src=" {{this.images.0.url}}" alt="">
    
    
     <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        
        <button type='submit'><a href='/albums/{{id}}'>View Albums</a></button>  
    </div>

    
    
   
</div>