<div class="container standard-button-container d-flex justify-content-center">
    <button type="button" class="btn btn-outline-secondary standard-button">
        <a href="/">{{this}}</a>
    </button>
</div>