<div class="track-container">
        <h2>{{name}}</h2>
        <div class="track_controls">
            <audio class="audio-control-bar" controls src="{{preview_url}}">
            <a href="{{preview_url}}"> Download audio</a>
        </div>
        
    </audio>
  
</div>