<div class="col border-box d-flex flex-col justify-content-between align-items-center my-1">
    <div class="d-flex flex-row justify-content-center">
        <span class="grey-c px-4">{{track_number}}</span><span class="">{{name}}</span>
    </div>
    <audio controls src={{preview_url}}>Your browser does not support the
        <code>audio</code> element.</audio>
</div>
<hr class="grey">