<div class="d-flex">
    <div class="col-lg-8 pt-4">{{name}}</div>
    <div class="col-lg-4 pt-2">
        <audio controls name="media">
            <source src="{{preview_url}}" type="audio/mpeg">
        </audio>
    </div>
</div>