<div class="d-flex flex-row">
    <h6 class="ps-0 col-8">{{this.name}}</h6>
    <audio controls preload="auto" class="col-4">
        <source src="{{this.preview_url}}" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>
</div>