
<div class="card mt-5">
<div class=" text-center  d-flex flex-wrap pt-5" style="width: 18rem;">

  <audio controls>
  <source src="{{this.preview_url}}" type="audio/ogg">
  <source src="{{this.preview_url}}" type="audio/mpeg">

</audio>
  <div class="card-body">
    <p class="card-text">{{this.name}}</p>
 
  </div>
</div>
</div>