
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{name}}
        <span>
            <audio controls>
                <source src="{{preview_url}}" type="audio/mp3">
                Can not load preview.
            </audio>
        </span>
  </li>