<div class="card text-center col-lg-8 track m-1">

    <div class="card-body row justify-content-between align-items-center">
        <p class="card-title text-dark m-0"> {{name}}</a></p>
        <audio controls="controls" class="bg-dark">
            <source src="{{preview_url}}" /></audio>
    </div>
</div>