
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="li-track">
            <span>{{name}}</span>
            <audio controls src="{{preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </div>
        
    </li>
</ul>