
<div class="cards card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-text">{{this.name}}</h2>
    <audio>{{this.preview_url}}</audio>
    <a href="/albums/{{this.id}}"><button action="/albums" method="GET" class="btn btn-danger" type="submit">Go back</button></a>
  </div>
</div>