<div class="bg-light p-3 m-2">
    <div class="d-flex justify-content-between align-items-center">
        <h6>{{name}}</h6>
        <audio controls>
            <source src="{{preview_url}}" type="audio/mpeg">
        </audio>
    </div>
</div>