<div class="card text-center col-lg-8 bg-dark m-3">
<div class="row">

    <div class="card-body ">
        <h5 class="card-title text-light font-weight-bold"> {{name}}</a></h5>        
        <audio src="{{preview_url}}"></audio>
    </div>
</div>
</div>