<div>
  <div >
    <h1>{{this.name}}</h1>
  </div>
    <div>
        <figure></figure>
    <figure>
       <figcaption>Listen to the {{this.name}}:</figcaption>
    <audio
        controls
        src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>

  </div>
</div>