 <div>
    <h5>{{this.name}}</h5>
    <p>{{this.genres}}</p>
    <audio controls="controls" class="bg-dark"><source src="{{preview_url}}"></audio>
    {{!-- <a href="/albums-search/{{this.id}}"><button>View Tracks</button></a> --}}
  </div>
