<!-- trackCard.hbs -->
<div class="row">
    <div class="col-8"><div class="trackRow text-center">{{name}}</div></div>
    <div class="col-4"><div class="trackRow">
        <audio class="d-block mx-auto" controls src="{{preview_url}}">
            Your browser does not support the <code>audio</code> element.
        </audio>
    </div>
    </div>
</div>
