
<div class="col-md-4">
  <a class="card" >

    <div class="card-body">  
      <h5 class="card-title">{{this.name}}</h5>
    </div>
  </a>
</div>
<audio controls="true" src="{{this.preview_url}}" type="audio"></audio>
    
