<div class="row track-container">
    <div class="col-md-8">
        <p>{{name}}</p>
    </div>
    <div class="col-md-4">
        <audio controls>
            <source src="{{href}}" type="audio/mpeg">
        </audio>
    </div>

</div>