
<div class="">

    <div class="trackInfo">  
      <h5 class="number">{{this.track_number}}</h5><h5 class="title">{{this.name}}</h5>
    </div>
    <audio controls="true" src="{{this.preview_url}}" type="audio"></audio>
</div>

    
