<div id='track-list'>
	<p>{{this.name}}</p>

	{{#if this.preview_url}}
		<audio controls>
			<source src='{{this.preview_url}}' type='audio/mpeg' />
		</audio>
	{{else}}
		<p>No preview available</p>
	{{/if}}

</div>