<article class="tracks tracks-card">
  <div class="songsRow"> {{name}}</div>
  <div class="audio">
    <audio controls>
      <source src={{preview_url}} type="audio/mp3">
    </audio>
  </div>
</article>