<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express Spotify Searcher</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <%- body %>
  </div>
</body>
</html>