<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  </head>
  <body>
      <%- body -%>
  </body>
</html>
