# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules
.env
.DS_Store

package-lock.json
CLIENT_ID= 392ae965f0484aa9ad45ddaf375b9be9
CLIENT_SECRET= ab158ffacefc473399e8234328e92d98