<img src="/public/images/spotify-background.jpeg" alt="Search for an Artist">

<section>

    <form method="GET" action="/artist-search">

        <label>
            <input type="text" name="searchArtists"/>
        </label>

        <button type="submit">Search for an Artist</button>

    </form>

</section>