<div class="container valign-wrapper center-align entrada">
  <form action="/artist" method="POST" class="center-align">
    <input type="text" id="search" name="search" placeholder="Place your artist here">
    <button type="submit" class="waves-effect waves-light btn-large">Search for an Artist</button>
  </form>
</div>