.home{
  background-image: url('https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.search{
  display: block;
  text-align: center;
  padding-top: 25%;
  font-family: Montserrat;
  font-weight: 300;
 
}

.form{
  background: rgba(255,255,255,0.1);
  color: white;
}

.button {
  font-family: Montserrat;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

img{
  height: 400px;
  width: 400px;
}

.center{
  padding: 20px;
  text-align: center;
}


