.home {
  height: 100vh;
  background: url('/images/concert.jpg') center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  > form {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
  }
}