


<div class="home-page">
  <div class="form-container">
    <form class="form" action="/artist-search" method="GET">
      <input class="search-input" placeholder="Search for artists" type="text" name="artist" id="" />
      <button type="submit" class="btn btn-outline-danger search-btn">Search for Artist</button>
    </form>
  </div>
</div>
