<h1>Cheap Spotify</h1>
<form action="/artist-search" method="GET">
<label>
    What you wanna listen today
    <input type="text" name="artist">
</label>
<button type="submit" >Search</button>
</form>