<div class="container">

<form action="/artist-search" method="GET">
    Artista: <input name="from" type="text"><br>

    <input type="submit" class="btn btn-primary" value="Search for an Artist">

</form>

</div>