<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   

<form action="/artist-search" method="GET">
<label for="artists-name"> Enter an artist's name:</label>
  <input type="text" id="artist-name" name="artistName">
  <button type="submit">Search</button>
</form>

    
    
</body>
</html>