<div class="track-collection">

  {{#each tracks}}

    <div class="track">

      <div class="track-name">

        <h2>{{name}}</h2>

      </div>

      <div class="track-preview">

        {{#if preview_url}}

          <audio controls>
            <source src="{{preview_url}}" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>

        {{else}}

          <p>Preview not available for this track.</p>

        {{/if}}

      </div>

    </div>

  {{/each}}

</div>