                <h2>Albums For: {{albumArray.[0].artists.[0].name}}</h2>

<div class="cards">
    {{#each albumArray}}
        <li>
            <img src="{{this.images.[1].url}}">
            <h3>{{this.name}}</h3>
            <a href="/tracks/{{this.id}}">View Tracks</a>
        </li>
        
    {{/each}}
 </div>  
