

<h3>ARtist: {{resultArray.name}}</h3>
<h3>Popularity: {{resultArray.popularity}}</h3>
<h3>Type: {{resultArray.type}}</h3>
<h3>Http: {{resultArray.href}}</h3>

 {{!-- href: 'https://api.spotify.com/v1/artists/3pO5VjZ4wOHCMBXOvbMISG',
    id: '3pO5VjZ4wOHCMBXOvbMISG',
    images: [ [Object], [Object], [Object], [Object] ],
    name: 'Antônio Carlos Jobim',
    popularity: 66,
    type: 'artist', --}}