<h2>Authorize!</h2>


<li class="list-group-item">{{data.body.country}}</li>
<li class="list-group-item">{{data.body.display_name}}</li>
<li class="list-group-item">{{data.body.email}}</li>
<li class="list-group-item">{{data.body.type}}</li>