
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
         <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
         <li class="nav-item"><a class="nav-link" href="/">Search<a></li>
  </ul>
    </div>
  </nav>
      
          
      <form action="/artists" method="GET" id="form"  class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" id="search-query" name="artist" type="text" placeholder="Search Artist" aria-label="Search">
        {{!-- <input type="hidden" name="{{recipe.title}}" value="web"> --}}
        <button class="btn btn-outline-success my-2 my-sm-0" id="quicksearch" type="submit">Search</button>
      </form> 

<h1>Welcome to Spotify!</h1>


