<h1>List of Tracks:</h1>



<ul class="album-list"></ul>
    {{#each tracksArray}}
        <li class="list-group-item">
          <audio src="{{this.preview_url}}"></audio>
            {{!-- <h3>{{this.name}}</h3>
            <a href="/tracks/{{this.id}}">View Tracks</a> --}}
        </li>
        
    {{/each}}
</ul>
 </div>  