mixin albumPartial( album = {} )


  .artist-card
    .artist-image1
      img(src= album.image, alt="Artist image")
    .text-container
      h3 #{album.name}
      button(type="submit" onclick=`window.location.href = 'http://localhost:3000/tracks/${album.id}'`) View Tracks