mixin card_artist(item = {})

  //- -let image = item.images.url
  
  div(class="item")
    div(class="image-container")
      img(src=item.images.url, alt="")
      p #{item.name}
      a(href=`/albums/${item.id}`)
        button(class="item-btn") View Albums
