<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify artist searcher</title>
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="app-name">Express Spotify Searcher</h1>
  <%- body %>
  </body>
</html>
