<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify by Cami</title>
     <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Spotify</h1>
  <div>
    <%- body %>
  </div>
  </body>
</html>
