<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search in Spotify</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>SPOTIFY</h1>
      <%- body %>
  </body>
</html>
