{{#if album}}
<h3>Tracks on "{{album}}"</h3>
{{else}}
<h3>Tracks on this album</h3>
{{/if}}



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Listen on Spotify</th>
    </tr>
  </thead>
  <tbody>
    {{#each tracks}}
    <tr>
      <td>{{this.name}}</td>
      <td><a href={{this.external_urls.spotify}}>Listen</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>