* {
    font-family: "Helvetica";
    margin: 0;
}

main.home {
    height: 100vh;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-box {
    display: inline-block;
    width: 20%;
    margin: 2.5%;
    height: 25vw;
}

.search {
    background-color: rgba(255, 255, 255, 0.5);
    height: 20vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search input[type=text] {
    padding: 1.5%;
    width: 66%;
}
.search input[type=submit] {
    background-color: #FA6862;
    border: none;
    color: white;
    padding: 2.5%;
    width: 30%;
    margin-top: 2.5%;
}  

.artist-list {
    /* display: flex; */
    padding: 1% 5%;
    text-align: center;
}

.image-result {
    width: 100%;
    display: block;
}

.description {
    width: 100%;
    background-color: #4d4d4d;
    color: white;
    font-weight: bold;
    padding: 2.5% 0;
    font-size: 20px;
}

.description button {
    background-color: #FA6862;
    border: none;
    padding: 2.5%;
    border-radius: 5px;
    font-size: 80%;
}

.description a {
    color: white;
    text-decoration: none;
}

.top-bar {
    background-color: #4a4a4a;
    color: #c3c3c3;
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
}

/* .top-bar h2 {
    width: 20%;
    text-align: center;
} */

.track {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    margin: 1% 0;
    align-items: center;
    padding: 0 1.5%;
}