* {
  margin: 0;
  padding: 0
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("/images/saint-pablo.jpg");
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30%;
  background-color: rgba(255,255,255,60%)
}

form input {
  width: 70%;
  height: 15%
}

form button {
  width: 25%;
  height: 15%;
  background-color: #ca2f2f;
  border: #ca2f2f 1px solid;
  color: #FFFFFF;
  margin-top: 2.5%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-image: url("/images/music-background.jpg");
  background-size: cover;
  background-repeat: no-repeat
}

.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.artist-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 45%;
  width: 27.5%;
  padding: 1% 2.5%
}

.artist-card .artist-image {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center
}

.artist-card .artist-image img {
  height: 100%
}

.artist-card .text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 25%;
  padding: 0 5%;
  text-align: center;
  color: #FFFFFF
}

.artist-card button {
  background-color: #ca2f2f;
  border: #ca2f2f 1px solid;
  color: #FFFFFF;
  margin-top: 2.5%;
  width: 30%;
  height: 30px
}

.tracks {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 80%;
  background-color: rgba(255,255,255,60%)
}

.tracks .track-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: rgba(64,64,64,60%);
}

.tracks .track-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.tracks .tracklist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%
}

.tracks .tracklist .track {
  width: 65%;
}

.tracks .tracklist .track p {
  margin-left: 10%
}

.tracks .tracklist .preview {
  width: 35%;
  text-align: center
}