body {
    margin: 0;
    padding: 0;
    background-image: url("../images/spotify-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}