<HTML>

<div class="album-poster">

    <img src="{{this.images.0.url}}" alt="artist image for {{this.name}}">

    <button>
        <a href="/songsView?id={{this.id}}">{{this.name}}
    </button> </a>
</div>

</HTML>