<div class="col-md-3">
    <div class="card album">
        <img class="card-img-top" src="{{images.1.url}}" alt="{{name}}">
        <div class="card-body">
            <h4>{{name}}</h4>
            <hr>
        </div>
    </div>
</div>