<div class="col-md-3">
    <div class="card artist">
        <img class="card-img-top" src="{{images.1.url}}" alt="{{name}}">
        <div class="card-body">
            <h4>{{name}}</h4>
            <hr>
            <a href="/albums/{{id}}">Ver Albums</a>
        </div>
    </div>
</div>