.img-fluid {
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  align-items: center;
}

.btn {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 15%;
}

.card {
  width: 50%;
}

h1 {
  margin-top: 100px;
}

h3 {
  margin-top: 50px;
}

.magic {
  width: 100%;
}

.img {
  height: 250px;
  width: 125px;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  margin-top: 100px;
}

.card {
  margin-top: 50px;
  width: 33.3%;
}

.form-group {
  margin-top: 200px;
}
