{{#each albums}}
<h1> {{this.name}} </h1>
{{#if this.images.0.url}}
<img src= {{this.images.0.url}} alt="no image found">
{{else}}
<img src= "https://www.ncenet.com/wp-content/uploads/2020/04/No-image-found.jpg" alt="no image found">

{{/if}}
<a href="/view-tracks/{{this.id}}">view tracks</a>
{{/each}}
