<div class="see-albums">

{{#each albums}}
    <h3 class="album-name">{{this.name}}</h3>
    <img src="{{this.images.0.url}}" alt="album-cover" height="320px" width="320px" />
    <button><a href="/view-tracks">View Tracks</a></button>
{{/each}}
    
</div>