<div class="result-page">
    <h2>All Albums</h2>
    <a class="back-btn" href="javascript:history.back()">Back</a>
    <div class="list">
            {{#each albums}}
            <div class="card">
                <div class="img-box" style="background-image: url({{this.images.[0].url}})"></div>
                <div class="info-box">
                    <h3>{{this.name}}</h3>
                    <a class="btn" href="/tracks/{{this.id}}">View Tracks</a>
                </div>
            </div>
            {{/each}}
    </div>
</div>