{{#each items}}
    <section>
        <p>Name of the album: {{this.name}} </p>
        {{#each images}}
            <img src={{this}}/>
        {{/each}}
        <button>
            <a href=/track-information/{{this.id}}>See tracks</a>
        </button>
    </section>
{{/each}}