{{#each data}}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{images.0.url}}" alt="Albums card">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/albums/tracks/{{id}}" class="btn btn-primary">View tracks</a>
    </div>
</div>
{{/each}}