<div class="container">
    <div class="row">
        {{#each items}}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">

                {{#each images}}
                {{#if @first }}
                <img class="card-img-top" src="{{url}}" alt="Album:{{name}}">
                {{/if}}
                {{/each}}
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>

                    <a href="/tracks/{{id}}" class="btn btn-primary">View Tracks</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>