<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tracks</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div class="container">
        <h1>Tracks results</h1>
        <div class="row">
            {{#each receivedDataAlbumId}}
            {{> tracksCard this}}
            {{/each}}
        </div>
    </div>
</body>

</html>