<head>
    <link type="text/css" rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each albums}}
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" style="height: 350px; width: 100%; display: block;" src="{{images.[0].url}}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <a class="btn btn-primary" href="/albums/tracks/{{this.id}}">View Tracks</a>
                        </div>
                    </div>
                </div>

            {{/each}}
        </div>
    </div>
</div>
