{{! <h1>Albums of the Artist</h1> }}

{{#each album}}
  <img src='{{this.cover}}' alt='artist-albums' />
  {{! cover or image or uri??? }}
  <p>{{this.name}}</p>
  <a href='/albums/{{this._id}}/tracks'>View Tracks</a>
{{/each}}