<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Albums</h1>
    {{#each albums}}
      <div>
        <h2>{{name}}</h2>
        <img src="{{images.0.url}}" alt="Album Image" />
        <a href="/tracks/{{id}}">Album Tracks</a>
      </div>
    {{/each}}
</body>
</html>