<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each albums}}
                <div class="col-md-4 text-center">
                    <div class="card">
                        <img class="card-img-top"; src="{{images.[0].url}}" alt="">
                        <div class="card-body">
                            <h5 id="nameAthor" class="card-title">{{this.name}}</h5>
                            <a class="btn btn-primary" href="/albums/tracks/{{this.id}}">View Tracks</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
