<div class="albums-container">

{{#each albums}}
    <div class="albums-div">
        <img src="{{this.images.[0].url}}" alt="image for {{this.name}}">
        <div>
        <h5>{{this.name}}</h5>
        <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
    </div>
{{/each}}

</div>
