<main class="row d-flex m-0 mt-5">
    {{#each albums }}
    {{> cardPartial}}
    <a href="/tracks/{{this.id}}"><button class="btn btn-danger mb-2">View Tracks</button></a>
    </div>

    </div>
    {{/each}}

</main>