{{> navbar }}
<div class="search-results">
    {{#each this}}
    <div class="search-result-container">
        <div class="search-result-image-container">
            {{#if images.0.url}}
            <img class="search-result-image" src="{{images.0.url}}" alt="" />
            {{else}}
            <p>No image available</p>
            {{/if}}

        </div>
        <div class="search-result-details">
            <h3>{{name}}</h3>
            <button>
                <a href="/tracks/{{id}}">View Tracks</a>
            </button>
        </div>
    </div>

    {{/each}}

</div>