<!-- layout.hbs -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 artist-container">
      <img src="https://i.scdn.co/image/395ad6fbf859f13d1ad536dda1834d4a0ba64fc9" alt="" class="artist-img">
      <div class="artist-info-container">
        <p>The Book Of Souls: Live Chapter</p>
        <a href="/tracks/3oFAX7PeOFbZnKiPmpUPv4">View Tracks</a>
      </div>
    </div>
  </div>
</div>