<section class="search-results">
  {{#each albums.items}}
    <div class="results-card">

      <img src={{images.1.url}} alt="artist image" />
      <h1>{{name}}</h1>
      <a href="/tracks/{{id}}">View tracks</a>
    </div>
  {{/each}}
</section>