<div class = "albumsInfo">
    {{#each albumsInfo}}
        <div class="row">
            <div class="column">
             <img src="{{this.images.[0].url}}" alt="Artist Photo">
            </div>
             <div class="column">
                <p>{{this.name}}</p>
            </div>
            <div class="column">
                <button type="submit"><a href="/tracks/{{this.id}}"> View Tracks</a></button>
            </div>
        </div>
    {{/each}}
</div>