<div class="page">
{{#each albumData}}
    <div class="card" style="width: 25rem; ">
        
        <img src="{{images.[1].url}}" class="card-img-top" alt="{{name}}"> 

        <h5 class="card-title">{{this.name}}</h5>
        
        <div class="card-footer">
            <a href="/canciones/{{id}}" class="btn btn-primary">Escucha Las Canciones!</a>
        </div>

    </div>
{{/each}} 
</div> 