



{{#each albums}}
    <section>
            {{#if images.[0].url}}
            <img src="{{images.[0].url}}" alt="images of albums">
            {{/if}}
        
        
        <div>
            {{#if this.id}}
            <button><a href="/albumTracks/{{this.id}}">View Tracks</a></button>
            {{/if}}
        </div>
           
       
    </section>
{{/each}}


    