<div class="albums">
    {{#each albums}}
    <div class="albums-grid">
        <img src="{{this.images.[0].url}}" alt="{{this.name}}">
        <div class="infos">
            <p>{{this.name}}</p>
            <a href="/tracks/{{this.id}}">VIEW TRACKS</a>
        </div>
    </div>
    {{/each}}
</div>