



{{#each albums}}
    <section>

            <img src="{{images.[0].url}}" alt="images of albums">
           
        <div>
            <button><a href="#">View Tracks</a></button>
        </div>
    </section>
{{/each}}
