<div>
    

  {{#each dataBodyItems}}
   


    <div>
    <h3>Album: {{name}}</h3>

  <img src={{images.0.url}} alt="foto">

  <div><a href="/tracks/{{id}}">View tracks</a></div>

    </div>






  {{/each}}
</div> 

