<div>

    {{#each albums}}

    <div>
        <img src="{{images.[0].url}}">

        <div c>
            <h3>{{name}}</h3>

            <a href="/tracks/{{id}}">View Tracks</a>

        </div>
    </div>


{{/each}}

</div>


