<div class="albums-grid">
    {{#each album}}
    <div class="artist-search">
        <img class="artist-img" src="{{this.images.0.url}}" alt="artist img">
        <h1>{{name}}</h1>
        <button class="view-button">
            <a  href="/track-information/{{this.id}}">View Tracks</a>
        </button>
    </div>
    {{/each}}

</div>