<!--Iteration 4. Albums.Setting handlebars,calling partials, and create a link to tracks site-->
<div class="list">

    {{#each albums}}
        <div class="card">
            {{> cards}}
            <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
    {{/each}}
    
</div>