<body>

 <div>  

{{#each albumsArray}}

<div class = "info">

{{#if this.images.[0].url}}
<img src="this.images.[0].url" alt="album cover"/>
{{else}}
<img src="https://www.wmhbradio.org/wp-content/uploads/2016/07/music-placeholder.png" alt="album cover placeholder"/>
{{/if}}

<h3>{{this.name}}</h3>

<button type="button">
    <a href="/tracks/:albumId">View Tracks</a>
</button>


</div>

{{/each}}

</div>
</body>
