<div class="albumsContainer">

    {{#each results}}
        <div class="albumsCard">
            <img src={{this.images.[0].url}} alt="#">
            <h3>{{this.name}}</h3>
            <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
    {{/each}}

</div>
