<div class="albums">
    <h1 class="albums-title">Albums for: {{info.[0].artists.[0].name}} </h1>
    
    <div class="container">
        <div class="row">
    
            {{#each info}}
            <div class="card col-md-4" style="width: 18rem;">
                <img src="{{images.[1].url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <a href="/tracks/{{id}}" class="btn btn-primary">View tracks</a>
                </div>
            </div>
            {{/each}}
    
        </div>
    </div>
</div>