<div class="container">
    <div class="row justify-content-center">
        {{#each albums}}
        <div class="col-sm-12 col-md-6 col-lg-4 margin-top">
            <div class="card">
                <img class="card-img-top cropped" src={{images.0.url}} alt="">
                <h2> {{name}} </h2>
                <form action="/tracks">
                    <input type="hidden" name="album_id" value={{id}}>
                    <button type="submit" value={{id}} class="btn btn-primary w-100"> Listen </button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>