<h1>Albums</h1>

{{#each album}} 
  <div class="container">
  <div class="row">
  <div class="card">
  {{#if this.images.length}}
    <img class="card-img-top" src="{{this.images.[1].url}}" alt="Card image cap">
  {{/if}}
    <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/tracks/{{this.id}}" class="btn btn-primary">View Tracks</a>
  </div>
</div>
</div>
</div>    
{{/each}}