<div class="container">
    <div class="row">
        {{#each albums}}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{images.[0].url}}" class="card-img-top" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <a href="/songs/{{id}}" class="btn btn-primary">View Songs</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>