<h1>Search results: Albums</h1>
<div class="list-results">
<div class="results">
{{#each albums}}
     {{#if images.length}}
       <p><img src="{{images.[1].url}}"><b></p>
       <a href="/albums/{{id}}?title={{name}}" type="submit">View Songs: <b>{{name}}</b> </a>
    {{/if}}
{{/each}}