<main id="albums-results">


    {{#each artistAlbums}}
    <div class="container">
        <img src="{{images.0.url}}" alt="{{name}}">
        <div>
            <h3>{{name}}</h3>
            <a href="/tracks/{{id}}" class="search-button">View Tracks</a>
        </div>
    </div>
    {{/each}}
</main>