<div id="albums">

  {{#each items}}
    <div id="all-albums">
      <h2>{{name}}</h2>
      <img src={{images.1.url}} />
      <p><a href="/track/{{id}}">Tracks</a></p>
      <hr />
    </div>
  {{/each}}
</div>