
<div>
    {{#each albums}}
        <div>
            {{#if images}}
                <img src=" {{images.[0].url}}" alt="{{name}}">
            {{/if}}
        </div>

        <div>
            {{this.name}}
        </div>

        <div>
            <a href="/tracks/{{this.id}}"><button>View Tracks</button></a>
        </div>
    {{/each}}
</div>