<h1>Albums for: BLABLa</h1>
{{#each items}}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{images.0.url}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title"><a href="{{id}}">{{name}}</a></h5>
      <a href="/tracks/{{id}}" class="btn btn-primary">View Tracks</a>
    </div>
  </div>
{{/each}}