
<div>

    {{#each album}}
    <div>    
        {{#if images}}
        <img src="{{images.url}}" alt="image-{{name}}" width="200px">
        {{else}}
        <img src="https://via.placeholder.com/200x200" alt="no-image-available" />
        {{/if}}        
        <h3>{{name}}</h3>
        <a href="#">View Tracks</a>
    </div>
    {{/each}}
</div> 