<div>
    {{#each albums}}
    <article>
        <h3>{{this.name}}</h3>
        <img src="{{this.images.[0].url}}" alt="artist image">
        <a href="/tracks/{{this.id}}">View Tracks</a>
    </article>
    {{/each}}
</div>