<h1>Albums here </h1>

{{#each albums}}
<p>{{this.name}}</p>
<p>{{this.cover}}</p>
<img src"{{this.images.[0].url}}" alt="album-image">
<button type="submit"> <a href="/tracks/{{this.id}}">View Tracks</a></button>
{{/each}}
