<div>

    <h1>Albums</h1>

    <div>
        {{#each data}}
        
       
       <img src= {{images.[0].url}}>
        <h1>{{{name}}}</h1> 

        <button> <a>  href="/albums/{{id}}"> View Albums </a></button>


        {{/each}}
    </div>


</div> 