<div class="albumsContainer">

  {{#each artist}}
  <div class="card" style="width: 19rem; height:27rem">
  <img src="{{images.0.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{name}} </h5>
    <button type="button" class="btn btn-primary"><a href ="/tracks/{{id}}">View Tracks</a></button>
  </div>
   </div>
  {{/each}}

</div>