<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>
<body>
    <h1>Albums for: {{artists.name}}</h1>
    <div>
    {{#each result.body.items}}
    <img src={{images.1.url}} alt="">
    {{name}}
    <br>
    <a href="/tracks/{{id}}"><button>View Tracks</button></a>
    <br>
    {{/each}}
    <br>
    </div>
</body>
</html>