

{{#each albumData}}
<div class="result-container">

    <img class="album-img" src="{{this.images.[1].url}}" onerror="this.src='/images/default-image.png'">

    <div class="colored-album">
        <h2>{{this.name}}</h2>
        <button class="rounded-btn" type="submit" onclick="window.location.href='/tracks/{{this.id}}'">See tracks</button>
    </div>

</div>
{{/each}}