<div id="artist-box" class="row">
    {{#each albums}}
    <div class="col-md-4 card">

        <img class="card-img-top" src="{{images.0.url}}" alt={{name}} />
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <a class="card-text" href="/tracks/{{id}}">View tracks</a>
        </div>



        {{!-- <button type="submit">Search for an Artist</button> --}}

    </div>
    {{/each}}
</div>



