<div class="album-wrapper">
    {{#each albumsNode}}
    <h3>{{this.name}}</h3>
    <img src="{{this.images.[0].url}}" alt="albums-image">
    <button>See the tracks</button>
    {{/each}}
    
</div>