<div class="container">


    {{#each albums}}

    <div class="artistCard">

        <img src="{{ images.[0].url}}">
        <br>
        <h1>{{name}}</h1>
        <br>
        <a href="/listen/{{id}}"> listen now</a>
    </div>

    {{/each}}
</div>