<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>

</head>
<body>
{{#each albums}}

<div class="card mx-auto shadow p-3 mb-5 bg-body rounded" style="width: 18rem; ">
  <img src="{{this.images.0.url}}" class="card-img-top" alt="...">
  <div class="card-body grid text-center">
    <p class="card-text">{{this.name}}</p>
    <a href="/tracks/{{this.id}}" class="btn btn-primary">View Tracks</a>
  </div>
</div>

{{/each}}



</body>
</html>