<div class="columns-3 ...">

<ul>

    {{#each albums}}
     <li class="my-32 mb-32 mb-12 ">
        <br>
        <img class="w-ful aspect-square mb-8 " src="{{this.images.0.url}}" alt="{{this.name}}">
        <br>
        <a class="bg-sky-400 background-color: rgb(56 189 248) px-16 py-8" href="/tracks/{{this.id}}"> Tracks</a>
     </li>
     {{/each}}

</ul>

</div>