<div class="row">
    {{#each albums}}
        <div class="card col-4-md content-center spaced" style="width: 18rem;">
            <img class="card-img-top content-center" src="{{this.images.[0].url}}" alt="Album cover">
            <div class="card-body">
                <p class="card-title content-center">{{this.name}}</p>
                <a class="btn btn-primary content-center" href="/tracks/{{this.id}}">View tracks</a>
            </div>
        </div>
        <br>
    {{/each}}
</div>