<div>
{{#each albums}}
   <p id="albumTitle"> {{this.name}} </p>
    <img src="{{this.images.1.url}}" id="albumImage"> 
    <div></div>
    <a href="/albums/tracks/{{this.id}}" id="albumButton">Show Tracks</a>
    <br>
{{/each}} 
</div>