<header>Albums for: <span>{{this.artistName}}</span></header>
<div>
{{#each answer}}
    <img src={{this.images.0.url}} alt="album-picture">    
    <p>{{this.name}}</p>
    <a href="/tracks/{{this.id}}">View Tracks</a>
{{/each}}
</div>