<div id="artist-albums">
    {{#each albums}}
        <div class="album card text-center" style="width: 18rem;">
            {{#with images.[0]}}
                <img class="card-img-top" src="{{this.url}}" alt="Card image cap">
            {{/with}}
            <div class="card-body">
            <p class="card-title">{{this.name}}</p>
            <a href="/tracks/{{this.id}}" class="btn btn-primary">View Tracks</a>
            </div>
        </div>
    {{/each}}
</div>