{{#each albums}}
<div class="album_card">
 <h1>{{this.name}}</h1>
 {{#if images.length}}
 <img src="{{this.images.[0].url}}" alt="">
 {{/if}}
 <br><br>
 <a href="/tracks/{{id}}">View Tracks</a>
</div>
{{/each}}