<div class="album-results">
    {{#each items}}
        <ul>
            <li><img src="{{images.[0].url}}" alt="img of {{name}}">  </li> 
            <div>
                <li>{{name}}</li> 
                <li><a href="/{{id}}/tracks">See track</a></li>
            </div>

        </ul>
    {{/each}}

</div>


