
{{#each albums}}
  <img src="{{this.images.0.url}}" alt="{{this.name}}" />
  <div>
    <h2>{{this.name}}</h2>
    <button>
      <a href="/tracks/{{this.id}}">tracks</a>
    </button>
  </div>
{{/each}}