<h1 id="albums-header">Albums for: {{{dataArtists.name}}}</h1>
<div class="albums-container">
    {{#each artistAlbums}}
    <div class="album-container">
        <img class="cover-img" src="{{images.[0].url}}" alt="album cover">
        <div class="title-container">
            <h1>{{name}}</h1>
            <a href="/tracks/{{id}}">View Tracks</a>
        </div>
    </div>
{{/each}}
</div>