<header class="albumHeader">

 Artist Album's: <b>{{this.albumCheck.body.items.[0].artists.[0].name}} </b>


</header>

<div class="megaSearch">
{{#each albumCheck.body.items}}
  <div class="result artist">

    
    <img src="{{images.[1].url}}" alt="">
    

    <div class="nameBtn">
    <p class="name">{{name}}</p>
    <a class="btn btnResult" href="/tracks/{{id}}">View Songs</a>
    </div>
    </div>
{{/each}}
</div>