{{#each albums}}
<div class="container">
    <div class="card" style="width:100px">
        <div class="card-body">
            <p class="card-text"> {{name}}</p>
            <img class="card-img-top" src={{images.0.url}} style="width:150px" />
            <a href="/tracks/{{id}}" class="btn btn-primary">Listen tracks</a>
        </div>
    </div>

</div>


{{/each}}