<h1>Albums for : {{listAlbums.[0].artists.[0].name}}</h1>

<div class="result-page">
        {{#each listAlbums}}

        <div class="album-item">
                {{> AlbumPartial}}
                <a href="/albums/tracks/{{this.id}}" class="album-item-link button">View Tracks</a>
        </div>


        {{/each}}
</div>
