    <div class="container">
        {{#each data.items}}

        <div class="artist-card">
            <img src="{{images.0.url}}" alt="{{name}}">


            <div class="artist-info">
                <h1>{{name}}</h1>
             <a class="button" href="/tracks/{{id}}">View Tracks</a>
                
            </div>
        </div>
        {{/each}}
    </div>



 