<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Album Search Results</title>
</head>
<body>
    <div class ="album-info">
{{#each albumInfo}}
<h4>{{name}}</h4>
<img src="{{images.[0].url}}" class="album-img" alt="Images">
{{/each}}
</div>


</body>
</html>