<div class="total_artrow">

    {{#each myArtist }}
    <div class="containerArtists">

        <a href="/albums?albumsart={{this.name}}">

            <div class="topart">

                <img class="imgartist" src="{{this.images.1.url}}">

            </div>
            <div class="botart">
                <h2>
                    <class="nameart">{{this.name}}
                </h2>
                <button class="btn_album">View albumss</button>
            </div>
        </a>
    </div>

    {{/each}}
</div>