{{#each items}}
<div>
    <div>
        {{#with this.images.[0]}}
            <img src={{url}}/>
        {{/with}}
    </div>
    <div>{{this.name}}</div>
    <button><a href="/tracks/{{this.id}}">View tracks</a></button>
</div>
{{/each}}
