<div class="row">
  {{#each albums}}

    <div class="card">
      <img src="{{images.0.url}}" />
      <h3>
        {{name}}
      </h3>
      <div>

        <a class="btn" href="/tracks/{{id}}">View Tracks</a>
      </div>
    </div>

  {{/each}}
</div>