<div class="container ">
    <div class="row">
        {{#each data.body.items}}
        <div class="col-4">
            {{> resultspartial path="tracks" item="Tracks"}}
        </div>
        {{/each}}
    </div>
</div>