<div class="all">
  {{#each albums}}

  <div class="card">
    <img src="{{images.0.url}}" alt="Image of the album">
    <div class="description">
      <h1>{{name}}</h1>
      <a href="/tracks/{{id}}">View Tracks</a>
    </div>
  </div>

  {{/each}}
</div>