<ul id="albumId">
{{#each this}} <li><ul>
<li>
<img class="albumImg" src="{{this.images.[0].url}}" alt="">
</li>
<li>
    <h1>{{this.name}}</h1>
    </li>
<li>
    <a href="/tracks/{{this.id}}">View Tracks</a>
    </li>
</ul></li>
{{/each}}
</ul>