<div class="album-container">
  {{#each this.albums}}
      <div class="album-img-container">
      <img src="{{images.[0].url}}" width="80" alt="album-artwork" id="album-img">
      </div>

      <div class="album-name-container">
        <emp id="album-title">{{name}}</emp>
      </div>
      
      <div class="tracks-button-container">
        <a href="/artist/{{artists.[0].id}}/album/{{id}}/tracks/" id="tracks-button">View Tracks</a>
      </div>
  {{/each}}
</div>