<div class='albums'>
  {{#each albums}}
  <div class='artist'>
    <img src="{{this.images.[0].url}}">
    <div class='text'>
      <a href=''>{{this.name}}</a>
      <a href='/tracks/{{this.id}}'>View tracks</a>
    </div>
  </div>
  {{/each}}
</div> 