<div class="inside-container">
    {{#each data}}
        <div class="artist-card">
            <h3 id="album-title">{{name}}</h3>
            <img class="artist-img" src="{{images.1.url}}" alt="{{name}} - image">
            <a href="/tracks/{{id}}">View Tracks</a>
        </div>
    {{/each}}
</div>