<main id="albums-page">
    <h2>Albums for: {{album.[0].artists.[0].name}}</h2>
    <div class="cards-container">
        {{#each album}}
        <div class="card">
            <img src="{{this.images.[0].url}}" alt="Artist image">
            <div>
                <h2>{{this.name}}</h2>
                <a href="/tracks/{{this.id}}">View Tracks</a>
            </div>
        </div>
        {{/each}}
    </div>
</main>