<div class="container">
        {{#each albums}}
            <div class="">
                {{this.name}}
                {{!-- <a href="/albums/{{this.id}}" class="button">View albums</a> --}}
            </div>
        {{/each}}
</div>

