{{#each this}}
<div class="card" style="width: 18rem;">
  <img src="{{fotos.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <a class="btn btn-primary" href="/tracks/{{id}}">Ver canciones</a>
  </div>
</div>
{{/each}}