{{#each albumId}}
    {{this.name}}
    <img src="{{this.images.1.url}}" alt="album Img" />

    {{!-- <a href="/album/{{this.id}}/tracks">View Traks</a> --}}
    <a href="/tracks/{{this.id}}">View Traks</a>

{{/each}}