    <div class="pages">
 
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                 {{#each albumData }} 
           {{!-- {{> artistpartial this}} --}}

    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <img width="25%" src="{{this.images.0.url}}" alt="image">
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{this.name}}</h1>
       <a class="-100 btn btn-lg btn-outline-primary" href="/tracks/{{this.id}}">See all the tracks from this album</a>
       </div>
    </div>
    </div>
   
    {{/each}}
  </div>

  </div>