<div class="container grid" id="containerAlbum">
    {{#each items}}
        <div id="albums" class="albums">
            {{#each this.images}}
                {{#if @first}}
                <img src="{{this.url}}" class="image" />
                {{/if}}
            {{/each}}
            <div>{{this.name}}</div>
            <div><a href="/tracks/{{this.id}}" id="viewTracksBtn" class="btn">View albums</a></div>
        </div>
    {{/each}}
</div>