<div class="artist-albums">
    {{#each albums}}
    <div class="card">
        <img src="{{images.0.url}}" alt="" class="image">
        <div class="gray">
            <h1 class="name">{{name}}</h1>
            <a href="/albums/tracks/{{id}}"><button class="button">View Tracks</button></a>
        </div>
    </div>
    {{/each}}
</div>