<div class="albums">
  {{#each albums}}
  <div class="card">
    {{> cardbodyPartial this}}
    <div class="footer">
      <h4>{{name}}</h4>
      <a href="/tracks/{{id}}" class="link-btn-albums">View Tracks</a>
    </div>
  </div>
  {{/each}}
</div>