<div >
  <div >

    <div >

      {{#each items}}
        <div class=>

          <img class= src={{images.0.url}}  />
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <a href="/tracks/{{id}}" class="btn btn-danger">View tracks</a>
          </div>

        </div>
      {{/each}}

    </div>
  </div>
</div>