<div class="artist-albums-container">
  <div class="row">
    {{#each album}}
      <div class="col-sm-3 my-3">
        <div class="card">
        <img src="{{this.images.0.url}}" class="card-img-top img-fit-cover" alt="{{this.name}}">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <a href="/tracks/{{this.id}}"><button class="btn btn-danger">View Tracks</button></a>
        </div>
        </div>
      </div>
    {{/each}}  
  </div>
</div> 