<div id="artist-albums-div">
    {{#each albums}}
        <div class="album">
            {{#with images.[0]}}
                <img class="album-img" src="{{this.url}}" alt="">
            {{/with}}
            <p class="card-title">{{this.name}}</p>
            <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
    {{/each}}
</div>