<H2>Albums</H1>
{{#each this}}
    {{this.title}}
  <img src="{{this.images.[0].url}}" alt="album cover">  

        <form method="GET", action="/tracks">
            <button type="button">Tracks</button>
        </form>

{{/each}}