<div class="row row-cols-1 row-cols-md-3 g-3">
  {{#each albums as |album|}}
    <div class="col">
      <div class="card card-model">
      </div>
      <img src="{{album.images.0.url}}" class="card-img-top" alt="..." />
      <div class="card-body body-container">
        <h5 class="card-title">{{album.name}}</h5>
        <a href="/tracks/{{album.id}}" class="btn btn-danger">View Tracks</a>
      </div>
    </div>
  {{/each}}
</div>