{{#each items}}
    <p>{{name}}</p>
    {{#each images}}
        {{#if @first}}
            <img src="{{url}}" alt="{{name}}-photo">
        {{/if}}
    {{/each}}
    <a href="/tracks/{{id}}">View Tracks</a>
{{/each}}