
  <h1>{{artist.body.name}}</h1>

  {{#each data.body.items}}

    <img src='{{images.1.url}}' alt='albumbild' />

    
    <h2>{{name}}</h2>  


    <a href='/tracks/{{id}}'><button>View Tracks</button></a>
  
  {{/each}}

