<a href="/" class="back">Search Again</a>
<div class="container pb-5">
    <h1>Album Search</h1>
    <div class="row">
        <div class="card-group">
            {{#each albums}}
                {{> album_search_results}} 
            {{/each}}
        </div>
    </div>
</div>