
   
    {{#each albums}}
   <div class="column" style="display: table;
    float: left;
    width: 30%;
    padding: 10px 10px;">
    <div class="card_2" >

        <img src="{{images.1.url}}" >
          <h3 style="color: blanchedalmond;">{{name}}</h3>
       
        <a href="/viewtracks/{{id}}" class="btn btn-primary " >View Tracks!</a>
        
    </div>
</div>

    {{/each}}


