<div class="container">
    <div class="row">
        {{#each album}}

        <img src="{{images.0.url}}">
        <h1> name: {{name}} </h1>
        <a href="/tracks/{{id}}">View Tracks</a>

        {{/each}}
    </div>





</div>