<div class="albumHeader">
  <h1>{{albums.[0].artists.[0].name}} albums:</h1>
</div>

<div class="container">
  <div class="row">
    {{#each albums}}
        {{> albumCard this}}
    {{/each}}
  </div>
</div>