<div style="min-height: 557px">
    <h2 class="text-center py-2 mb-3 text-white" style="background-color: grey;"> ALBUMS </h2>
    <div class="row" > 
            {{#each info}}
            {{> layoutCard this}}
            {{/each}}
    </div>
</div>