<div class="container">
    <div class="row">
        {{#each items}}
        <div class="col-4 mb-5">

            <div class="card" style="width: 18rem;">
                <img src="{{images.[0].url}}" class="card-img-top" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title"> {{name}}</h5>
                    <a class="btn btn-primary " href="/tracks/{{id}}" role="button">View Tracks</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>