<div>

  <div>

    {{!-- <img src='{{images}}' alt='' /> --}}
    <h2>{{album.name}}</h2>
    <img src='{{images.url}}' alt='' />
    <a href='/albums/{{total_tracks}}'>View Tracks</a>

  </div>

</div>