{{#each artistSearched}}
<div class="card col-3" style="width: 18rem;">
  <img  src="{{this.images}}" class="card-img-top" alt="{{this.name}}">
  <div class="card-body">
    <h1 class="card-title">{{this.name}}</h1>
    <button><a href="#">View Albums</a></button>
  </div>

</div>  
{{/each}}