<div>
</h1>hello</h1>
{{#each albums}}
    <p>{{name}}</p>
    <img src="{{images.0.url}}" alt="image-artist">
     <a href="/albums/{{id}}/tracks"> <button>View Albums</button></a>
{{/each}}
</div>
