<h1>Albums</h1>

<div class="cards">
{{#each items}}
<div class="card">
    {{#each images}}
      {{#if @last}}
        <img src="{{url}}" />
      {{/if}}
    {{/each}}
    <p>{{name}}</p>
    <a class="link" href="/tracks/{{id}}">View Tracks</a>
  </div>
{{/each}}
</div>
  