<div class="container">
    <div class="row">
        {{#each albums}}
        <div class="col-4">
            {{#if images}}
            <img src="{{images.1.url}}" alt="">
            {{else}}
            <p>No hay imagen</p>
            {{/if}}
            <p>{{name}}</p>
            <a href="/view-tracks/:{{id}}" class="btn btn-dark btn-sm">View tracks</a>
        </div>
        {{/each}}
    </div>
</div>