<div class="searchContainer">
    {{#each albumsData}}
        <div class="cardInfo">
            <img src="{{ this.images.0.url }}" alt="Album cover art">
            <div>
                <h3>{{ this.name }}</h3>
                <button><a href="/tracks/{{ this.id }}">View Tracks</a></button>
            </div>
        </div>
    {{/each}}
</div>