<nav>
  <ul>
    <li id="track-title">Title</li>
    <li id="track-listen">Listen</li>
  </ul>
</nav>

<div>
  {{#each data}}
    <div id="audio-tracks">
      {{this.name}}
      <audio controls src="{{this.preview_url}}">This track did not load.</audio>
    </div>

  {{/each}}
</div>