<div>



    {{#each discos}}
    <p>{{name}}</p>
    {{!-- <img src="{{discos[0].images[0].url}}" alt="imagen0"> --}}
    <img src="{{images.0.url}}" alt="">
    <a href="/view-tracks/{{id}}">Lista de tracks</a>
    {{/each}}



</div>