
<ul>
    {{#each data.body.items}}
        <li>
                {{name}}
                <img src="{{images.2.url}}" alt="{{name}}">
                <a href="/tracks/{{id}}" class="btn btn-outline-primary">View tracks</a>
        </li>
    {{/each}}
</ul>