{{#each datos}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.images.0.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.release_date}}</p>
    <a href="/tracks/{{this.id}}">View trackssss</a>
  </div>
</div>
{{/each}}