<h1>Albums go here!!!</h1>

<div class="albums">
  {{#each albums}}
    <p>{{name}}</p>
    <img src="{{images.0.url}}" alt="{{name}}" width="200px" />
    <a href="/tracks/{{id}}">See Tracks</a>
  {{/each}}
</div>