<ul class="artist-albums">

  {{#each artistAlbums}}
    <li class="albums">
      <h2>{{this.name}}</h2>
      <a href="/tracks/{{id}}"> <img src="{{this.images.0.url}}" /></a>
    </li>
  {{/each}}

</ul>