<div class="album-parent">
    {{#each results}}
        <div class="album-container">
            <img class="album-image" src="{{this.images.[0].url}}"/>
            <div class="album-info">
                <p>{{this.name}}</p>
                <form method="get" action="/tracks/{{this.id}}">
                    <button type="submit">View tracks</button>
                </form>
            </div>
        </div>
    {{/each}}
</div>