<div class="albums-container">

    {{#each artistAlbums}}
    <div class="albums-box">
        <h3>{{this.name}}</h3>
        <img src="{{this.images.0.url}}" alt="artist" height="300px" width="300px">
        <a href="/tracks/{{this.id}}">View tracks</a>
    </div>
    {{/each}}

</div>