<h1>Albums for {{albumArtistName}}</h1>

<ul>
{{#each albums}}
<li>
    {{name}}
    <img src="{{images.1.url}}" alt="">
    <a href="/tracks/{{id}}"><button>View Tracks</button></a>
</li>
{{/each}}
</ul>