<ul>
    {{#each albums}}
    <li>
        <h3>{{this.name}}</h3>
        <br>
        <img src="{{this.images.1.url}}" alt="{{this.name}}">
        <br>

        {{!-- to see the tracks we need to provide the ID in the URL so it gets picked up by req.params in the route
        --}}
        <a href="/tracks/{{this.id}}">View tracks</a>
    </li>
    {{/each}}
</ul>