{{#each artistsAlbum}}
	{{!-- this is the syntax to use a partial --}}
	{{!-- {{> *name of the partial* *the data you want to show*}} --}}
	{{this.name}}
    <button>
        <a href="/album/{{this.id}}/tracks">View Tracks</a>
    </button>
{{/each}}



