<div class="container">
    <h1 class="albums-title">Albums for: {{name}}</h1>
    <div class="row">
        {{#each items}}
        <div class="col-4">
            <div class="artist-image-container">
                <img class="artist-image" src="{{images.[0].url}}" />
            </div>
            <div class="artist-text-container">
                <h5>{{name}}</h5>
                <a href="/tracks/{{id}}">View Tracks</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>