<div>
  {{#each albums as |album|}}
      <div >
        <img src="{{album.images.0.url}}" class="card-img-top" alt="images" style="width: 100%; height: 350px;"
        />
        <div class="card-body text-center">
          <h5 class="card-title text-center">{{album.name}}</h5>
          <a href="/tracks/{{album.id}}" class="btn btn-danger">View Tracks</a>
        </div>
      </div>
  {{/each}}
</div>