<div id="albums">
    {{#each albumArr}}
        <h1>{{this.name}}</h1>
        <img src="{{this.images.0.url}}" />
        <a id="view-tracks" href="/tracks/{{id}}" >View Tracks</a>
    {{/each}}
</div>

