<div class="container">
    <div class="row">
        {{#each albumInfo}}
        <div class="col-md-4">
            <article class="card">
                <img class="artist-img" src="{{images.0.url}}" alt="{{name}}">
                <div>
                    <h5>{{name}}</h5>
                    <a href="/albums/{{ id }}">View Tracks</a>
                </div>

            </article>

        </div>
        {{/each}}

    </div>
</div>