{{#each albums}}
    <div>

        <h1>{{this.name}}</h1>
        <img src="{{this.images.0.url}}" alt="image">
        <button><a href="/tracks/{{this.id}}">View tracks</a></button>

    </div>

{{/each}}