<h2>All Albums of: </h2>
<div>

  {{#each albums}}
    <hr />
    <div>
      <h2>{{this.name}}</h2>
      <img src={{this.images.1.url}} alt="" />
      <a href="/track/{{this.id}}">View Tracks</a>
    </div>

  {{/each}}

</div>