<div class="container">
    <h1 style="margin-top:20px;">Albums</h1>
    <div class="row">
        {{#each albums}}
        <div class="col-4">
            {{>albumsResults}}
        </div>
        {{/each}}
    </div>
</div>