<div class="container">
    <h1>{{this.name}}</h1>
    <div class="">
  
      {{#each albums}}
      <div>
          <img src="{{this.images.1.url}}" alt="">
          <h1>{{this.name}}</h1>
          <a href="/viewTracks/{{this.id}}">View Traks</a>

      </div>
      
      {{/each}}
  
    </div>
  </div>