<style>
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
  }

  .album-item {
    text-align: center;
    flex-basis: calc(33.33% - 20px);
  }

  .album-item img {
    width: 100%;
    height: auto;
  }
</style>

<div class="container">
    {{#each arrayDisc}}
    <div class="album-item">
        <img class="albums" src="{{this.albumImg}}" alt="Album Image" style="width: 100px; height: 100px">
        <h5>{{this.albumName}}</h5>        
    </div>
    {{/each}}
</div>
