<div id="albums">
    {{#each albums}}
    <div id="album-container">
    <img src="{{images.1.url}}" />
    <div>
        <p>{{name}}</p>
        <a href='/tracks/{{id}}'>View Tracks</a>
    </div>
    </div>
    {{/each}}
</div>
