<h1>All albums by {{#each data.body.items}}{{#if @first}}{{#each this.artists}}{{#if @first}}{{this.name}}{{/if}}{{/each}}{{/if}}{{/each}}</h1>
<div class="result-wrapper">
{{#each data.body.items}}
{{>albumpartial this}}
{{/each}}
</div>
<a class="home-link" href="/">Search for more!</a>