<div class="backgroundArtist">
  <div>
    <h1>Los álbumes de tu artista son lo siguientes: </h1></div>
  <div class="general">
    {{#each dataAlbum}}
      <div class="card" style="width: 22rem;">
        <img src="{{images.0.url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <a href="/tracks/{{id}}" class="btn btn-primary">View tracks</a>
        </div>
      </div>
    {{/each}}
  </div>
  <a
    class="btn btn-primary BtnBack"
    href="javascript:history.back()"
    role="button"
  >Volver a tu búsqueda del artista</a>

</div>