<main class=>
    
    {{#each album}}
    <h2>{{name}}</h2>
    <div>
        {{#if images.[0].url}}
        <img src="{{images.[0].url}}">
        {{else}}
        <img src="/images/default_album_art.png">
        {{/if}}
    </div>
    <a href="/tracks/{{id}}">Go to the tracks!</a>
    {{/each}}
</main>