
{{#each itemAlbum}}
<div class="item-artist">
    {{name}}
    <img src="{{images.2.url}}">
    {{album}}
    <button>
        <a href="/tracks/{{id}}">View Tracks</a>
    </button>
</div>

{{/each}}
