<div class="container">
        {{#each albums}}
            <div class="">
                {{this.name}}
                <a href="/tracks/{{this.id}}" class="button">View tracks</a>
            </div>
        {{/each}}
</div>

