<ul>
    {{#each items}}
        <li><img src="{{images.[0].url}}" alt="img of {{name}}">  </li> 
        <li>{{name}}</li> 
        <li><a href="/tracks/{{id}}">See track</a></li>
    {{/each}}
        
</ul>