{{#each albums}}
    <div class="card">
        <img src="{{images.1.url}}" alt="{{name}} cover" style="width: 20%;">
        <div class="container">
        <h3>{{name}}</h3>
        <button><a class="anchor" href="/tracks/{{id}}">View Tracks</a></button>
        </div>
    </div>
{{/each}} 