{{#each album}}
<section class="magic">
<div class="card" style="width: 18rem;">
  <img src="{{ images.[0].url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ name}}</h5>
    <a href="/tracks/{{id}}" class="btn btn-primary">View tracks</a>
  </div>
</div>
</section>
{{/each}}