<div>
{{#each albums}}
        <img src="{{this.images.[0].url}}">

        <div>
            <h5>{{this.name}}</h5>
            <br>
            <a href="/albums/tracks/{{this.id}}">View Tracks</a>
        </div> 
{{/each}}
</div>