<!-- layout.hbs -->

<div class="row">
  {{#each albumArray}}
    <div class="acard col d-flex justify-content-center">
      <div class="acard-image col">
            {{#if images.0.url}}
              <img src="{{images.0.url}}">
            {{else}}
              <img src="../img/albumicon.png">
            {{/if}}
      </div>
      <div class="acard-info col">
        <h5>{{this.name}}</h5>
        <a href="/tracks/{{this.id}}"><button class="btn">Tracks</button></a>
      </div>
    </div>
  {{/each}}
</div>
