<h1>Albums page: </h1>
<div class="container">
  {{#each items}}
    <div class="summary">
      <div class="img-container">

        <img src="{{this.images.0.url}}" alt="image for track" />
      </div>
      <div class="artist-container">
        <h4>{{this.name}}</h4>
        <button id="view-albums" type="submit">
          <a href="/tracks/{{this.id}}"> View Tracks</a>
        </button>
      </div>
    </div>
  {{/each}}
</div>