<h1>Albums:</h1>
<hr>
<section class="container">
  {{#each albums}}
    <div class="box">
      <h2>{{this.name}}</h2>
      <img src="{{this.images.1.url}}" alt="{{this.name}}" />
      <form method="GET" action="/tracks/{{this.id}}">
        <button type="submit">View Tracks</button>
      </form>
    </div>
  {{/each}}
</section>