<form action="/albums" method="get">
  <div class="artist-search">
    {{#each items}}
    {{#if this.images.0.url includeZero=true}}
    <img src="{{ this.images.0.url }}">
    {{else}}
    <img src="/images/undefined.jpg">
    {{/if}}
    <p>{{this.name}}</p>

    <a href="/tracks/{{this.id}}">
      View Traks
      {{!-- <button>View Traks</button> --}}
    </a>
    {{/each}}
  </div>
</form>