{{#each this}}
<div>
    <div>
        <img src="{{images.[0].[url]}}" alt="image artist">
    </div>
    <div>
        <p>{{name}}</p>
        <a href="/viewTracks/{{id}}">View Tracks</a>
    </div>
</div>
{{/each}}