<div class="artists">
  {{#each album}}
  <div class="artist">
    <a href="/tracks/{{ this.id }}">
      <img src="{{this.images.[1].url}}" />
      <h3>{{ this.name }}</h3>
    </a>
  </div>
  {{/each}}
</div>
