<div class="albums">
    {{#each albums}}
    <div class="grid-elem">
        <span><h4>{{name}}</h4></span>

        <img class="album-cover" src="{{images.1.url}}">

        <a  class="button" href="tracks/{{id}}">Show tracks</a>
        </div>
    {{/each}}
</div> 