<h2>Albums for: {{artistName}}</h2>
<section class="grid-container">
{{#each albums}}
<div class="grid-item">
    <img src="{{images.1.url}}">
    <h3>{{name}}</h3>
    <a href="/tracks/{{id}}">View Tracks</a>
</div>
{{/each}}
</section>
