<h1>Search results:</h1>

<ul>
    {{#each albums}}
        <img height="400px" src="{{this.images.[0].url}}" alt="{{this.name}}"/>
        <h3 class="card-title">{{this.name}}</h3>
        <a class="btn btn-primary" href="/tracks/{{this.id}}">View Tracks</a>
    <br>
    <br>
    <br>
    {{/each}}

</ul>
