<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="album-name">Albums for:</h1>
    <div class="artist-info-container">
      {{#each artistAlbum.items}}
        <div class="artist-container">

          <img class="album-img" src="{{images.0.url}}" alt="album cover" />
          <div class="album-info-container">
            <h2>{{name}}</h2>
            <a href="/tracks/{{this.id}}"><button>View Tracks</button></a>
          </div>

        </div>
      {{/each}}
    </div>

  </body>
</html>