<div class="background">
  <div class="container">
    <h1>Albums</h1>
    <div class="row align-items-center justify-content-center">
        {{#each albums}}
      <div class="col-sm-3">
          <div class='card'>
              <img
              class='card-img-top' 
              src='{{this.images.0.url}}'
              alt='{{this.name}}'
              />
              <div class="card-body">
                <p>{{this.name}}</p>
              </div>
              <div class="card-footer" style="margin-top: -4px;">
                <small>
                  <a href="/tracks/{{this.id}}">Preview Tracks</a>
                </small>
              </div>
          </div>
      </div>
        {{/each}}
    </div>
  </div>
</div>
