{{#each items as |album|}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{album.images.[0].url}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{album.name}}</h5>
          <a href="/tracks/{{album.id}}" class="btn btn-primary">View albums</a>
       </div>
    </div>
{{/each}}

