<h1>HELOOOO</h1>

<div class="container">
    <div class="row">
        {{#each responseAlbum }}
        <h1>{{name}}</h1>
        <img src="{{images.0.url}}" alt="">
        <a href="/tracks">View Tracks</a>
        {{/each}}
    </div>

</div>