{{#each disco}} {{!array}}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ img }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
    </div>
</div>

{{/each}}