<div id="content-wrapper">
    <div id="albums-overview">
        {{#each albums}}
        <div class="album-card">
            <p>{{name}}</p>
            <img src="{{images.[0].url}}" alt="album-img">
            <a href="/tracks?id={{id}}">View Tracks</a>
        </div>
        {{/each}}
    </div>
</div>