

<div class="container">
    
    {{#each albums}}
        <div class=" row mt-5  d-inline-flex">
    
            <div>
                <img src=" {{images.[1].url}}" alt="{{name}}">
            </div>
    
            <div>
                <div>{{this.name}}</div>
                <a href="/albums/tracks/{{this.id}}"><button>See tracks</button></a>
            </div>
            
        </div>
    {{/each}}

</div>