<section id="album-list">
  <h4>Albums for: {{name}}</h4>
  <!-- find correct path to display artist's name -->
  <div class="albums-found">
    <img src="{{}}" />
    <!-- find correct path to display album image-->
    <h4>{{}}</h4>
    <!-- find correct path to display album name-->
    <a href="/albums/{{}}/">View Tracks</a>
    <!-- find correct path for tracks -->
  </div>
</section>