<div class="section-container">
  <div class="albums">
    {{#each albums}}
      <div class="album">
        <img src="{{images.0.url}}" alt="" width="200" />
        <div>{{name}}</div>
        <a href="/tracks/{{this.id}}">View Tracks</a>
      </div>
    {{/each}}
  </div>
</div>