<div>
  {{#each artistsResults}}
    <h3>Artist Name: {{this.name}} </h3>
    <img src={{this.images.0.url}} />
    <br />
    <button><a href="/albums/{{$this.id}}">View Albums</a></button>
  {{/each}}
</div>