<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 100px;
        }
    </style>
</head>
<body>
    {{#each myAlbums}}
        <h1>{{name}}</h1>
        <img src="{{image}}" alt="">
        <form action="/tracks/{{id}}">
            <label for="">
                <button>View Tracks</button>
            </label>
        </form>
    {{/each}}
    
</body>
</html>