<title>Albums</title>
<div class="div">
   {{#each albums}}
      <div class="img-text">
           <img src="{{images.[0].url}}" alt"image">
           <h2 class="title">{{name}}</h2>
           <a href="/view-track/{{id}}"><button class="btn">View tracks</button></a>
      </div>
   {{/each}} 
</div>