{{#each allAlbums}}
  <div class="card">

    <div>
      {{#if images.1.url}}
        <img src="{{images.1.url}}" alt="test" width="200px" height="200px" />
      {{else}}
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fvinyl-record-album-picture-id134119582%3Fk%3D6%26m%3D134119582%26s%3D612x612%26w%3D0%26h%3Dj77_D1ZFAi5ZVfa9pHp8yxY1v7aetEbjTktISvxXAAI%3D&f=1&nofb=1"
          alt="test"
          width="200px"
          height="200px"
        />
      {{/if}}
    </div>
    <div class="card-title">
      {{name}}
    </div>
    <a href="/tracks/{{id}}">
      <button>View Details</button>
    </a>
  </div>
{{/each}}