<div>
    <div>
        {{#each albumsArr}}
            <p>{{name}}</p>
            <img src={{images.[1].url}} alt=""></img>
            <a href="/album-tracks/{{id}}">View Tracks</a>
        {{/each}}
    </div>
</div>