<ul>
    {{#each albums as |album|}}
    <img src="{{ images.0.url }}" alt="{{ album.name }}">
        <li>
            <a href="/tracks/{{album.id}}">
                {{album.name}}
            </a>
        </li>
    {{/each}}
</ul>