<h1>Here are the albums!</h1>

{{#each albums}}
  <ul>
    <li>
      <a href="/">{{this.name}}</a>
      <button type="submit">
        <a href="/albums/{{this.id}}">Listen</a>
      </button>
    </li>
  </ul>
{{/each}}

<button type="submit">
  <a href="/">Back to Home</a>
</button>