{{#each albumResults }} 

    <div id:"album">
        <img src="{{ images.0.url }}" alt="album cover">
        <h3> {{ name }} </h3>
        <a href="/albums/tracks/{{ id }}"> View Tracks </a>
    </div>


{{/each}}