<body class="pageColor">
    <div class="artistsTab">
     {{#each albums}}
    <div class="albumBar">
        <img class="artistimg" src="{{images.0.url}}"  alt="albumImg" />
        <div class="artistname" >{{name}}</div>
        <a class="viewAlbumLink" href="/tracks/{{this.id}}">View Tracks</a>
    </div>
     {{/each}}
</div>
</body>