<div class="searched-result-background-div">
  {{#each albums}}
    <div class="searched-result-container-div">
      <img src="{{this.images.1.url}}" />
      <div class="searched-result-text-div">
        <p>{{this.name}}</p>
        <button
          class="searched-result-button"
          onclick="location.href='/tracks/{{this.id}}'"
          type="button"
        >View Tracks
        </button>
      </div>
    </div>
  {{/each}}
</div>