<div class="results-page">

{{#each albumResults }} 

    <span class="albums-result">
        <img src="{{ images.0.url }}" onerror="this.src='/images/noArtistDefault.png';this.onerror='';" alt="album cover">
        <div class="albums-footer">
            <h6> {{ name }} </h6>
            <h6><a href="/tracks/{{ id }}"> View Tracks </a></h6>
        </div>
    </span>


{{/each}}

</div>