{{#each findAlbum}}

<h1> {{this.name}}</h1>
<a href="/track/{{this.id}}">View Tracks</a>

<div class ='artistImages'>
    {{#if images}}
    <img src="{{this.images.0.url}}" alt="" style ="height: 200px; width: 200px">
    {{else}}
    <img src="images/placeholder.png" alt="" style ="height: 200px; width: 200px">
    {{/if}}
</div>

{{/each}}