

{{#each albumList}}

{{!--- inside an each we refer to the item with this, updated versions don't rquire "this" ---}}
  <img src = "{{images.[0].url}}"}>

  <h3>{{name}}</h3>

  <button onclick = "window.location.href='/tracks/{{id}}';">View Tracks</button>


{{/each}}