<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Preview</th>
    </tr>
  </thead>
  <tbody>
    {{#each tracks}}
    <tr>
      <th scope="row">{{ this.track_number }}</th>
      <td>{{ this.name }}</td>
      <td>
        <audio controls src="{{ this.preview_url }}">Audio not supported</audio>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
