{{!-- <h3>Albums for: {{artist.name}}</h3> --}}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each albums as | album | }}
  <div class="col w-5">
    <div class="card h-40">
      <img src="{{album.images.[0].url}}" class="card-img-top" alt="images" style="width: 100%; height: 350px;">
      <div class="card-body text-center">
        <h5 class="card-title text-center">{{album.name}}</h5>
        <a href="/albums/{{artist.id}}" class="btn btn-danger">View Tracks</a>
      </div>
    </div>
  </div>
       {{/each}}
</div>
