<header>
  <div class="row justify-content-between page-header">
    <div class="col-6 header-tracks">
        Albums From Your Selected Artist
    </div>
  </div>
</header>
<div class="row">
{{#each albums}}
<div class="col-md-4 artist mx-auto d-block">
      <img
        class="card-img-top mx-auto d-block"
        src='{{ this.images.[0].url }}'
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title"><b>{{ this.name }}</b></h4>
  <a href="/tracks/{{this.id}}" class='btn btn-primary'>View Tracks</a>
      </div>
    </div>
{{/each}}
  </div>