


<div class="albums-container">
    
    {{#each artistAlbums}}
        
        .
        
        <img src="{{images.1.url}}" alt="image for {{album}}">
        
        <div class="nombre-boton">
        
            <h3>{{name}}</h3>

            <button class="botones"><a href="/tracks/{{id}}">View Tracks</a></button>
        
        </div>

       
    
    {{/each}}

</div>