<h1>Albums for {{artistOfAlbum}}</h1>
<div class="album-container">
	{{#each albums}}
	<div class="card-album">
    {{> cardImage}}
		<a href="/tracks/{{id}}">View Tracks</a>
	</div>
	{{/each}}
</div>
