<h1>Albums</h1>

<div class="row">
    {{#each items}}
    <div class="col-md-3">
        <img src="{{images.0.url}}" style="width: 100%;">
        <p>{{name}}</p>
        <a href="/tracks/{{id}}">View Tracks</a>
    </div>
    {{/each}}
</div>