<div class="row justify-content-center">

    <h2> artist search result </h2>
    <div>
        <ul>
            {{#each this }}
            =============================
            <li> {{name}} </li>
            =============================
            {{#each images }}

            <img src={{url}} alt="{{this.url}}">
            {{/each }}

            <a href='/tracks/{{id}}'><button type="submit">View Tracks</button></a>
            {{/each }}
    </div>
    </ul>

</div>