<div class='container'>
  <div class='row'>
      {{#each data}}
     <div class="col-6">
             {{> albumspartials}}
             <a href="/songs/{{id}}">View Tracks</a>    

      {{/each}}
  </div>
</div>