<div class="albumDiv">

  {{#each albums}}

    <section class="albumSection">

      <img class="" src="{{images.0.url}}" alt="" />
      <h3>{{name}}</h3>

      <a href="/tracks/{{id}}">View Tracks</a>

    </section>

  {{/each}}

</div>