<div class="albumList">
    {{#each album}}
    {{>albumpartial this}}

    {{!-- Move this to cards
        <img src="{{images.[0].url}}" alt="{{name}}">
    <h2>{{name}}</h2>

    <a href="/albums/{{id}}">View Tracks</a>
{{!-- move all up to here --}}
    <p></p> --}}
    {{/each}}

</div>