<ul class="albums-ul">
  {{#each albums}}
    <li>
      {{this.name}}
      <br />
      <img
        src="{{this.images.0.url}}"
        alt="{{this.name}}"
        width="260"
        height="260"
      />
      <br />

      {{! "To be able to see the tracks of the particular album" }}
      <a href="/tracks/{{this.id}}">View tracks</a>
    </li>
  {{/each}}
</ul>