<div>
    <h1>Albums</h1>


    {{#each eachAlbum.items}}
        <li>{{this.name}}</li>
        {{#each images}}
            <img src="{{this.url}}" alt="" width="100px">
        {{/each}}
        <a href="/tracks/{{this.id}}">View Tracks</a>
    {{/each}}

</div>