<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 p-5">        
        {{#each results.items}}
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="{{images.0.url}}" class="card-img-top" alt="{{name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <a class="card-text" href="/tracks/{{id}}"><button type="button" class="btn btn-danger">View Tracks</button></a>
                        </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>