 <div class="title-albums">
    <h2>Albums for: {{this.id}}</h2>
 </div>

<div class="container-cards">
{{#each datos}}
    <div class="card" style="width: 18rem;">
      <img src="{{this.images.[0].url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-white">{{this.name}}</h5>
            <a href="/tracks/{{this.id}}" class="btn btn-danger">View more</a>
        </div>
    </div>
{{/each}}
</div>

