{{#each albums}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img class="card-img-top" src={{this.images.[0].url}} alt="Card image cap">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/tracks/{{this.id}}" class="btn btn-primary">View tracks</a>
  </div>
</div>
{{/each}}
