<div class="albums">
    {{#each data}}
    <img src="{{this.images.0.url}}" alt="artist_name">
    <h3>{{this.name}}</h3>
    <button><a href="/tracks/{{this.id}}">View Tracks</a></button>
    {{/each}}
</div>