<h1>Albums</h1>

<ul>
    {{#each}}
    <li>
        <h2>{{name}}</h2>
        <img src="{{images.[0].url}}" alt="album image">
        <a href="/tracks/{{id}}">View tracks</a>
    </li>
    {{/each}}
</ul>