<div style="min-height: 557px">
    <h2 class="text-center py-2 mb-3 text-black">Albums</h2>
    <div class="row ml-5 mt-3" > 
            {{#each info}}
            {{> layoutCard this}}
            {{/each}}
    </div>
</div>