<button class='back-button'><a href='/'>Back to Search</a></button>
<div id="album-container">

		 <h1 >Albums for: {{allAlbums.artistName}}</h1>

		<div id="allAlbums">


			{{#each allAlbums.albums}}

				{{> albumcollection}}

			{{/each}}

		</div>
</div>
