<h1>Album tracks</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Listen</th>
    </tr>
    {{#each tracks}}
    <tr>
        <td>{{name}}</td>
        <td>
            <audio controls>
                <source src={{preview_url}} type="audio/ogg">
                <source src={{preview_url}} type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </td>
    </tr>
    {{/each}}
</table>