<p id="test">Hello from the artist search page</p>

<div class="artist-info-container">
  <div class="show-artist-info">
    {{#each artists as |artist|}}
      <div class="show-artist-info-container">
        <img
          src="{{artist.images.0.url}}"
          class="artist-image"
          alt="artist-image"
        />
        <div class="card-info">
          <h4 class="artist-title">{{artist.name}}</h4>
        </div>
      </div>
    {{/each}}
  </div>
</div>