<h1>Artist search</h1>

{{!-- <p>{{search}}</p> --}}
{{!--
[]
--}}

{{#each artists}}
{{name}}

<p>name: {{name}} </p>
<a href="#"> <img src="{{images.2.url}}" alt=""></a>
<a href="">albums</a>


{{/each}}