<div id="grid-container">
        {{#each artists}}
            <div class="grid-item">
                <h2>{{this.name}}</h2>
                {{#if this.images.[0].url}}
                    <img src="{{images.[0].url}}" alt="artist"/>
                    {{else}}
                    <img src="/images/Spotify_logo.png" alt="artist" />
                {{/if}}
                <a href="/albums/{{this.id}}">View Albums</a>
            </div>
        {{/each}}
    </div>
</div>
