<!-- layout.hbs -->

<div class="container">
  <div class="row">
    {{#each artistArray}}
      <div class="acard col d-flex justify-content-center">
        <div class="acard-image col">
          {{#each images}}
            {{#if @first}}
              <img src="{{this.url}}">
            {{/if}}
          {{/each}}
        </div>
        <div class="acard-info col">
          <h5>{{this.name}}</h5>
          <a href="/albums/{{this.id}}"><button class="btn">Albums</button></a>
        </div>
      </div>
    {{/each}}
  </div>
</div>
