<div id="artist_search">
    <h1>Results</h1>

    <div class="searchResult">
        {{#each artistsArr}}
            <div class="artist">
                <div class="artistImg">
                    <img src="{{this.images.0.url}}" alt="artist img"/>
                </div>
                <div class="artist_name">
                    <h3>{{this.name}}</h3>
                </div>
                <a href="albums/{{this.id}}">View albums</a>
            </div>
        {{/each}}
    </div>
</div>