<div class="container">
    {{#each artist }}
    <div class="">
        {{ this.name }}
        {{!-- <img src={{ this.images[0].url }}> --}}
        <a href="/albums/{{this.id}}" class="button">View Albums</a>
    </div>
   {{/each}}
</div>