<div>
    {{#each artists}}
    <div id="artist-container">
    <img id="artist-img" src="{{images.1.url}}" />
    <div>
    <p>{{name}}</p>
    <a href='/albums/{{id}}'>View Albums</a>
    </div>
    </div>
    {{/each}}
</div>
