<main class="main-artists">
        <div class="artist-div">
         {{#each artists}}
            <div class="element">
                <img src="{{this.images.[1].url}}" alt="">
                <div class="name-button">
                    <p>{{this.name}}</p>
                    <a href="/albums/{{id}}" class="albums-btn">View Albums</a>
                </div>
             </div>
         {{/each}}
         </div> 
</main>
