<div class="all-products">
    {{#each result}}
    <div class="container-products">
        <div class="covers">
            <img src="{{this.images.[0].url}}" alt="{{this.name}}">
        </div>
        <div class="names">
            <h2>{{this.name}}</h2>
        </div>
        <div class="btn">
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
    </div>
    {{/each}}
</div> 