{{#each artists}}
    <div>
        <p><img src="{{this.images.[0].url}}" alt="sdfsdf"></p>
        <p>{{this.name}}</p>
        <button><a href="/albums/{{this.id}}">View Albums</a></button>
    </div>
{{/each}}

