<h2 id="h2-artists">Choose an Artist to display Its Albums</h2>
<div id="main-artists-container">
    
    {{#each searchResults}}
        <div style="background-image:url({{this.images.[1].url}});background-repeat:no-repeat;" class="artist-card">
            <div class="gray-background">
                <h4>{{this.name}}</h4>
                <a href='/albums/{{this.id}}'><button>View Albums</button></a>
            </div>
        </div>
    {{/each}}

</div>