<section class="search-results">
  {{#each artists.items}}
    <div class="results-card">

      <img src={{images.1.url}} alt="artist image" />
      <h1>{{name}}</h1>
      <a href="/albums/{{id}}">View albums</a>
    </div>
  {{/each}}
</section>