<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/styles/style.css">
            <title>Spotify</title>
    </head>
    <body>
        <h2 class="title">SEARCH RESULTS</h2>
        <div class="cards">
            {{#each albuns}}
                <div class="card">
                    <h3>{{this.name}}</h3>
                    <img src="{{this.images.[0].url}}" alt="image of albun: {{this.name}}" height="200px" width="auto">
                    <a href="/tracks/{{this.id}}">View Tracks</a>
                </div>
            {{/each}}
        </div>
        <div>
            <a href="/" class="go-back-btn">Go Back to Search</a>
        </div>
    </body>
</html>