<div>
    

  {{#each dataBodyArtistsItems}}
   


    <div>
    <h3>Album: {{name}}</h3>

  <img src={{images.1.url}} alt="Album photo">


<div><a href="/albums/{{id}}">View Albums</a></div>


    </div>






  {{/each}}
</div> 

<p>hola mundo</p>

