<header class="albumHeader">

 Artist Searched: <b>{{search}} </b>


</header>


<div class="megaSearch">

{{#each dataArtist.body.artists.items}}

<div class="result artist">

<img src="{{images.[1].url}}" alt="">

<div class="nameBtn">
<p class="name">{{name}}</p>

<a class="btn btnResult" href="/albums/{{id}}">View Albums</a>
</div>
</div>
{{/each}}

</div>
 <!-- console.log(artistSearched.body.artists.items
 )-->