<div class="artist-info">
   
    <h4>test</h4>
    {{#each artists.items}}
    <h3>{{this.name}}</h3>
     
  <!--  <img src="{{this.preview_url}}" alt=""> -->
    <button>View albums</button>
    {{/each}}
</div>

