<h1>ARTIST-SEARCH-RESULTS</h1>
{{!-- display name, image, and button (or link) to show the albums for a particular artist on a new view (for now just create the button/link and we will take care of the rest in the next step). --}}


{{#each artist}}
    <p>{{this.name}}</p>
    <img src="{{this.images.[0].url}}" alt="">
    <a href="/albums/{{this.id}}">View Albums</a>
{{/each}}




<a href="/albums/{{this.id}}">View albums</a>