<div class="result-wrapper">
{{#each data.body.artists.items}}
<div class="artist">
    <img src="{{this.images.url}}" alt="{{this.name}}">
    <h1>{{this.name}}</h1>
<a href="/albums/{{this.id}}">View albums</a>
</div>
{{/each}}
</div>