<div class="row">
    {{#each artists}}
        <div class="col-4 viewAlbum">
            <img class="col-4" src="{{this.images.0.url}}" alt="">
            {{this.name}}
            <a class="btn btn-danger" href="/albums/{{this.id}}">View Albums</a>
        </div>
    {{/each}}
</div>