<h1>Artists</h1>
<div class="artists-container">
  {{#each artists }}
  <div class="artist">
    <img src="{{images.[1].url}}" alt="card-image" />
    <h2>{{name}}</h2> 
    <a href="/albums/{{id}}">View Albums</a>
  {{/each}}
</div>

