
<div class="search-results-container">
  {{#each artists}}
    <div class="artist-container">
      <img src="{{img_url}}">
      <div class="artist-name">
        {{name}}
      </div>
      <a href="/albums/{{id}}">View Albums</a>
    </div>
  {{/each}}
</div>