<div class="container-collection">
{{#each artists}}
    <div class="container-element">
        <img src="{{images.1.url}}" alt="{{name}}" >
        <h3>
            {{name}}
        </h3>
        <a href="/albums/{{id}}">
            <button class="btn">
                View Albums
            </button>
        </a>
    </div>
{{/each}}
</div>
