<div class="container">
    {{#each items}}
    <div id="artist">
        {{#each this.images}}
            {{#if @first}}
            <img src="{{ this.url}}"></img>
            {{/if}}
        {{/each}}
        <div>{{this.name}}</div>
        <div><a href="/albums/{{this.id}}" id="viewAlbumsBtn" class="btn">View albums</a></div>
    </div>
    {{/each}}
</div>
