<div class="container">
    <div class="row justify-content-center">
        {{#each items}}
        <div class="col-3 artist p-3 d-flex flex-column align-items-center">
            <h5>{{name}}</h5>
            <img src="{{images.[0].url}}" alt="">
            <a href="/albums/{{id}}">Albumes</a>
        </div>
        {{/each}}
    </div>
</div>