<div class="container">
  {{#each artists as |artist|}}
    <div class="artist-card">
      <img src="{{this.images.[0].url}}" alt="">
      <h2>{{this.name}}</h2>
      <a href="/albums/{{this.id}}">
        <button>View Albums</button>
      </a>
    </div>
  {{/each}}
</div>