<h4>Your Search Results:</h4>
<section id="search-list">
    {{#each productsArr}}
        {{> productSummary this }}
      {{else}}
      <p>Oops! No products match your criteria!</p>
    {{/each}}
    
</section>
