
<section class="artistSearchBg">
<form action="/artist-search" method="GET">

<input type="text" id="searchArtist" name="artist">

<button type="submit">Search for an artist</button>

</form>
</section>