<div class="background">
    <div class="center-form">
        <form action="/artist-search-results" method="GET">
            <label>
                <input class="search-bar" type="text" name='artistName'>
            </label>
            <br>
            <input class="btn btn-danger" type="submit" value="Search for an Artist">
        </form>
    </div>
</div>