<h1>Search results: Artists</h1>
<div class="list-element">
<div class="element">
{{#each artists}}
    {{#if images.length}}
       <img src="{{images.[1].url}}">
       <a href="/albums/{{id}}?title={{name}}" type="submit">View Albums of <b>{{name}}</b></a>
    {{/if}}
{{/each}}
</div>
</div>
</div>