
{{#each listOfArtists}}

<h2>{{this.name}}</h2>

    {{#each this.images}}

<img src="{{this.url}}">

    {{/each}}

<button type="submit" onclick="window.location.href='/albums/{{this.id}}'">View Album</button>

{{/each}}