<ul>
  {{#if search}}
    {{#each search}}
    <li>{{{this.name}}}</li>
    <li><img src="{{this.images.1.url}}" alt="{{this.name}}"></li>
    <button type="submit"><a href="/albums/{{this.id}}">View Albums</a></button>
    {{/each}}
  {{/if}}
</ul>