<div>
    <p>artistas</p>
    {{#each details}}
    <li>{{name}}
        {{#each this.images}}
            <img src="{{this.url}}" alt="" width="200px">
        {{/each}}
    <a href="/albums/{{this.id}}">View Albums</a></li>
    {{/each}}
</div>