<h4>Artist Search Result</h4>
<div class="artist-data">
  {{#each this}}
    <div class="artist-search">
      <img src="{{images}}">
      <p>Name: {{name}}</p>
      <button class="submit-btn" href="/albums/{{uri}}"> View Album</button>
    </div>
{{/each}}
</div>
