<section>
    <div class="background"></div>
    <div class="exhibits">
        <div class="scroll">
            {{#each artists}}
        <img src="{{images.1.url}}" alt="">
        <h1>{{name}}</h1>
        <button class="btnModel" ><a href="/albums/{{id}}">View Albums</a></button>
        {{/each}}
        </div>


        

    </div>

</section>

{{!-- <h2>search</h2> --}}