<div class="search">
    {{#each artist}}
    <div class="card">
        <img class="card-img-top" src={{images.[0].url}} alt="artist album">
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <a href="/albums/{{id}}" class="btn">View Album</a>
        </div>
    </div>
    {{/each}}
</div>