<div class="section-container">
  {{#each artist}}
  
      <h1>{{this.name}}</h1>
      <img src='{{images.0.url}}' alt='artist' />
      <br>
      <br>
      <button type="button" href="/albums/{{this.id}}"> View Album</button>
      
  {{/each}}