<h1>Artist search results</h1>

{{#each artistResult}}

<img src="{{images.1.url}}" alt=""> 
{{!-- How do I know that the name is url? --}}
<p>
    
    {{name}}
</p>
<a href="">View Albums</a>

{{/each}}