<div class="artist-search-container row row-cols-1 row-cols-md-3">
    {{#each artistsQuery}}
    <div class="col mb-4">
        <div class="card h-100">
            <img src=" {{images.[0].url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
            </div>
            <div class="card-footer">
                <a class="text-muted" href="/albums?id={{id}}">View Album</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>