<section class="section2">
{{#each allArtists}}
<div style="background-image: url('{{this.images.0.url}}');" class="div-artists">
<div class="view-albumdiv">
<h1 class="albumname">{{this.name}}</h1>
<a href="/albums/{{this.id}}" class="linkalbums">View albums</a> 
</div>
</div>
{{/each}}
</section>
