<div id="container-flex">
    {{#each artists}}
        <div class="card mb-3">
                {{#if this.image}}
                <a href="/albums/{{this.id}}">
                    <img class="card-img-top" src="{{this.image.url}}" alt="Card image cap">
                </a>
                {{/if}}
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">
                    <a class="btn btn-primary" href="/albums/{{this.id}}">View albums</a>
                </p>
            </div>
        </div>
    {{/each}}
</div>