<div class="row row-cols-1 row-cols-md-3">
  {{#each artists as |artist|}}
    {{#with artist}}
      <div class="card mb-2 artist border-0">
        <img src="{{ images.0.url }}" class="card-img-top" alt="{{ name }}">
        <div class="card-body">
          <h5>{{ name }}</h5>
          <a href="/albums/{{ id }}">View Albums</a>
        </div>
      </div>
    {{/with}}
  {{/each}}
</div>
