<title>Artists</title>
<div class="div">
     {{#each artist}}
    <div class="img-text">
        <img src="{{images.[0].url}}" alt"image">
        <h2 class="title">{{name}}</h2>
        <a href="/albums/{{id}}"><button class="btn">View albums</button></a>
    </div>
     {{/each}} 
</div>
