<div class="container mt-5 d-flex flex-wrap justify-content-center">
    {{#each groups}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{images.0.url}} alt="Album Cover">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <a href="#/albums" class="btn btn-primary">View Albums</a>
        </div>
    </div>
    {{/each}}
</div>