{{#each artists}}             //iteration 2 step 2 Display results for artist search
  <div class="artist">
    <img src="{{ images.[0].url }}" alt="{{ name }}">
    <h3>{{ name }}</h3>
    <a href="/albums/{{ id }}">View Albums</a>
  </div>
{{/each}}
