


<div class=''>

    {{#each artists}}
      <img class='' src='{{images}}' alt='' />
      <h2>{{name}}</h2>
      
<button type="submit" <a href="/albums/{{id}}"></a> >View Albuns</button>

    {{/each}}

  </div>