<ul>
  <center>
  {{#each artists}}
    <li class="card">
      <img src="{{this.images.[0].url}}" alt="{{this.name}}">
      <h2>{{this.name}}</h2>
      <a href="/albums/{{this.id}}">View Albums</a>
    </li>
  {{/each}}
  </center>
</ul>