<div class="row">
{{#each artistsList}}
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="{{this.images.[0].url}}" alt="{{this.name}}" />
      <div class="card-body">
        <h5 class="card-title">
          {{this.name}}
        </h5>
        <a href="#" class="btn btn-primary">view Albums</a>
      </div>

    </div>
  </div>
{{/each}}
</div>