<link rel="stylesheet" href="/styles/style.css">

<div class="outerContainer">
    {{#each artists}}
    <div class="artistContainer">
        <section class="card">
            <img src="{{this.images.0.url}}" alt="" srcset="">
            <h2>{{this.name}}</h2>
            <a href="/albums/{{id}}">View Albums</a>
        </section>
    </div>

    {{/each}}
</div>