<div class="container grid" id="containerArtist">
    {{#each items}}
        <div id="artists" class="artists">
            {{#each this.images}}
                {{#if @first}}
                <img src="{{this.url}}" class="image" />
                {{/if}}
            {{/each}}
            <div>{{this.name}}</div>
            <div><a href="/albums/{{this.id}}" id="viewAlbumsBtn" class="btn">View albums</a></div>
        </div>
    {{/each}}
</div>