{{#each artists}}

<div>

    <div>
        <img src="{{images.[0].url}}" alt="image of {{name}}" style="height: 10cm;">
    </div>

    <div>
        <h1>{{name}}</h1>
    </div> 

    <button class="button" onclick="window.location.href='/albums/{{id}}';">
        View Albums
    </button>

</div>

{{/each}}