{{!-- <div>
    {{#if artists.length}}

      <!-- this aponta para cada elemento da array -->
      {{#each artists}}
     <a href="">{{ this.name}}</a> 

      <img src="{{images.[2].url}}">

        <button type="submit" class="button is-info">View Albums</button>
     

     {{/each}}
     


  {{else}}
  <p>No results.</p>
  {{/if}}
</div> --}}
