<div class="resultsBoard">
    {{#if artists}}
    <h2>Results:</h2>
        {{#each artists}}
            <div class="Card">
                <img src="{{images.[0].url}}">
            </div>
            <div class="artistDeets">
                <h3>{{name}}</h3> <br>
                <a href="/albums/{{id}}">View Albums</a>
            </div>
        {{/each}}
    {{else}}
        <h2>Sorry, we could not find any artists by that name</h2>
    {{/if}}
</div>