
<div class="container"> 

{{#each filteredArtist}}

<div class = "artistDetails"> 
    <img src= "{{images.1.url}}">
</div>

<h3> {{name}}</h3>
<a class="viewAlbums" href="/albums/{{id}}">View Albums</a>


{{/each}}

</div> 