{{!-- <button  class="btn btn-primary" href="/albums/someArtistIdGoesHere">View Albums</button> --}}
{{!-- <a id="albums-button" class="btn btn-primary"  href="/albums/someArtistIdGoesHere">View Albums</a> --}}

<h1>Search results:</h1>

<ul>
    {{#each this.artists}}
    <li>{{this.name}}</li>
    <a href="/albums/{{this.id}}">View Albums</a>
    {{/each}}
</ul>