<div class="container">
    {{#each artist}}
    <div class="container-item">
        {{#if images}}
        <img src="{{images.0.url}}" alt="">
        {{else}}
        <img src="/images/music_placeholder.png" alt="">
        {{/if}}
        {{name}}
        <a href="/albums/{{id}}" class="button">View albums</a>
    </div>
    {{/each}}
</div>