<section class="artist-search">
    {{#each result.artists.items}}
    <div class="artist-results">
        <img src="{{images.0.url}}" alt="image">
        <h1>{{name}}</h1>
        <a href="/albums/{{id}}">View Albums</a>
    </div>
    {{/each}}
</section>