<div id="global-container-artists">
    {{#each items}}
    <div class="sub-containers">
        <div class="artists-image-wrapper">
            {{!-- <img src={{}} alt="image artist"> --}}
            {{this.images}}
        </div>
        {{!-- <div class="grey-block">
            <h1 class="artist-name">{{this.name}}</h1>
            <a href="/ROUTE STILL TO ADD">
                <button class="view-albums-button">View Albums</button>
            </a>
        </div> --}}
    </div>
    {{/each}}
</div>