<h1>Resultado de búsqueda</h1>
<hr>


{{#each artists}}


<h3>{{name}}</h3>

<img src="{{images.[0].url}}" alt="">

<a href='/albums/'>View Albums</a>

<hr>

{{/each}}




<a href="/" class="btn btn-dark">Volver al formulario</a>