<div class="container">
    {{#each data.body.artists.items}}
    {{!-- {{#each this.images}} --}}

    <div class="cover">

        <img src="{{this.images.1.url}}" alt="{{this.name}}" width="320" height="320">
        {{!-- {{/each}} --}}
        <div class="cover-tag">
            <p>{{this.name}}</p>

            <a class="album-button" href="/albums/{{{this.id}}}">View Albums</a>

        </div>
    </div>
    {{/each}}

</div>