    <h1>Artist</h1>
        {{#each buscador}}
                <img src={{images.1.url}} alt="images" />
                <h5>{{name}}</h5>
                <a href="/albums/{{id}}">View Albums</a><br><br>
        {{/each}}

