<title>Home</title>
<div class="container">
  <div class="colums">
    <!-- <ul class="list-group-flush"> -->
      <li class="list-group-item list-group-item-dark ">
        {{name}}
      <audio  controls src="{{preview_url}}">
          Your browser does not support the <code>audio</code> element.
      </audio>
      </li>
    <!-- </ul> -->
  </div>
</div>
