<h1>PRUEBA</h1>

{{#each data}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{images.1.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <a href="/albums" class="btn btn-primary">Show albums</a>
  </div>
</div>
{{/each}}