<h1>Artists</h1>
<div>
{{#each artists}}
    <div>
        <img src="{{images.1.url}}">
    </div>
    <div>
        <h3>{{name}}</h3>
    </div>
    <div>
        <a href="/album/{{id}}">View Album</a>
    </div>
{{/each}}
</div>


