<div class="row">
  {{#each data}}
  <div class="col-md-4">
    <div class="card text-white bg-dark" style="width: 18rem;">
      <img class="card-img-top" src="{{images.1.url}}" alt="{{name}}">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/albums/{{id}}" class="btn btn-primary">Show albums</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>