<body>
  <h1>Artist Search Results</h1>

  <ul>
    {{#each artists}}
      <li>
        <h2>{{this.name}}</h2>
        <img src="{{this.images.1.url}}" alt="Image of {{this.name}}" />
        <a href="/albums/{{this.id}}">View Albums</a>
      </li>
    {{/each}}
  </ul>
</body>