<div id="viewartist">
  {{#each artistData}}
    <img src="{{this.images.[1].url}}" alt="">
    Name:
    {{this.name}}
    Followers:{{this.followers.total}}
    <a href="/albums/{{this.id}}" class="button">Go to Albums</a>
  {{/each}}
</div>