<div>

<h1>ARTISTS PAGE</h1>

{{#each data}}

<div>
    <img src="{{this.images.2.url}}" alt="">
    <h3>{{this.name}}</h3>
    <a href="/albums/{{this.id}}">View Albums</a>
</div>

{{/each}}

</div>
