<div>
    <h1>ARTISTS PAGE</h1>

    {{#each artists}}

    <article>
        <img src="{{this.images.2.url}}" alt="image-{{this.name}}">
        <h1>{{this.name}}</h1>
        <a href="/albums/{{this.id}}">
            <button>View Albums</button>
        </a>
    </article>

    {{/each}}
</div>