{{#each artistResults}}
    <div>{{name}}</div>
    <div><img src="{{images.[1].url}}"></div>
    <div><a href="/albums/{{:artistId}}"><button type="submit" class="submit">View Albums</button></a></div>
{{/each}} 
