{{#each artist}}
<div class="card">
    <img class="imgCard" src="{{images.[0].url}}" alt="{{name}}">

    <div class="name">
        <h3> {{name}}</h3>
    <a class="aSearch" href="/albums/{{id}}">view Albums</a>
    </div>    
</div> 
{{/each}}



