<ul>
  {{#each artists}}
    <li>
      {{#if images.length}}
        <img src="{{images.0.url}}" alt="{{name}}" />
      {{/if}}
      <h4>{{name}}</h4>
      <a href="/albums/{{id}}">View Albums</a>
    </li>
  {{/each}}
</ul>