
<h1>Artists</h1>

{{#each artists}}
 <img src={{this.images.[0].url}} alt="" /> 
 <div>
    <h2>{{this.name}}</h2>
    <button type="submit"><a href="">View Albums<a></button>
</div>
{{/each}}
  