

<div class="artistbox">
{{#each potato}}
<h1>Interpret/s: {{name}}</h1>

<img src="{{images.1.url}}" alt="" srcset="">
<br>
<button>
    <a href="/albums/{{id}}">View albums</a>
</button>
{{/each}}
</div>