<div class="artists-list">
  {{#each filteredArtistsArr}}
    <div class="single-item">
      <img src="{{images.1.url}}" alt="" />
      <h4>{{this.name}}</h4>
      <a class="view-link" href="/albums/{{this.id}}">View Albums</a>
    </div>
  {{/each}}
</div>