<div class="allArtists">
    {{#each data}}
    <div class="grid-elem">
        <span><h4>{{name}}</h4></span>

        <img class="album-cover" src="{{images.1.url}}">

        <a href="/albums/{{id}}">Show albums</a>
    </div>


    {{/each}}
</div>