<div class="artists-container">
    {{#each artists}}
        <div class="artists-container-album">
            <p>{{this.name}}</p>
            <div class="artist-image">
                <img src={{this.images.[0].url}}>
            </div>
            
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
    {{/each}}
</div>
