
<body>

<div>

{{#each artistsArray}}
<div class="info">

{{#if this.images.[0].url}}
<img src="{{this.images.[0].url}}" alt="artist image"/>
{{else}}
<img src="https://www.wmhbradio.org/wp-content/uploads/2016/07/music-placeholder.png" alt="artist image placeholder"/>
{{/if}}

<h3>{{this.name}}</h3>

<button type="button">
    <a href="/albums/{{this.id}}">View Albums</a>
</button>

</div>
{{/each}}

</div>

</body>