
<div class=" uk-panel uk-flex uk-flex-center uk-flex-middle img-back">

<div class="uk-overlay uk-overlay-default uk-position-center">
<form class="uk-flex uk-flex-column uk-flex-center"  action="/artist-search" method="get">


<input class="uk-input" type="text" name="search" placeholder="Search for artist">
<button class="uk-button uk-button-danger" type="submit">Search for an Artist</button>

</form>
</div>
</div>