<h1>Search Results: Artists</h1>
{{!-- <button type="submit">View Albums</button> --}}
{{#each artists}}
    {{name}}
    {{#if images.length}}
       <img src="{{images.[1].url}}">
       <a href="/albums/{{id}}?title={{name}}" type="submit">View Albums</a>
    {{/if}}
{{/each}}