  {{#each artists}}

    <div >
        <h2 class="name">{{name}}</h2>
        <img src="{{images.0.url}}" alt="{{name}}">
        <br>
        <a href="/albums/{{id}}">View Albums</a>
    </div>

 {{/each }}