<img class="Background" src="/images/spotify-background.jpeg">
    
<div class="homepage-div">
    <form method="GET" action="/artist-search" >
        <label>
            <input type="text" name="artists" aria-expanded="true" required>
        </label>
        <button href="/artist-search" type="submit">Search for an Artist</button>
    </form>
</div>
