<div class="row">
    {{#each items}}
    <div class="card col-lg-4 col-12">
        <img class="card-img-top" src="{{images.0.url}}" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h2>
                <a class="btn btn-primary" href="/artist/{{id}}">View Albums</a>
        </div>
    </div>
    {{/each}}
</div>