<div class="container">
    <div class="row row-cols-lg-4 row-cols-md-3">
        {{#each artists}}
        <div class="col">
            <h3>{{name}}</h3>
            <button>View Albums</button>
        </div>
        {{/each}}
    </div>
</div>