
<main class="cards">
<body class="artist-layout">
<H2>Artists</H2>
{{#each this}}
  {{this.name}}
  <img src="{{this.images.[0].url}}" alt="artist pic">

  <form method="GET" action="/albums/{{this.id}}">
    <button type="submit" name="albumTitles">Albums</button>
  </form>
{{/each}}
</body>
</main>