<div id="artist-search">
    {{#each items}}
    <img src="{{images.0.url}}" alt="image1">
    <h1>{{name}}</h1>
    <a href="/albums/{{id}}" name="albums"><input type="button" value="View Albums"></a>
    {{/each}}
</div>
