<div class="search-container">
    {{#each artistArr}}

    <h3>Name: {{name}}</h3>

    <img src="{{images.[0].url}}" alt="  {{name}}">
    <a href="/albums/{{id}}">View Albums</a>

    {{/each}}


</div>