<div id="artist-overview">

    {{#each artistsInfo}}
        <div>
            <h1>{{this.artistName}}</h1>
            <img src={{this.imageSrc}} alt="Band Img">
            <br>
            <button>View Albums</button>
        </div>
    {{/each}}

</div>
