<main id="artists">
    {{#each this.items}}
        <div class="container">
            <img src="{{images.[1].url}}" alt="singer-image">
            <div class="label-container">
                <h4>{{name}}</h4>
                <a href="/albums/{{id}}">View Albums</a>
            </div>
        </div>
    {{/each}}
</main>