{{#each data}}
  <form action='/albums' method='GET'>
    <div class='cards'>
      <h1>{{this.name}}</h1>
      <img src={{this.images.0.url}} class='card-img' alt={{this.name}} />
      <button id='Albums' type='submit'>View Albums</button>

    </div>
  </form>
{{/each}}