{{!< layout }}

<div class="container">
    {{#each artists.items}}
    <div class="artist-card">
        <div class="artist-image">
            <img src="{{images.[0].url}}" alt="{{name}}'s Image">
        </div>
        <h2 class="artist-name">{{name}}</h2>
        <a href="/albums/{{id}}" class="view-albums-link">View Albums</a>
    </div>
    {{/each}}
</div>
