{{#if data}}
    <div id="container">
        {{#each data}}
            <div id="card">
                <img id="cardImage" src="{{this.images.0.url}}" alt="{{this.name}} image">
                <div id="cardInfo">
                    <p>{{this.name}}</p>
                    <a href="/albums/{{this.id}}">View Albums</a>
                </div>
            </div>
        {{/each}}
        {{!-- {{> beerPartial this}} --}}            
    </div>
{{/if}}