<h1>Artist Search</h1>

<div>
    {{#each artistSearch}}

    <img src="{{images.0.url}}" alt="{{name}}">
    
    <p>{{name}}</p>
    
    <a href="#">View Albums</a>

    {{/each}}
</div>