{{#each artistsData}}

{{#if this.images}}
<img src="{{this.images.[2].url}}" alt="">
{{else}}
<p>nao possui imagem</p>
{{/if}}
<p>{{this.name}}</p>
<p><a href="/albums/{{this.id}}">View Albums</a></p>

{{/each}}

