<div class="row">
    {{#each artist}}
      <div class="col-sm-3">
        <div class="card">
        <img src="{{this.images.0.url}}" class="card-img-top" alt="{{this.name}}">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <a href="/albums/{{this.id}}"><button class="btn btn-danger">View Albums</button></a>
        </div>
        </div>
      </div>
    {{/each}}  
</div>