{{#if artists}}
    {{#each artists}}
        <div class="result-box">
        <img src="{{this.images.[0].url}}" alt="{{this.name}}"/>
        <h2>{{this.name}}</h2>
        <a class="btn" href="/albums/{{this.id}}">View Albums</a>
        </div>
    {{/each}}
{{/if}}