<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Search</title>
</head>
<body>
    <h1>Artist Search</h1>
    
    <form action="/artist-search-result" method="get"></form>
    <label for="text-artist">Text artist</label>
    <input type="text" name="text-artist" />

    <button type="submit">Search for an Artist</button>
    </form>
</body>
</html>