<h2>Search result:</h2>
<div class="artist-container">
{{#each artists}}
  <img src="{{this.images.[0].url}}" alt="{{this.name}}'s main picture">
  <h3>{{this.name}}</h3>
  <a href="/albums/{{this.id}}">View Albums</a>
{{/each}}
</div>