<div class="card" style="width: 18rem;">
    {{#each artists}}
  <img class="card-img-top" src="..."{{image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title{{name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
      <a href="albums.hbs">View Albums</a>
    {{!-- <a href="#" class="card-link">Card link</a> --}}
  </div>
  {{/each}}
</div>