{{#each findArtists}}
  <div class="artists">

    <img src="{{this.images.0.url}}" alt="" />
    <div class="artists-name"></div>
    <div class="artists-name1">
      <p>{{this.name}}</p>
    </div>
    <div class="artists-btn">
      <a href="/albums/{{this.id}}">View Albums</a>
    </div>

  </div>
{{/each}}