<h1>Artist Search Results</h1>
<main>
{{#each artistArray}}

<div>
<h2>{{this.name}}</h2>
<div>
    <img src="{{this.images.0.url}}" alt="" height="200px"/>
</div>

{{!-- how to make artist Id update? --}}

   <button class ="viewAlbums"> 
    <a href ='albums/{{this.id}}'>
      View Albums
      </a>
    </button>

</div>

{{/each}}

</main>