<section class="sections">
  {{#each items}}
    <div class="items">
      <img src={{images.1.url}} />
      <h2>{{name}}</h2>
      <a class="viewButton" href="/albums/{{id}}">View Albums</a>
    </div>
  {{/each}}
</section>