<div class="containerArtist m-5">
    {{#each artists as |artist|}}
    <div class="singlecard">
        <img src={{artist.images.[2].url}}>
        <h1>{{artist.name}}</h1>
        <a href="/albums/{{artist.id}}">View Albums</a>
    </div> 
    {{/each}}
</div>