<section id="search-result">

  <h2>Search artist search-result</h2>

  {{#each artist}}
    <h1>{{name}}</h1>

    {{#if images}}
      <img src="{{images.0.url}}" alt="artist-image" width="150px" />
    {{else}}
      <img src="https://via.placeholder.com/150x150" alt="generic image" />
    {{/if}}

    <a href="/albums/{{id}}">
      <button>View albums
      </button>
    </a>

  {{/each}}

</section>