<h1>Artist Search Results</h1>

<div id="artist-search-results">
  {{#each artists}}
    <div class="artist-result">
        <img src={{this.images.[0].url}} alt="Artist picture">
        <h3>{{this.name}}</h3>
        <a href="/albums/{{this.id}}">View Albums</a>
    </div>
  {{/each}}
</div>