<section>
    {{#each this.items}}
        <div>
            <img src="{{images.[1].url}}" alt="singer-image">
            <div>
                <h4>{{name}}</h4>
                <form action=""><button>View albums</button></form>
            </div>
        </div>

    {{/each}}
</section>