<div class="container">

  <div class="row">

    <div class="row">
        <div class="grid-title">
          {{#each info}}
          <!-- ask for partials -->
          {{> artistCard this}}
          {{/each}}
        </div>

    </div>

</div>
