{{#each artists}}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{images.[2].url}}" alt="Album image">
    <div class="card-body">
        <h5>{{name}}</h5>
        <a href="/albums/{{this.id}}" class="btn btn-danger">View Albums</a>
    </div>
</div>
{{/each}}