<h2>Artist Search Result</h2>
<div class="artist-data">
  {{#each this}}
    <div class="artist-search">
      <img src="{{images}}">
      <p>Name: {{name}}</p>
      <button class="submit-btn" href="{{id}}"> View Album</button>
    </div>
{{/each}}
</div>
