<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Rossini</h3>
    <img src="public/images/rossini.jpeg" alt="Rossini portret"/>
    <a href="/albums//0roWUeP7Ac4yK4VN6L2gF4?si=g4h-NBQxSTOJXFmnV48Dlg">View works</a>
</body>
</html>