<div class="list-page">
  {{#each artistsList}}
    <div class="list-card">
      <img src="{{images.1.url}}" alt="{{name}}" />
      <div class="card-info">
        <p>{{name}}</p>
        <a href="/albums/{{id}}">View Albums</a>
      </div>
    </div>
  {{/each}}
</div>