<div class="artists">
  {{#each artist}}
  <div class="artist">
    <a href="/albums/{{ this.id }}">
      <img src="{{this.images.[0].url}}" />
      <h3>{{ this.name }}</h3>
    </a>
  </div>
  {{/each}}
</div>
