<h1>Results:</h1>
<hr>
<section class="container">
  {{#each results}}
    <div class="box">
      <h2>{{this.name}}</h2>
      <img src="{{this.images.1.url}}" alt="{{this.name}}" />
      <form method="GET" action="/albums/{{this.id}}">
        <button type="submit">View Albums</button>
      </form>
    </div>
  {{/each}}
</section>