<p>hello</p>
{{#each items}}
    <div>
        <p>here is your Artists result</p>
        <h3>{{this.[0].name}}</h3>
        {{!-- <img src="{{this.[0].images[0]}}" alt="img"> --}}
        <a href="{{this.url}}"></a>
    </div>
{{/each}}