<h1>List of Artists:</h1>





{{#each items}}
    <section class="artist-summary">
        <h2>{{this.name}}</h2>
       <br>

      <img src="{{this.images.0.url}}" alt="">
      
    
     <button type="submit"> <a href ="/albums/{{this.id}}"> View Albums</a> </button>
        </section>
    {{/each}}

