<h2>Search results for "{{searchQuery}}"</h2>
<div class="row">
    {{#each artists}}
        <div class="card col-4-md spaced" style="width: 18rem;">
            <img class="card-img-top" src="{{this.images.[0].url}}" width="200px">
            <div class="card-body">
                <p class="card-title">{{this.name}}</p>
                <a class="btn btn-secondary" href="/albums/{{this.id}}">View Albums</a>
            </div>
            <br>
        </div>
    {{/each}}
</div>