<div class="artists">
    {{#each artists.items}}
    <div class="artist">
        <img src="{{this.images.1.url}}" alt="{{this.name}}" />
        <h1>{{this.name}}</h1>
        <a href="/albums/{{this.id}}">View Albums</a>
    </div>
    {{/each}}
</div>