<div class="container-content">
  <ul>
    {{#each items}}
      <li>
        <img src="{{this.images.0.url}}" alt="" />
        <div class="container-content-text">
          <p>{{this.name}}</p>
          <a href="{{this.id}}">View Albuns</a>
        </div>
      </li>
    {{/each}}
  </ul>
</div>