<h1>Artist Search Results</h1>
{{#each artists}}
  <div>
    <h2>{{name}}</h2>
    <img src="{{images.0.url}}" alt="{{name}}" />
    <a href="/albums/{{id}}"><button type="submit">View Albums</button></a>
  </div>
{{/each}}