<section class="flex-container">
{{#each artists}}
<div class="flex-item">
    <h3>{{name}}</h3>
    {{#if images}}
    <img src="{{images.0.url}}">
    {{/if}}
    <a href="/albums/{{id}}">View Albums</a>
</div>
{{/each}}
</section>