<main class=""></main>
<h1>Artist search</h1>
{{#each artist }}
{{> cardPartial}}
<a href="/albums/{{this.id}}"><button class="btn btn-danger mb-2">View Albums</button></a>
</div>

</div>

{{/each}}
</main>