<div class="artists-grid">
    {{#each result}}
    <div class="artist-search">
        <img class="artist-img" src="{{this.images.0.url}}" alt="artist img">
        <h1>{{this.name}}</h1>
        <button class="view-button">
            <a href="/albums/{{id}}">View Albuns</a>
        </button>
    </div>
    {{/each}}
</div>