<div class="row row-cols-1 row-cols-md-3 g-3" > 

 {{#each artistResult}}
  <div class="col">
    <div class="card">
    <img src="{{this.images.[0].url}}" class="card-img-top" alt="artist image">
      <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/albums/{{this.id}}" class="btn btn-primary">View Albums</a>
      </div>
    </div>
  </div>
 {{/each}}
 </div>