<h1>holiwi</h1>

{{#each artist}}

    <a href="/albums/{{id}}"><div>
        <div>
            <img src="{{images.0.url}}"></img>
        </div>

         <div>
            {{name}}
        </div>

    </div></a>

{{/each}}