<h1 class="pageTitle">Artist Search Results</h1>



{{#each artistArray}}
  <div class= "results"> 

      <div class= "titles"> <h2>{{this.name}}</h2></div>



    <div><img src="{{this.images.0.url}}" alt="" height="100px"/></div>


<div>
   <button class ="viewAlbums"> 
    <a href ='albums/{{this.id}}'>
      View Albums
      </a>
    </button>
</div>
</div>
{{/each}}

