<div class="container">
    <div>
        {{#each result}}
        <div>
            <img src={{this.images.[0].url}} alt="Artist Image">
            <p>{{this.name}}</p>
            <a href="/albums/{{this.id}}"><button>View Albums</button></a>
        </div>
        {{/each}}
    </div>
</div>