
<div class="artists">
    {{#if artists.length}}

      {{#each artists}}
<div class="info">
   <p>{{ this.name}}</p>

      <img src="{{images.[2].url}}">

        <a href="/albums/{{this.id}}">View Albums</a>

</div>
  
     

     {{/each}}

  {{else}}
  <p>No results.</p>
  {{/if}}
</div>
