
  {{#each data.body.artists.items}}

    <h1>{{name}}</h1>

    <img src="{{images.1.url}}" alt="artistbild" />
      
    <a href='/albums/{{id}}'><button>View Albums</button></a>
   

  {{/each}}

