<div class="artists">

    <div id="artist">
        
        {{#each artists}}
            <img src="{{this.images.1.url}}" width="200px">
            <h4>
                {{this.name}}
            </h4>
            <a > View Albums </a> </br>
        {{/each}}

    </div>
</div>
