<div class="container">
    <h1>Detalles de {{name}}</h1>

    <p>{{id}}</p>

    {{#each artist}}

    <div class="row">
        <div class="col">

            {{name}}


        </div>
    </div>
    {{/each}}

</div>