    <div id="artists">
        {{#each allArtists}}
        <div id="artist">
            <div>
{{!--Accessing the array of objects "this.images" at index 0 and key "url"  --}}
            <img src= "{{this.images.0.url}}">
            </div>
            <h3>{{this.name}}</h3>
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
        {{/each}}
</div>
