<div>
  {{#each response}}
    <div>
      <img src={{this.images.0.url}} />
      {{this.name}}
      <a href="/artist-search?id=4oVcPiYDvfGxamTzwvnKtp">View Albuns</a>
    </div>
  {{/each}}
</div>

