
    <div class="artist-search-infos">
        <h1>{{this.artistname}}</h1>
        <p>{{this.image}}</p>
        <p>{{this.viewAlbum}}</p>

    <a href="/albums/someArtistIdGoesHere">View Albums</a> 
</div>