<link rel="stylesheet" href="/styles/style.css" />

<div id="artist">
    {{#if name}}
    <h1>{{name}}</h3>
    {{else}}
    <h1>Sorry, no results for this search.</h3>
    {{/if}}
    {{!-- {{#each images}} --}}
    <img src="{{images.0.url}}" />
    {{!-- {{/each}} --}}
   
 <a id="view-albums" href="/albums/{{id}}">View Albums</a> 
</div>

    
