<div>
        {{#each albums}}
                <h4>{{this.name}}</h4>
                 <img src={{this.images.1.url}} alt="" />
                 <a href="/tracks/{{this.id}}">See traks</a>
        {{/each}}
</div>