<div class="container-result">
    {{#each artists.items}}
    <h2>{{name}}</h2>
    <img src="{{images.[0].url}}" alt="img of {{name}}">
    <button><a href="/albums/{{id}}">View albums</a></button>
    {{/each}}
</div>