    {{#each artistItems}}
<div class="card">
    <img src="{{images.1.url}}" alt="artist images">
    <div class="container">
    <h3>{{name}}</h3>
     <button><a class="anchor" href="/albums/{{this.id}}">View Albums</a></button>
     </div>
</div> 
    {{/each}}