<div>
  <div class="row">
    {{#each artists}}
      <div class="col-xs-12 col-sm-6 col-md-4 text-center mb-5">
        <img src="{{this.images.[1].url}}" alt="Artist Image">
        <h6>{{this.name}}</h6>
        <a href="#">View Albums</a>
      </div>
      
    {{/each}}
  </div>
  
</div>