<h1>Artist search result</h1>
<div class="container">
    <div class="row" >
        {{#each artists}}
        <div class="card mx-2 my-2" style="width: 18rem;" >
            <img src="{{images.[0].url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <a href="/albums/{{this.id}}" class="btn btn-primary">View Albums</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>