<div>
{{#each artist}}
<h1>{{this.name}}</h1>
    <img src="{{this.images.0.url}}" alt="{{this.name}}">
    <form action="/albums/{{this.id}}" method="GET">
        <button type="submit">View Albums</button>
    </form>
{{/each}}
</div>

