    
<div class='dashboard'>

{{#each artistsRes}}   
    <div class='result-div'>
       <div class='img'><img src="{{images.[1].url}}" onerror="https://unsplash.com/photos/ASKeuOZqhYU"alt="imagen"></div> 
        <div class='name-display'>
            <h3 class="albumName">{{name}} </h3>
            <button><a href='/albums/{{id}}' style="text-decoration:none">View Albums</a></button>
        </div>
    </div>
{{/each}}   

</div>
    