<h2>Search results for: </h2>
<div>

  {{#each artists}}
    <hr />

    <div>
      <h3>{{this.name}}</h3>
      <img src={{this.images.1.url}} alt="" />
    </div>
    <a href="/albums/{{this.id}}">View Albums</a>

  {{/each}}

</div>