{{! <h1>Artist search results</h1> }}
{{#each artists}}
  <img src='{{this.images.0.url}}' alt='artist-image' />
  {{! cover or image or uri??? }}
  <p>{{this.name}}</p>
  <a href='/artists/{{this.id}}'>View Albums</a>
{{/each}}