<div class="result-page">
        {{#each info}}

        <div class="album-item">
                   {{> AlbumPartial}}
                <a href="/albums/{{this.id}}" class="album-item-link button">View Albums</a>
        </div>


        {{/each}}
</div>


