<body class="artistBody">
<section class="artist-search">


{{#each spotifyArtists}}
<div class="row row-cols-1 row-cols-md-3">
 <div class="col mb-4">
    <div class="card h-100">
      <img src="{{this.images.0.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text"><a class="btn" href="/albums/{{this.id}}">View Albums</a></p>
      </div>
    </div>
 </div>
</div>
{{/each}}


</section>
</body>