<div class="artistDiv">

  {{#each artists}}

    <section class="artistSection" >

      <img class="" src="{{images.0.url}}" alt="" />
      <h3>{{name}}</h3>

      <a href="/albums/{{id}}">View Albuns</a>

    </section>

  {{/each}}

</div>