<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width: 300px;
        }
    </style>
</head>
<body>
    <img src="{{image}}" >
    <h1>{{name}}</h1>
    
    <form action="/albums/{{id}}">
        <label for="">
            <button>View Albums</button>
        </label>
    </form>
    
</body>
</html>