

{{!-- Create link to ALBUMS page with artistId inside the URL --}}
<a href="/albums/{{artistIds}}">View Albums</a>


{{!-- Displays Artists name and image --}}
Name: {{name}}
<img src={{image}} alt="">