<div class="container">
    <h1 style="margin-top:20px ;">Artists</h1>
    <div class="row">
       {{#each artists}}
       <div class="col-4">
        {{>artistResults}}
       </div>       
        {{/each}}
    </div>
</div>