<h1 id="search-title">Artists on Spotify</h1>

{{#each artistsResults}}
<span class="artists-list">
	<a href="/albums/{{this.id}}" id="album-link">
	<h2 id="artist-name">{{this.name}}</h2>
	<img src="{{images.1.url}}" id="album-cover" />
	</a>
</span>
{{/each}}
