<div class="container">
    <div class="row">
        {{#each artist}}
        <div class="card">
            <image class="card-img-top" src={{this.images.0.url}}></image>
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <a href="/albums/{{id}}">View albums</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>