<div class="container">
  {{#each artists}}
    <div class="artist-card">
      <img src="{{images.[0].url}}" alt="{{name}}" class="artist-image">
      <div class="artist-info">
        <h3>{{name}}</h3>
        <a href="/albums/{{id}}">View Albums</a>
      </div>
    </div>
  {{/each}}
</div>
