<div class="list">
  {{#each artists}}
    <div>
      <p><img src="{{this.images.1.url}}" alt="{{this.name}}" /></p>
      <p>{{this.name}}</p>
      <a href="/albums/{{this.id}}">View Albums</a>
    </div>
  {{/each}}
</div>