{{#each results }} 

    <div id:"result">
        <img src="{{ images.0.url }}" alt="artist photo">
        <h3> {{ name }} </h3>
        <a href="/albums/{{ id }}"> View Albums </a>
    </div>


{{/each}}

