<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artist</title>
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
    {{#each arrayOfArtists}}
        <div class="artists">
            <h1>{{this.name}}</h1>
            <img src="{{this.image}}" alt="">
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
    {{/each}}
    
</body>
</html>

