<container>
  {{#each searchedArtists}}
    <div>
      <article>
        <h1>{{this.name}}</h1>

        <img src="{{images.0.url}}" alt="artist-image" width="300px" />

        {{#if genres}}
          <h3>Genre:</h3>
          <p>
            {{genres}}
          </p>
        {{/if}}

        <button>
          <a href="/albums/{{this.id}}"> View albums</a>
        </button>

      </article>
    </div>
  {{/each}}
</container>