<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each artistsInfo}}
            {{> artistOverview this}}
            {{/each}}  
        </div>
    </div>
</div>
