<section class="container artists">

    <div class="row justify-content-around">


        {{#each items}}

        <div class="col-md-6 col-lg-4 card text-center tarjeta" style="width: 18rem;">
            <img src="{{images.0.url}}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <a class="button" href="/albums/{{id}}">View Albums</a>
            </div>
        </div>

        {{/each}}

    </div>

</section>