<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searched Artist</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <div class="div-specific-artist">
        <h1 class="specific-artist-heading">{{name}}</h1>
        <img class="specific-artist-img" src="{{image_url}}"/>
        <p class="specific-artist-description">{{description}}</p>
    </div>
</body>
</html>

