<h1>Search results for <span>"{{queryString}}"</span></h1>
<div class="artist-container">
    {{#each artistList}}
        <div class="item-info">
            {{> artistCard this}}
        </div>
    {{/each}}
</div>
