{{#each albums}}
    <div class="card">
        <h3>{{this.name}}</h3>
        <img src={{getFirst this.images}} alt={{this.name}}>
        <a href="/album/{{this.id}}">view tracks</a>
    </div>    
{{/each}}