<div class="cont-1">
    <form action="/artist-search-results", method="GET">

        <label>
            <input type="text" name="artist">
        </label>
        </br>
        <input type="submit" value="Search for an artist">
        </form>
</div>
