<div>
    <h1>Results</h1>
    {{#each artists.items}}
        <h2>{{name}}</h2>
        {{#each images}}
            {{#if @first}}
                <img src="{{url}}" alt="{{name}}-photo">
            {{/if}}
        {{/each}}
        <a href="/albums/{{id}}">View Albums</a>
    {{/each}}
</div>
