
<div class="container-artist">
{{#each artist}}
<div class="artist">
  <div class="artist-img">
  <img src="{{this.images.[0].url}}" alt="">
  </div>
  <div class="artist-info">
  <p>{{this.name}}</p>
  <button><a href="/albums/{{this.id}}">View Album</a></button>
  </div>
</div>
{{/each}}
</div>

