<div class="artistAlbumContainer">

{{#each artists}}
<div class="innerDiv"> 
<img src="{{images.[0].url}}">

<div class="artistAlbumName">

<h3>{{name}}</h3> 

<a class="viewAlbumBtn" href="/albums/{{id}}">View Albums</a>

</div>
</div>  

{{/each}}

</div>
