<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" type="text/css" href="/styles/style-lists.css" />
</head>
<body>
    <div>
        <img src="{{image}}" >
        <h3>{{name}}</h3>    
        <form action="/albums/{{id}}">
            <label for="">
                <button>View Albums</button>
            </label>
        </form>
    </div>
</body>
</html>