<div id="global-container-artists">
    {{#each artists}}
    <div class="sub-containers">
        <img class="artist-image" src={{this.image}} alt="image artist">
        <h1 class="artist-name">{{this.name}}</h1>
        <a href="/ROUTE STILL TO ADD">
            <button class="view-albums-button">View Albums</button>
        </a>
    </div>
    {{/each}}
</div>