<div class="container">

{{#each artistsArr}}


            <h2>{{this.name}}</h2>
    
    <div class="image">
                <img src={{this.images.[0].url}}>
            </div>

            <a class="albums" href="/albums/{{this.id}}"> View Albums</a>
{{/each}}

</div>
