<h1>Artists search results</h1>



<div class="main-artist">
{{#each artists}}
<div class="main-artist-block">
    <div class="main-artist-image">
    <img src="{{images.1.url}}" alt="/images/vinyl-g7a4111d1d_1280.png">
    </div>
    <div class="main-artist-descr">
    {{name}}
    <a href="/albums/{{id}}"><button>View Albums</button></a>
    </div>
</div>
{{/each}}
</div>

