<div class="center">

<div class="cards">
{{#each infoArtist}}
<img src="{{this.images.0.url}}" alt="">
<p><h2>{{this.name}}</h2></p>
<a href="/albums/{{this.id}}"> View Album !</a>
{{/each}}


</div>

</div>

