<h1 class="searchResults-h1">Search Results</h1>
<div class="albums-container">
  {{#if search}}
    {{#each search}}
    <div class="album">
      <img src="{{this.images.1.url}}" alt="{{this.name}}">
      <h2>{{{this.name}}}</h2>
      <button type="submit"><a href="/albums/{{this.id}}">View Albums</a></button>
    </div>
    {{/each}}
  {{/if}}
</ul>