<h1>Search results</h1>
<div>
  {{#each artists}}
    <div>
      <img src={{this.images.2.url}} alt="" />
      <h2>{{this.name}}</h2>
      <a href="/albums/{{this.id}}">View Albums</a>
    </div>

  {{/each}}

</div>