// name, image, and button or link
{{#each artists.items}}
    <p>{{this.name}}</p>
    <img src="{{this.images.[0].url}}" alt="artist-image"/>
    <a href='/albums/{{this.id}}'>View Albums</a>
{{/each}}



