{{#each lista}} {{!array}}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ this.name }}</h5>
        <a href="#" class="btn btn-primary">Albuns</a>
    </div>
</div>

{{/each}}