<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div>
{{#each artist}}

<div class="album-div">
<p>{{this.name}}</p>


<a href="/albums/{{id}}">View Albums</a>

<img src="{{this.images.1.url}}" alt="">
</div>
{{/each}}

</div>


</body>
</html>