<div class="artist-search-results">
{{#each artist}}
    <div class="each-artist">
        <img src="{{this.images.[0].url}}" alt="">
        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}">View Albums</a>
    </div>
{{/each}}
</div>



