<div class="search-results">
    {{#each artists.items}}
        <ul>
            <li><img src="{{images.[0].url}}" alt="img of {{name}}">  </li> 
            <div>
                <li>{{name}}</li> 
                <li><a href="/albums/{{id}}">View albums</a></li>
            </div>

        </ul>
    {{/each}}

</div>


