<h1>Artist</h1>


 <ul>
{{#each data.body.artists.items}}
<li>
<h2>{{this.name}}</h2>

<img src="{{this.images.0.url}}" alt="artist image">

<a href="/albums/{{this.id}}">View Albums</a>

{{/each}}
</ul>