{{#each artistsArray}}
	<article>
		<img src='{{this.images.0.url}}' alt='album image' />
		<h3>{{this.name}}</h3>
		<a class='view-albums-button' href='/albums/{{this.id}}'>View Albums</a>
	</article>
{{/each}}