<div class="searched-result-background-div">
  {{#each artists}}
    <div class="searched-result-container-div">
      <img src="{{this.images.1.url}}" />
      <div class="searched-result-text-div">
        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}">View Albums</a>
      </div>
    </div>
  {{/each}}
</div>