<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artist Result</title>
</head>
<body>
<div>
  {{#each artists}}
    <div>
      <h2>{{name}}</h2>
      <img src="{{images.0.url}}" alt="{{name}}">
      <a href="/albums/{{id}}">Ver Álbumes</a>
    </div>
  {{/each}}
</body>
</html>