
<div class="container">

    <div class="row">

        {{#each artist}}

            <div class="col-lg-4 artist-container">
                <img src="{{this.images.0.url}}" class="artist-image" alt="{{this.name}} image">
                <div class="artist-info-container">
                    <h5 class="card-title">{{this.name}}</h5>
                    <a href="/albums/{{this.id}}" class="btn btn-primary">View albums</a>
                </div>
            </div>

        {{/each}}

    </div>

</div>