<div>

    {{#each firstSix}}

        <p>{{id}}</p>
        <p>Name: {{name}}</p>
        {{!-- <p>Image: {{images[0].url}}</p> --}}
        <a href="/albums/{{id}}">Ver PEPE IMAGENES Y COSAS</a>


    {{/each}}




</div>