<div class="container">
    <div class="row">
        {{#each data.artists.items}}
        <div class="card col-3" style="width: 18rem;">
            <img src="{{images.[0].url}}" class="card-img-top" alt="{{name}}"> 
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <a href="/albums/{{id}}" class="btn btn-primary">View Albums</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
