<div class="container">
    <div class="row">
        <h1>artistas</h1>
        {{#each artis_info}}

        <div class="col-4 mb-5 mt-5">
            <div class="card text-center">
                <img src="{{images.0.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-text">{{email}}</p>
                    <a href="/albums/{{id}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>