<div class="col-12 mb-5">
    <div class="h-100 p-5 text-bg-dark text-center">
        <h1>Artist Search Result</h1>
    </div>
</div>

<div class="container">
    <div class="row gx-5 gy-5">
        {{#each artists as |artist|}}
            <div class="col-4">
                <div class="card">
                    <img src="{{artist.images.[0].url}}" class="card-img-top" alt="Artist Image">
                    <div class="card-body">
                        <h5 class="card-title my-3">{{artist.name}}</h5>
                        <a href="/albums/{{artist.id}}" class="btn btn-outline-dark">View albums</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>