
<nav>
  <div>Artists</div>
  </nav>

<section id="container">
  {{#each artists.items}}
    <div id="cover">
      <h2>{{this.name}}</h2>

      <img id="img" src={{images.1.url}} />
      <a href="/albums/{{this.id}}">View Albums</a>
</div>
     


  {{/each}}
</section>