<div class="result-page">
    <h2>Search Result</h2>
    <a class="back-btn" href="javascript:history.back()">Back</a>
    <div class="list">
            {{#each artists}}
            <div class="card">
                <div class="img-box" style="background-image: url({{this.images.1.url}})"></div>
                <div class="info-box">
                    <h3>{{this.name}}</h3>
                    <a class="btn" href="/albums/{{id}}">View Albums</a>
                </div>
            </div>
            {{/each}}
    </div>
</div>