<div>

  {{#each findArtists}}
    <p>{{this.name}}</p>

    <img src="{{this.images.0.url}}" alt="" />
    <a href="{{this.external_urls.spotify}}"><button>Artist Albums</button></a>

  {{/each}}
</div>