<h1>artist</h1>
<div class="container">

    <div class="row">
        
        <div class="col-md-3">


{{#each data.artists.items}}

<img src="{{images.0.url}}">

<p>{{this.name}}</p>
<a href="/albums/{{id}}" class="btn btn-dark btn-sm">Albums</a>
{{/each}}






        </div>

    </div>

</div>
