
<section class="containerSearch">
    <div class="containerDiv">
        <form action="/artist-search" method="GET">

        <input type="text" id="searchArtist" name="artist">

        <button type="submit">Search for an Artist</button>
    </div>
</form>
</section>