<main id="artists-results">
    {{#each artistSearch}}
    <div class="container">
        <img src="{{images.0.url}}" alt="{{name}}">
        <div>
            <h3>{{name}}</h3>
            <a href="/albums/{{id}}" class="search-button">View Albums</a>
        </div>
    </div>
    {{/each}}
</main>