<div id="search-results">
  
    {{#each artists}}
      <div id="search-single-album">
        <img src="{{this.images.[0].url}}" alt="{{this.name}} album image"/>
        <br>
        <h1>{{this.name}}</h1>
        <br>
        <a href="/albums/{{this.id}}">View Albums</a>
      </div>
   {{/each}}
  </div>
</div>
