<div class="container">
    <div class="row">
        <div class="col-4">
            {{#each list}}
                <div class="card" style="width: 18rem;">
                <img src="{{images.[2].url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <a href="/view-albums/{{id}}" class="btn btn-primary">Views Albums</a>
                </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
