<div class="artist-search-results">
  {{#each result}}
  <div class="card">
    {{> cardbodyPartial this}}
    <div class="footer">
      <h4>{{name}}</h4>
      <a href="/albums/{{id}}" class="link-btn-albums">View Albums</a>
    </div>
  </div>
  {{/each}}
</div>

