<div class="container">
    {{#each artists}}
        <div>
            {{#if images}}
                <img src=" {{images.[0].url}}" alt="{{name}}">
            {{/if}}
        </div>

        <div>
            {{name}}
        </div>

        <div>
            <a href="/albums/{{id}}">View Albums</a>
        </div>
    {{/each}}
</div>