

<section>

<div>
{{#each allArtist}}
<h1>
{{this.name}}
</h1>
<img src="{{this.images.0.url}}" alt="{{this.name}}">
<a href="/albums/{{this.id}}">View Albums</a>

{{/each}}
</div>
</section>

<section>



