<h2>Search results</h2>

{{#each artistList}}

<div style="border: 1px solid black; padding:20px">
    
    <p> {{this.name}} </p>
    <p><img src="{{this.images.[0].url}}" width="30%"> </p>
    <a href="/artist/albums/{{this.id}}">View Albums</a>
    
</div>
    
{{/each}}

