<div class="container">
        {{#each artist}}
            <div class="">
                {{this.name}}
                <a href="/albums/{{id}}" class="button">View albums</a>
            </div>
        {{/each}}
</div>
