<main class="artist-search">

{{#each this.artists.items}}

<article class="artist-card">

    <img src="{{images.[0].url}}" alt="{{name}}">

    <h5>{{name}} </h5>

    <a href="/albums/{{id}}">View Albums</a>


</article>



<li>
    
</li>


{{/each}}




</main>