<h1>Search Result</h1>

{{#each artists}}
    <div>
        <h3>{{name}}</h3>
        {{#if images.1.url}}
            <img src={{images.1.url}} alt="">
        {{/if}}
            

        <form action="/albums/{{id}}">
            <input type="submit" value="View Albums" method="GET"/>
        </form>
    </div>
    
{{/each}}
