<form action="/artist-search-results" method="GET">
    <label for="name"></label>
    {{!-- name will be what shows in the search browser url. You can use anything --}}
    <input type="text" name="artist" id="name">
    <button type="submit">Search for an Artist</button>
</form>
