
{{#each artists}}
<h2>{{name}}</h2>

{{#if images.[0]}}
<img src="{{images.[1].url}}" alt="Artist Image">
{{else}}
<p>No image available for this artist.</p>
{{/if}}

<a href="/albums/{{id}}">View Album</a>
{{/each}}