<div class="albums-list">
  
{{#each allArtists}}
  <div class="card">
    <h3>{{this.name}}</h3>
    <img src="{{this.images.0.url}}" alt="{{name}} image" />
    </div>
    <a href="/albums/{{this.id}}" class="albums-btn">Show Albums</a> 

{{/each}}
</div>