{{!-- j'ai une div qui represente la page --}}
<div class="artist-search">
    {{#each database}}
    {{!-- une div qui represente la l'artiste c-a-d img tittre et lien --}}
    <div class="allElement">
        <img src="{{this.images.[2].url}}" alt="{{this.name}}">
        {{!-- et une div qui englobe le titre et le lien --}}
        <div class="description">
            <h1>{{this.name}}</h1>
            <a class="link" href="/albums/{{this.id}}">View Albums</a>
        </div>
    </div>
    {{/each}}
</div>