{{!-- Display Artist List --}}
<div class="artist-title">
    <h1>Artist</h1>
</div>

<div class="artist-list">
    {{#each artist}}
    <div class="card" style="width: 18rem;">
        <img src="{{this.images.0.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <button type="button" class="btn btn-primary" href="{{this.href}}">View</button>
        </div>
    </div>
    {{/each}}
</div>