<h1>Artist</h1>
{{#each artists}}
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{{this.images.[0].url}}" alt="{{this.name}}"/>
            <div class="card-body">
                <h5 class="card-title">
                    {{this.name}}
                </h5>
                <a class="btn btn-success active text-light" href="">
                    View albums
                </a>
            </div>
        </div>
    </div>
{{/each}}
