    <div>
     {{#each artists}}
    <div>
        <img src="{{this.images.0.url}}" height="100px" alt="albumImg" />
        <div>{{this.name}}</div>
        <a href="/albums/{{this.id}}">View Album</a>
    </div>
     {{/each}}
    </div>
  