<div class="container">

  <div class="artist-container">

    {{#each artists}}

      <div class="artist-item card text-bg-dark mb-3" style="width: 12rem;">
        <img
          class="artist-img card-img-top"
          src="{{this.images.0.url}}"
          alt=""
        />
        <div class="artist-text card-body">
          <h2 class="artist-name card-title"> {{this.name}} </h2>
          <a href="/albums/{{id}}" name="">
            <button class="artist-btn btn btn-success">View Albums</button></a>
        </div>
      </div>

    {{/each}}

  </div>

</div>