<div class="container">
    {{#each artist }}
    <div class="">
        {{ this.name }}

        {{#if images}}
        <img src={{ images.[1].url }}>
        {{/if}}

        <a href="/albums/{{ this.id }}" class="button">View Albums</a>
    </div>

   {{/each}}
</div>