
<section class="main-page">
    <h4 class='top-artist'>Search results</h4>
    <div class="artist-info">
        {{#each artistsNode.items}}
        <div class="artist-info-wrapper">
            <div class="artist-image">
                <img src="{{this.images.[0].url}}" alt="">
            </div>
            <h3>{{this.name}}</h3>
            <button class="link-btn">
                <a href="/albums/{{this.id}}">View Albums</a>
            </button>
        </div>
        {{/each}}
    </div>
</section>