<div id = "navigation">
        <a href = "/">Home</a>
    </div>
<div id="artists">
    {{#each arrOfArtists}}
    <section>
        <h3>{{name}}</h3>
        {{#if images.0.url}}
        <img src={{images.0.url}} />
        {{else}}
        <img src="/images/avatar.png" />
        {{/if}}
        <a href="/albums/{{id}}">View albums</a>
    </section>
    {{/each}}
</div>