<body class="search" >
    
<!--<img src="images/spotify-background.jpeg" width="1328" height="650">-->

<div >
<form class="form1"  action="/artist-search" method="get">


<input type="text" name="search">
<button type="submit">Search for an Artist</button>

</form>
</div>
</body>