    
<div>
    <div class ="artists row">
        {{#each artists}}

            <div =class ="col-lg">

            <img src='{{this.images.[0].url}}'>
            <h3>{{this.name}}</h3>

            <a href="/artists/{{this.id}}">View Albums</a>

            </div>


        {{/each}}

    </div>

</div>