<h1>PRUEBA SI FUNCIONA</h1>

<div class="card">
  <img src="" alt="artist-photo" style="width:100%">
  <div class="container">
    <h4><b>{{ name }}</b></h4> 
    <button>View Albums</button>
  </div>
</div>