<div>
  <div class="artist-wrapper">
    <div class="show-artist-info">
      {{#each artists as |artist|}}
        <div class="artist-card">
          <h4 class="artist-title">{{artist.name}}</h4>
          <img
            src="{{artist.images.0.url}}"
            class="artist-image"
            alt="artist-image"
          />
          <a href="/albums/{{artist.id}}" class="album-link">View Albums</a>
        </div>
      {{/each}}
    </div>
  </div>
</div>