<div class="search">
    {{#each data}}
    <img src="{{this.images.0.url}}" alt="artist_name">
    <h3>{{this.name}}</h3>
    <button><a href="/albums/{{this.id}}">View Albums</a></button>
    {{/each}}
</div>