<header>
  <div class="row justify-content-between page-header">
    <div class="col-4 header-tracks">
        Artists Matching Your Query
    </div>
  </div>
</header>
<div class="row">
{{#each dataArtists}}
<div class="col-md-4 artist mx-auto d-block">
      <img
        class="card-img-top mx-auto d-block"
        src='{{ this.images.[0].url }}'
        alt="Card image cap"
        onerror="if (this.src != 'https://cdn.sstatic.net/Sites/stackoverflow/img/404.svg') this.src = 'https://cdn.sstatic.net/Sites/stackoverflow/img/404.svg';"
      />
      <div class="card-body">
        <h4 class="card-title"><b>{{ this.name }}</b></h4>
  <a href="/albums/{{this.id}}" class='btn btn-primary'>View Albums</a>
      </div>
    </div>
{{/each}}
  </div>
