i am artist-search hbs<br>
getting {"artistArr" : data.body.artists.items}
from form@home.hbs
<br><br><br><br>


{{#each artistArr}}
<div class="searchResults">
    <img src="{{this.images.0.url}}" alt="image of{{this.name}}"/>
    <br>
    {{this.name}}
    <br>
    <button> 
        <a href="/albums/{{this.id}}">View Albums</a>
    </button>
</div>
{{/each}}