{{!-- <button  class="btn btn-primary" href="/albums/someArtistIdGoesHere">View Albums</button> --}}
{{!-- <a id="albums-button" class="btn btn-primary"  href="/albums/someArtistIdGoesHere">View Albums</a> --}}

<h1>Search results:</h1>

<ul>
    {{#each artists}}
        <h3 style="font-weight: 700;">{{this.name}}</h3>
        <img height="400px" src="{{this.images.[0].url}}"/>
        <br>
        <br>
        <a class="btn btn-primary" href="/albums/{{this.id}}">View Albums</a>
        <br>
        <br>
        <br>
        <br>
    {{/each}}
</ul>