<div class="container">
    <div class="row">
        {{#each artist}}
        <div class="col-lg-4 album-card">
            <img src="{{this.images.0.url}}" alt="Group/Artist" width="100%">
            <div class="card-container">
                <p>{{this.name}}</p>
                <a href="/albums/{{this.id}}">View Albums</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>