{{#each data}}
<div>
   <div>
        <h2>{{name}}</h2>
       
    </div>
   
    <div>
        <img src="{{images.[1].url}}" alt="image artist">
    </div>
    <a href="/albums/{{id}}">Show albums</a>
</div>
{{/each}} 