<main class='container'>
  <div class='row'>
    {{#each artists}}

      <div class='card' style='width: 18rem;'>
        {{#if images.0.url}}
          <img src='{{images.0.url}}' class='card-img-top' alt='artist' />
        {{else}}
          <img
            src='./images/not_found.jpeg'
            class='card-img-top'
            alt='artist'
          />

        {{/if}}
        <div class='card-body'>
          <h5 class='card-title'>{{name}}</h5>
          <a href='/album/{{id}}' class='btn btn-primary'>Albums</a>
        </div>
      </div>

    {{/each}}

  </div>
</main>