
        <img src="{{imageResult.0.url}}" alt="artist photo">
        
        {{#each artistsResult}}
            {{name}}
        {{/each}}

        <a href="/albums/someArtistIdGoesHere">View Album</a>

