<div class="artist">
    {{#each artists}}
    <div class="artist-single">
        <img src="{{this.images.[0].url}}" alt="{{this.name}}" class="artist-picture">
        <div class="infos">
            <p class="artist-name">{{this.name}}</p>
            <a href="/albums/{{this.id}}">VIEW ALBUMS</a>
        </div>
    </div>
    {{/each}}
</div>