<h1>Artists</h1>
{{#each artists}}
<img src="{{images.0.url}}" />
<h4>{{name}}</h4>

<a href="/albums/{{id}}">View albums</a>
<br>
{{!-- <button type="submit">Search for an Artist</button> --}}
{{/each}}



