


{{!--this each contains the images--}}
        {{#each artistInfo}}
            <img src={{images.[0].url}} alt="">

            <h2>{{name}}</h2>

        <a href="/albums/{{id}}">View Albums</a>

        {{/each}}


