<section>

  <h1> ARTISTS RESULTS</h1>

  {{#each artistsResults}}

    <div id="results-section">

      <img src="{{images.1.url}}" alt="" />

      <div class="artist-card-items">
        <p class="artist-name"> {{name}}</p>

        {{! aqui nos referimos al campo del objeto que nos interesa obtener. Su valor es lo que recoje el req.params.ArtistId }}

        <a href="/albums/{{id}}">View Albums</a>

      </div>

    </div>

  {{/each}}

</section>

{{!-- Si quisiera sacar las 3 imagenes
 
 {{#each images}}
    <img src="{{url}}" alt="" />

  {{/each}} --}}