 <div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 app-content">
            <div class="search-page">
                <section class="cards">
                    {{#each this}}
                        {{> cardgroup this}}
                    {{/each}}
                </section>
            </div>
        </div>
    </div>
</div>