<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Search</title>
</head>
<body>
    <div class="main">
        <div class="search-div">
            <!-- Simple form which will send a GET request -->
            <form action="artist-search" method="GET">
                <input id="artist-input" class="artist-input"  type="text" name="artist" value="The Beetles"/>
                <div class="search-btn-div">
                    <button class="search" type="submit">Search for an Artist</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>