    <div>
    {{#each artists}}
        <div>
                <img src=" {{images.[0].url}}" alt="{{name}}">
        </div>
        <div>
            {{name}}
        </div>
        <div>
            <h2><a href="/albums/{{id}}">View Albums</a></h2>
        </div>
    {{/each}}
