<section class="artist-search">

  {{#each items}}
    <div class="artist-search__card">
      <img src="{{this.images.0.url}}" alt="{{this.name}}" class="artist-search__card--image" />

      <div class="card__info">
        <h1 class="card__info--title">
          {{this.name}}
        </h1>
        <a href="/albums/{{this.id}}" class="card__info--link">View Albums</a>
      </div>
    </div>
  {{/each}}

</section>

{{!-- <section class="container__artist-search">
  {{#each items}}
    {{> artistSearchPartial}}
  {{/each}}
</section> --}}