<h1 class="">Artist Search</h1>

<form action="/artist-search" method="post">
    <label for="Artist Search"></label>
    <input type="text" name="artist" placeholder="The Beatles..." value="beatles">
    <input type="submit" value="Search For An Artist">
</form>

