<div class="row">
    {{#each data.body.artists.items}}
        <div class="col-md-3">
            {{this.name}}
            {{#if this.images.[0].url}}
            <img src="{{this.images.[1].url}}" alt="Artist image">
            {{/if}}
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
    {{/each}}
</div>
