
<div class="list" >
    {{#each result}}
    <div class='info-box'>
        <img src={{this.images.0.url}} alt="artist-picture">    
        <h2>{{this.name}}</p>
        <a href="/albums/{{this.id}}">View Albuns</a>
    </div>
    {{/each}}
</div>
