<div class="container">
  {{#each artists as |artist|}}
    <div class="artist-card">
      {{!-- <img src="{{artist.images[0].url}}" alt=""> --}}
      <h2>{{this.name}}</h2>
      <button></button>
    </div>
  {{/each}}
</div>