<nav>
    <a href="/albums/someArtistIdGoesHere">View Albums</a>
</nav>

<div>
{{#each artists}}
<!--'artistInfo' is used in app.js as a result from calling the SpotifyApi -->
    {{> artistpartial this}}
{{/each}}
</div>
