<div class="d-flex justify-content-center align-items-center">
    <button onclick="history.go(-1)" class="display-2 grey-c"
        style="background-color: transparent!important;color: white!important;border:0; font-size: 3rem!important; font-weight:lighter">
        < </button>
            <h1 style="display:inline-block" class="text-center artist-name display-4">{{data.0.artists.0.name}}</h1>

</div>