<div class="card-containers mt-90 d-flex justify-content-center">
    <div class="row">

    <div class="d-flex justify-content-around flex-wrap">
        {{#each search}}
        {{> partialArtist this}}
        {{/each}}
    </div>
    </div>

</div>