{{#each artists}}
    <h1>{{name}}</h1>
    {{#if images.0.url}}
    <p><img src="{{images.0.url}}" /></p>
    {{/if}}
    <p><a class="button" href="/albums/{{id}}" name="artist" method="get">View Albums</a></p>

{{/each}}