<!--  Artist results. -->
{{#each info}}
    <div class="card border-success mb-3" style="width: 18rem;">
        <img class="card-img-top" src="{{this.images.1.url}}">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <a href="/albums/{{this.id}}" class="btn btn-outline-success">Albums</a>
        </div>
    </div>
{{/each}}