<body>
    <div>
        {{#each searchedArtist }}
            <h3>Artist {{ artistName }}</h3>
            <img src=" {{ imgURL }} " alt="" >
            <a href="/artist-search-results/:albums" >View albums</a>
        {{/each}}
    </div>
</body>