<div class="albums-container">
{{#each dataArtists}}
    <div class="album-container">
        <img class="cover-img" src="{{images.[0].url}}" alt="">
        <div class="title-container">
            <h1>{{name}}</h1>
            <a href="/albums/{{id}}">View Albums</a>
        </div>
    </div>
{{/each}}
</div>