<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

  <img class="card-img-top d-block mx-auto" src="{{images.[0].url}}" alt="{{name}}">

  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <a href="albums/{{id}}">
      <button type="submit" class="btn btn-danger d-block mx-auto">View Albums</button>
      </a>
  </div>
</div>
