<div class='artist-container'>
    {{#each artists}}
    <div class='artists' data-aos='zoom-in'>
        <div class='info'>
        <img src="{{this.images.0.url}}" alt="">
        <h3>{{this.name}}</h3>
        <button><a href="/albums/{{this.id}}">Albums</a></button>
        <button><a href="/top-tracks/{{this.id}}">Top Tracks</a></button>
        </div>
    </div>
    {{/each}}
</div>
