<section>
  <h1>Artist:</h1>
  <ul class="cards">
    {{#each artist}}
      <article>
        <li class="card">
          <p class="text-truncate">{{this.name}}</p>
          {{!-- 'images.1' acces array images, index 1 --}}
          <img src="{{this.images.1.url}}" alt="{{this.name}}" />
          <a href="/albums/{{this.id}}">View Albums</a>
        </li>
      </article>
    {{/each}}
  </ul>
</section>