<div class="artists-container">
  {{#each items}}
    <div class="card">
      <img src="{{this.images.1.url}}">
      <h4>{{this.name}}</h4>
      <a href="/albums/{{this.id}}">View Albums</a>
    </div>
  {{/each}}
</div>
