<section class="artists">
    {{#each artists}}
    <article class="artist">
        <h2>{{this.name}}</h2>
        <a href="/albums/{{this.id}}">View Albums</a>
        <img src="{{this.images.[0].url}}" alt="">
    </article>
    {{/each}}
</section>