<div>
    {{#each result}}
    <div>
        <h3>{{this.name}}</h3>
    </div>
    <div>
       <img src="{{this.images.[0].url}}" alt="Result image">
        <a href="/albums/{{this.id}}">View Albums</a>
    </div>
    {{/each}}
</div> 