<div>
    {{#each albums}}
    <div>
        <h3>{{name}}</h3>
        <p>{{popularity}}</p>
        <p>{{uri}}</p>
        <a href="`/albums/${id}`">
        view albums
        </a>
    </div>
    {{/each}}
</div>