
  
<section class="artist-search">
    {{#each artistsNames}}
    <div class="artist-results">
        <img src="{{this.images.0.url}}" alt="image">
        <h1>{{this.name}}</h1>
        <a href="/albums/{{id}}">View Albums</a>
    </div>
    {{/each}}
</section>
