<div class="artist-search-results">
    {{#each artistResults}}
    <div>
    <img src="{{images}}">
    <p><a href="{{href}}">{{name}}</a></p>
    <button>Albums</button>
    </div>
    {{/each}}
</div>