<h2 class="titleh2">Artists</h2>
<ul>
    <div class="artistdiv">
    {{#each artists}} 
    
        <div class="artistname">
        <img src="{{this.images.0.url}}" alt="image" class="artistimg">
        
        <h2>{{this.name}}</h2>
        <button class="btnartist"> <a href="/albums/{{this.id}}">View Albums</a> </button>
        </div>
        {{/each}}
</div>

   
</ul>