<main
  class='container text-center d-flex flex-column alto justify-content-center  mt-2'
>
  <div class='row'>
    
    {{#each artists}}
        {{> artistpartial}}
    {{/each}}


  </div>
</main>