{{#each searchResults}}
  <section class="result-container">
    <div class="result-box">
      <img src="{{images.1.url}}" />
      <h3>{{this.name}}</h3>
      <a href="/albums/{{this.id}}">View all Albums</a>
    </div>
  </section>
{{/each}}