<body class="pageColor">
   <div class="artistsTab">
     {{#each artists}}
    <div class="albumBar">
        <img class="artistimg" src="{{this.images.0.url}}" alt="albumImg" />
        <div class="artistname" >{{this.name}}</div>
        <a  class="viewAlbumLink" href="/albums/{{this.id}}">View Album</a>
    </div>
     {{/each}}
    </div>
</body>
  