<div class="form-wrapper"></div>
<form action="/artist-search" method="GET">
  <label>
    <input type="text" name="artist" autocomplete="off">
  </label>
  <button type="submit">Search Artist</button>
</form>
</div>

<div class="result-wrapper">
{{#each data.body.artists.items}}
<div class="artist">
{{#each this.images}} {{#if @first}}<img src="{{this.url}}"{{/if}}{{/each}}
 alt="{{this.name}}">
    <h1>{{this.name}}</h1>
<a href="/albums/{{this.id}}">View albums</a>
</div>
{{/each}}
</div>