<h3>Artists Search Result</h3>

<div class="artist-search-results">
    <div class="row">
        {{#each artists}}
            {{!-- {{this.images}} --}}
            {{this.name}}
        {{/each}}
    </div>
</div>