{{#each artists}}
    <img class="card-img-top resized-img" src="{{this.images.0.url}}" alt="{{this.name}}" />
    <h4 class="card-title">{{this.name}}</h4>
{{/each}}

<input type="button" value="View Albums" />