<div id="albums-search-div">
    {{#each results}}
        <div class="card text-center" style="width: 18rem;">
            {{#with images.[0]}}
                <img class="card-img-top" src="{{this.url}}" alt="Card image cap">
            {{/with}}
            <div class="card-body">
            <p class="card-title">{{this.name}}</p>
            <a href="/albums/{{this.id}}" class="btn btn-primary">View Albums</a>
            </div>
        </div>
    {{/each}}
</div>

