<div class="container text-center">
    <h1>Artists</h1>
    <div class="row">
        {{#each artist}}
            {{#if images.[0].url}}
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-thumbnail" src="{{images.[0].url}}" alt="Cover image for {{name}}">
                <h3>{{name}}</h3>
                <a href="/albums/{{id}}">View Albums</a>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>