<div class="wrapper-artist-search">
    <div class="artist-search">
        <form action="/artist-search">
            <input class="search-box form-element" id="search-artist" type="text" name="searchArtist" placeholder="Search for an Artist!">
            <input class="search-button form-element button-color" type="submit" value="Search for an Artist">
        </form>
    </div>
</div>