<div class="search-results-container">
    <h1>Results for "{{searchString}}"</h1>

    {{#each searchResults}}
    <div class="search-result">
        <img class="album-img" src="{{images.0.url}}" alt="artist img">
        <div class="name-container">
            <h2>{{name}}</h2>
            <a href="/albums/{{id}}">View Albums</a>
        </div>
    </div>
    {{/each}}
</div>