


  <div class="result">
        Artist results:
  <ul>
    {{#each items}}
    <li>{{this.name}}
      <img src="{{this.images.2.url}}" alt="" srcset="">
      <a href="/albums/{{this.id}}">View Artist Details</a>
    </li>
    {{/each}}
  </ul>
  </div>

