<a href='/' class='anchor'>Go Back</a>
<div id='artistWrapperDiv'>
	{{#each items}}
		<div class='artist-div'>
			<p>{{name}}</p>
			<img src='{{images.0.url}}' alt='{{name}}' />
			<a href='/albums/{{id}}'>View Albums</a>
		</div>
	{{/each}}

</div>
<a href='/' class='anchor' style='margin-bottom: 10vh;'>Go Back</a>
