<div class="title">
    <h1>Search results</h1>
</div>
<div class="card-container">
    {{#each artists }}
    <div class="card">
        <h3>{{name}}</h3>
        <img src="{{this.images.[0].url}}" alt="{{name}}" height="150" />
        <a href="/albums/{{id}}"> <button class="btn btn-dark view-more-btn" > View Albums </button> </a> 
    </div>
    {{/each}}
</div>