<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
    <img class="card-img-top d-block mx-auto" src="{{images.[0].url}}" alt="{{name}}">
    <div class="card-body">
        <h5 class="card-title center">{{name}}</h5>
        <button class="btn btn-primary d-block mx-auto"><a href="albums/{{id}}">View Albums</a></button>
    </div>
    </div>
</div>
