<div>
    <ul>
        {{#each artists}}
        <li>
            <div>
                <h1>{{this.name}}</h1>
                <img src={{this.images.2.url}} alt="artist">
                <a href="/albums/{{this.id}}">View Albums</a>
            </div>
        </li>
        {{/each}}
    </ul>
</div>