<div>

    <form action="/results" method="GET">
        <label>
            <input type="text" name="artist" placeholder="Busca una canción">
            <button type='submit'>Search for an artist</button>
        </label>
    </form>
</div>