
<div class="artists-container">
    {{#each artistArray}}
        <p>{{name}}</p>       
        <img src="{{image.url}}" alt="">
        <a href="/albums/{{id}}">View Albums</a>
    {{/each}}     
</div>

