{{#each artists}}
    <div>
        <div>
            <img src="{{this.img.url}}" alt="{{this.name}}">
        </div>
        <div>
            <h3>{{this.name}}</h3>
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
    </div>
{{/each}}