<ul>
    {{#each artists.items}}
        <li><img src="{{images.[1].url}}" alt="img of {{name}}">  </li> 
        <li>{{name}}</li> 
         <li><a href="/albums/{{id}}">View </a></li>
    {{/each}}
       
</ul>
