<p>artist search results:</p>

{{#each dataFromApi}}
{{!-- display name, image, and button (or link) to show the albums for a particular artist on a new view (for now just create the button/link and we will take care of the rest in the next step) --}}
<h2>{{this.name}}</h2>
<img src={{this.images.0.url}} alt="artist-picture">
<button><a href="#"></a>View Albums</button>

{{/each}}