<div class="container my-5">
    <div class="row">
        {{#each playlists}}
            <div class="col-6 col-sm-4 col-lg-2">
                <a href="/playlist/{{id}}" class="card mb-3">
                    <div class="card-body">
                        <img src="{{images.[0].url}}"class="img-fluid rounded mb-3" alt="">
                        <h6 class="mb-0">{{name}}</h6>
                        <small>{{dotdotdot description}}</small>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>