<div class="formcont">
    <div class="formcontinner">
        <div>
            <p class="nothingfound">No result found</p>
            <a class="buttonbig" href="/">
                Go Back Home</a>
        </div>

    </div>
</div>