<body>
    {{>nav}}
    <section class="container" id="error-page">
        <div class="row">
            <div class="col">
                <img src="/images/error.svg" alt="error">
                <h1>ERROR {{statusCode}}</h1>
                <p>{{message}}</p>
                <a href="/">Search again</a>
            </div>
        </div>
    </section>
</body>