<div class="container mt-5">
    <div class="row justify-content-md-center align-items-center">

      <img src="./images/off.png" class="col-2 img-fluid" alt="SpotifySearch">

      <div class="col-6">
        <h1><i class="searching">{{search}}</i> is not on Spotify</h1>
        <h6>Unfortunately, your favorite artist is not on Spotify</h6>
        <a class="text-muted no-deco" href="/"><img src="./images/ss.png" width="40">Search again</a>
      </div>

    </div>
</div>