<div style="margin: 20px ;">
    <form action="/artist-search" method="GET">
        <input type="text" name="artist" id="artist"/>
        <button id="search-button" class="btn btn-success" type="submit">SEARCH</button>
    </form>
</div>