<div id='homepageDiv'>
	<div id='formDiv'>
		<form action='/artists' method='GET'>

			<input type='text' name='search' required />
			<button>Search Artists</button>
		</form>
	</div>
</div>
