<h1>Spotify API Lab</h1>

<section class="form-container">
    <form action="/artist-search" method="GET">
        <input type="text" name="artist" placeholder="Search artist">
        <button type="submit">Search for an Artist</button>
    </form>
</section>