{{!< layout }}

<div class="container">
    <form action="/artist-search" method="GET" class="search-form">
        <label for="artist">Enter artist name</label>
        <input type="text" id="artist" name="artist">
        <button type="submit">Search</button>
    </form>
</div>
