<div class="backgroundImage">
    <div class="search">
        <div class="input">
            <form action="/artist-search-results" , method="GET">
                <label for="artist"></label>
                <input type="text" name="artist" id="artist" placeholder="Type the artist's name">
                <br>
                <button type="submit">Search for an Artist</button>
            </form>
        </div>
    </div>
</div>