<div class="homepage">
  <div class="overlay"></div>
  <div class="container">
    <form action="/artist-search" method="GET" class="search-form">
      <input type="text" name="search" placeholder="Enter artists name" />
      <button>Search for an Artist</button>
    </form>
  </div>
</div>