
<div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle img_back" >
            <div class="uk-overlay uk-overlay-default uk-position-center">
        <form class="uk-flex uk-flex-column uk-flex-center" method="GET" action="/artist-search">
            <input class="uk-input" type="text" id="search" name="search" placeholder="Artist">
             <button class="uk-button uk-button-danger" type="submit" >Search for an Artist</button>
        </form>
    </div>
        </div>