<form action="/artist-search-results" method="GET">

  <label for="artist_name">Name:</label>
  <input type="text" name="artist_name" id="artist_name" />

  <button type="submit">Search for an artist</button>

</form>