<div class="homepage">
    <div class="myForm">
        <form action="/artist-search" method="GET">
            <input type="search" id="" name="artist" />
            <button class="btn btn-success"> Search </button>

        </form>
    </div>


</div>