<div id='searchformwrapper'>
<div class="searchform">
    <form action='/artist-search' method="GET">
  <label for='artist-input'>Artist</label>
  <input id='artist-input' type='text' name='artist' />

  <button type='submit'>Show me!</button>
</form>
</div>

</div>