<div class = "container spotify-form">

<form action="/artist-search" method="GET">

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="artistName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>