<h1>Buscador de canciones</h1>
<hr>

<form action="/artist-search" method="get">


    <input type="text" name="artist" placeholder="type artist"> <br><br>



    <input type="submit" value="Search for an artist">

</form>