<form id="form" action="/artist-search" method="GET" >
    <div class="mb-3">
        <label for="name" class="form-label">Email address</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>