<div class='home'>
  <div class='bg-transparent'>
    <form action='/artist-search' method='GET'>
      <input type='text' name='artist' placeholder='your favorite artist' />
      <button class='btn-home'>Search for an Artist</button>
    </form>
  </div>
</div>