<div class="search-container">

    <section class="search-box">
        <h1>Discover Spotify</h1>
        <form class="search-form" action="/artist-search" method="GET">
            <input class="search-bar" type="text" placeholder="Search" name="search"><br>
            <button class="search-button" type="submit"> Search for an Artist</button>
        </form>
    </section>
</div>