<div class="home">
    <form action="/artist-search" method="GET" autocomplete="off">
        <input class="form-control" id="search-input" type="text" placeholder="Search" name="search">
        <button type="submit" class="search-btn">Search for an Artist</button>
    </form>
</div>