<main class="d-flex flex-column justify-content-center text-center">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form action="/artist-search" class="pt-5">
                        <div class="form-group">
                            <input type="text" class="form-control-lg" name="artist" id="artistInput"
                                aria-describedby="helpId" placeholder="Search for an artist name" style="width: 100%;">
                        </div>
                        <button type="submit" class="btn btn-danger btn-lg">Search for an artist</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>