<section class="home-view container">
    </form>
    <form class="d-flex" method="GET" action="/artist-search">
    <input name= "artistSearch" type="text" id="searched-artist" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button id="search-button" type="submit" class="btn btn-outline-dark" type="submit">Search for an Artist!</button>
    </form>
</section>


