<div class="container">
<section class="search-field"></section> 
<form class="search-form" action="/artist-search" , method="GET">
    <input class="search-bar" type="text" class="form-control" name="name" />
    <button class="search-artist-button" type="submit">Search for an artist</button>
</form>
</div>