<div class='background'>
    <h1>Aarón</h1>

    <div class='box'>
        <form action="/artist-search", method="GET">
            <input type="text" name="artist" id="artist" />
            <button type="submit" id="search-artist-button" >Search for an Artist</button>
        </form>
    </div>
</div>