<div id="landing-page">
    <form action="/artist-search" method="GET">
        <label for="artist-search-field"></label>
        <input type="text" name="artist-search-field" placeholder="The Beatles">
        <button type="submit">Search for an Artist</button>
    </form>
</div>