
<div id="background">
<form action="/artist-search" method="GET">
  <label for="search"></label>
  <input type="text" id="search" name="query" placeholder="The Beatles">
  <button type="submit">Search for an Artist</button>
</form>
</div>