

<section>

<h1>Spotify App</h1>
    <form method="GET" action="/artist-search-results">
        <label>
   
            <input type="text" name="artist" />
        </label>
        <button type="submit">Search for an Artist</button>
    </form>

</section>

