<section id="home">
        <div id="search-container">
        
            <form method="get" action="/artist-search">

                <input type="text" placeholder="Search" name="search" id="search">

                <button  id="search-btn" type="submit">Search</button>
            

            </form>
        </div>
    </section>