<div class='home-container'>
  <div class='home-search-container'>
    <form action='/artist-search'>
      <input
        class='home-search-input'
        name='artist'
        type='text'
        placeholder='The Beatles'
      />
      <button class='home-submit-btn' type='submit'>Search for an Artist</button>
    </form>
  </div>
</div>