<section id="search-artist">
  <form action="/artist-search-results" method="GET">
    <label>
      <input type="text" name="text" placeholder="The Beatles" />
    </label>
    <br />
    <button type="submit">Search for an Artist</button>
  </form>
</section>