
<div class="d-flex flex-column justify-content-center text-center align-items-center py-4 mx-auto home-form w-50">
<form action="/artist-search" method="GET">
  <div class="form-group">
    <input type="text" class="form-control" name="artistName" id="artist-name" placeholder="The Beatles">
  </div>
  <button type="submit" class="btn btn-danger">Search for an Artist</button>
</form>
</div>
