<div id="homepage">
    <div id="form">
        <form action="/artist-search" method="GET">
            <input id="artist-input" type="text" name="artist" placeholder="Artist Name"/>
            <br>
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>