<div class="index">
    <form action="/artist-search" method="GET" class="form-search">
        <input type="text" name="artist" size="40" placeholder="Search for an artist!">
        <button type="submit">Search for an Artist</button>
    </form>
</div>