<section class="home">
    <div class="search-form-container">
        <form method="GET" action="/artist-search">
            <input type="text" name="name">
            <button type="submit">Search for Artist</button>
        </form>
    </div>
</section>