<div class="container" id="home-container">

    <form id="form" action="/search" method="GET" class="mx-auto text-center">
        <div class="mb-3">
            <input type=""text" class="form-control" name="name" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>