<div class="homepage">

  <div id="search">
   
    <form action="/artist-search/{{artist}}">
    <h5>Search for artist</h5>
      <label for="artist">
        <input type="text" name="artist" />
      </label>
      <br />
      <br />
      <button type="sumbit">Search for an artist</button>
    </form>
  </div>

</div>