<div class="container d-flex justify-content-center vh-100">
    
    <div id="home" class="d-flex justify-content-center align-self-center">

        <form action="/artist-search" method="get">
            <input type="text" name="artist" placeholder="Search for an artist!">
            <input class="btn btn-danger" type="submit" value="Search for an artist">
        </form>

    </div>

</div>