

<form action="/artist-search" method="GET">
    <img src="./images/spotify-background.jpeg" width=600>
    </br>
    <input name="artist" placeholder="Search any artist" type="text">
    <button type="submit">Search for an Artist</button>
</form>
