
<div id="container">
    <div>
        <form action="/artist-search" method="get">
        <input type="text" name="search" text="Artist or group">
        <button type="submit">Search for an Artist!</button></form>
    </div>
</div>