<div> 
    <h1>spotify search</h1>

    <form method="get" action="/artist-search"> 
        <input type="text" name="artist" placeholder="artist">
        <button type="submit"> search</button>
    </form>
</div>