
<section id="home">

    <form id="search" action="/artist-search-results", method="GET">
        <input type="text" placeholder="The Beatles" name="artist">
        <br>
        <button type="submit">Search for an Artist</button>
    </form>

</section>