<div class="home flex-center">
  <form action="/artist-search" method="get" class="flex-center flex-column home-form">
    <input type="text" name="artist" class="home-input">
    <button type="submit" class="btn">Search for an Artist</button>
  </form>
</div>