<div class="home">
    <form action="/artist-search" method="GET">
        <label for="query"></label>
        <input autofocus type="text" id="query" name="q" placeholder="Search artist...">
        <button class="btn" type="submit">Search</button>
    </form>
</div>