<h1>Search the artist</h1>
{{!-- /artist-search (action="/artist-search", method="GET") --}}
    <form action="/artist-search" method="get">
      <input
        id="name"
        name="name"
        type="text"
        value=""
        placeholder="Type the name of the artist"
      />
      <button type="submit">Search for the artist!</button>
    </form>