<div class="search-bar">
    <form action="/artist-search", method="GET">
        <label for="artist"></label>
        <input type="text" name="q" id="artist">
        <button type="submit">Search by an Artist</button>
    </form>
</div>
