
    
    
<div id="search-artist">
   
    <form action="/artist-search" method="GET">
<label>
    
        <input type="text"  placeholder="Michael Jackson"  name="artist">
</label>        
        <button type="submit">Search for an Artist!</button>
    </form>
    </div>
    
</body>
