
    <div class="searchArtist">
            <form action="/artist-search" method="POST">
                <input id="searchInput"  type="text" name="artist">
                <button id="searchButton" type="submit">Search for an Artist</button>
            </form>
    </div>