<div class="container mt-5 d-flex flex-column">
  <form action="http://localhost:3000/artist-search" method="GET">
    <div class="input-group mb-4">
      <input class="form-control form-control-lg" name="searchTerm" />
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
</div>
