
<div class="d-flex justify-content-center mt-5 homepage">

<form action="/artist-search" method="get">

    
    <input type="text" name="artist"> 

    <input type="submit" value="search for an artist">

</form>
</div>
</div>