<div id="totalDiv">
<h1 id="saskia"> Saskia's </h1>
<div id="logoContainer">
<img src="/images/spotify-logo.svg" id="spotifyLogo">
 <form action="/artist-search" method="GET">
<label> 
    <input type="text" name="artist" placeholder="Enter Artist Name" class="searchField"/>
</label>
<div></div>
    <button type="submit" class="searchButton" >Search</button>
    </div>
</form>
</div>