<form action="/artist-search-results" method="GET">

  <label>
    Artist
    <input type="text" name="artist" placeholder="artist" />
  </label>

  <button type="submit">Search for an artist</button>

</form>