<div id="home-page-container">
  <div id="form-div">
    <form action="/artist-search" method="GET">
      <div id="search-bar">
        <input type="text" class="form-control" name="artist">
      </div>
      <div id="search-button">
        <button class="btn btn-danger">Search for an artist</button>
      </div>
    </form>
  </div>
</div>