<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>    
<div class="container h-100 text-center">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <form class="form-example" action="/artist-search-results" >
                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Enter the name of the Artist" name="artist">
                </div>
                <button type="submit" class="btn btn-primary btn-customized">Search for Artist</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>












