
<div class="px-4 py-5 text-center" id="home-page">
    <div class="col-lg-6 mx-auto d-flex">
     <form action="/artist-search" method="GET">
      {{!-- <label for="artist's name" class="form-label" placeholder="Beatles"></label> --}}
     <input type="text" name="artistName" placeholder="Beatles"/>
  {{!--    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div> --}}
    <button type="submit" class="btn btn-danger ms-3">Search for an artist</button>
  {{!--   </div> --}}
  </form>   
    </div>
  </div>



