<img src="/images/spotify-background.jpeg" alt="spotify-background" class="home-image">

<form action="/artist-search" , method="GET" class="artist-form">

  <label for="artistName"></label>
  <input type="text" name="artist" placeholder="Enter the artist's name">
  <button type="submit">search for an artist</button>

</form>