<div class='home-bg'>
	<div class='search-container'>
		{{! <label for='artistName'>Artist Name:</label> }}
		<form action='/artists' method='get'>
			<input type='text' name='artistInfo' id='artist-info' required />
			<div>
				<button class='button' type='submit'>Search for an artist</button>
			</div>
		</form>
	</div>
</div>