<img src="./images/spotify-background.jpeg" alt="" >
<form action="/artist-search" method="GET" class="container column">
    <input type="text"  name="artist" placeholder="The Beatles" value="The Beatles">
    <button>Search for an Artist</button>
</form>