<div class="hero-image">

  <form action="/artist-search" , method="GET">
    <div id="box">

      <div class="searchbar">
        <input type="text" name="artistName" />

      </div>
      <div class="submit-btn">
        <button id = "home-btn" type="submit">Search for an Artist</button>
      </div>
    </div>

  </form>

</div>