<section id="home">
        <div id=" search-container">
        
            <form method="get" action="/artist-search">

                <input type="text" placeholder="Search" name="search" id="search">

                <button type="submit">search</button>

            

            </form>
        </div>
    </section>