<div class="container">
     <div id="bg-img">
         <img src="/images/spotify-background.jpeg" alt="background spotify">
     </div>

      <div class="searcher">
         <form action="/artist-search" method="GET">
             <label for=""></label>
             <input type="text" name="artist" id="">
             <button type="submit", class="submit-btn">Search for an artist</button>
         </form>
     </div>
 </div> 