<div id="home-page">
    <h1>Ironhack Spotify</h1>
    <form id="search-form" action="/artist-search" method="GET">
        <label>
            <input type="text" name="artist" id="search-input">
        </label>
        <button type="submit">Search for an Artist</button>
    </form>
    <div>