<div>
    <form action="/artist-search" method="GET">
        <input type="text" name="q" placeholder="Search for an artist"><br>
        <button type="submit">Search for an artist</button>
    </form>
</div>
