<h1>Hellify music app</h1>

<h2> You can find all your favorite artist here!</h2>


<section>
  <form method="GET" action="/artist-search-results">
    <input type="text" name="artist" required>
    <button type="submit">Search</button>
  </form>
</section>
