<main class="home-page">
        <form class="form" method="get" action="/artist-search">
        <input type="text" placeholder="The Beatles" name="artist">
        <button class="search-btn" type="submit">Search for an artist</button>
        </form>
</main>