<div id="home_background">
	<div id="search_wrapper">
		<form action="/artist-search">
			<input type="text" class="form-control" name="artist" placeholder="The Beatles">
			<button type="submit">Search for an Artist</button>
		</form>
	</div>
</div>