
<div id ="home" class="d-flex justify-content-center align-items-center">

<form action="/artist-search" method="get">

    
    <input type="text" name="artist"> 
    <input type="submit" value="search for an artist">

</form>
</div>
</div>