<section>
  <h3>Search Artists:</h3>

  <form action="/artist-search", method="GET">

    <label>
      Artist Name:
      <input type="text" name="artistName" />
    </label>

    <button type="submit">Search for an Artist</button>

  </form>

</section>