<div class="form-container">
      <form action="/artist-search" method="get">

        <div class="artist-search-bar-container">
          <input type="text" name="search" id="artist-search-bar" />
        </div>

        <div class="artist-search-button-container">
          <button type="submit" class="artist-search-button">Search for an Artist</button>
        </div>

      </form>
    </div>