<div>
    <div>
        <form action="/artist-search", method="GET">
            <input type="text" name="search" placeholder="search for artist">
            <button type="submit">Search</button>
        </form>
    </div>
</div>