<div class="home">
    <div class="search-container">
        <form class="form" action="/artist-search" method="GET">
            <input id="artist" type="text" name="artist">
            <button id="search-btn" type="submit">Search for an artist</button>
        </form>
    </div>
</div>
    