<div class="home-bg">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-6">
        <div class="card p-5 text-center">
          <form action="/artist-search" , method="GET">
            <div class="mb-1">
              <input
                id="name"
                type="text"
                name="search"
                placeholder="The beatles"
                class="w-75 mt-1 mb-3"
              />
            </div>
            <button class="btn btn-danger" type="submit">Search for an Artist</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>