<form method="get" action="/artistResults">
    <label for="search">This is the Spotify home view</label>
    <input type="text" name="search" id="search" placeholder="ex. The Killers"/>
    <button id="request-button" type="submit" >Search for an Artist</button>
</form>