<form action="/artist-search-results" method="get">
<div>
    <input name="artistName" type="text" placeholder="Type your artist name here">
    <button type="submit">Search for an Artist</button>
</div>
</form>