<section id="background-img">

  <div class="center-container">
     <form method="GET" action="/artist-search" class="center-content">
          <input type="text" id="artist" name="artist">
          <button type="submit">Search for an Artist</button>
    </form>
  </div>
</section>

