<form class="" action="/artists" method="GET">
    <img id="background-img" src="/images/landing.jpg" alt="Concert-pic">
    <div id="input-div">
        <input id="artistInput" type="text" name="artistName" value="" placeholder="The Beatles">
        <button id="input-button">Search for an Artist</button>
    </div>
</form>