<form action="/artist-search" method="GET">
    <fieldset name="Search your favourite music!">
        <label>
            <input type="text" name="artistSearch" />
        </label>
        <button type="submit">search for the artist</button>
    </fieldset>
</form>