<main class="home">
  <form action="/artist-search-results" method="GET" class="home__searchForm">
    <input class="home__searchForm__input" type="text" />
    <button>Search for an Artist</button>
  </form>
</main>