<div class="bg">
    <div class="container d-flex flex-column">
  
    <form action="/artist-search" method="GET" class="d-flex flex-column">
        <input type="SEARCH" name="artist">
        <button>Search for an Artist</button>
       
    </form>
</div>

</div>




