



<form action="/artist-search" method="GET">
{{!-- la info aquí se envía a artist-search --}}

  <label for="artist"></label>
  <input class="searchBar" name="artist" type="text" value="The beatles" />



  <button class="btn btn-danger" type="submit">Search for an Artist</button>



</form>
