<form action="/artist-search" method="GET"
    style=" background-position: center; background-size: cover; background-image: url('./images/spotify-background.jpeg');height:720px;">
    <div
        style="display:flex;flex-direction:column;opacity:0.5;background-color:white;padding:30px 150px;width:250px;align-items:center;">
        <div>
            <input type="text" name="artist" id="artist" placeholder="Type your artist">
            <button type="submit" style="background-color:red;color:white">Search for an artist</button>
        </div>
    </div>
</form>