<div class="home-container">
    <form action="/artist-search" method="GET">
        <div class="mb-3">
            <input type="text" name="artist" id="textInput" class="form-control" placeholder="The Beatles">  
        </div>
        <button type="submit" class="btn btn-primary">Search for an Artist</button>
    </form>
</div>
