<div id="homePage">
  <form action="/:artist-search" method="GET">
    <label>
      <input type="text" name="artists" />
    </label>
    <button class="btn btn-success" type="submit">Search for an Artist</button>
  </form>
</div>