<div class="img-back">

<div class="search_container">
    <form action="/artist-search", method="GET">
        <input type="text" name="search" placeholder="Search for an artist">
        <button class="btn btn-danger" type="submit">search</button>
    </form>
</div>


</div>