<div class="search-box">
    <form id="search-form" action="/artist-search", method="GET">
        <input id="search-input" type="text" name="searchArtist">
        <button id="search-btn">Search for an Artist</button>
    </form>
</div>