<h1>bo's spotify</h1>
<div class="home">
<form action="/artist-search", method="GET">
    <label for="query"></label>
    <input type="text" name="q" id="query">
    <button>search for an artist</button>
</form>
</div>







