<div class="col-12 mb-5">
    <div class="h-100 p-5 text-bg-dark text-center">
        <h1>Artist Search</h1>
    </div>
</div>

<div class="container">
      <div class="row justify-content-md-center py-5">
        <div class="col-md-5 text-center">
          <span class="fw-bold"></span>
            <form action="/artist-search", method="GET" class="py-3">
              <div class="input-group input-group-lg mb-3">
                <input type="text" class="form-control" name="name">
                <button class="btn btn-dark" type="submit" id="button-addon2">Search</button>
              </div>
            </form> 
        </div>
    </div>
</div> 