<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mattie's Music</title>

  </head>
  <body>

    <section class="artist-search">

      <form method="GET" action="/artist-search">

        <label>
          Email:
          <input type="text" name="email" />
        </label>

        <button type="submit">Search for an Artist</button>
      </form>

    </section>

  </body>
</html>