<div class="container mt-5 d-flex flex-wrap justify-content-center">
    <form action="/artists" method="GET">

        <input type="text" name="artist">


        <input type="submit" value="Search for an Artist">

    </form>
</div>