<div id="search-form" class="form-container"> 

    <form action="/artist-search" method="GET">

    <label>
        <input type="text" name="artist">
    </label>

        <button type="submit" id="searchBtn">Search for an Artist</button>
    </form>
</div>