<div class="Home">
        <form  action="/artist-search" method="GET">
            <input id="artist" type="text" name="artist" />
            <div class="divButton">
                <button type="submit">Search for an Artist</button>
            </div>
        </form>
</div> 