<form action="/artist-search" method="GET">
  <label>
    Artist:
    <input
      type="text"
      name="artistName"
      id=""
      placeholder="Type an artist's name here ..."
    />
  </label>

  <button type="submit">Search for an Artist</button>
</form>