<section>
    <div id="homeBackground">
    <header>
        <h1>Bart's Spotify List of Awesome </h1>
    </header>
    
  
    

 <section id="artist-search">
    <form action="/artist-search" method="GET" >
        <label>
        <input type="string" name="artist" placeholder="Type here"/>
        </label>  
       <button type="submit"> Search for an Artist </button>

    </form>

    </div>
</section>

