<div class="main">

    <img src="#" alt="">
    <div class="caja-form">
        <form action="/artist-search" method="get">
            <input type="text" name="artist" placeholder="Search artist">
            <input type="submit" value="Search for an Artist">


        </form>
    </div>

</div>