<main class="container-fluid">
    <div class="search-div">
         <form action="/artist-search" method="GET">
            <div class=" mb-3">
                <input name="search" type="text" class="form-control" aria-describedby="button-addon2">
            </div>
            <button class="btn search-btn" type="submit" id="button-addon2">Search for an artist</button>
        </form>
    </div>
</main>

