<div class="form">
<form action="/artist-search" method="GET">
<label>
    <input type="text" name="artist" id="">
</label> <br>

<button type="submit">Search for an <b>Artist</b> </button>
</form>
</div>
