
<img  src="/images/spotify-background.jpeg">
<form method="get" action="/artist-search">    
    
    <input name="search" type="text"/>
    <button type="submit">Search for an artist</button>
</form>