<div class="container full-height">
    <div class="row justify-content-center h-100 align-items-center">
        <div class="">
             <h1 class="website-title">SpotiLight</h1>
            <form class="home-form" action="/artist-search">
                <input class="input-form" type="text" name="artist" placeholder="Search by Artist name">
                <input type="submit" class="btn btn-primary" value="Search">
            </form>
        </div>
    </div>
</div>