<h1>home page</h1>
<form action="/artist-search" , method="GET">
<input type="text" name="searchString" id="artist">
<button type="submit">Search for an Artist</button>
</form>
<script>
    function setFocusToTextBox() {
        document.getElementById("artist").focus();
    }
</script>