
<div class="home">
<h1>HOME</h1>

<form action="/artist-search" , method="GET">
    <label for="artist">Artist</label><br />
    <input type="text" id="artistLabel" name="artist" value="" /><br />

    <input type="submit" value="Search" />
  </form>

</div>
