<div class='index'>
    <form action='/artist-search' method='GET'>
        <input type='text' placeholder='write your artist name...' name='artistName' />
        <button type='submit' class='btn btn-primary'>Search for an Artist</button>
    </form>
</div>