<div class="home-container">
    <div class="container home-box">
        <div class="white-box">
            <article>
                <h2 class="home-h2">ARTIST FINDER</h2>
                <hr>
            </article>

            <form method="GET" action="/artist-search">

                <input type="text" name="artist" required>
                <br><br>

                <input type="submit" value="Search for an artist" class="home-button">
            </form>
        </div>
    </div>
</div>