<div>

<div class="row search-row">
        <div class="col-md-12 search-col box">

            <div class="inner-box">
                <form method="GET" action="/artist-search">
                    <div class="form-group">
                        <input type="text" class="search" placeholder="Artists Name" name="search" required>
                        <div style="width:100%; margin-top: 5%;" class="inner-centering">
                            <button type="submit" class="btn-home">Search for an Artist</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <img id="cover-img" src="/public/images/spotify-background.jpeg" class="img-fluid" alt="...">





</div>