<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline" action="/artist-search" method="GET">
                    <input class="form-control mr-sm-2" type="search" name="artista" placeholder="Search an artist"
                        aria-label="Search">
                    <div class="w-100"></div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
</div>