<div class="home-page">
  <form class="search-home" action="/artist-search", method="GET">
    <input name="search" placeholder="artist, song,...">
    <button type = "submit" class "btn btn-danger"> Search for an Artist </button>
  </form>
</div>