<div id="artist-search-container">
     <form method="GET" action="/artist-search">
        <label>
            <input type="text" name="artist" required>
        </label>
        <button type="submit">Search for an Artist</button>
    </form>
</div>