<div class="home-cover">
  <div class="search-screen">
    <form action="/artists">
      <input type="text" name="searchArtist" id="searchArtist" placeholder="Search Artist name...">
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>