<h1>Spotify</h1>

<section>
    <h3>Looking for something?:</h3>
    <form method="get" action="/artist-search">
        <label>
            Search:
            <input type="text" name="text" required />
        </label>
        <button type="submit">Submit</button>
    </form>
</section>