<div class="search">
<h1>Welcome to the Home Page</h1>

<form action="/artist-search" method="GET">
  <label for="artist-name">Search for an artist:</label>
  <input type="text" id="artist-name" name="artistName">
  <button type="submit">Search</button>
</form>
</div>