<h1>Buscador de temassosss!!</h1>
<hr>

<form action="/artist-results" method="GET">

    <input type="text" name="artist" placeholder="Tiki Tiki Miau Miau">

    <hr>

    <input type="submit" value="Mostrar resultados">

</form>