<form action='/artist-search' method='get' id='form'>
  <div class='mb-3'>
    <input type='text' name='artistName' class='form-control' id='exampleInput' aria-describedby='emailHelp' />
  </div>
  <button type='submit' class='btn btn-dark'>Search for an Artist</button>
</form>