<section>

  <h3>Search for artist:</h3>

  <form method="GET" action="/artist-search">

    <label>
      Search for artist:
      <input type="text" name="artist" />
    </label>

    <button type="submit">Search</button>
  </form>
</section>