<h1>HOME PAGE</h1>


<form action= "/artist-search", method="GET">
    <label for="title">Enter an Artist</label>
    <input type="text" name="q" id="title">
    <button type="submit">Search</button>
</form>
