<div class="container-fuid homeClass">
  <div class="row">
    <div class="col-12 align-self-end">
      <h1>Search your favorite artist!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 align-self-center">
      <form class="homeForm" action="/artist-search" method="GET">
        <label>
          <input
            class="radiusForm"
            type="text"
            name="artist"
            placeholder="Artist you want"
          />
        </label>
        <button class="redondaButton" type="submit"><img class="lupa" src="/images/lupa.png"</button>
      </form>
    </div>
  </div>
</div>