
<div class="container">
<img src="/images/spotify-background.jpeg" alt="" class="backgroundImage">
<div class="centered-button">
<form class="form" action="/artist-search" , method="GET"> 

{{!-- action enviar para página --}}

  
  <input class="input" type="text" name="artists" id="artists" />

  <button class="artists" type="submit">Search for an Artist</button>
</form>
</div>
</div>