<div class="home-container">
    <div class="form-container">
        <h1>Find music from your favourite artists</h1>
        <form action="/artist-search" method="GET">
            <div class="form-floating mb-3">
                <input name="artist" class="form-control" placeholder="Search an artist" id="floatingSearchBox"></input>
                <label for="floatingSearchBox">Search an artist</label>
            </div>
            <button class="btn btn-warning" type="submit">Search</button>
        </form>
    </div>
</div>