<section id="home">
  <form action="/artist-search" id="artistSearch" method="GET">
    <input id="artist" type="text" name="artist" />
    <button type="submit">Search for an Artist</button>
  </form>
</section>