<div>
    
    <div id="search-container">
        <form action="/artist-search", method="GET"> 
            <input type="text" name="artist" id="search-artist-input">
            <button>Search for an Artist</button>
            {{!-- <input type="submit" id="search-artist-submit" value="Search for an Artist"> --}}
        </form>

    </div>
    <div>
        <img src="/images/spotify-background.jpeg" alt="img-background" width="400px">
    </div>

</div>