<div class="search">

<h1>Search your artist here</h1>

<form action="/artist-search" method="get">

    <label>
        <input type="text" name="artistName" />
    </label>

    <button type="submit">Search for an artist</button>

</form>

</div>