{{!-- Creates form to accept Artist input --}}
<form method="GET" action="/artist-search">
    Artist: <input type="text" name="artist">
    <button type="submit">Search for an Artist</button>
</form>