<section class="home-page">

  <form method="GET" action="/artist-search">
    <div class="search-field">
      <label>

        <input type="text" name="artist" />
      </label>

      <button class="button" type="submit">Search for an artist</button>
    </div>
  </form>
</section>