<link rel="stylesheet" type="text/css" href="\styles\home.css">

<div>
    <section>
        <form method="get" action="/artist-search">
            <input placeholder="Looking for an Artist?" type="text" name="text" required />
            <button type="submit">Search for an Artist</button>
        </form>
    </section>
</div>