<h1>Look for your favorite artists!</h1>

<section id="search">
  <form action="/artist-search" method="GET">
    <label>
      Search:
      <input type="text" name="search" />
      <button type="submit">Go!</button>
    </label>
  </form>
</section>