<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body { background-color: #8ebf42; } form { width: 400px; margin: auto;
      margin-top: 250px; } input { padding: 4px 10px; border: 0; font-size:
      16px; } .search { width: 75%; } .submit { width: 70px; background-color:
      #1c87c9; color: #ffffff; }
    </style>
  </head>
  <body>

    {{{body}}}
    <div>
      <h2>Create search boxes</h2>
      <form action="/artist-search" method="GET">
        <input
          type="text"
          name="text"
          class="search"
          placeholder="Search here!"
        />
        <input type="submit" name="submit" class="submit" value="Search" />
      </form>
    </div>
  </body>
</html>