<div>
    <form action="/artist-search" method="get">
        <input name="artist" placeholder="Artist's name" />
        <input type="submit" value="Search for an Artist">
        {{!-- <button type="submit">Search for an Artist</button> --}}
    </form>
</div>