<img class="background-image" src="/images/spotify-background.jpeg" alt="backgroun image">
<section class ="form-container">
    <form action="/artist-search" method="GET">
        <input class="form-input" type="text" name="artist" id="artist" placeholder="artist">
        <button class="submit-button" type="submit">Search for an Artist</button>
    </form>
</section>
