<img class="background-img" src="/images/spotify-background.jpeg">

<div class="search-form">
    <form method="GET" action="/artist-search">
        <input name="artist" type="text" class="form-control" id="artist-input">
        <button type="submit" class="btn btn-dark">Search for an Artist</button>
    </form>
</div>