<main>
  <div class="blur">
    <form action="/artist-search" method="GET">
      <input type="text" placeholder="artist" id="title" name="q" />
      <button type="submit">Search for an Artist</button>
    </form>
  </div>

</main>