<form action="/artist-search" method="GET">
	{{!-- <label for="title">Enter a title</label>	 --}}
	<input type="text" name="artistName" id="artistName">
	<button type="submit">Search</button>
    <h3>Search for an Artist</h3>
    </form>