<div class="home-container">

  <form class="form" action="/artist-search" method="GET">

    <input type="text" name="artistName" class="inputBtn">

    <button type="submit" class="searchBtn">Search for an Artist</button>

  </form>

</div>