<div class="d-flex align-items-center justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <form action="/artist-search" , method="GET">
        <input type="text" name="search" placeholder="Type the artist's name here" />
        <button type="submit">Search for an Artist</button>
      </form>
    </div>
  </div>
</div>