<div id="home">
    <form action="/artist-search" method="post" id="search-artist">
        <input type="text" name="artist" placeholder="Artist name" />
        <button type="submit">Search your favourite artist</button>
    </form>
</div>