
<form action="/artist-search" method="GET" id="form">
    <label>Artist name</label>
    <input type="text" name="artist_name" id="">
    <br>
    <button type="search">Search for an Artist</button>
</form>