<div class='hTitles'>
    <h1 >Welcome to Alice's Musicfy</h1>
</div>
<div class='initialForm container pb-5 mb-5'>
<form action="/artist-search", method="GET" >
  <div class="form-group search-bar"  >
    <input type="text" name="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search an Artist">
  </div>
  <button type="submit" class="btn btn-danger mt-4 pt-4 pb-4 mySubmit">Submit</button>
</form>
</div>