
<h1>Welcome to the {{ title }}</h1>
  <form action="/artist-search" method="get">
    <label for="artistName">Artist Name:</label>
    <input type="text" id="artistName" name="artistName">
    <button type="submit">Search</button>
  </form>