
<div class="homeContainer">
   <div class ="cajita">
    <form action="/artist-search", method="GET">
        <input id= "search" name="artistSearch" placeholder="Search for an Artist!">
        <button class = "mainButton" type="submit">Search for an Artist</button>
    </form>
    </div>
</div>
