<div class="home-page">
  <form class="search-home" action="/artist-search", method="GET">
    <input name="search" style="width: 25vw">
    <button type = "submit" class="btn btn-danger mt-3"> Search for an Artist </button>
  </form>
</div>