<h1>Spotify</h1>

<form action="/artist-search" method="GET">

    <label for="name">Name: </label>
    <input type="text" name="artistSearch" id="artistSearch">
   
    <button type="submit">SEARCH FOR AN ARTIST</button>
</form>