
<div class="home-page">
    <h1>Welcome to MySpotifyApp</h1>
    <form class="search-form" action="/artist-search" method="GET">
        <input id="artistInput" class="form-control" type="text" name="artist" placeholder="Search for an artist"/>
        <button id="search-btn" class="btn btn-dark" type="submit">Let's go!</button>
    </form>
</div>