<link rel="stylesheet" href="/styles/home.css">

<section id="homepage">
    <form action="/artist-search" method="GET">
        <input type="text" name="artistSearch">
        <button>Search</button>
    </form>
</section>