
<div id="globalcontainer">
    <div id="background-image">
        <div id="form-container">
            <form action="/artist-search" method="GET">
                <input id="inputfield" type="text" name="searchInput" placeholder="Artist">
                <button type="submit">Search for an artist!</button>
            </form>
        </div>
    </div>
</div>