<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div id="opaqueDiv" class="col">
                <form action="/artist-search" method="GET">
                    <div class="row mt-5">
                        <div class="col d-flex justify-content-center">
                            <input id="searchField" type="text" name="artist">
                        </div>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col d-flex justify-content-center">
                            <button class="btn btn-danger" type="submit">Search for an Artist</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>