<h1>HOMEPAGE</h1>

<section>

    <h3>Search by artist</h3>

    <form method="GET" action="/artist-search">

        <label>
            
            <input type="string" name="artistName" />
        </label>

        <button type="submit">Search for an Artist</button>
    </form>
</section>