<div class="container mt-5">
    <form action="/artist-search" method="get">
        <div class="mb-3">
            <input type="text" name="artistname">
        </div>
        <button type="submit" class="btn btn-primary">Search for an Artist</button>
    </form>
</div>