<section id="search">
    <form action="/artist-search" method="GET">
        <label>
            <p>Search by Artist and you shall find...</p>
            <input type="text" name="artist">
        </label>
    </form>
</section>