<div id="home" class="d-flex justify-content-center align-items-center">
    {{!-- d-flex justify-content-center --}}
    <div id="box-form" class="d-flex justify-content-center align-items-center">
        <form action="/artist-search", method="GET" class="d-flex flex-column align-items-center">
            <input type="text" name="artist">
            <button type="submit" >Search for an Artist</button>
        </form>
    </div>
</div>