<div id="main-search-form">
    <form action="/artist-search" method="GET">
        <label for="search">Who would you like to listen to?</label>
        <input type="text" name="artist" id="artist" placeholder="The Beatles">
        <button type="submit">Search for an Artist</button>
    </form>
</div>