<form action="/artist-search-results" , method="GET">
    <label for="artist"></label>
    <input type="text" name="artist" id="artist" placeholder="Type the artist's name">
    <button type="submit">Search for an Artist</button>
</form>