<form action="/artist-search-results" method="GET">
    <label for=""><input type="text" name="artist" placeholder="Write the artist's name"></label>
    <br>
    <button id="search-button">Search for an Artist</button>
</form>