<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://127.0.0.1:3000/styles/style.css">
    <title>Homepage</title>
</head>
<body class="homepage">
    <div class="form-box">
        <form action="/artist-search" method="GET">
        <label >        
            <input type="text" name="artist" placeholder="Artist name">
        </label>
        <button type="submit" class="search-btn">
            Search for an Artist
        </button>
    </form>
    </div>
</body>
</html>