<!-- Search bar. -->
<form action="/artist-search" , method="GET">
    <div class="form-group">
        <input name="search" type="text" class="form-control" id="name" placeholder="Search for art">
    </div>
    <button type="submit" class="btn btn-outline-success">Search</button>
</form>