<div id="home">
    <div id="search-box">
        <form action="/artist-search" method="GET">
            <input type="search" name="q">
            <button type="submit"> Search for an Artist</button>
        </form>
    </div>
</div>