<div id="home-search-container">
    <form method="GET" action="/artist-search">
        <input type="text" name="artistName" placeholder="Enter an artist...">
        <br />
        <button type="submit">Search for an Artist</button>
    </form>
</div>