<form action="/artist-search" method="GET">
  <div class="mb-3">
    {{!-- <label for="artist" class="form-label">Artist</label> --}}
    <input type="text" class="form-control" id="artist" name="artistName">
  </div>
  <button class="btn btn-primary">Search for an Artist</button>
</form>