<div class="search-background">
    <div class="search-wrapper">
        <h3>Search for your favourite artists</h3>
        <form class="home-form" action="/artist-search" method="GET">
            <input type="text" name="artistname" id="artistname">
            <button type="submit"> Search for an Artist</button>
        </form>
    </div>
</div>