<div class="home-div">
    <form class="home-form"action="/artist-search" method="GET">
        <input type="text" name="nameOfArtist">
        <button class="btns search-button">Search for an Artist</button>
    </form>
</div>
 <script>
        document.getElementById("home-button").style.display = "none"
        document.body.style.backgroundImage = `url("/images/home-background.jpg")`
        document.body.style.backgroundSize = "cover"
</script>