<h1>Bartofy</h1>
<p>your place to find music...</p>

<form id="home" method="get", action="/artist-search">
    <label>
        <input id="search-field" type="text" name="artist">
    </label>
    <button id="search-button" type="submit">Search for an Artist</button>

</form>