<form method="POST" action="/contact" id="contact-form">
  <input name="name" placeholder="Your name" />
  <textarea
    name="description"
    placeholder="Search for the Artist"
  ></textarea>
  <button type="submit">Send message</button>
</form>