<div class="d-flex justify-content-center align-items-center flex-column">
    <h1>Spotify API</h1>
    <div>
        <form action="/artist-search" method="GET">
        <input name="search" type="text">
        <button type="submit">Search for an Artist</button>
        </form>
    </div>
   
</div>

