<div id="home">
    
    <form class="artist-search" action="/artist-search" method="GET">
    <label for="title">Enter a title</label>
    <input type="text" name="search" id="title">
    <button type="submit">Search for an Artist</button>
    
    
    </form>
</div>
