<div id="home">
<div id="white-box">
    <form action="/artist-search" method="GET">
        <input type="text" id="search" name="q">
        <button type="submit">Search for an Artist</button>
    </form>
</div>
</div>