<h1>the TechTrash Spotify Playlist</h1>
{{!-- <img id="background-image" src="/images/spotify-background.jpeg" alt=""> --}}

<section id="homepage">
    <form action="/artist-search" method="get">
        <input type="text" placeholder="Search for an artist!" name="name">

        <button type="submit">Search for an artist!</button>
    </form>
</section>