    <form action="/artist-search" method="GET">
        <label for="artist-name">Artist Name:</label>
        <input id="artist-name" type="text" name="artistName" />
        
        <button type="submit">Search for an Artist</button>
    </form>