<form action="/artist-search" method="GET">
    <label for="artistName">Nombre del Artista:</label>
    <input type="text" id="artistName" name="artistName">
    <button type="submit">Busqueda</button>
</form>
