
<section class="homepage"> 
	
	<div class= "form"> 

    <form  class= "form2" action="/artist-search" method="GET">
	    <label for="query"></label>
	    <input class="input" type="text" id="query" name="q" placeholder="Name ...">
		 <label for="g"></label>
	    <button class="submit" class="submit" type="submit">Search for an artist</button>
    </form> 

	</div>

</section>

</div>

