  <form action="/artist-search" method="GET" class="container form-background">
    <input type="text" class="form-control" name="search" id="" placeholder="Look for your favorite music..."/>
    <button type="submit" class="btn btn-primary">Search</button>
  </form> 

  <!--url/dondeDiceFormAction?loQueDiceInputName=loQueElUsuarioPonga-->

