
<h1> Welcome to Spotify </h1>

 <form action="/artist-search" method="GET">
<label> 
    <input type="text" name="artist" placeholder="Enter Artist Name" />
</label>
    <button type="submit">Search for an Artist</button>
</form>