<div id="search-area">
  <form id="search-form" action="/artist-search-results" method="GET">
    <h1>Find your favourite artist</h1>
    <input type="text" name="artist" placeholder="Write the artist's name" />
    <br />
    <button>Search for an Artist</button>
  </form>
</div>