<section class="search">
    <div class="form-outer">
        <form class="form-inner" action="/artist-search" method="GET">
                <input class="form-control form-control-lg" type="text" name="artist"/>
                <button class="btn btn-danger m-2" type="submit">Search for an Artist</button>
        </form>
    </div>
</section>
