<form action="/artist-search" method="GET">

  <div class="form-group row">
    <label for="inputText" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input
        name="artistName"
        type="text"
        class="form-control"
        id="inputText"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-secondary"> Search for an artist</button>
</form>