<div id="landing-page" class="center">
    <div class="form-container">
        <form action="/artist-search" method="GET" id="form-home" class="center">
            <input type="text" name="searchedArtist" placeholder="The Beatles" class="form-control" id="search-field-home">
            <button type="submit" class="btn btn-danger">Search for an Artist</button>
        </form>
    </div>
</div>