<form class="d-flex justify-content-center" method="GET" action="/artist-search">   
  <div class="input-group mb-3 w-50">
  <input type="text"  name="artist" class="form-control " placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search for an Artist</button>
  </div>
</form>
