
<section id="artist-search">
    <form action="/artist-search" method="GET">
        <label> 
            <input type="text" name="artistName">
        </label>

        <button type="search">Search for an Artist</button>
    </form>
</section>