<div class="container">
    <div class="row justify-content-center searchContainer">
        <div class="col-6">
            <div class="row justify-content-center searchbar">
                <div class="col-8 w-100">
                    <form action="/artist-search" method="GET">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <input class="form-control" type="text" name="artist">
                            </div>
                            <div class="col-6 pt-2">
                                <input class="form-control bg-danger text-white fw-bold" type="submit"
                                    value="Search for an Artist">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>