<div class='background'>
  <div class='box'>
    <div class='background-opacity'>
        <form action="/artist-search" method="GET" class='search-bar'>
            <input type="text" name="artist" />
            <button class="btn btn-primary" type="submit">Search for an Artist</button>
        </form>
     </div>
  </div>
</div>