
<main class="main-search-photo">
  <div class="search-form">
    <form action="/artist-search" method="GET">
      <label for="artistName"></label>
      <input type="text" name="artistName" id="artistName" placeholder="Type your artist here">
      <button type="submit">Go go go!</button>
    </form>
  </div>

</main>