<div class="home">

<form action="/artist-search" method="GET">
	<label for="query"></label>
	<input class="searchText" type="text" id="query" name="q">
	<button class="searchButton" type="submit">Search for an Artist</button>
</form>

</div>