
<body class="background">
<div class="search_menu">
     <form action="/artist-search" method="GET">
        <label for="name"></label>
         <input "type="text" name="name" id="name" placeholder="insert the name of an artist">
        <div><button class="button" type="submit">Search for an Artist</button></div>
    </form>
</div>
</body>

{{!-- <h1>search artist</h1>


<form method="GET" action="/artist-search">
<label>Artist name<input type="text" name="artistSearch"></label>
<button type="submit">SEARCH</button></form>  --}}