    <section>
            <h3>Looking for an artist?</h3>

        <form method="get" action="/artist-search-result">
            <label >
                Type here:
                <input type="text" name="artistName">
            </label>
                <button type="submit">Search for an Artist</button>
        </form>
    </section>
