<div class="homepage">
  <div class="search-info">
    <form action="/artist-search" method="GET">
      <input type="text" placeholder="Search artist" name="search" />
      <button type="submit">Search for an artist</button>
    </form>
  </div>
</div>