<link rel="stylesheet" href="/styles/home.css">

<div>
    <form action="/artist-search">
        <input type="text" name="name" id="input">
    </form>
    <input type="submit" value="Search for an Artist" id="button">
</div>
