<form action="/artist-search" method="get" class="form_main">
<div id="main_page">
    <input type="text" name="theArtistName" id="main_input" placeholder="Insert artist name here...">
    <button type="submit" id="main_submit"> Search for an Artist </button>
</div>
</form>