<section class="home-page-container">
    <form method="GET" action="/artist-search">
        <input placeholder="Search for Artist Name" type="text" name="artistsSearchInput" id="artist-search-input">
        <button type="submit">Search</button>
    </form>
</section> 