<div class="nuisance">
<div class="container-fluid background"></div>
<div class="home-title">
  <h1>
    Spotify Web App<br />
    <span><h3>(IronHack API Test)</h3></span>
  </h1>
</div>
<div class="row h-100">
  <div class="col h-100 align-items-center">
    <div
      class="mx-auto p-3 artist-search"
    >
      <form id="search-form" action="/artists" method="get">
        <input
          type="text"
          id="query"
          name="artist"
          value=""
          class="form-control"
          placeholder="Type an Artist Name"
        />
        <input
          type="submit"
          id="search"
          class="btn btn-primary"
          value="Search for an Artist"
        />
      </form>
    </div>
  </div>
</div>
</div>