
<div class='background-home'>
    <div class='search-box'>
        <form class="column" action="/artist-search", method="GET">
            <input class="search-input" type="text" name="artist" id="artist" />
            <button class="search-button" type="submit" id="search-artist-button">Search for an Artist</button>
        </form>
    </div>
</div>

