{{!-- Creates form to accept Artist input --}}
<div class="home-container">
<form class="artist-input" method="GET" action="/artist-search">
    <div id="artist-name"><input type="text" name="artist" placeholder="Artist"></div>
    <div><button class="btn btn-danger" type="submit">Search for an Artist</button></div>
</form>
</div>