<h2>SEARCH ARTIST</h2>

<form action="/artists-search" method="GET">
  <label for="artist-input" class="fa-user"> Artist Name </label>
  <input type="text" name="artist" id="artist-input" value ="">
  <br>

  <button type="submit"> SEARCH </button>
</form>

<div>