<link rel="stylesheet" href="/styles/homepage.css" />

<section id="homePageSection">
  <form id="homePageForm" method="GET" action="/artist-search">
    <input id="homePageInput" type="text" name="artist" required />
    <button id="homePageButton" type="submit">Search for an Artist</button>
  </form>
</section>