<div id="home">
<div class="container">
<div class="form-wrapper">
<form action='/artist-search', method='GET' class="form-group home-form">
    <input type='text' name='search' id='search_bar'>
    <br>
    <button class="btn btn-primary home-search" type='submit'>Search for an Artist</button>
</form>
</div>
</div>
</div>