<div class="spotifySearch">
    <form action="/artist-search", method="GET" id="searchBackground">
        <input id="searchForm" type="text" name="artistId">
        <button id="searchButton">Search for an Artist</button>
    </form>
</div>