<div class="homeContainer">
    <form action="/artist-search", method="GET">
        <input name="artistSearch" placeholder="Search for an Artist!">
        <button type="submit">Search for an Artist</button>
    </form>
</div>