<main>
    <div class="inputContainer">
        <form action="/artist-search" method="GET">
        <input type="text" name="artist" id="">
        <button type="submit">Search for an Artist</button>
        </form>
    </div>
</main>