<section class='main'>
	<form action='/artist-search' method='GET'>
		<label for='query'></label>
		<input type='text' id='query' name='q' />
		<button type='submit'>Search for an Artist</button>
	</form>
</section>