<div id ="home-view">
  <form action="/artist-search" method="GET">
    {{! <label for="artist" class="form-label">Artist</label> }}
    <div class="search-items">
      <div class="search-bar">
        <input
          type="text"
          class="form-control"
          id="artist"
          name="artistName"
          autocomplete="off"
        />
        <button id="btn-search" class="btn btn-primary">Search for an Artist</button>
      </div>
    </div>
  </form>
</div>