
<section id="search">
    <form action="/artist-search" method="GET">
        <input type="text" placeholder="Search" name="list" />
        <button type="submit">Search for an Artist</button>
    </form>
</section> 