<form action="/artist-search" method="get" id="searchArtist">
    <input type="text" name="search" value="Interpol" id="bar">
    <input type="submit" value="Search for an Artist" id="search">
</form>