<p>TEST</p>

<form action="/artist-search" method="GET">
    <label for="name-input">Character Name:</label>
    <input
        id="name-input"
        name="artistName"
        value=""
        type="text"
        placeholder="Type the Character Name please"
    />

    <button type="submit">Search now!</button>
</form>
