  <div class="container">

    <div class="row justify-content-md-center align-items-center">

      <img src="./images/ss.png" class="col-3 img-fluid" alt="SpotifySearch">

      <div class="col-6">
        <h1>Spotify Search</h1>
        <h6>A simple platform for testing Spotify</h6>
      </div>

    </div>
    
    <div class="grey-box"> 
      <form action="/artist-search" method="GET" class="row justify-content-md-center align-items-center">
        <input type="text" class="p-2 border col-6 mt-4 break" name="search" placeholder="Look for your favorite artist..."/>
        <div class="w-100"></div>
        <button type="submit" class="btn btn-secondary p-1 border col-2 m-2 mb-3">Search</button>
      </form>
    </div>

  </div>

  <!--url/dondeDiceFormAction?loQueDiceInputName=loQueElUsuarioPonga-->

