<form action="/artist-search" method="GET">
<label>Cancion</label>
<input type="text" name="artist" placeholder="search artist"/>

<button type="submit">Search any artist</button>


</form>

<h1>YAAAA</h1>