<h1>This is our home page!</h1>

<form action="/artist-search" method="get">
    <input name="artistName" placeholder="Type the artist name here">
    <button type="submit">Search for an artist</button>
</form>