<form action="/artist-search" method="GET">
    <label for="Artist">Artist Name</label>
    <input type="text" name="Artist" id="Artist">
    <button type="submit">Search for an Artist</button>
</form>

