<section class="search-section">
    <form class="search-form" method="GET" action="/artist-search">
        <input placeholder="Artist" type="text" name="artistName" id="artistName" required>
        <button type="submit">Search</button>
    </form>
</section>