<link rel="stylesheet" href="/styles/home.css" />

<div class="overlay"></div>

<form action="/artist-search" method="GET">
	<input type="text" id="artist" name="artist" />
	<button type="submit" id="submit-btn">Search for an Artist!</button>
</form>