<div id="form">
  <form action="/artist-search" , method="GET">
    <button><label for="artist">Search for an Artist</label></button>
    <input type="text" id="artist" name="searchartists" />
  </form>
</div>