
<div id="input">
    <form action="/artist-search" method="get" type="text">
    <input type="text" name="artist" placeholder="Artist"><br>
    <button type="submit">Search for an Artist</button>
    </form> </div>

