<title>Express Spotify Lab</title>
<div class="homeBg">

<div class="center">
  <div>
<form action="/artist-search" method="GET">
    <input class="uk-input" type="text" name="artist" size="50">
		<button class=" uk-button uk-button-danger searchArtistBtn" type="submit">Search for an Artist</button>
</form>
</div>
</div>
</div>