

    <h3>welcome!</h3>
<section>

    <form method="GET" action="artists-search">
        <label>
            artist name:
            <input name="artistName" required />
        </label>
        <button type="submit">Search for an artist</button>

</form>
</section>