<div class="home">

  <form action="/artist-search" , method="GET">
    <input
      class="search-input"
      type="text"
      name="artistName"
      value=""
      placeholder="Search Artist"
    />

    <button class="btn" type="submit">Search for an Artist</button>
  </form>

</div>