<div id="homeimg">
    <div class="smalldiv">
<form class="home-form" action="/artist-search-results", method="get">
<input class="homeinput" type="text" name="artist" id="artist_input">
<button class="homebtn" type="submit">Search for an Artist</button>
</form>
</div>
</div>