<div id="homebackground">
<form action='/artists-search' method="GET">
    <input id="field" type="text" name="artist" placeholder="Artist name"/>
    <button  class= "button" type='submit'>Search for an Artist</button>
</form>
</div>
