<div id="home">
    <div id="form-container">
        <div>
            <form action="/artist-search", method="GET">
            <label for="query"></label>
            <input type="text" id="query" name="q">
        </div>
        <div>
            <button type="submit">Search for an Artist</button>
        </div>
        </form>
    </div>

</div>

