
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<div class="main-page">
<body>

</div>
  <div class="search-container">
<section class="search-button">
  <form method="GET" , action="/artist-search-results">
    <button type="submit">SEARCH ARTIST</button>

    <label>

      <input type="text" name="newArtist" required />

    </label>

  </form>
</section>
  </div>
</body>
</html>

  

