<img id="background-image" src="./images/spotify-background.jpeg" alt="background-home-img">
<form action="/artist-search" method="get">
    <input type="text" placeholder="search artist" name="Search" > <br>
    <button type="submit" >Search for an Artist</button>
</form>