<img id="home-bg" src="/images/spotify-background.jpeg" alt="Home Page Background Image"/>
<div id="container">
    <form action="/artist-search", method="GET">
        <input type="text" name="artist"><br><br>
        <button type="submit">Search for an Artist</button>
    </form>
</div>