
<div class="containers">


<div class="home-page"class = "search-box">
    <section>
    <form method="get" action="/artist-search">
        <input type="text" name="artist" />

    <div class = "btn">
        <button type="submit">
            Search for an Artist or Band
        </button>
        </div>
    </form>
</section>
</div>


</div>





</div>