<div class="artist-search-container">
	<form method="GET" action="/artist-search" class="search-container">
		<label>
			<input
				type="text"
				name="artist"
				placeholder="Name of an Artist or a Band"
				required
			/>
		</label>

		<button type="submit" class="button">Search for an Artist</button>
	</form>
</div>