<div>
    <form action="/artist-search" method="GET">
        <label>
            <input type="text" name="artistSearch">
        </label>

        <input type="submit" value="Search">


    </form>
</div>

<div class="home-img">
    <img src="/images/spotify-background.jpeg" alt="">
</div>