<div class="home">
  <div class="home-wrapper">
    <form class="row" action="/artist-search">
      <div class="col">
        <div class="input-group">
          <input type="text" class="form-control" name="artist" placeholder="Search Artist">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>