<div class="background-image">

    {{!-- <img src="/images/spotify-background.jpeg" class="image" alt="spotify-img"> --}}
    
    <div class="form">
     <form action="/artist-search" method="GET">
            <input type="text" name="artist">
            <br>
            <button type="submit" class="home-button">Search for an Artist</button>
        </form>
    </div>
</div>