<img src="/images/spotify-background.jpeg" height="700">
<form action="/artist-search", method="GET">
  <div class="mb-3">
    <label for="name" class="form-label"></label>
    <input required maxlength="250" type="text" class="form-control" id="name" name="artist">
  </div>
  <button type="submit" class="btn btn-primary">Search for an artist</button>
</form>