<h1>Welcome!!</h1>
<img
  class="homepage"
  src="/images/spotify-background.jpeg"
  alt="Welcome Image"
/>

<section class="search-button">
  <form method="GET" , action="/artist-search-results">
    <button type="submit">SEARCH ARTIST</button>

    <label>

      <input type="text" name="newArtist" required />

    </label>

  </form>
</section>