<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

    <form action="/artist-search" method="GET">

        <label>
            <input type="text" name="search">
        </label><br>



        <input type="submit" value="Search for an Artist">

    </form>

    <script src="/js/script.js"></script>
</body>

</html>