<div class="home">
    <div class="form-container">
        <form action="/artist-search" method="get">
            <input class="form-input" type="text" name="artist" id="artist" placeholder="Search for an Artist">
            <button class="btn-submit" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>