<link rel="stylesheet" href="/styles/style.css" />

<div id="homeBackground">
  <div id="artistSearchContainer">
    <div id="formDiv">
      <form action="/artist-search" method="GET">
        <input type="text" name="artist" />
        <br />
        <button type="submit">Search for an Artist</button>
      </form>
    </div>
  </div>
</div>