<div class="container">
  <form action="/artist-search" , method="GET">
    <input name="search" type="text" />
    <button class="btn btn-danger" type="submit"> Search for an Artitst</button>
  </form>
</div>