    <div id="main" class="container d-flex justify-content-center align-items-center">

<form class="form-inline" method="GET" action="/artist-search">
	<input
		type="text"
		class="form-control mb-2 mr-sm-2"
		id="inlineFormInputName2"
        placeholder="Jane Doe"
        name="search"
	/>
	<button type="submit" class="btn btn-primary mb-2">
		Search for an artist
	</button>
</form>

</div>
