
<div id="index-wraper">
	<div id="form-wraper">
		<form action="/artist-search", method="GET">
            <input name="artist" id="artistInput">
			<button type="submit">Search for an artist</button>
		</form>
	</div>

</div>
