
<div>
    <img src="https://futurism.com/wp-content/uploads/2017/08/main-1.jpg" alt="">
</div>

<div class="container d-flex justify-content-center buscador">
    <div class="row">
        <div class="col ">
            <form action="/artist-search" method="GET">
    <label>Nombre del artista:</label>
    <input type="text" name="artist">
    <button class="btn btn-warning" type="submit">Busca el artista</button>
</form>
        </div>
    </div>
</div>