<div class="container">
    <form action="/artist-search" method="GET" class="form">
        <input type="text" id="input-field" name="artistName">
        <button type="submit" id="btn">
            Search for an Artist
        </button>

    </form>
</div>