<form action="/artist-search" method="get">

	{{!-- <label for="search">Search</label> --}}
	<input type="text" name="artistSearch" placeholder="The Beatles" />
	<button type="submit">Search for an Artist</button>

</form>