<section class="search">
    <form method="GET" action="/artist-search">
        <label>
            <input type="text" name="searchArtist">
        </label>
        <button type="submit">Search for an Artist</button>
    </form>
</section>