{{!-- GET localhost:3000/search-artist?artist=Elvis --}}
<div class="homepage">
    <form action="/artist-search" method="GET">
     <label for="artistInput">
         <input id="artistInput" class="form-control" type="text" name="artist" placeholder="Search for an artist"/>
         <button id="search-btn" class="btn btn-dark" type="submit">Let's go!</button>
    </form>
</div>
