<h1>Search for an artist</h1>
<form action="/artist-search" method="GET">
    <label>Artists</label>
    <input type="text" name="artists">
    <button type="submit">Search for an artist</button>
</form>