<h1 class="title">Home Page</h1>

<form method="GET" action="/artist-search">
    {{!-- <label for="artist">Artist Name</label> --}}
    <input id="artist" name="artist" type="text">
    <button>Search for an Artist</button>
</form>