<div id="home">
    <div id="form">
        <form action="/artist-search" method="GET">
            <label>
                <input type="text" name="artist" placeholder="type here...">
            </label>
            <br>
            <button id="search-btn" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>