{{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
<div id="home-page">
    <form action="/artist-search" method="get">
      <input
        id="artist"
        name="artist"
        type="text"
        value=""
        placeholder="Type the name of the artist"
      />
      <button type="submit">Search for an artist!</button>
    </form>
</div>