    <section>
        <h1>Spotify App</h1>
        <form action="/artist-search" method="GET">
            <div>
                <input class="form-control" type="text" name="artist" placeholder="search" />
                <button type="submit">Search for an Artist</button>
            </div>
        </form> 
    </section>