<div class="search-container">
  <form action="/artist-search", method="GET">
    <div id="form-input" class="text-center"><input name="search" type="text"/></div>
    <div id="search-btn" class="text-center"><button class="btn btn-success" type="submit">Search for an artist</button></div>
  </form>
</div>