<div id="search" class="container-fluid">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="d-flex flex-column align-items-center bg-dark p-2 w-25">
            <input type="text" name="name" id="name" class="form-label w-100" placeholder="Artist name..." /></option>
            <button id="search-artist-button" class="btn btn-success w-50">Search artist</button>
        </div>
    </div>

</div>