<div class="mt-5">
    <form action="/artist-search" method="GET">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" placeholder="Search for an artist..." name="search" />
            </div>
            <div class="control">
                <button type="submit" class="button has-background-primary-dark">Search</button>
            </div>
        </div>
    </form>
</div>