
<form action="/artist-search" method="GET">

	<label for="title">Enter a title</label>

	<input type="text" name="title" id="title">

	<button type="submit">Search for a super Artist</button>

</form>