<div class="home-form-wrapper">
<form method="GET" action="/artist-search" class="home-form">
        <input type="text" name="name" id="artist-search">
        <button type="submit">Search for an artist</button>
</form>
</div>
