{{!-- <head>
    <link rel="stylesheet" href="style.css">
</head> --}}

<body class="home-body">
    <div class="home-form">

<form action="/artist-search" method="get">
    <input type="text" placeholder="Type an artist here to search" name="artistName">
        
    <button class="home-button" type="submit" class="home-button">Search for an artist</button>
</form>

    </div>
</body>