<div class="container home">
    <h1>Busca a tu artista fav</h1>
    <form action="/artist-search" method="GET">
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="artistName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>