<div class="homepage">
  <form class="formdiv" action="/artist-search" method="GET">
    <input name="artist" class="formname" type="search" />
    <input type="submit" class="formbutton" value="Search for an Artist" />
  </form>
</div>