

    <div class="background-image">
        
        {{!-- <img src="/images/spotify-background.jpeg" class="imagen" alt="spotify-image"> --}}
        
        <div class="forma">
            <form action="/artist-search" method="GET">   
                <input type="text" name="artist">
                <button type="submit" class="home-button">Search for an Artist</button>
            </form>
        </div>
    </div>
