<section id="search-section">
    <form action="/artist-search" method="GET">
        <div id="search-div">
            <label>
                <input type="text" name="search">
            </label>
            <button id="search-button" type="submit">Search for Artist</button>
        </div>  
    </form>
</section>
