

<section class="home-bg">

<form action="/artist-search" method="GET">
    <label for= "artistName"></label>
  <input type="text" placeholder="Artist Name" name="artist">
 
  <button type="submit"> Search for Artist</button>
</form>

</section>

