<div id="home-style">
    <h1 id="search-h1">Spotify Artists Search</h1>

    <form class="search-container" method="GET" action="/artist-search-results" >
        <input class="search-bar" type="text" name="artistName" placeholder="Enter artist name">
        <button class="button" id="search-button" type="submit">Search for an Artist</button>
    </form>
</div>
    