
<form method="get" action="/artist-search-results">
    <label for="search">This is the Spotify home view</label>
    <input type="text" name="search" id="search" placeholder="ex. The Doors"/>
    <button id="request-button" type="submit" class="btn btn-primary">Search for an Artist</button>
</form>


