<div class='hTitles'>
    <h1 >Welcome to Alice's Musicfy</h1>
</div>
<div class='initialForm'>
<form action="/artist-search", method="GET" >
  <div class="form-group" class='search-bar' >
    <input type="text" name="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>