
<div id="homeimg">
    <form class="homeForm" action="/artist-search", method="GET">
        <label for="artist">Artist</label>
        <input class="home-input" type="text" name="artist">

        <button class="home-button" type="submit">Search for an Artist</button>
    </form>
</div>