<div class="home">
    <img class= "home-image" src="/images/spotify-background.jpeg" alt="Home Page Image">
  <form action="/artist-search" , method="GET">
    <input name="search" type="text" />
    <button type="submit">Search for an Artist</button>
  </form>
</div>