<h1>Welcome to Spotify that gets you access to the best streaming music</h1>


{{!-- Form for the user to input a search --}}
<div id="search-form" class="form-container">

    <p>Search artists:</p>

    <form action="/artist-search", method="GET" >

        <label>
            Artist's name:
            <input type="text" name="artistName">
        </label>
        
        <button type="submit">Search for an artist</button>

    </form>
</div>