<div class="home">
    <h1>Spotify</h1>
    <form action="/artist-search" method="GET">
        <div class="input-group">
            <input type="text" name="artist" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby=" search-addon" />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    </form>
</div>