<body>
    <h1>Welcome</h1>

    <section>
        <form method="GET" action="/artist-search">

            <button type="submit">Search for an Artist</button>

        </form>

    </section>

</body>