<section id="homepage"> 
    <h1>Search for your favorite artist!</h1>
<form action="/artist-search" method="get">
<input type="text" name="searchArtist" id="searchArtist">
<button type="submit">Search for an Artist</button>
</form>
</section>