<div class="home-page">
    <form class="search" action="/artist-search" method="GET">
        <label for="artist">Search for an Artist</label>
        <div class="search-inpit">
            <input type="text" name="artist" id="artist" placeholder="Type the Artist here">
            <button type="submit">Search</button>
        </div>
    </form>
</div>