
<div id="home-form">
    <h2>Welcome Ironhacker!</h2>
<form action="/artist-search", method="GET">
    <input type="text" id="searchArtist" name="searchTerm">
    <input type="submit" value="Search for an Artist">
</form>
</div>

