

<form class="form" action="/artist-search" method="GET">

<div class="input-group mb-3 searcher">
  <input type="text" class="form-control" placeholder="Search for an Artist" name="artist" aria-label="artist" aria-describedby="button-addon2">
  <button class="btn btn-danger" type="submit" id="button-addon2">Search</button>
</div>

</form>

