<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a href="/artist-search" class="navbar-brand">Home</a>
    <h2>Artists Albums and Tracks</h2>
    <form action="/artist-search" class="d-flex" method="get">
      <input class="form-control me-2" type="text" id="search" name="q" placeholder="Search Artists" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
   
  </div>
</nav>

<nav class="navbar navbar-light bg-light">  
    <a class="navbar-brand" href="#">
      <img src="/images/spotify-background.jpeg" alt="..." width="3100px" height="850px">
    </a> 
</nav>
