<div class="background-home">
    <div class="box">
        <form action="/artist-search" method="GET" class="artist-search-btn">
            <div><input type="search" name="searchArtists" id="searchArtists" class="sinborde"></div>
            <div><button type="submit">Search for an Artist</button></div>
        </form>
    </div>
</div>

