<div 
    class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle img-background" >
     <div class="uk-overlay uk-overlay-default uk-position-center">
        <form class="uk-flex uk-flex-column uk-flex-center" method="GET" action="/artist-search">
            <input type="text" id="search" name="search" class="uk-input" placeholder="Artist">
            <button class="uk-button uk-button-danger" type="submit" > Search for an Artist</button>
        </form>
    </div>
</div>