<div id="home-container">
    <form class="research" method="GET" action="/artist-search">
        <input class="artist" name="artist" type="text">
        <button class="btn">Search for an Artist</button>
    </form>
</div>