<header>
    <div class="homepagebutton"> 
        
<form action="/artist-search" method="GET">
<input type="text" name="artist" placeholder="Nom de l'artiste"/>
<button type = "submit">Search for an artist</button>
</form>
    </div>                                                                       
</header>