<div class="bg-img">
    <form method="GET" action="/artist-search" class="container">
        <input type="text" placeholder="Type an artist name" name="artist">
        <button type="submit" class="btn-submit">See results</button>
        </form>
        </div>
 <div>
    <img src="/images/spotify-background.jpeg" alt="Spotify Background" style="width:100%;">
    </div>
