<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <main>
      <div class="artist-search-container">
        <form action="/artist-search" , method="GET">
          <div class="search-container">
            <input type="text" name="artistName" />

            <button>Search for an Artist</button>
          </div>

        </form>
      </div>
    </main>

  </body>
</html>