<section id="home-section">

  <div id="form-div">
    <form action="/artist-search-results" method="GET" id="form">

      <label>
        <input type="text" name="artist" placeholder="Enter artist name..." />
      </label>
      <br />
      <button type="submit" class="btn btn-primary">Search for an Artist</button>

    </form>
  </div>

</section>