<section class="artistSearch">
  <form action="/artist-search" , method="GET">
    <input type="text" id="artist" name="artist" value="The Beatles" /><br />
    <label for="artist"></label><br />
    <input type="submit" value="Search for an Artist" />
  </form>
</section>