<div>

  <form action="/artist-search" method="GET">
    <label for="">
      Artist name:
      <input type="text" name="artist" placeholder="Search for Artist" />
    </label>
    <button type="submit">Search</button>
  </form>

</div>