 <form action="/artist-search" method="GET">
    <label for="name">Artist Name</label>
    <input type="text" name="name" id="name">
    <button type="submit">Search for an Artist</button>
</form>


{{!-- <h1>search artist</h1>


<form method="GET" action="/artist-search">
<label>Artist name<input type="text" name="artistSearch"></label>
<button type="submit">SEARCH</button></form>  --}}