<body id="homepage">
<div id="div-form">
<form action="/artist-search" method="GET">
  <input id="input-form" type="text" name="artist" />

  <button type="submit" id="button-form">
    Search for an Artist
  </button>
</form>
</div>
</body>