<div>
    <form action="/artist-search" method="get">
        <input type="text" id="searchBar" placeholder="put something here ;)">
        <input type="button" id="searchBtn" value="Search for an Artist">
    </form>
</div>