
<form method="GET" action="/artist-search">

  <label for="name"></label>
  <input name= "artistSearch" type="text" id="searched-artist" />

  <button id="search-button" type="submit">Search for an Artist!!</button>
</form>
