<section class="first-section">

    <h1>Music for everyone.</h1>

    <div class="form-background">
    <form action="/artist-search" method="GET" class="form-a">
        <input type="text" name="artist" id="fname" placeholder="Bad Bunny" class="text-form"><br><br>
        <input type="submit" value="Search for an artist" class="btn-form">
    </form>
    </div>
</section>

<h1 class="title-whats-up">What’s on Spotify?</h1>
<hr class="line-spot">
<section class="second-section">

    <div class="div-spotify">
        <img src="./images/music-icon.png">
        <h3>Millions of Songs</h3>
        <p>There are millions of <br />
            songs on Spotify</p>
    </div>

    <div class="div-spotify">
        <img src="./images/high-quality-icon.png">
        <h3>Millions of Songs</h3>
        <p>Listen to music as if you <br />
            swere listening live</p>
    </div>

    <div class="div-spotify">
        <img src="./images/devices-icon.png">
        <h3>Stream Everywhere</h3>
        <p>Stream music on your <br />
            smartphone,tablet or computer
        </p>
    </div>
</section>

<section class="thrid-section">

    <img src="./images/spotify-icon-white.png" class="logo-white">

    <h1>It’s as yeezy as Kanye West.</h1>
    <hr>

    <h2>Seach</h2>
    <p>Know what you want to listen to? <br />
        Just search and hit play.</p>

    <h2>Browse</h2>
    <p>heck out the latest charts, <br />
        brand new releases and great <br />
        playlists for right now.</p>

    <h2>Discover</h2>
    <p>Enjoy new music every Monday <br />
        with your own personal playlist. <br />
        Or sit back and enjoy radio
    </p>

    <img src="./images/spotify-app.jpg" class="app">
</section>