<h1>Home</h1>

<form action="/artist-search" method="GET">
    {{!-- <label for="artist">Search for an artist</label> --}}
    <input type="text" name="artist" id="artist" placeholder="Search for an artist">
    <button type="submit">Submit</button>
</form>