<h1>Home</h1>

<form action="/artist-search", method="GET">
  <div class="form-group">
    <input type="text" name="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>