<div class="home-bg">
  <div class="container form-container text-center">
    <form action="/artist-search" method="get" autocomplete="off">
      <div class="p-3"><input
          class="form-control-lg form-home"
          type="text"
          name="artist"
        /></div>
      <div class="p-3">
        <button type="submit" class="btn btn-danger">Search for an Artist</button>
      </div>
    </form>
  </div>
</div>