<h1>home</h1>

<form action="/artist-search" method="GET">
  <label>
    <input type="text" name="artist" placeholder="Type your artist here..."/>
  </label>
  <button type="submit">Search for an Artist</button>
  </form>