<img id="background-image" src="/images/spotify-background.jpeg" alt="Concert background">
<div id="form">
<h1>Utku Spotify Search</h1>

<form action="/artist-search" method="get" >
	<label>
		<input type="text" name="artistName">
	</label>
	<button type="submit">Search My Artist</button>
</form>
</div>
</img>