<form action="/artist-search" method="GET">
    <div class="form-group">
        <input type="search" class="form-control" placeholder="Artist" name="artist">
    </div>
    <button type="submit" class="btn btn-danger">Search for an Artist</button>
</form>