<div class="home-page">

    <div><img class ="logo" src="/images/logo_glasstify.png" alt="GlasStify-Logo"></div>

    <h2>Welcome to the best digital music platform.<br>Just search for your favorite artist,<br>press play and enjoy.</h2>

        <form class="home-form" action="/artist-search", method="GET">
            <input name="search" type="text" placeholder="Write here your favorite Artist"/>
            <button type="submit">Search for an Artist</button>
        </form>
    
    <p>Copyright ©DavidDesign</p>

</div>