<form action="/artist-search" method="get">
    {{!-- <input type="text" name="artistName"><br><br>

    <input type="submit" value="Search for an Artist"> --}}


    <input type="text" name="artistName" class="form-control" placeholder="Tu artista"
        aria-label="Disabled input example" artist>
    <input type="submit" value="Search for an Artist" class="form-control" aria-label="Disabled input example" Submit>
</form>