<form action="/artist-search", method="GET">

    <label for="artist">Nombre: </label>
    <input type="text" name="artist" id="artist">
    <br>
    <button class="button" type="submit">Search for an artist</button>
</form>