<h1>Spotify App</h1>

<section id="searchForm">
  <form action="/artist-search/{{artist}}">
    <label for="artist">
      <input type="text" name="artist" />
    </label>
    <button type="sumbit">Search for an artist</button></form>
</section>