    <div class="div-home">
        <div class="div-form">
            <form action="/artist-search" method="GET">
                <input type="text" name="artist" id="" placeholder="Artist name"/>
                <br/>
                <button type="submit"><p>Search for an Artist</p></button>
            </form>
        </div>
    </div>