<img src="/images/spotify-background.jpeg" id="home">

<form action="/artist-search" method="GET" id="artist-form">

    <input type="text" name="artist" placeholder="Name of the artist here">

    <button type="submit">Search for an Artist</button>

</form>




