<img class="home-img" src="/images/spotify-background.jpeg">

<section class="home-section">

  <form method="GET" action="/artist-search">

      <input class="home-input" type="text" name="artist">

      <button class="home-btn" type="submit">Search for an artist</button>

  </form>
</section>


