
<div class="containers">


<div>
    <section class = "searchbox">
    <form method="get" action="/artist-search">
        <input type="text" name="artist" />

    <div>
        <button type="submit">
            Search for an Artist
        </button>
        </div>
    </form>
</section>
</div>


</div>





</div>