<img src="/images/spotify-background.jpeg" class="background-img" />

<form action="/artist-search" method="get">
  <label for="artist_name">Search for an Artist:</label>
  <input type="text" id="artist_name" name="artist_name" />
  <input type="submit" value="Submit" />

</form>