<div
  id="home-container"
  class="d-flex justify-content-center align-items-center"
>
  <form action="/artist-search" method="GET" class="text-center">
    <input type="text" class="form-control" name="artist" placeholder="Type an artist" />
    <button class="btn btn-success mt-3">Search for an artist</button>

  </form>
</div>