
<section class="main-container">
{{> navbar}}
  <div class="box search">
    <form class="is-flex" action="/artist-search" method="get">
      <input class="input is-primary" type="text" name="searchArtist">
      <button class="search button is-primary ">Search</button>
    </form>
  </div>
</section>

