<div id="background-home">
<form class="form-home" action="/artist-search", method="GET">
  <input type="text" class="input-home" placeholder="The Beatles" title="Search your favorite artist" name="artist">
 
  <button class="button-home" type="submit">Search for an Artist</button>
</form>
</div>