<img src="/images/spotify-background.jpeg" alt="spotify" />

<section>
    <form method="GET" action="/artist-search"></form>
     <input type="text">
    <button type="submit"> Search for an Artist</button>
</section>