<h1>home</h1>

 <link rel="stylesheet" href="/stylesheets/styles.css">

<img class="background" src="images/spotify-background.jpeg"/>

<form action="/artist-search" method="GET">

    <label>Artist</label>
    <input type="text" name="artists">


    <button type="submit">Search for an artist</button>
</form>