<link rel="stylesheet" href="/styles/style.css">
<div class="homepage">
    <form action="/artist-search" class="search" method="POST">
        <input type="text" name="name" placeholder="The Beatles" class="search-box">
        <input type="submit" value="Search for an Artist" class="search-btn">
    </form>
</div>




