<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../public/images/spotify-background.jpeg" class="img-fluid" alt="...">
<form>
  <div class="mb-3">
    <label for="Search" class="form-label">Search</label>
    <input type="text" class="form-control" id="search-bar" aria-describedby="search-bar">
  <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>

</body>
</html>