<div>
    <form action="/artist-search" method="get">
        <input type="text" id="searchBar" name= "artist" placeholder="put something here ;)">
        <input type="submit" id="searchBtn" value="Search for an Artist">
    </form>
</div>