<div class="maincontent">


    <div class="containerArtists">




        <div class="topart">


        </div>
        <div class="botart">
            <h2 class="nameart">
                {{songid.name}}
            </h2>

        </div>



    </div>


</div>