<body class="fullscreen">
<div class="container index-artist">
    <div class="row">
        <form action="/artist-search", method="GET">
        <div class="mb-3">            
            <input type="text" class="form-control input-artist" name="artist">
        </div>
        <button type="submit" class="btn btn-primary name-art">Search for artist</button>
        </form>
    </div>
</div>
</body>