<div class="flex justify-center">
<div>

    </div>
    <form action="/artist-search" method="GET">
        <input type="text" name="theArtistName" id="" placeholder="Insert artist name here"/    >
        <button type="submit" >SUBMIT</button>
    </form>
</div>