<div id="mainpage">
<form id="mainform" action="/artist-search", method="GET">
    <label for="query">Search for an artist</label>
    <input type="text" name="q" id="query">
    <button type="submit">Search</button>
</form>
</div>