<div class="bgIndex">
  <div class="infoIndex">
    <form action="/artist-search" method="get" class="formIndex">
      <input type="text" name="artist" id="artist" />

      <button type="submit" id="indexBtn"><b>Search for an Artist</b></button>

    </form>
  </div>

</div>