<div>
    <img src="/images/spotify-background.jpeg" alt="">
    <form action="/artist-search", method="GET">
    
    <input type="text" name="search">
    <a href="/artist-search">Search for an artist</a>
    
    </form>
</div>