<form action="/artist-search" method="GET">
    <label>
    Search for an artist
    <input type="text" name="artist">
    </label>
    <button type="submit">Search for an artist</button>
</form>
