<div class="divisor d-flex align-items-center justify-content-center align-items-center" style="height:auto; position:relative" >
<img src="/images/spotify-background.jpeg" alt="background" class="img-thumbnail" >
<form action="/artist-searches" method="GET" style="position:absolute ">
<div class="form-col align-items-center justify-content-center">
                <div class="mx-auto center w-75">
                    <input type="text" class="form-control form-control-lg" id="artist" name="artist"
                        placeholder="Foo Fighters" >
                                     </div>
                                  <div class="text-center">
                             <button type ="submit" class ="btn rounded-pill">Search for artists</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    
    
