<div id="search">
<form action="/search" method="GET">
  <label>
    <input type="text" name="artist" placeholder="The Beatles">
  </label>  
  <button type="submit">Search for an Artist</button>
</form>


</div>