<div class="d-flex justify-content-center">

    <form action="/artist-search" method="GET">

      <input type="text" name="search" id="search" />

      <input type="submit" value="Search for an Artist" />
      
    </form>

</div>