<section class="home">
  <form action="/artist-search-results">
    <input
      type="text"
      name="artistName"
      size="40"
      placeholder="Search your favorite artist …"
    />
    <div class="button-container">
      <button class="button form-button reset" type="reset">
        <span>×</span>

      </button>
      <button class="button form-button go" method="GET" type="submit">
        <span>»</span>
      </button>
    </div>
  </form>
</section>