<div class="indexDiv">
  <section class="indexSection" >

    <form action="/artist-search" method="get">

      <input type="text" name="search" />
     

<button class="indexButton" type="submit">Search for the Artist</button>
     

    </form>

  </section>

</div>