<div class="container">
<form action="/results" method="GET">
<div class="div form-group">
    <input type="text" name="artist" class="form-control" id="formGroupExampleInput" placeholder="The Beatles">
</div>
<div class="div">
    <button class="btn btn-danger" type="submit">Search for an Artist</button>
</div>
</form>
</div>
