<img style="width: 100%" ="Spotify background" src="/images/spotify-background.jpeg">

<div>
    <form action="/artist-search" method="GET">
        <label>
            <input type="text" name="search">
        </label><br><br>

        <input type="submit" value="Search for an Artist">

    </form>
</div>
