<!DOCTYPE HTML>
<html lang = "en">
<head> 
  <title>Spotify API </title>
  <meta charset = "UTF-8" />
    <link rel="stylesheet" href="styles/style.css">
</head>
<body> 

<div id="searchbox">
  
<form action="/artist-search" method="GET">
<input type="text" placeholder="Type an artist" name="artist">
</br>
<button id="search" type="submit">Search for an artist</button>
</form>

</div>

</body>
</html>

