<main class='home'>

  <form id='search-form' action='/artist-search' method='get'>

    <input type='text' name='artist' placeholder='search' />
    <input type='submit' value='Search for an artist' />
  </form>
</main>