
    <img src="/images/spotify-background.jpeg" alt="bckground">
    <form action="/artist-search" method="GET">
   <label>
    <input type="text" name="artist">
   </label>
   <button type="submit">Search</button>
   </form> 
