<div class="uk-background-cover img-back">
    <div class="uk-overlay uk-overlay-default uk-position-center uk-padding-large">
        <form class="uk-flex uk-flex-column uk-flex-middle" action="/artist-search">
            <input type="text" id="searchArtist" name="nameOfArtist" placeholder="Search an Artist">
            <button class="uk-margin-small uk-button-small uk-button-danger" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>