<div class="home-container">
    <h1>SPOTIFY HOME</h1>
    <form action="/artist-search" method="GET">
        <input type="text" name="artist">
        <button type="submit">Search for an Artist</button>

    </form>
</div>