<div class="artist-search-content">
    <section class="artist-search-form">
        <form action="/artist-search" method="get">
            <label for="searchTerm">Search Artist</label>
            <input name="searchTerm" type="text">
            <button class="btn" type="submit">Search!</button>
        </form>
    </section>
</div>

