<div class="searchForm">
  
  <form action="/artist-search" method="get">
    <h1>Search for an artist</h1>
    <label for="artistName"></label>
    <input type="text" placeholder="Enter the artist name" name="artistName">
    <button type="submit">search</button>
  </form>
</div>