<div id="cover">
    <div id="search">
        <h1 id="header">find your favorite music</h1>
        <form class="form" action="/artist-search" method="GET">
            <input id="search-input" type="text" name="queryArtist"  placeholder="artist name here">
            <input id="search-submit" type="submit" value="search">
        </form>
    </div>
</div>