<div class="containerform">
<div class="backgroundiv">
<form action="/artist-search" class="containeritem">
    <label for="name-input"></label>
    <input type="text" name="artist" id="name-input" />
    <button class="btn" type="submit">Search for an Artist</button>
</form>
</div></div>


  