<form action="/artist-search", method="GET">


<label>
    <p>Artist Search:</p>
    <input type="text" name="artist" placeholder="Artist"/>
</label>
  

  
  <button type="submit">Search</button>

</form>