<form method="GET" action="/artist-search">
    <div class="form-group">
        <input type="text" name= "nameArtist"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>