<div class="welcomepage">
    <div>
    <img class="welcomeimage" src="/images/spotify-background.jpeg">
    </div>
    <div class="searchwhite">
        <form action="/searchArtist" method="GET">
            <input type="search" name="artistName" placeholder="Search for an artist">
            <button type="submit">Search</button>
        </form>
    </div>
</div>