<div class="search-page-main-container">

    <form action="/artist-search" method="GET">

    <input type="text" name="query" placeholder="Artist, band...">
    <button type="submit" id="search-button">Search</button>
</form>

</div>