<section class='bodyHome'>
  <form action="/artist-search" , method="GET">
    <div class="whitebox">
      <input class="bar" type="text" placeholder="Artist" name="artist">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>
</section>