<form action="/artist-search", method="GET" id="artist-search">
<label for="search-input"></label>
<input type="text" id="search-input" name="artist">
<label for="button"></label>
<input type="submit" value="Search for an Artist!" id="button">
</form>