<main class="container img-bck">
    <div class="row form">

        
        <form action="/artist-search" method="GET">
            <div class="form-group">
                <input class="form-control" type="text" name="artist">
                <input type="submit" class="btn btn-primary btm-search" value="Search for Artist">

            </div>
        </form>
    </div>
</main>


