<div class="indexMainBox">
    <div class="searchBoxContainer">
        <form class="searchBox" action="/artist-search" method="GET">
            <input class="inputBar" type="text" name="artist" placeholder="Search for an Artist">
            <button class="btn" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>