<div class="homepage">
  <div class="form-container">
    <form action="/artist-search" class="search-form">
      <input type="text" method="GET" id="search" name="q" placeholder="Metallica">
      <button type="submit" class="search-btn">Search for an Artist</button>
    </form>
  </div>
</div>