<form action='/artist-search' , method="GET">
    <label>
        <input type="text" name="artist" placeholder="Write Artist Name">
    </label>
    <input type="submit" value="Search for an Artist">
</form>