<body>
  <h1>Home Page</h1>
  <p>Some text here</p>
  <form action="/artist-search" method="GET">
    <label>Search: </label>
    <input type="text" name="artistSearch" />
    <button type="submit">Search for an Artist</button>
  </form>
</body>