<form action="/artist-search" , method="GET">
  <div class="search">

    <label for="search"></label>

    <input type="text" id="search" name="search">

    <input type="submit" value="Search for an Artist">
  </div>

</form>