<div class="container-fluid text-center m-0">
    <img src="images/spotify-background.jpeg" alt="" class="mainPic">
    <form action="/artist-search" method="get" id="form">


        <input type="text" name="artist">

        <input type="submit" value="Search artist" >

        <h6>( try searching for "Pepe" for available tracks previews )</h6>

    </form>
</div>