<body class="bg-imagen">

    <div class="container d-flex align-items-center justify-content-center">

        <form class="col-md-6 text-center d-flex flex-column align-items-center justify-content-center" action="/artist-search" , method="GET">
            <input type="text" id="artist" name="artist"><br>

            <input class="btn btn-danger" type="submit" value="Search for an Artist">
        </form>


    </div>



</body>