    <div class="container-search">
<div class="search">
    <form action= "/artist-search" method="GET">
        <label for=""></label>
        <input type="text" id="artist-search" name="artist">
        <button type="submit">Search</button>
     </form>
     </div>
</div>