<div class="background-image">
<form class="white-box" action="/artist-search" method="GET">
  <input class="search-input" type="text" name="artistName" id=""/>
  <button class="search-button" type="submit">Search for an Artist</button>
</form>
</div>
