
<div>
   <!-- <img src="/images/spotify-background.jpeg" alt="" id="bg"> -->
    
    <form  action="/artist-search" method="GET">
        
        
        <label><input type="text" name="artist"></label>
        
        <button type="submit">Search for an Artist</button>

    </form>

</div>

