<div class="main">
  <div class="form">
    <form action="/artist-search" method="GET">
      <input type="text" name="artistName" />
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>