
<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-6">

            <div class="form">
                <form action="/artist-search" method="GET" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label>
                        <input type="text" class="form-control form-input" name="artist"
                            placeholder="Search for an artist...">
                    </label>
                    </div>
                    <button type="submit" class="btn btn-light mb-2">Artist Search</button>
                </form>
            </div>

        </div>

    </div>

</div>