<main class="main">
    <div>
        <form action="/artist-search" method="GET">
            <input name="artistName" type="text" size="50" />
            <input type="submit" class="btn btn-danger" />
        </form>
    </div>
</main>