<div class="container-main">

  <div class="elements">
    <form action="/artist-search" method="GET">

      <label>

        <input type="text" name="artistname" />
        <input type="submit" class="submit" />
      </label>
    </form>
  </div>
</div>