<form action="/artist-search" method="GET">
    <label for="artistName"></label>
    <input id="artistName" type="text" name="artistName" placeholder="Kylie Minogue...">

    <button type="submit">Search for an artist!</button>
</form>