<div class="home">
    
    <form action="/artist-search" method="get" class="searchOnSpotify">
        <div class="search">
            <input id="search-text" type="text" name="artist">
            <button>Search for an Artist</button>
        </div>
    </form>
</div>