<main class="hero_image">
    <div>
        <div class="form__wrapper">
            <form class="form" action="/artist-search" method="GET">
            <div class="mb-3 form__input">
                <input type="text" class="form-control" id="artist" aria-describedby="artist" name="artist" placeholder="3 Inches of Blood...">
            </div>
            <button type="submit" class="btn btn-primary">Search Artist</button>
            </form>
        </div>
    </div>
</main>
