<div id="container">
  <div id="form-container">
    <form action="/artist-search" method="GET">
      {{! el name del input es la query que yo tengo que referenciar cuando utilice req.query }}
      <input type="text" name="searchArtist" />
      <button type="submit"> Search for an Artist </button>
    </form>
  </div>
</div>