<style>
    body {
        height: 100vh;
        background-image: url("./images/spotify-background.jpeg");
        background-size: cover;
        display: grid;
        place-items: center;
    }
</style>
<form action="/artist-search" method="get">
    <input aria-label="Artist's name" type="text" name="artist" id="artistInput" placeholder="The Beatles">
    <button type="submit">Search for an Artist</button>
</form>