<form action="/artist-search" method="get">
    <label for="artist">Search Artist</label>
    <input id="artist" type="text" name="artist" />
  <button type="submit">Search for an Artist</button>
</form>