<div id="home">
    <h1>Spotifylter</h1>
    <p>Find all the albums and tracks of your favourite artist here.</p>

    <form action="/artist-search" method="GET">
        <label>
            <input id="search-bar" type="string" name="artistName" placeholder="Type here"/>
        </label>
        <button type="submit">Search for an artist</button>
    </form>       
</div>