<div class="search-box">

    <div class='opaque-box'>

        <form action="/artist-search" method='GET'>

            <div>

            <input class='input' id='artist-search' type="text" name='artist'>

            </div>

            <div>

            <button class='search-button' type='submit'>Search for an Artist</button>

            </div>
            
        </form>

    </div>

</div>

