<div class="home-heading">
<div class="search-div">
    <form action="/artists", method="GET" class="home-form">
        <p><input type="text" name="artist" class="form-text"></p>
        <p><button type="submit">Search for an Artist</button></p>
    </form>
</div>
</div>