<section id="form-section">
    <form action="/artist-search" id="artist-form" method="GET">
        <label for="artist">
            <input type="text" name="artist" id="artist" placeholder="Artist or Group Name">
        </label>
        <button class="button">Search for an Artist</button>
    </form>
</section>