<div>
  <div class="form-header mt-5">
    <img class="mb-4" src="/images/icon.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Spoti-<strong>Hack</strong></h1>
  </div>
  <form class="form-signin" action="/artist-search" method="get">
    <label for="Artist" class="sr-only">Artist</label>
    <input type="text" name="Artist" id="Artist" class="form-control" placeholder="Search Your Artist" required
      autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
  </form>
</div>