  <div>
    <img src='/images/spotify-background.jpeg' alt="spotify-background" width="100%">
    <form action="/artist-search" method="GET">
        <input type="text" name="artistName">
        <button type="submit">Search for an Artist</button>
    </form>
  </div>