<div class="home-container">
  <div class="form-wrapper">
<form class="form-group home-form" action="/artist-search">
  <input type="text" name='artist' placeholder="Search for an Artist" class="form-control"></label><br> 
  <input type="submit" value="Discover" class="btn btn-primary home-search"> 
</form>
</div>
</div>