<section class="home">
    <div class="d-flex flex-column align-items-center w-50 h-25" style="background-color: rgba(255, 255, 255, 0.6);">
        <form action="/artist-search" method="get" class="d-flex flex-column align-items-center w-75">
            <div class="input-group input-group-lg mt-5">
                <input type="search" class="form-control w-100" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="search" id="search" value="The Beatles">
            </div>
            <button type="submit" class="btn btn-danger m-3 font-weight-bold">Search for an Artist</button>
        </form>
    </div>
</section>