<div>
    <form action="/artist-search" method="GET">
        <label for="search"></label>
        <input type="text" id="search" name='title'>
        <button type="submit">Search for an Artist</button>
    </form>
</div>