<!-- index.hbs -->
<!--El metodo es Get by default-->
<form action="/artist-search" method="GET">
    <label for="">Artist Name</label>
    <input type="text" name="artist" id="" />
    <button type="submit">SEARCH</button>
</form>