<div class="background">
    <form action="/artist-search" method="GET">
        <input type="text" name="artist" placeholder="Search an artist..." class="form-control form-control-lg mb-4">
        <input type="submit" value="Search for an artist" class="btn btn-danger btn-lg btn-block">
    </form>
</div>