<body id="homepage">
    {{>nav}}
    <div class="container init-form">
        <form action="/artist-search" method="GET" class="form-group">
            <input type="text" placeholder="Search for an artist!" name="artist">
            <button type="submit">Search for an artist</button>
        </form>
    </div>
</body>