<div class="container">
    <h1>Homepage</h1>
    <div>
        <img src="/images/spotify-background.jpeg" alt="concierto">


        <form action="/artist-search" method="GET">
            <label>
                <input type="text" name="artistName" placeholder='artist'>
            </label>

            <br><br>
            <input type="submit" value="search for an artist">
        </form>
    </div>
</div>