<h1>This is the homepage</h1>

<form action="/artist-search" method="GET">
    
    <label>
        The artist you are looking for:
        <input type="text" name="artistName"/>
    </label>

    <button type="submit">submit</button>
</form>