<style>
    body {
        background-image: url('/images/spotify-background.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>



<form class="center" action="/artist-search" method="GET">

    <input type="text" name="artist"><br><br>


    <input type="submit" value="Search for an Artist">
</form>

<style>
    .center {
        display: flex;
        justify-content: center;
        margin-top: 20%;

    }
</style>