<div class="search-page">
    <div class="search-form">
        <h1>Ironhack Music Player</h1>
        <form action="/artist-search" , method="GET">
            <input type='text' name="artist" placeholder="Search for an artist" class="search-bar"/>
            <button type="submit"><span class="material-symbols-outlined">search</span></button>
        </form>
    </div>
</div>