<div>
    <h3> Search tunes</h3>
</div>
<form action="/artist-search" method="GET">
    <label for="artist">Enter artist name</label>
    <input type="text" id="artist" name="search">
    <button type="submit">Search for an artist</button>
</form>