

<form action="/artist-search" method="GET">
<label>
    <input type="text" placeholder="Choose your artist" name="artist">
</label>
<br><br>

<input type="submit" value="Search your Artist">
</form>