<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Home Page</title>
</head>

<body>
    <img src='/images/spotify-background.jpeg' alt="spotify-background" width="100%">
    <form action="/artist-search" method="GET">
        <input type="text" name="artistName">
        <button type="submit">Search for an Artist</button>
    </form>
</body>

</html>