<h3>Katrin Spotify Searcher</h3>
<div class="start">
    <form action="/artist-search" method="GET">
        <input type="text" id="artist" name="artist" placeholder="Search artists …"><br>
        <button type="submit">Search for an Artist</button>
    </form>
</div>