<section class="hero">
  <form action="/artist-search", method="GET">
    <input type="text" id="artist" name="artist" placeholder="Search artists …"><br>
    <input type="submit" value="search">
  </form>
</section>
