<div class="container">


    <div class="row text-center">
        <h1 class="col display-1">SPOTIFY APP</h1>
    </div>

    <div class="row text-center">
        <div class="col">
            <form action="/artist-search" method="get">
                <div class="form-group">
                    <label for="artist"></label>
                    <input type="text" name="artist" class="form-control text-center" placeholder="Search for artist"
                        id="artist-search">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>