<div id="background-image">
    <h2 id="h2-index">Search the Spotify Data Base</h2>
    <form action="/artist-search" method="GET">
    <input id="input-field" type="text" placeholder="Type Artist or Band name.." id="artist" name="artist"><br>
    <input class="artist-search" type="submit" value="Search Artist">
</form> 
</div>