<div id="index-body">
    <div>
        <form action="/artist-search" method="GET">
            <label for="artist"></label>
            <input type="text" name="search" id="artist">
            <button type="submit">Search</button>
        </form>
    </div>
</div>
