<div class="home-container">
  <div class="form-container">
    <form action="/artist-search" method="GET">
      <input class="btn" type="text" name="artist" id="artist" placeholder="Search for an Artist">
      <button class="btn btn-red" type="submit">Search for an Artist</button>
    </form>
  </div>
</div> 