<div>
    <form action="/artist-search" method="GET">
        <label for="fname">Search...</label><br>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Search for an artist">
    </form> 
</div>
 