<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to the Spotify lab!!</h1>
    <form action="/artist-search" , method="GET">
      <input
        type="text"
        id="artist"
        name="artist"
        required
        placeholder="The Beatles"
      />
      <button>Search for an Artist</button>
    </form>
  </body>
</html>