<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FORM</h1>

<form action="/artist-search", method="GET">
    <label> 
        Artist 
        <input type="text" name="artist">
    </label>
    <button type="submit"> Search </button>
</form>
</body>
</html>