<form action="/artist-search" , method="GET">
    <label for="">Busca Cancion o Artista</label>
    <input type="text" name="song">
    <button type="submit">Buscar Artista / Cancion</button>

</form>