<div class="main">
    <div class="search-box">
        <form action="/artist-search" method="get">
            <input type="text" name="artist" placeholder="Serch an artist" required />
            <button type="submit">Search Artist</button>
        </form>
    </div>
</div>