<div>
  <form id="search-form" action="/artist-search" method="GET">
    <input type="text" id="query" value="" placeholder="Type an artist" />
    <button type="submit" id="search" value="Search">Search for an Artist</button>
  </form>
</div>