<body id="index">
  
    <div id="artist-search">
        <h1 id="header">Find your artist</h1>
<form method="GET" action="artist-search-results" >

  <input id="bar" type="text" name="artistName" value="Boulevard Depo">
  
<input id="input" type="submit" value="Search">
</form> 
</div>
</body>
