<div id="home" class="d-flex justify-content-center align-items-center">
  <form action="/artist-search" method="get" class="d-flex flex-column justify-content-center align-items-center bg-light bg-opacity-50 w-50 p-5">
    <input type="text" placeholder="Write an artist here" name="artist" class="w-75 mb-2">
    <button class="btn btn-danger mt-2">Search for an Artist</button>
  </form>
</div>