<div class="landing-page">
    <div class="center-field">
        <form action="/artist-search" method="get" id="search">
            <input type="text" id="search-field" name="q" placeholder="type artist name">
        </form>
        <button class="button" type="submit" form="search">Search for an Artist</button>
    </div>
</div>