
    
      <form action='/artist-search' method='get'>
      <label for='artist'>Artist</label>
      <input type='name' name='name' id='name' />


      <button type='submit'>Search for an artist</button>

       </form>