
<form class="form-container" action="/artist-search" method="get">
 <input type="text" placeholder="Artist Name" id="artist-input" name="name" required>
 <button type="submit" id="search-btn" >Search for an Artist</button>
</form>


