<section class="background">
 <div class="box">
   <form class="form-group home-form" action="/artistSearch" method="GET">
     <input class=" form-control home-input" name="artistSearch" type="text" placeholder="Search for an artist!" aria-label="Search">
     <button class="btn aqua-gradient btn-rounded home" type="submit">Search for an Artist</button>
   </form>
</div>
</section>
  