<div class="form_landing_container">
    <form action="/artist-search" method="GET" class="form_container">
        <input class="searcher" type="text" name="artist" placeholder="Look for your favorite artist here!">
        <button type="submit" class="btn_form">Search for an Artist</button>
    </form>
</div> 

