<div class="form-wrapper">
    <form action="/artist-search" method="GET">
        <input id="search" type="text" placeholder="Search" name="artist" for="artist">
        <button class="btn red-btn" type="submit" >Search for Artist</button>
    </form>
</div>