<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>

<form action="/artist-search-results" method="get">

    <label for="artist">Artist</label>
        <input
      id="input"
      type="text"
      name="artist"
      placeholder="Name of the artist/band..."
    />


 <button id="search-button" type="submit">Search</button>
</form>

</body>
</html>

