<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="search">
    
    <h3>Spotify Search</h3>

<form action="/artist-search" method="GET">
    <label for="title"></label>
    <input id='artist-search' type="text" name='artistSearch'>
    <button type='submit'>Search for an Artist</button>
</form>
    </div>
</body>
</html>