<div id="homepage">
<div id="form-container">
            <form class="form" action="/artist-search", method="GET">
                <input class="research"type="text" id="artists" name="artists" placeholder="Research a music !"><br>
                <input class="button" type="submit" value="Search for an Artist">
            </form>
</div>
</div>