
<section id="home" class="hero is-light is-fullheight is-transparent section">
    <div class="hero-body">
    <div id="form-container" class="container has-text-centered">
    <form action="/artist-search", method="GET">
    <input id="search"   class="input is-rounded" type="text" name="searchArtists" id="searchArtists" placeholder="Enter the artist's name...">
    <br>
    <br>
    <button id="search-button" class="button is-danger is-rounded" type="submit">Search!</button>
    </form>
</div>
