<div ="index_menu">
  <img id="background" src="./images/spotify-background.jpeg" width="400px">
<form action="/artist-search"  method="GET">
  <label>Artist name:</label>
  <input type="text" name="artistName" placeholder="Search here"/>
  <br />
  <button type="submit"> Search for an artist</button
</form>
</div>

