<div id= "home">
    <container class="landing">
<form action="/artist-search" method="GET">
    <label for="artist"></label>
    <input type="text" id="artist" name="search" placeholder="Enter artist name">
    <button type="submit">Search for an artist</button>
</form>
</container>
</div>