<form action="/artists" method="POST">
  <label for="artistName">Artist Name:</label>
  <input id="artist-name" type="text" name="artist">

  <button type="submit">Search for an Artist</button>
</form>