<div class="container">
  <img src="../public/images/spotify-background.jpeg" alt="Top.img" />
  <form action="/artist-search" , method="GET">

    <label>
      <input type="text" name="artistName" />
    </label><br />

    <input type="submit" value="Buscar Artista" />

  </form>
</div>