

<form method='GET' action='/artist-search/'>

    <input type="text"  name="searchArtist" placeholder='The Beatles'>
    <input type="submit" value='Search for an Artist'  placeholder='The Beatles'>

</form>