<div>
  <div class="container">
    <br />
    <form action="/artist-search" method="GET">
      <input type="text" name="artistName" id="" placeholder="Search artist" />
      <button type="submit" class="btn">Search for Artist</button>
    </form>
  </div>

</div>