
  <h1>Prueba</h1>
    <!-- Simple form which will send a GET request -->
<form action="/artistSearchResults" method="GET">
    <label for="artist">Artist</label>
    <input id="artist" type="text" name="artist" />
    <button type="submit">Search for an Artist</button>
</form>

