    <div class="div-search-artist">
        <form method="GET" action="/artist-search">
            <input type="text" name="artist" placeholder="search for artist">
            <button type="submit">Search</button>
        </form>
    </div>
