<div class="home">
    <h1> Home</h1>

    <div class="search">
        <form action="/artist-search" method="GET">
            <label for="artist"></label>
            <input type="text" name="artist" id="artist" placeholder="Search Artist">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>