<div class="container">
    <div class="search">
        <div class="row">
            <div class="col-md">
                <div class="search-2"> <i class='bx bxs-map'></i>
                    <form action="/artist-search" method="GET">
                        <input type="text" name="artist" placeholder="Search for an Artist">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>