<div id="background-div">
</div>
<div id="home-div">
  <form action="/artist-search" method="GET">
  <label>
    <input type="text" name="artist" placeholder="Type your artist here..."/>
  </label>
  <button type="submit">SEARCH FOR AN ARTIST</button>
  </form>
</div>