<div class="bgImage">
    <div class="searchBox">
        <form action='/artist-search' method='GET'>
            <input class="searchInput" type="text" name="search">
            <br>
            <button class="searchSubmit" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>
