<main class="center">
  <form action="/artist-search", method="GET">
    <div class="form-group">
      <label for="query">Choose an artist</label>
      <input type="text" name="artist" class="form-control" id="query" aria-describedby="query" placeholder="Artist">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</main>
