<div class="container">
    <form class="formAr" action="/artist-search" method="GET">
    <div class="form-row text-center pt-5">
        <div class="col-12">
            <label  class="artistsearch text-center" for=""></label>
            <input type="text" name="artist" id="artist">
        </div>
        <div class="col-12">
            <button class="btn btn-danger" type="submit">Search for an Artist</button>
        </div>

    </div>
    </form>

</div>