<div class="container bg">
    <div class="row justify-content-center">

<form action="/artist-search" method="GET">

    <input type="text" name="artist" placeholder="Artist">
    <br>
    <input type="submit" value="Search for an artist" class="btn btn-danger">

</form>
</div>
</div>