<div class="search">
    <form action="/index" method="get">
        <label for="search">Search a Band</label>
        <input type="search" name="search" id="search">
        <input type="submit" value="Search">
    </form>
</div>