
<header>
    <div class="form-container">
        <form action="/artist-search" method="get">
        
            <input type="text" name="artist" placeholder="Artists"><br><br>
            <input type="submit" value="Search for an Artist">
        
        </form>
    </div>
</header>
