<div class="image-container">
    <img src="/images/spotify-background.jpeg" alt="Concert">
    <div class="search-container">
        <form action="/artist-search" method="GET">
            <input type="text" name="artist" placeholder="Search for an Artist" value="The Beatles">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>