<header class="container d-flex justify-content-center align-items-center">
    <div >
        <nav class="navbar navbar-light  navbg">
            <form method="GET" action="/search-artist" class="form-inline d-flex flex-column justify-content-center formSr">
                <input name="name" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button  class="btn btn btn-danger align-self-center mt-3 px-4"  type="submit">Search for an Artist</button>
            </form>
        </nav>

    </div>

</header>