<body class="indexBody">

<div class="formWrapper">
    <form class="searchForm" action="/artist-search", method="GET">
        <div>
            <input type="text" name="ArtistName" placeholder="Search" />
        </div>
        <div class="button">
            <button class="btn-search" type="submit">Search for an Artist</button>
       </form>
    </form>
</div>

</body>
