<div class="artist-search-container">

    <div class="input-container">
        <form action="/artist-search" method="GET">
            <input type="text" name="search" id="search">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>

</div>