<form action="/artist-search">
  <label for="artist-search"></label>
  <input id="artist-search" type="text" name="artist" placeholder="Search for Artist">
  <button type="submit">Search</button>
</form>