<form method="get" action="/artist-search">
        <div>
            <input type="text" name="artist" placeholder="Enter Artist Name"/>
        </div>
        <div>
            <button type="submit">Search for an Artist</button>
        </div>
</form>