<div id="index" class="col">
    <form id="artist-search-form" class="col" action="/artist-search" method="get">
        <input type="search" name="searchedArtist" id="search-artist">
        <button type="submit">Search for an Artist</button>
    </form>
</div>