<div class="backgorund">
        <div class="center">
            <form action="/artist-search" method="GET" class="searchbar">
                <label for="name">Name of the Artist</label>
                <input id="name" type="text" name="name"/>
                <button type="submit"> Search </button>
            </form>    
        </div>
</div>