<section>
  <div class="all">
    <div class="my-container">
      <form action="/artist-search" , method="GET">
    </div>
    <div class="my-container">
      <label for="name"><h2>Search for an Artist</h2></label>
      <input id="name" type="text" name="artists" />
    </div>
    <div class="my-container">
      <button class="btn btn-danger" type="submit">Search</button>
    </div>
    </form>
  </div>
</section>