<div class="background-home">
    <div class="search-form">
        <form class="box" action="/artist-search" method="GET">
            <label for="artist"></label>
            <input type="text" id="artist" name="artist">
            <button class="search-button" type="submit">Search for your artist</button>
        </form>
    </div>
</div>