<div class="initial-page">
<form action="/artist-search", method="GET">
  <div>
  <label for="artist">
    <input id="artist" type="text" name="artist" />
  </label>
  </div>
  <button type="submit"> Search for an Artist </button>
</form>
</div>