<a href="/"><h1>Spotify</h1></a>

<h3>Search artist</h3>
<form action="/artist-search" method="GET">
    <label for="title">Enter artist name</label>
    <input type="text" id="title" name="title">
    <button type="submit">Search for an artist</button>
</form>
<div class="">
{{!-- {{#each }}
    {{> }}
{{/each}} --}}
</div>