    <style>
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 700px;
            z-index: 1;
        }
        form input{
            font-size: 2em
        }
        form button{
            font-size: 2em;
            border-radius: 12px
        }
    </style>
    <div>
    <form method="get" action="/artist-search">
    <input type="text" name="artist">
    <button type="submit">Search for an artist</button>
    </form>
    </div>
