 <div id="home">
    <form action="/artists" method="GET">
        <input id="artist" type="text" name="artist" placeholder="Type the artist here">
        <input id="btn-submit" type="submit" value="Search for an artist">
    </form>
</div>