<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>AAAAAAAAAH</p>
    <form action="/artist-search" method="GET">
      <label for="artist-name-input">Artist Name:</label>
      <input id="artist-name-input" type="text" name="artistName" />

      <button type="submit">Search for an Artist</button>
    </form>
  </body>
</html>