<main id="index-page">
        <form action="/artist-search" method="get" class="form-area">
            <input type="text" name="artist" id="artist-search" placeholder="Search for an artist">

            <button type="submit">Search for an artist</button>

        </form>
</main>