<div class="index">
    <div class="search-container">
        <p><strong>Search the Spotify Database:</strong></p>
        <form action="/artist" method="GET">
            <label>
                <input type="text" name="artist" />
            </label>
            <br />
            <button class="buttons" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>