<link rel="stylesheet" href="/styles/style.css" />

<div class="hero">
  <img
    src="/images/spotify-background.jpeg"
    alt="Background Photo"
    class="hero-image"
  />
  <div class="search-container">
    <h1></h1>
    <form action="/artist-search" method="GET">
      <label for="artist"></label>
      <input
        type="text"
        id="artist"
        name="artist"
        placeholder="Enter an artist name"
      />
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>