
    <form action="/artist-search" method="GET">
      <input
        type="search"
        name="artist"
        placeholder="Search For Your Favorite Artist!"
        id=""
      /><input type="button" value="SUBMIT" />

    </form>
