<body class="indexBody">
    <div class="formWrapper">
<form class="searchForm" action="/artist-search", method="GET">
    <div>
    <input type="text" name="ArtistName" placeholder="Lorem Ipsum" />
    </div>
    <div>
    <button class="btn-search" type="submit">Search for an Artist</button>
    </div>
</form>
</div>

</body>
