<h3>Spoty-Flow</h3>
<form action="/artist-search" method="GET">
  <label for="Artist">Artist</label>
  <input type="text" name="kuenstler" id="artist">
  <button type="submit">Search for an Artist</button>
</form>