
<div class="home">
    <img class="home" src="" alt="">
    <form action="/artist-search", method="GET">
        <input type="text" name="artist"> 
        <button type="submit">Search for the artist</button>
    </form>
</div>