<section class='h-100 d-flex align-items-center justify-content-center'>
  <form
    action='/artist-search'
    ,
    method='GET'
    class='card p-5 flex-column mb-0 w-25'
  >
    <input type='text' name='artist' id='artist' class='mb-3' />
    <button type='submit' class='btn btn-danger'>Search for an Artist</button>
  </form>
</section>