<body class="home">
    <form action="/artist-search" method="GET">
        <label>
            <input type="text" name="artistName">
        </label>

        <input type="submit" value="Search for an artist">
    </form>
</body>