<div id="home">
    <div id="div-form">
        <form action="/artists" method="GET">
            <input id="artist" type="text" name="artist" placeholder="Type the artist here">
            <button id="btn-submit" type="submit">Search for an artist</button>
        </form>
    </div>
</div>