<main class="container">

    <div class="form-group">
    <form action="/artist-search", method="GET">
        <input class= 'form-control'type="text" name="band" placeholder="Search for bands">
        <input class= 'btn btn-success btn-block mt-3' type="submit" value= "buscar">
    </form>
    
    </div>

</main>

