<div id='home'>
	<form action='/artist-search' method='GET'>

		<input
			type='text'
			id='artistsearch'
			name='artist'
			value='Find your artist'
			required
		/>

		<button type='submit'>search</button>

	</form>
</div>