<nav class="navbar navbar-light bg-light">
  <div class=>
    <form method="GET" action="/artist-search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='artist'>
      <button type="submit" >Search for an Artist</button>
    </form>
  </div>
</nav>