<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/styles/style.css' />
    <title>Search for an Artist</title>
  </head>
  <body>
    <div class='div-artist-search'>
      <div class='search-content'>
        <img src='/images/spotify-logo.png' alt='spotify-logo' />
        <form action='/artist-search' method='GET'>
          <input
            class='search-box'
            type='text'
            name='artist'
            placeholder='Search for artists'
          />
          <button type='submit'>Search</button>
        </form>
      </div>
    </div>
  </body>
</html>