<div id="home-div">
    <form action="artist-search" method="GET">
        <input type="text" name="artistName" placeholder="Search for an artist!">
        <button type="submit">Go!</button>
    </form>
</div>