<div>
    <form action="/artist-search" , method="GET">
        <input name='artist' ,type="text" placeholder="The Beatles">
        <button type="submit" , value="string">Search for an Artist</button>
    </form>
</div>