
<form class="form" action="/artist-search" method="GET">
    <label for="artist"></label>
    <input class="field" type="text" name="artist"><br>
    <button class="btn" type="submit">Search for an Artist</button>
</form>