<main class="main-page">
    <div>
        <form action="/artist-search", method="GET" class="artist-form">
            <input type="text" name="artist" id="artist-search" placeholder="Search for an artist!"/>
            <button type="submit" class="artist-btn">Search for an Artist</button>
        </form>
    </div>
</main>