<form action='/artist-search' method='GET'>
    <label>
       <input type='text' name='artistName'>
    </label>

<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="submit">Button</button>
</div>
</form>