<div class="indexContainer">
    <form action="/artist-search", method="GET">
    <input type="text" placeholder="Artist Name" name="artist">
    <button type="submit">Search for Artist</button>
    </form>
</div>