<form action="/artist-search" method="GET">
    <div>
        <input type="text" name="artist" placeholder="Type the artist...">
        <button type="submit">Search for an artist</button>
    </div>
</form>