<div id="homepage">
  <img
    src="images/spotify-background.jpeg"
    alt="Live concert"
    id="background-img"
  />
  <div id="search-form">
    <form action="/artist-search" method="GET">
      <label for="artist"></label>
      <input type="text" name="artist" />
      <br />
      <button type="submit" class="btn" id="btn-search">Search for an Artist</button>
    </form>
  </div>
</div>