

{{!-- <section class="inicial-image"> --}}
  <form action="/artist-search" method="GET">
    <label for=""></label>
    <input id="" type="text" name="artist">
    <button type="submit">Search for an Artist</button>
  </form>
{{!-- </section> --}}