<h1>Search your favorite artist</h1>

<form action="/artist-search-results" method="GET" class="search-bar">  
    
    <input type="text" name="artist" placeholder="Search . . ." required>
      
  <button class="search-btn" type="submit"></button>
</form>

