<div>
    <form action="/artist-search", method="GET">
        <input type = "text" name="search" placeholder="Enter artist name here">
        <button type = "submit">Search for an artist</button>
    </form>
</div>