
<form action="/artists-search", method="GET">
{{!--  method of the form decids request type being made (get/post) --}}

  
<input id="artist-search" type="text" placeholder="Enter info" name="name">

<button>Search for an Artist</button>
</form>
