<div class="search-div">
  <form action="/artist-search" method="get" enctype="application/x-www-form-urlencoded">
    <input id="name" name="name" type="text" value="" placeholder="" />
    <br />
    <button type="submit">Search for an Artist</button>
  </form>
</div>