<div id="formIndex">
  <img id="spotifyLogo" src="../images/spotify-ofertas-de-empleo.png" alt="" />
  <br />
  <br />
  <form action="/artist-search" , method="GET">
    <input
      id="artist-input"
      type="text"
      name="artist"
      placeholder="Search an artist..."
    />
    <br />
    <br />
    <button type="submit">Search for an Artist</button>
  </form>
</div>