

<section class="bg-img flex-center-row home">
    <h1>Searchify</h1>
    <div>
        <form class="flex-center-row" action="/artist-search" method="GET">

            <input type="text" name="artistName" id="artistName">
            <button class="outline-btn" type="submit">Search for an Artist</button>

        </form>
    </div>
</section>