<section class="d-flex justify-content-center align-items-center" id="landing">
  <form action="/artists" method="GET">
    <input type="text" name="artist" id="artist" />
    <button type="submit">Search for an Artist</button>
  </form>
</section>