<div class="hero-image">
    <div class="main-container">
        <form action="/search" method="GET">
            <input type="text" name="search" id="search" placeholder="Search...">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>