<div class="indexImage">
<form action="/artist-search-results" method="GET">
  <input type="text" name="search" id="inputIndex" placeholder="Search here">
  <button class="buttonIndex" type="submit">Search for an artist</button>
</form>
</div>