<div class="container fluid">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box1">

                    <form action="/artis-search-results" method="GET">

                        <input type="text" name="arti">

                        <input type="submit" value="Mostrar resultados">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>