 <head>
    <title>Machi Spotify</title>
    <link rel="stylesheet" href="/styles/home.css">
  </head>
  <body>
    <h1>Welcome Machi to Machify!</h1>
    <p>Let's vibe out to some tunes!</p>
    <form action="/artist-search" method="GET">       
      <label for="artist">Artist name:</label>
      <input type="text" name="artist" id="artist" required>
      <button type="submit">Search</button>
    </form>
  </body>
