<section class="section-form">
    <form action="/artist-search", method="GET">
        <input type="text" name="artist">
        <button class="mainButton" type="submit">Search for an Artist</button>
    </form>
</section>
