<div class="form-container">
    <form action="/artist-search" method="GET">
        <div>
            <label for="artist"></label>
            <input id="artist" name="artist" type="text" placeholder="artist">
        </div>
        <button type="submit">
            Search for an Artist
        </button>
    </form>
</div>