<div class="landingPage">
    <div class="formBackground">
        <form action="/artist-search" , method="GET">
            <input id="artist" type="text" name="artist" placeholder="Artist">
            <button id="artistSearch" type="submit">Submit</button>
        </form>
    </div>
</div>