<section>
    <form action="/artist-search" method="GET">
        <label for="search">
            <input type="text" id="search" name="searchQuery" placeholder="eg. The Weeknd">
        </label>
        <button type="submit">Search for an Artist</button>
    </form>
</section>