    <div class="index">
    <form action="/artist-search", method="GET">
    <label for ='search'></label>
    <input placeholder="search" name="search" type="text">
    <button  type="submit">Search for an artist </button>
    </form>
    </div>