<div>
  <div>
    <form action="/artists">
      <div>
        <input type="text" placeholder="The Beatles" name="artist">
      </div>
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>