<div id="indexBackground">
    <form action="/artist-search" method="GET">
        <input type="text" name="search" placeholder="The Beatles">
        <button type="submit">Search for an Artist</button>
    </form>
</div>
