<div>

    <form action="/artist-search" method="GET">

        <label>
            Search for an artist
            <input type="text" name="artist">
        </label>

        <button type="submit">SEARCH fOR AN ARTIST</button>
    
    </form>

</div>