<div class="index">
	<form action="/artist-search" method="GET">
		<input class="input-text" type="text" name="artist" />
		<input class="input-btn" type="submit" value="Search for an Artist" />
	</form>
</div>