<div class="homePage">
  <form class="form" action="/artist-search" method="GET">

    <label>
      <input class="search" type="text" name="artistName" />
    </label>

    <button class="button">Search for an artist!</button>

  </form>
</div>