<form action="/artist-search" method="GET">

    <input type="text" value="" id="searchArtist" name="searchArtist">
    <button type="search" class="btn btn-primary btn-lg" >Find your Artist!</button>

</form> 
