
<div class="container-form">
    <div class="container-fm">
    <form action="/artist-search">
        <input class="input-search" type="text" id="name" name="name"><br>
        <input class="input-submit" type="submit" value="Search for an Artist" >
    </form> 

    </div>
</div>
