<div class="container search-form">
    <form action="/artist-search" method="get">
        <input class="text-input" type="text" name="artist">
        <input class="btn" type="submit" value="Search for an Artist">
    </form>
</div>
