<h1>Hello</h1>
<form action="/artist-search" method="GET">
	<label for="title">Enter an artist</label>	
	<input type="text" name="artist" id="artist">
	<button type="submit">Search for an artist</button>
</form>
