<form action="/artist-search" method="GET">
        <label for="search">Search</label>
        <input type="text" name="search" placeholder="Search an artist"><br>
        <a><button type="submit">Search for an artist</button></a>

    </form>