 <link rel="stylesheet" href="/styles/style.css">

<div class="homepage">
<form class="searchbox" action='/artist-search'method='GET'>

  <label for=''></label>
  <input id="search" type='text' name='search'>

  <button class="searchbtn" type='submit'>Search for an Artist</button>

</form>
</div>
    


