<div class="indexBox">

<h1>Spotify API</h1>
<p>- Artist -</p>

<form action="/artist-search" method="get">

    <input type="text" name="artist">

    <input type="submit" value="Search" >

</form>

</div>

