
<nav class="navbar navbar-light bg-light">
    <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="">

</nav>
<div class="index">
    <div class="form-container">
        <form action="/artist-search" method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="artist" name="artist" placeholder="">
            </div>
            <button type="submit" class="btn btn-danger search-btn">Search for Artist</button>
        </form>
    </div>
</div>