<div class="index-container">
    <form class="form-container" action="/artist-search" method="GET">
        <input class="form-input"type="search" name="artist" autocomplete="off" placeholder="Search for an artist...">
        <button type="submit" class="search-btn">Search</button>
    </form>
</div>