<div class="backImg">
    <img src="/images/spotify-background.jpeg" alt="">
</div>
    
    <form action="/artist-search" method="GET">
    <label for="/artist-search">Artist Search</label>
    <input type="text" name="artist" id="artist-search">
    <button type="submit">Search</button>
    </form>



