
    <form action="/search" method="GET">
    <label>
        Artist
        <input type="text" name="artist" placeholder="Find Artist">
    </label>
    
    <button type="submit">Search for an Artist</button>
    </form>
