
<div class="container">

<form action="/artist-search" method="GET">

    <div class="form-group">
        <input type="text" class="form-control" id="artist-input" name="artist" >
    </div>
  
    <button type="submit" class="btn btn-primary btn-danger">Search for an Artist</button>

</form>

</div>

