<h2>Search for an Artist</h2>
<form action="/artist-search-results" method="get">
  <label>
    Artist Name:
    <input type="text" name="artistsName">
  </label>
  <button type="submit">Search</button>
</form>