<div class="search-page">

<form action="/artist-search" method="GET" class="search-form">
<input type="text" name="artist" id="artist">
<button type="submit" class="btn">Search for an Artist</button>
</form>
</div>