<div id="background-image">

<div id="transparent-box">

<form action="/artist-search" method="GET">

    <input id="index-input" type="text" name="artistName" placeholder="Artist's name" />

    <button id="index-button" type="submit">Search for an Artist</button>
</form>

</div>


</div>
