<main class="index-container">
    <div class="box-center">
        <form action="/artist-search" method="GET">
            <input class="box-imput" name="from" type="text" placeholder="Search for an artist!" id="center"><br>
            <input class="btn btn-primary button-imput" type="submit" value="Search for an Artist" id="center-btn">
        </form>
    </div>
</main>
