<div>
    <div id="background-img">
        <img src="images/spotify-background.jpeg" alt="spotify background">
    </div>

    <div id="home-form">
        <form action="/artist-search" method="get">

        <label>
        <input type="text" name="search" placeholder="search">
        </label>
        <br>
        <button type="submit">Search for an Artist</button>

        </form>
    </div>
</div>
