<main id="home">
  <div id="form-container">
    <form action="/artist-search" method="get">
      <input id="artist-search" type="text" name="artistSearch" placeholder="The Beatles">
      <input type="submit" value="Search for an Artist">
    </form>
  </div>
</main>