<div>
    <form action="/artist-list" method="GET">
    <label for="title">Enter an artist</label>
    <input type="text" name="title" id="title">
    <button type="submit">Search</button>
    </form>
</div>