<h1>Spotify API Showcase</h1>

<div id="search-container">
    <form action="/artist-search" method="GET">
        <input type="search" name="query" id="search-bar"/>
        <button type="submit" id="submit-button">Search for an Artist</button>
    </form>
</div>

<img id="concert-image" src="images/spotify-background.jpeg" alt="concert-background"/>