
<div class="container form-container d-flex">
  <div class="main-form d-flex">
      <div class="">
        <form class="d-flex flex-column mx-auto align-items-center" action="/artist-search" method="GET">
            <label>
                <input type="text" name="artist" placeholder="">
            </label>
            <button class="btn btn-danger btn-sm">Search for an Artist</button>
        </form>
    </div>
  </div>
</div>