<form action='/artist-search' method='get'>
  <label for='artist'>Search artist:</label>
  <input
    type='text'
    name='artist'
    id='artist'
    placeholder='Input artist to search for'
  />
  <button type='submit'>Submit</button>
</form>