
<div class="index-home">
    <div class="index-container">
        <form method="get" action="/artist-search">
           
            <div class="artist-input">
                <label for="artistInput"></label>
                <input  class="textBox" type="text" name="artist"/>
            </div>

            <button class="btn-home" type="submit">
            Search for an Artist
            </button>
        </form>
    </div>
    

</div>