 <div class="mainPageBackground">
<div class="white-bkg">
<div class="search-but">
    <form action="/artist-search", method="GET">
        <input class= "input" type = "text" name="search" placeholder="Enter artist name here">
        <br>
        <button class="button" type = "submit">Search for an artist</button>
    </form>
</div>
</div>
</div>