<form id="search" action="/artist-search" method="GET">
  <input class="search-bar" type="search" placeholder="Search for artist:" />
  <input type="submit" class="search-button" value="Search" />
</form>