  <div class="search-container">
    <form action="/artist-search" method="GET" id="form">
      <input type="text" name="artist" placeholder="Artist's name">
      <button type="submit" class="btn">Search for an Artist</button>
    </form>
  </div>
