<div class="container align-center">
    <div class="content-center">
        <h1 class="h1 content-center">Spotify Express</h1>
    </div>
    <div class="content-center">
        <form id="artist-search-form" action="/artist-search" method="GET">
            <input type="text" id="artist-search-input" name="artistsearch">
            <br>
            <input class="btn submit-btn" type="submit" value="Search for an Artist">
        </form>  
    </div> 
</div> 