
      <div class="container">

        <h1>Render of index</h1>
        
         
           <input type="text" name="name" id="name" placeholder="Artist name..." /></option>
<button id="search-artist-button" class="btn btn-primary">Search artist</button>
          
       
      
    </div>
