

<body style="background-image: url(/images/spotify-background.jpeg">
<div class="form">
     <form action="/artist-search" method="GET" style="width: 500px; display:block; margin: 0 auto; margin-top:400px">
            <input class="form-control" type="text" name="artist">
            <br>
            <button style="margin-left: 145px; text" class="btn btn-lg btn-primary"type="submit" class="home-button">Search for an Artist</button>
        </form>
    </div>
</body>