{{!-- <img class="bg-img" src="images/spotify-background.jpeg"> --}}
<div class="container">
<form class="artist-search" action="/artist-search" method="get">
  <input name="search" type="text">
  <button class="btn btn-danger" type="submit">Search for an Artist</button>
</form>
</div>
