<div class="homepage">
    <div class="form-container">
        <form action="/artist-search" method="get">
            <input type="text" name="artistName" placeholder="Type the name" id="">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>