<nav class='index-nav' >

    <div class='index-playlists-nav'>
        <h2><a href="/playlists">Search Playlists</a></h2>
    </div>

</nav>

<section id = 'main'>
    <div class ='form1' data-aos='fade-down'>
        <form action="/artist-search" method="GET">
        <input class='search-field' type="text" name='search'>
        <button class='btn-submit' type='submit'>Search For an Artist</button>
        </form>
    </div>
</section>
