<div class="background-image pt-5">
    <form class="mx-auto d-block p-5 bg-dark rounded shadow-lg w-50" action="/artist-search" method="get">
    <div class="input-group m-3">
        <span class="input-group-text" id="basic-addon1">Artist to search</span>
        <input class="mx-auto d-block form-control" type="text" aria-label="artist" aria-describedby="basic-addon1" name="artist">
    </div>
        <input class="mx-auto m-3 d-block btn btn-light" type="submit" value="Search for an Artist">
    </form>
</div>