<div class="cointainer spotify">
    <div class="form-search">
        <img class="logo mb-5" src="/images/Spotify_Logo_RGB_Green.png" alt="Spotify">
        <form action="/artist-search" , method="GET">
            <input name="artist" placeholder="Artist">
            <input value="Search for an Artist" type="submit">
        </form>
    </div>
</div>