<form action="/artist-search", method="GET">

    <div>
        <input type="text" placeholder="The Beatles" name="artist">
    </div>
    <div>
        <input type="submit" value="Search for an Artist!">
    </div>

</form>