<link rel="stylesheet" href="/public/styles/style.css" />
<div>
  <form action="/artist-search" , method="GET">
    <input type="text" placeholder="Artist Name Here" name="buscador" />
    <button type="submit">Search for an Artist</button>
  </form>
</div>