<div id="index-file">
    <h1>Hristos Music Player</h1>
    <div id="form-box">

        <form action="/artist-search">
        <div>
            <input id="artist-name" type="text" name="artist" placeholder="your favorite artist">
            <button type="submit">Search</button>
        </div>

    </form>
    </div>

</div>
