
    <form action="/artist-search" method="get">

        <label for="artist"></label>
        <input type="text" name="artist" id="artist">

        <button class="submit-button" type="submit">Search for an Artist</button>

    </form>