<div class="landing">
    <form class= 'form' action="/artist-search" method="GET">
        <input type="text" id="a-name" name="artistName" placeholder="The Beetles">
        <input type="submit" value="Search for an Artist">
    </form> 
</div>
