<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="index-body">
<div class="search-box">
  <form action="/artist-search-results" method="GET">
    <input type="search" class="search-bar" name="artist"> <br><br> <br>
    <input type="submit" class="artist-search-button" value="Search for an Artist">
  </form>
</div>
</body>
</html>