<div>
    {{!--     <h1>Formulario de nuevo libro</h1>
    <hr>
    </br> --}}

    <form action="/artist-search" method="GET">

    <label>
        <input type="text" name="artist">
    </label>
    </br>

    <input type="submit" value="Search for an Artist">
    </form>
</div>