<div class="index">
  <form action="/artist-search" , method="GET">
    <input
      type="text"
      name="artist"
      placeholder="Write your favorite artist here"
    />
    <button type="submit">Search for an Artist</button>
  </form>
</div>