<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/artist-search" method="GET">
        <label>
            <input type="text" name="artist">
        </label>
        <label>
            <button type="submit">Search for an Artist</button>
        </label>
    </form>
</body>
</html>