<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<div class="image">
			<div class="form">
				<form action="/search-results" method="get">

					<label for="search"></label>
					<input type="text" name="search" id="search" />
					<button type="submit">Search</button>
				</form>
			</div>
		</div>
	</body>
</html>