<div class="home">
  <div class="searchBar">
    <form action="/artist-search" method="GET" class="searchForm">
      <input type="text" name="search" />
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>