<div class="form">
<form action="/artist-search", method="GET">
  <div>
  <label for="artist">
    <input id="artist" type="text" name="artist" />
  </label>
  </div>
  <button type="submit">â™« Search ğ„</button>
</form>
</div>