<div class="search">
    <div class="search-container">
        <h2>Search for an artist</h2>

        <form action="/artist-search" method="GET">
            <input type="text" name="artistName">
            <button type="submit">Search</button>
        </form>
    </div>
</div>