<div class="container">
    <div id="search-box">
        <form action="/artist-search" method="get">
            <input type="text" placeholder="Search" name="search"><br>
            <button>Search for an Artist</button>
        </form>
    </div>
</div>