<div class="container">
    <div class="search-field">
        <form action="/artist-search" method="Get">
            <label>
                <input type="text" name="searchArtists">
            </label>
            <br>
        </form>
          <button class="search-button" type="submit">Search for an Artist</button>
    </div>
</div>
