<form action="/artist-search" method="GET">
    <label>
        <input type="text" name="artistName" placeholder="search">
    </label>

    <button type="submit">Search for an Artist</button>

</form>