<h1>buscador</h1>
<hr>
<form action="/artist-search", method="GET">
    <label>
        <input type="text" name="artista">
    </label>
    <input type="submit" value="search for an artist">


</form>
