<form action="/artist-search" method="get">
<div class="buscadorArtista">
    <input type="text" placeholder="Artista" name="Artista">
    <button class="botonArtista" type="submit">Buscar a tu Artista</button>
</div>
</form>