<div>
    <form action="/artist-search" method="GET">
        <label for="">Artist</label>
        <input type="text" name="artist" id="">
        <button type="submit">Search for an Artist</button>
    </form>
</div>