
<form action="/artist-search-results" method="GET">
    <label for="search">Enter artist</label>
    <input type="text" name="q" id="search" /> 
        <button type="submit">Search for an Artist</button>
</form>