<div class="container">
    <div>
        <form class="row d-flex flex-column align-items-center justify-content-center" style="height: 50rem"
            action="/artist-search" method="get">
            <input class="col-3 mt-5" type="text" name="artist">
            <input class="col-3 mt-3" type="submit" value="Search for and Artist">
            <link rel="stylesheet" href="https://shorturl.at/bEPX3">
        </form>
    </div>
</div>