<form action="search_results.html" method="GET">
  <label for="first-name-input">Name</label>
  <input id="first-name-input" type="text" name="name" />
 
  <button type="submit">Search for an Artist</button>
</form>