<section id="music-for-everyone" class="music-for-everyone">
    <h1 class="display-2">Music for everyone.</h1>
    <article class="mb-4">
        Spotify is now free on mobile, tablet and computer. <br />
        Listen to the right music, wherever you are.
    </article>
    <form action="/artist-search" method="GET" class=" d-flex flex-column align-items-center">
        <input class="col-lg-6 m-3 py-2 px-5" type="text" name="artist" id="" placeholder="Artist name" />
        <button class="col-lg-3 btn btn-danger" type="submit"> Search for an artist </button>
    </form>
</section>
<section id="whats-on-spotify" class="whats-on-spotify">
    <h2>What’s on Spotify?</h2>
    <div>
        <article>
            <img src="./images/music-icon.png" alt="Millions of songs" />
            <h3>Millions of Songs</h3>
            <p>
                There are millions of<br />
                songs on Spotify
            </p>
        </article>
        <article>
            <img src="./images/high-quality-icon.png" alt="High-quality music" />
            <h3>HD Music</h3>
            <p>
                Listen to music as if you<br />
                were listening live
            </p>
        </article>
        <article>
            <img src="./images/devices-icon.png" alt="Stream everywhere" />
            <h3>Stream Everywhere</h3>
            <p>
                Stream music on your<br />
                smartphone, tablet or<br />
                computer
            </p>
        </article>
    </div>
</section>
<section id="app-functions" class="app-presentation">
    <div class="app-functions">
        <div class="key-points">
            <h2>It’s as yeezy as Kanye West.</h2>
            <article>
                <h3>Search</h3>
                <p>
                    Know what you want to listen to?<br />
                    Just search and hit play.
                </p>
            </article>
            <article>
                <h3>Browse</h3>
                <p>
                    Check out the latest charts,<br />
                    brand new releases and great<br />
                    playlists for right now.
                </p>
            </article>
            <article>
                <h3>Discover</h3>
                <p>
                    Enjoy new music every Monday<br />
                    with your own personal playlist.<br />
                    Or sit back and enjoy Radio.
                </p>
            </article>
        </div>

        <aside>
            <img src="./images/spotify-app.jpg" alt="Spotify app screenshot" />
        </aside>
    </div>
    <img src="./images/spotify-icon-white.png" alt="Spotify icon" class="white-icon" />
</section>