
<div class="container d-flex justify-content-center" id="search-form">
    <div class="row h-100 align-items-center">
        <div class="col">
            <form class="form-control border-0 form-control-lg" action="artist-search/" method="GET" id="artist-search">
                <input type="text" name="q">
                <button type="submit" class="btn btn-dark">Search For An Artist</button>
            </form>
        </div>
    </div>
</div>