<main class="index">
    <form class="form" action="/artist-search">
        <div class="input-field">
            <input placeholder="Search for an Artist" id="search_bar" type="text" class="validate" name="search">
            <label for="search_bar">Search for an Artist</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Search for an Artist
            <i class="material-icons right">send</i>
        </button>
    </form>
</main>