 <div id="search-form" class="form-container">

       

        <form action="/artist-search" method="GET"> 
        
        <label>
             <input type="text" name= "artistName"> 
        </label>   
       

   <button type="submit">Search for an artist</button>


        </form>
    </div>