<div class="hero">
<form action="/artist-search-results" method="GET" class="d-flex flex-column align-items-center">
<div>
<input type="text" name="q" id="search" placeholder="Enter artist" /></div>
<br>
<button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>
</div>