<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-12">
            <form action="/artist-search">
                <input type="text" name="artist" placeholder="Search your artists">
                <input type="submit" class="btn btn-light" value="Search">
            </form>

        </div>

    </div>
</div>