<div class="form-wrapper"></div>
<form action="/artist-search" method="GET">
  <label>
    <input type="text" name="artist" autocomplete="off">
  </label>
  <button type="submit">Search Artist</button>
</form>
</div>