<head>
  <link rel="stylesheet" href="styles/index.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<div class="search-form">
  <form class="form" action="/artist-search" method="get">
    <input
      id="input"
      type="text"
      name="artistName"
      placeholder="Name of the artist/band.."
    />
    <button id="search-button" type="submit">Search</button>
  </form>
</div>