<% include ./partials/header %>
<div class="home-heading">
  <div class="form-wrapper">
    <form action="/artists" class="form-group home-form" method="post">
      <input placeholder="Search for an artist!" class="form-control home-input" type="text" name="artist" id="artist-input">
      <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>
      <div class="alert alert-danger">No such artist exist on Spotify!</div>
    </form>
  </div>
</div>
<% include ./partials/footer %>