<section class="search_form">
  <form action="/artist-search" method="GET">
    <input name="artist" type="text" placeholder="The Beatles">
    <input type="submit" value="Search">
  </form>
</section>