<section class="bg">
    <div class="formWrapper">
<form class="searchForm" action="/artist-search", method="GET">
    <label for=""></label>
    <input type="text" name="ArtistName" placeholder="Search for an artist!" />
    <button class="btn-search" type="submit">Search for an Artist</button>
</form>
</div>
</section>