
    <div>
    <form method="GET" action="/artist-search">
    <label>Artist name : </label>
    <input type="text" name="artist">
    <button><a href="/artist-search-results">search for an artist</a></button>
    </form>    
    </div>