<div class="index">
    <div class="index-form" >
        <h1>Lab Music Player</h1>
        <form action="/artist-search" method="get">
            <input class="search-bar" type="text" name="artistName" placeholder="Search for an artist">
            <button type="submit">Search</button>
        </form>
    </div>
</div>