<form action="/artist-search" method="GE">
  <label for="artist-name"></label>
  <input id="artist-name" type="text" name="artistName" />

  <button type="submit">Search for an Artist</button>
</form>
