<h1>I am in idex</h1>
<form class="form-inline" action="/artist-search", method="GET">
  <label for="artistName">Search</label>
  <input type="text" name="artistName">
  <button type="submit">Search</button>
</form>