<div class="form">
    <form action="/artist-search-results" method="GET">
        <label for="artist">Enter a artist</label>
        <input type="text" name="artist" id="artist">
        <button type="submit">Search</button>
    </form>
</div>