
<div class="home">
<div class="form">
<form action="/artist-search" method="GET" class="inside-form">

<input type="text" name="artist" placeholder="The Beatles">

<button type="submit">
<b>Search for an Artist!</b> 
</button>

</form>
</div>
</div>
