<!--3.1 Artist-search.Create a homepage-->
<div class="index">

    <form method="GET" action="/artist-search">
        <input type="text" name="artist" placeholder="Search for an artist!"><br>
        <button type="submit">Search for an Artirst</button>
    </form>
    
</div>