<form id="search" action="/artist-search" method="GET">
  <input class="search-bar" type="search" placeholder="Search:" />
  <input class="search-button" type="send" value="Search for Artist" />
</form>