<div>
  <h1>{{heading}}</h1>

<form action="/artist-search" method="GET">
	<label for="search">
    </label>
	<input type="search" id="search" name="q">
	<button type="submit">Search for an Artist</button>
</form>
</div>