<div class="row">
  <div class="col">
    <form method="GET" action="/artist-search-results" class="index">
      <div class="mb-3">
        <h2>Find your artist</h2>
        <input type="search" name="singer" class="form-control" id="singerform" aria-describedby="emailHelp"
          placeholder="Introduce an artist name">
      </div>
      <button type="submit" class="btn btn-danger mt-2">Search for an artist</button>
    </form>
  </div>
</div>