<div id="index">
<img src="/images/spotify-background.jpeg" alt="">
<form action="/artist-search" method="GET">
    <input type="text" name="artistSearch" placeholder="Search">
    <button class= "btn search" type="submit">Search for an Artist</button>
</form>
</div>