<section id="mainpage">
  <img src="images/spotify-background.jpeg" alt="" />
  <form method="GET" action="/artist-search">
    <div>
      <input type="text" placeholder="Search" name="artist" value="" />
      <button type="submit">Search for an Artist</button>
    </div>
  </form>
</section>