<div id="homePage">
<form  id="homeForm" method="GET" action="/artist-search">
    <input name="artist" type="text" id="artist" placeholder="Search for an artist!">
    <button type="submit" class="btn">Search for an Artist</button>
</form>
</div>