<form action="/artist-search" method="GET">
    <label>Artist</label>
    <input type="text" id="artist" name="artist"><br><br>

    <button type="submit" value="Submit" class="btn btn-danger"> Search for an artist </button>
</form>