<div class="homepage">
    <h1>Search your favorite bands</h1>
    <div class="form-container">
        <form action="/artist-search" method="get">
            <input type="text" name="artistName" placeholder="Type the artist or band name" id="">
            <button type="submit">Search</button>
        </form>
    </div>
</div>