<div class="container">
    <div class="form-div">
        <form action="/artist-search" method="GET">
            <label class="form-label">
                <input type="text" name="artist" class="label-placeholder" placeholder="TYPE YOUR ARTIST HERE">
            </label>
            <button type="submit" class="label-button">SEARCH FOR AN ARTIST</button>
        </form>
    </div>
</div>