<section id="index">
  <form action='/artists/search' class="search-form" method="GET">
    <input type='text' list='artist-list' name='artist' />
    <button>Search for an Artist</button>
  </form>
</section>


