    <section class="indexBody">
        <form class="indexForm position-absolute top-50 start-50 translate-middle" action="/artist-search" method="GET">
            <input class="indexFields indexInput" type="text" name="artist" placeholder="Search the artist">
            <button class="indexFields">Search for an Artist</button>
        </form>  
    </section>
      
