
<div class = 'home-page'>
    <form action='artist-search' method = 'get'>
        <div class = 'button'>
        <input type="text" id = "artist" name = "artistName">
        <button type ="submit"> Search for an Artist</button>
        </div>
    </form>  
</div>
