<div class="background-index">
    <div class="search-container">
        <form action="/artist-search", method="GET">
            <input id="search-bar" type="text" name="search" placeholder="Search for an Artist!">
            <button>Search for an Artist</button>
        </form>
    </div>    
</div>