<link rel="stylesheet" href="/styles/style-index.css">

<div class="search-bar">
<form action="/artist-search" method="GET">

<input type="text" name="artist">
<button type="submit">Search for artist</button>

</form>
</div>