<section class="content">
    <form action="/artist-search" method="get">
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Search Artist</span>
            <input name="searchTerm" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <button type="submit" class="btn btn-primary">Search!</button>
    </form>
</section>
