
<img class="bg-image" src="images/spotify-background.jpeg">

<form action="/artist/artist-search" method="GET" class="form-container">
    <div class="bg-color"></div>
    <input type="text" name="artist" placeholder="Look up the artist">
    <button type="submit">Search for an Artist</button>
</form>
