
<section id="artist-search">
    <form action="/artist-search" method="GET" >
        <label>
            Artist:
            <input type="string" name="artist-search" />
        </label>
        <button type="submit">Search for an Artist</button>
    </form>
</section>