
<div class="bg-image" style="background-image: url('images/spotify-background.jpeg'); 
background-size:cover;">
<div class="container"> 
    <div class="row vh-100 align-items-center justify-content-center">  
        <div  class="col-sm-9 col-md-7 col-lg-6 p-5 search-box-white">
            <div class="text-center">
            <form action="/artist-search">
            <div class="mb-0">
             <input type="text" class="form-control w-100" name="artist">
             </div>
    
             <button type="submit" class="btn btn-danger btn-sm">Search for an Artist</button>
            </form> 
            </div>
        </div>
    </div> 
    
</div>  
</div>           
