
<!-- Simple form which will send a GET request -->
<form action="/artist-search-results" method="GET">
  <label for="artists">
  <input type="artists" id="artists" name="artists"/>
  </label>
  <button type="submit">Search for an Artist</button>
</form>
