
 <body>
    <div id="index-body-div">
        <form id='artist-search-form' action="/artist-search" method="GET">
            
            <input type="text" placeholder="Type artist's name" name="artist">
            
            <button type="submit">Search</button>

        </form>
    </div>   
</body> 