
<body>
    <div class="top">
        <form method="get" action="/artist-search">
            <div class="tableBar">
                <div class="tableDivision">
                    <input type="text" placeholder="Search" required name="q"/>
                </div>
                <div class="tableDivision" id="myID">
                    <button type="submit">
                        <div id="myCircle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
