<div class="card">
  <h1>Spotify API</h1>
</div>

<div class="card">
  <form action="/search-for-artist" method="GET">
    <label for="artist">Artist:</label>
    <input type="text" name="artist" placeholder="Search for Artist">
    <button type="submit">Search</button>
  </form>
</div>