<div class='mainContainter'>
    <div class='mainSearchBox'>        
    </div>
    <div class='searchBox'>
        <form action="/artist-search" method="get">
        <input type="text" name="artistName" id="" placeholder="The Beatles">
        <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>