
<div class="container d-flex justify-content-center align-items-center px-5  py-5">

    <form action="/artist-search" method="GET" class="col align-self-center">
        <label for="search" >
            <div class="input-group mb-3 ">
                <input type="search" name="search" class="form-control px-3" placeholder="Artist name" aria-label="Artist name" aria-describedby="basic-addon2"> 
                <button type="submit" class="btn btn-secondary">Search for an artist</button>
            </div>
        </label>
        
    </form> 
        
</div>