
<div id="containerHome" class="container">
    <form action="/artist-search" method="GET" id="searchForm">
        <input type="text" id="artistInput" name="artist" class="input">
        <button id="searchArtistBtn" class="btn" type="submit">Search for an Artist</button>
    </form>
</div>
