<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Spotify</title>
</head>

<body>
  <form action="/artists">
    <input type="text" name="artist">
    <button type="submit">Search for an artist</button>
  </form>
</body>

</html>