<div class='container'>
  <div>
    <img class='background-img' src='/images/spotify-background.jpeg' alt='' />
  </div>

  <div class='form'>
    <form action='/artist-search' , method='GET'>
      <label for='search'></label>
      <input
        class='form-input'
        type='text'
        id='search'
        placeholder='Bob Dylan'
        name='q'
      />
      <br />
      <button class='btn' type='submit'>Search for an Artist!</button>
    </form>
  </div>
</div>