

    <main class="container text-center mt-5">
  <div
    class="col-12 alto d-flex flex-column align-items-center justify-content-center">
    <div class="col-6 bg-light bg-opacity-10 p-5">
      <form class="row" action="/artist-search" method="GET">
        <div class="col-md-12">
          <input class="form-control" type="text" id="search" name="q" />
        </div>
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-danger">Search for an Artist</button>
        </div>
      </form>
    </div>
  </div>
</main>