<div class="home">
    <img src="/images/spotify-background.jpeg" alt="Main image" class = 'mainimage'>
        <form action="/artist-search" method="GET" class="form">
            <input type="text" name="artist">
            <button type="submit" id="searchBtn">Search for an Artist</button>
        </form>
</div>
