<div class="container">

    <div class="row text-center">
        <h1 class="col display-1">SPOTIFY APP</h1>
    </div>

    <div class="container searchfield text-center">
    
        <form action="/artist-search" method="get"> 
            <div class="form-group">
                <input type="text" name="artist" class="form-control" placeholder="Search for artist" id="">
            </div>
     
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>