<div class="home">
    <div class="form-class">
        <form action="/artist-search">
            <input type="text" name="artist">
            <button type="submit">Search for an Artist</button>
    </div>
</div>