<div class="container cnt mtp foottext">
 <h1>Search an artist!</h1>
  <form class="form" action="/artists" method="get">
    <div class="form-group">
      <input class="inpt" type="text" name="artist" id="artist">
    </div>
    <button type="submit" class="btn btn-primary btnind">Search</button>
  </form>
</div>