<br>
<hr />

<h2>Ironhack Spotify</h2>
<br>
<hr />


<form action="/artist-search" method="GET">

    <label>
        <input type="text" name="artistName" />
    </label>
    <button type="submit">Search for an Artist</button>
</form>