<div>
    <div class="image">
        <img src="/images/spotify-background.jpeg" alt="Beer">
    </div>
    <div id="form-container">
        <form action="/artist-search" , method="GET">
            <input type="text" name="artist" id="artist">
            <div>
                <button type="submit">Search for an Artist</button>
            </div>
        </form>
    </div>
</div>