<div class="container-index">
    <div class="align-class">
        <form action="/artist-search" class="form-class">
            <input type="text" name="title" placeholder="  Search for an artist!">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
    
</div>
