<form action="/artist-search" method="GET" class="searchForm">

    <div class="row">
        <label>
            <input type="text" name="artist" placeholder="Deja de mirar a Britney y busca un artista..."
                class="searchInput">
        </label>
    </div>
    <div class="row">
        <label>
            <input type="submit" value="Show the artists" class="searchBtn">
        </label>
    </div>


</form>