<title>Spotify</title>
<div class="HomeContainer">
    <div class="form">
        <div class="form-Container">
            <form action="/artist-search" method="GET">
                <input type="text" name="fname" placeholder="Search for an artist"><br>
                <br>
                <a><button class="buttonIndex" type="submit">Search for an Artist</button></a>
            </form>
        </div>
    </div>
</div>