<div class="home-background">
  <div class="background-image">
    <div class="form-container" style="background-color: rgba(255, 255, 255, 0.5)">
      <form action="/artists" method="GET">
        <input type="text" id="search" name="artist" placeholder="Search an artist" value="Jonathan wilson"><br>
        <input type="submit" value="Search an artist">
      </form>
    </div>
  </div>
</div>