<h1>lab-express-spotify</h1>
<p>Welcome to the world!</p>

<h2>search for artistoooooo </h2>
<form action="/artists" method="POST">
  <input type="search" name="artistSearch" id="artistSearch">
  <button>Search!</button>
</form>