
<main>

    <div>
        <form action="artist-search" class='search'>
            <input type="text" name="artist">
            <button>Search for and Artist</button>
        </form>
    </div>
</main>