<div id="index-background">
    <form action="/artist-search" method="GET">
        <input type="text" placeholder="Search artist" name="artist">
        <input class="button" type="submit" value="Search">
    </form>
</div>