
    <div class = "background">
        <div class = "form-div">
            <form action="/artist-search" class = "form">
                <input class = "input-form" id="name-input" type="text" name="artist" placeholder="Artist">
                <button class = "form-button" type="submit">Search</button>
            </form>
        </div>
    </div>
