<div id="search-div">
  <form action="/artist-search" method="get" enctype="application/x-www-form-urlencoded">
    <input id="name" name="name" type="text" value="" placeholder="Feed me music..." />
    <br />
    <button type="submit">Search</button>
  </form>
</div>