<img class="background-img" src="public\images\spotify-background.jpeg" alt="background">

<form action="/artist-search", method="GET">
  <div class="container">
    <label for="name" class="form-label">Search for an artist</label>
    <input  type="search" class="form-search" id="name" name="name">
    <button>Search</button>
  </div>

</form>