<h2>♫ Search ♫</h2>
<form action="/artist-search" method="get">
  <label>Artist's name: </label>
  <input type="text" id="artistName" placeholder="Enter artist name ..." />
  <button type="submit">Search</button>
</form>