{{!-- <h1>index!</h1> --}}

<div class="index">
    <div class="form-container">
        <form action="/artist-search" method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="artist" name="artist" placeholder="">
            </div>
            <button type="submit" class="btn btn-danger search-btn">Search for Artist</button>
        </form>
    </div>
</div>