<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<title>{{doctitle}}</title>
</head>
<body>
	<h1>Spotimini</h1>	
    <form action="/artist-search" action="/artist-search" method="GET">
        <label for="title"> Josue's band</label>
        <input type="text" name="title" id="title">
        <button type="submit">Search for an artist</button>
    </form>

	{{{body}}}
</body>
</html>