<div id="search">
<form action="/artist-search" method="GET">
  <label for="artist">Artist Name:</label>
  <input type="text" id="artist" name="artist" required>
  <button type="submit">Search</button>
</form>
</div>