<div class="search-form">
  <form action="/artist-search" method="get">
    <input
      type="text"
      name="artistName"
      placeholder="Name of the artist/band.."
    />
    <button type="submit">Submit search</button>
  </form>
</div>