<form action="/artist-search", method="GET">

<div class="input-group mb-3">

  <input type="text" class="form-control" placeholder="search text" aria-label="search text" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Seach for an artist</button>
</div>
</form>