<div class="index">
    <form action="/artist-search" method="GET">
        <label>
            <input type="text" placeholder="Artist name" name="artistName">
        </label>
        <button type="submit" class="btn btn-primary">Search for an Artist</button>
    </form>
</div>