{{!-- <img src='/images/spotify-background.jpeg' alt="img" class="home-img"> --}}
<div class="form">
    <form action="/artist-search" method="GET">	
        <input type="text" name="artist" id="artist">
        <button type="submit">Search for an artist</button>    
    </form>
</div>