<section class= "background">

          <form  action="/artist-search", method="GET">
          <div class= "input-entry"> 
            <input type="text" name="artist" id="">
            <button type="submit">Search for an artist</button>
            </div>
           
          </form>

</section>
