<div class="container-index">
    <form action="/artist-search" method="GET">
        <input id="search" type="text" placeholder="Search" name="artist" class="place">
        <button type="submit" class="search">SEARCH Artist</button>
    </form>         
</div>