<div class="search-page">
  <img
    class="stage-img"
    src="/public/images/spotify-background.jpeg"
    alt="stage"
  />
  <form class="search-container" action="/artist-search" , method="GET">
    <input
      class="enter-field"
      name="artist"
      type="text"
      placeholder="Enter name"
    />
    <button class="search`z`-btn" type="submit">Search for an Artist!</button>
  </form>

</div>