<!DOCTYPE html>
<html lang="en" class="htmlIndex">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronSpotify API</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body class="bodyIndex">
    <div class="divBG">
        <form action="/artist-search" method="GET">
            <div class="containerIndex">
                <div class="parentSearch"><input type="text" name="search" id="search" class="search" placeholder="Search...."></div>
                <div class="parentButton"><button type="submit" class="buttonSearch"> Search for an Artist</button></div>
            </div>
        </form>
    </div>
</body>
</html>
