<div class = "searhField">
    
    <form action="/artist-search" method="GET">
    <label for="artist">search for an artist</label>
    <input type="text" name="artist" id="artist">
    <button type="submit">Search</button>
</form>
   

</div>