<link rel="stylesheet" href="/styles/style.css">

<div id="main-body">
  <form id="search-art"action="/artist-search" method="GET">
    <input type="text" name="artist" placeholder="artists name">
    <button type="submit">Search for an Artist</button>
  </form>
</div>