  <div class="search">
<form action="/artist-search" method="GET">
<input type="text" name="artist" placeholder="Name of the Artist">
<button class="submit-btn" type="submit">Search for an Artist!</button>
</form>
</div>
