<div class="bg">
    {{!-- <img src="../images/spotify-background.jpeg" alt="" class="image"> --}}
    <div class="formBg">
        <div class="formOuter">
            <form action="/artist-search" method="GET">


                <label>
                    <input class="searchInput" type="text" name="artist">
                </label>
                <br>
                {{!-- <input class="search" type="submit" value="Search for an Artist"> --}}
                <button type="submit" class="btn btn-danger">Search for an Artist</button>

            </form>
        </div>

    </div>
</div>