
<div class="begin">
<img src="images/spotify-background.jpeg"/>
<div>

<form action='/artist-search' method='get'>
<label for='artist-search'> Artist-Search</label>
<input type='text' name='artist' id='artist-search' />
<button type='submit'>Search </button>

