<div class="container">
    <div class="row d-flex align-items-center searchbox">
        <div class="col-12 d-flex justify-content-center">
            <form action="/artist-search" method="get" class="form-control-lg align-items-center">
                <input type="text" name="artist" placeholder="Enter your artist"></br>
                <button class="btn btn-warning mt-4 ml-4" type="submit">Search for an Artist</button>
            </form>
        </div>
    </div>
</div>