<div>
	<form action="/artist-search", method="GET" id="form">
	<label for="lname">Artist</label>
	<input type="text" id="lname" name="lname">
	</form>
	<button type="submit" form="form" value="Submit">Search for an Artist</button>
</div>