<section class="artist-search">
  <form action='artist-search' method='get'>
    <label for='search'></label>
    <input
      type='text'
      name='search'
      id='search'
      placeholder='Enter Artist Name'
      required
    />
    <button type='submit'>Search for an Artist</button>
  </form>
</section>