

    <h1>lab-express-spotify</h1>
    <p>Welcome to the world!</p>
    <form action="/artists" method="POST">
      <input type="search" name="artistSearch">
      <br>
      <button id="searchButton">search for an Artist!</button>
    </form>
