<!DOCTYPE html>
<html>
<head>
  <title>homepage</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <div class="container">
    <form action="/artist-search" method="GET">
      <input type="text" name="ArtistName" placeholder="Enter Artist Name Here" />
      <button>Search for an Artist</button>
    </form>
  </div>
</body>
</html>
