<head>
<link rel="stylesheet" type="text/css" href="/styles/style.css" media=”screen” />
</head>

<h1>Kristen's Muzak Search</h1>
<h2>Why use a perfectly good, premade search service when you can bootleg your own?</h2>
<img class="hamsterPic" src="https://uberhumor.com/wp-content/uploads/2013/10/ZwuyWEx.gif"/>
<form action="/artist-search">
  <input id="artist-input" type="text" name="artist-name" />

  <button type="submit">Search for an Artist</button>
</form>
