
<div id="mainPage">
<h1>Kristen's Muzak Search</h1>

<img class="hamsterPic" src="https://uberhumor.com/wp-content/uploads/2013/10/ZwuyWEx.gif"/>

<div id= "overlay"> 
  <form action="/artist-search">
  <input id="artistInput" type="text" name="artist-name"/>
<br>
  <button type="submit">Search</button>
</form>
</div>
<h2>Why use a perfectly good, premade search service when you can bootleg your own?</h2>
</div>
