<div class="container spoty-container">
<h1 class="text-white">Express Spotify Searcher </h1>

<form action="/artist-search" method="GET">
  <div class="form-group ">
 
  <input type="text" class="form-control spoty-input" name="artist" id="artist"> 
  </div>
  <button class="btn btn-success" type="submit">Search for an Artist</button>
  
</form>
</div>