
<img src="/images/spotify-background.jpeg" class="spotify-back" style="width: 50%">
<form action="/artist-search" method="GET">
    <label>
        <input type="text" name="artist">
    </label>
    <input type="submit" value="Search for an artist">

</form>