<section id="home-page">
    <form action="/artist-search" method="GET">
      <div class="form">
        <input type="text" name="artist">
        <button type="submit">Search for an artist</button>
      </div>
    </form>
</section>