
<h3>Search</h3>
<form action="/artist-search" method="GET">
    <label for="artist">Enter title</label>
    <input type="text" name="artist" id="artist">
    <button type="submit">Search</button>
</form>
