<div class="search-page">
  <div class="search-container">

    <div class="search-background">
      <form action="/artist-search" method="GET">
        <input
          class="enter-field"
          name="artist"
          type="text"
          placeholder="Enter name"
        />
        <br />
        <button class="search-btn" type="submit">Search for an Artist!</button>
      </form>
    </div>

  </div>
</div>