<div class="landing-page">

  <div class="artist-search">
    <form action="/artist-search" method="GET">
      <input type="text" name="artist" placeholder="Type your artist" />
      <button type="submit">Search</button>
    </form>
  </div>
</div>