<div class="container-search">
  <div class="search">
    <form action="/artist-search" method="GET">
      <input type="text" name="artist" id="artist" placeholder="Search for an artist (e.g. The Beatles)">
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>