
<!-- Simple form which will send a GET request -->
<form action="/artist-search" method="GET">
  <label for="search"></label>
  <input type="search" id="search"/>

  <button type="submit">Search for an Artist</button>
</form>
