<form action='/artist-search' method='GET'>
  <label for='artist'>Search for an Artist Here:</label>
  <input id='artist' type='text' name='artistName' />

  <button type='submit'>Search for an Artist</button>
</form>