<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/styles/styleHome.css">
</head>
<body>
  <div class="search">
    <div><form action="/artist-search" method="GET"></form></div>
    <div><label for="artist">Search for your favorite artists in the magic search box!</label></div>
    <div><input id="artist" type="text" name="artist"></div>
    <div><button type="submit">Search for your favorite artist</button></div>
</div>
</body>
</html>