<div>
    <form action="/artist-search" method="GET">
        <label for="artist">Enter a title</label>
        <input type="text" name="q" id="artist">
        <button type="submit">Search for the Artist</button>
    </form>
</div>