<div class="form-container">
  <form action='/artist-search' method='GET' autocomplete="off">
    <input type='text' id='searchFiled' name='artistName' />
    <button type='submit' class="submit-button">
      Search for an Artist
    </button>
  </form>
</div>