<div class="container-home">
    <div class="form-wrapper">
    <form action="/artist-search" method="GET">
        <input id="artist-input" type="text" name="artist" placeholder='Search for an artist'>
        <input type="submit" value="Search for an Artist">
    </form>
    </div>
</div>