<div class="home-container">
  <div class="home-form-container"  >
    <form action="/artist-search" method="get" >
      <input type="text" name="artist" required />
      <button type="submit">Search for an artist</button>
    </form>
  <div>
</div>