    <div class="container">
        <div class="search-box">
    <form action="/artist-search" method="GET">
        <input type="text" name="artist" id="artist">
        <button type="submit">Search for an Artist</button>
    </form>
    </div>
</div>