<div class="home-container">
    <div>
        <form action="/artist-search" method="GET">
            <label for="title"></label>
            <input type="text" id="title" name="q" placeholder="search..">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>