<h1>
It's working fine
</h1>
<form action="/artist-search" method="GET">
    <label for="name">Welcome to Spotify!</label>

    <input id="name" type="text" name="name" />
 
    <button type="submit">Search for an Artist</button>
</form>
    