<h1>Home</h1>

<form action="/artist-search" method="GET">

    <label>
        artistname 
        <input type="string" name="artistName" placeholder="Type here"/>
    </label>

    <button type="submit">Search for an Artist</button>

</form>       