<div class="home-container">
    <div class="box"/></div>
    <form class="search" action="/artist-search", method="GET">
        <input name="term" value="" placeholder="Ex: The Kooks" />
        <p/>
        <button class="index-button">Search for an Artist!</button>
    </form>
</div>    
      
