<div class="header">

  <form id="form" action="/artist-search" method="GET">
    <input placeholder="Artist name..." name="term" />
    <button id="button">Search for artist</button>
  </form>
</div>