<div class="container">
    <h1>Formulario de búsqueda</h1>
    <hr>

    <form method="GET" action="/results">

        El artista: <input type="text" name="artist_name">
        <br><br>

        <input type="submit" value="Search for an Artist">
    </form>

</div>