<div id="index">
    <div class="search-form-container">
        <form action="/artist-search", method="GET">
            
            <input placeholder="search" name="search" type="search" class="search">
            <button class="artist-search-button">Search for an Artist </button>
        </form>
    </div>
</div>