<form class="formu" action="/artist-searc" method="GET">
  
  <div class="mb-3 form-check">
    <input type="text" class="form-tex-input" name = "name" id="exampleform">
   
  </div>
  <button type="submit" class="btn btn-primary btn-danger">Search for an Artist</button>
</form>
