<div class="wrapper-main-image">
    <form action="/artist-search" method="GET" class="search-wrapper" >
        <input type="text" placeholder="Type the artist" name="artist">
        <button type ="submit" class="search-btn">Search for an Artist</button>
    </form>
</div>