<div class='background'>
  <div class='search-box'>
    <div class='background-searchform'>
      <form class='search-form' action='/artist-search' method='GET'>
        <input class="text" type='text' name='artist' placeholder='The Beatles' />
        <button class='btn btn-primary' type='submit'>Search for an Artist</button>
      </form>
    </div>
  </div>
</div>