<!-- Iteracion 3 step 1-->

<div class="d-flex justify-content-center align-items-center h-100">
  <form id="search-form" action="/artist-search" method="GET">
    <input class="form-control" type="text" name="artist" id="query" value="" placeholder="Type an artist" />
    <button class="btn btn-danger" type="submit" id="search" value="Search">Search for an Artist</button>
  </form>
</div>