  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6">
          <form class="form-inline d-flex justify-content-center" action="/artist-search" method="GET">
            <div class="input-group"> <input type="text" class="form-control form-control-lg" placeholder="Artist" name="artist" id="artist">
              <div class="input-group-append"> <button class="btn btn-primary btn-danger" type="submit">Search for an artist</button> </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>