<div class="form-container">

<form action="/artist-search" method="get">
 
 <input style="z-index: 10;" class="input" id="searchbar" type="text" name="searchArt" placeholder="Type here">
<div class="form-background"></div>
     <button style="z-index: 10;" class="btn">Search for an artist</button>

</form>
</div>