<section class="home">
    <form class="home-box" action="/artist-search" method="get">
        <label for="artist"></label>
        <input class="search-box" type="text" name="artist" id="artist">
        <button class="search-button" type="submit">Search for an artist</button>
    </form>
</section>