<div id="indexPage"  >
    <form action="/artist-search" method="GET">
        <input type="text" id="inputName" name="artistName" ><br>
        <input type="submit" id="buttonInputName"value="Search for an artist">
    </form> 
</div>
