<div>

    <form action="/artist-search" method="GET">

        <label>
            Search artist with Spotify:
            <input type="text" name="artist">
        </label>

        <button type="submit">SEARCH FOR AN ARTIST</button>
    
    </form>

</div>