{{!-- En el form la action es la referencia de la URL que se especifico en app.js --}}
<section class="home">
  <form class="form-1" action="/artist-search" method="GET">

    <input type="text" name="artist" placeholder="Artist's name" />

    <button type="submit">
      Search for an Artist
    </button>

  </form>
</section>