<section class="search">
  <form class="search__container" action="artist-search">
    <input class="search__input" type="text" name="q" />
    <button class="button" type="submit">Search for an artist</button>
  </form>
</section>