<div class="container-fluid full">
  <div>
    <form action="/artists" method="POST">
      <label for="artistName"></label>
      <input class="artistName" id="artist-name" type="text" name="artist" placeholder="Artist name">

      <button class="artistButton" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>
