<section class="home">

    <form action="/artist-search" method='GET'>

        <input class="input" type="text" name="artist" required>

        <input class="button" type="submit" value="Search for an Artist">

    </form>

</section>