<head>
    <link href="styles/search-bar.css" rel="stylesheet">
</head>

<div class="container">
    <div class="container logo">
        <img src="images/ironhackfy-logo.PNG" alt="">
    </div>
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search">
                <i class="fa fa-search"></i>
                <form action="/artist-search" , method="GET" , class="d-flex justify-content-center">
                    <input type="text" name="artist" placeholder="Search your favorite artist">
                    <button type="submit">Search for artist</button>
                </form>
            </div>
        </div>
    </div>
</div>