
<div class="index-container">

<img src="/images/spotify-background.jpeg" alt="" >
<form action="/artist-search" method="GET">
	<label for="query">Search for an Artist</label>
	<input type="text" id="query" name="q">
	<button type="submit">Search</button>
</form>

</div>