
  <div id="div-wrapper">
  <div class="form-wrapper">
    <form id="form" action='/artists' method='GET'>
    
      <input type='text' name='artistSearch'>
    
      <button id="artist-search-btn" type='submit'>Search for an Artist</button>
    </form>
  </div>
  </div>
