<div>
    <h1>Spotify API site</h1>
</div>

<div>
    <h2>Busca un artista para ver su repertorio</h2>
</div>
<div>

    <form action="/artist-search" method="GET">
        Artista: <input type="text" name="artist">
        <input class="btn btn-primary" type="submit" value="buscar">
    </form>
</div>