<div class="homepage">
    <form class="home-form" action="/artist-search" method="GET">
        <input name="search" id="search" type="text">
        <button type="submit">Search for an artist</button>
    </form>
</div>