  <section class="container-fluid d-flex justify-content-center align-center" id="main-container">
          <form class=" m-auto p-3 d-flex flex-column col-lg-6 align-center rounded" action="/artist-search" , method="GET" id="form-container">
              <input class="m-3 mt-5 " type="text" name="artist" id="" />
              <button class="mx-auto my-3 px-3 py-1 btn-danger rounded" type="submit">Search for an artist</button>
          </form>
      
  </section>