
<body class="home">

<div class="form">
<form class="form-field" action="/artist-search", method="GET">
    <input class="input-field" type="text" name="artists" placeholder="Artist's name">
    <button class="button" type="submit">Search for an Artist</button>
  </form>


</div>
</body>