<div class="background_index">
<div class="backgroundButton_index"></div>
<form class="form_index" action="/artist-search" method="get">
        <input class="input_index" type="text" name="artist">
        <button class="button_index" type='input'>Search for an Artist</button>
</form>
</div>