<h1>Buscador de Artistas</h1>
<hr>

<form action="/artist-search" method="GET">

    Artist Name: <input type="text" name="artist">

    <br><br>

    <input type="submit" value="Search for an Artist">

</form>