<div class="home-container">
    <div class="form-wrapper">
        <form action="/artist-search" class="form-group home-form" method="GET">
            <label for="artistName"></label>
            <input class="form-control home-input" id="artistName" type="text" name="artistName"
                placeholder="Kylie Minogue...">

            <button class="btn btn-primary home-search" type="submit">Search for an artist!</button>
        </form>
    </div>
</div>