<section class="intro-page position-absolute h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="card border-0 bg-dark text-white shadow-sm w-100 mx-auto" style="max-width:500px;">
            <div class="card-body p-md-5 text-center">
                <h1 class="h2">Explore Our Library</h1>
                <p class="lead">Find and explore your favourite artists.</p>
                <form action="/artist-search" method="GET">
                    <div class="d-flex">
                        <input type="text" class="form-control mr-2" placeholder="Search artists" name="search" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-success" type="sumbit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="text-center text-white small my-3">Created in collaboration with <a href="https://spotify.com" target="_blank" class="text-white">Spotify®</a></p>
    </div>
</section>