<di>
  <form action="/artist-search" method="GET">
    <input type="text" name="artist-search" placeholder="Enter Artist Name" />

    <button type="submit">Search for an Artist</button>
  </form>
</di>