<div class="home-background">

<div class="search-bar">

    <div class="form-artist">
        <form action="/artist-search" method="GET">
        <label for="artist" ></label>
        <input id="artist" type="text" name="artist" placeholder="Search your favorite artist" size="40" />
            <div class="form-btn">
                <button type="submit" class="btn-danger">Search for an Artist</button>
            </div>
    </form>
    </div>
</div>
    

</div>
