<div id="main">
        <div id="search">
            <form action="/artists" method="GET">
                <input id="artist-name" type="text" placeholder="Artist Name" name="artistName">
                <input type="submit" value="Search for an Artist">
            </form>
        </div>
    </div>