<div id="container">
    <img id="background-img" src="/images/spotify-background.jpeg">
    
    <div id='centered'>
        <form action="/artist-search" method="GET">

            <label>
                <input type="text" name="name" />
            </label>

            <button type="submit">Search for an Artist</button>
        </form>
    </div>

</div>