<h1> PÁGINA PRINCIPAL </h1>

<form action="/artist-search" method="GET">

    <label>
        Buscar artista:
        <input type="text" name="artist">
    </label><br>
    <label>

    <input type="submit" value="Search for an Artist">

</form>