<div class="formclass">

  <form action="/artist-search" method="GET">

    <input type="text" name="artist" />
    <br />
    <br />
    <input type="submit" value="Search for an Artist" />

  </form>

</div>