<form id="search" action="/artist-search" method="GET">
  <input class="search-bar" id="artist" name="artist" type="text" placeholder="Search for artist:" />
  <input type="submit" class="search-button" value="Search" />
</form>