<div>

    <form action="/artist-search" method="GET" id="divForm">

        <input type="text" name="artist" placeholder="Search an artist..."><br><br>
        <button type="submit" value="Submit" class="button"> Search for an Artist </button>

    </form>

</div>