<h2>Spotify App</h2>

<form action="/artist-search" method="GET">
  <label>Search by Artist</label>
  <input type="text" name="artistName" />
  <br />
  <button type="submit">Search for an Artist</button>
</form>