<form action="/artist-search">
  <label for="artist-search"></label>
  <input id="artist-search" type="text" name="artist" placeholder=" Search">
  <button type="submit">Search for Artist</button>
</form>