<form class="row g-3 align-items-center index-row" action="/artist-search" method="GET">

  <div class="col-auto">
    <label for="artistName" class="col-form-label">Artist name:</label>
  </div>

  <div class="col-auto">
    <input type="text" id="artistName" class="form-control" name="artistName" />
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>

  <span id="artistHelp" class="form-text">which artist's songs would you like us
    to find?
  </span>
</form>