<div class="home-page">
        <form action="/artist-search" method="get">
                <input type="text" value="The Beatles" name="artist">
                <button type="submit" class="button">Search for an Artist</button>
        </form>
</div>