<div class="bk">
    <div class="fnd">
        <form action="/artist-search" method="get" class="formSerch">
            <div class="search">
                <input id="search-text" type="text" name="artist">
                <button class="btn btn-danger">Search for an Artist</button>
            </div>
        </form>
    </div>
    
</div>