<div class="container">
    <div class="container-search">
        <form action="/artist-search" method="get" class="search-form">
            <input type="text" name="artist" placeholder="artist">
            <button type="submit" class="btn-search">Search Artist</button>
        </form>
    </div>
</div>