<form action="artist" class="artist-form" method="GET">
    <input class="artist" type="text" name="artist" value="prince">
    <button class="search-artist">Search for an Artist!
    </button>
</form>