
<div class="container mainPageDiv">
    <div class="formDiv">
        <form action="/artist-search" method="GET" class="mainPgField">
        <input type="search" name="artistName" placeholder="Search for an artist..." class="mainInput">
            <br>
        <button type="submit" class="mainButton">Search for an Artist</button>
    </form>
    </div>
</div>

 


