<div id="home">

    <div class="home-image">
        <img src="/images/spotify-background.jpeg" alt="">
    </div>

    <div class="home-form">
        <form action="/artist-search" method="get" class="container">
            <label for="artist-search"></label>
            <input type="text" name="artist" id="artist-search" placeholder="Artist Search">
            <button type="submit" class="home-form__btn">Search for an Artist</button>
        </form>
    </div>

</div>