<div class= "container" > 
  <form action= "/artist-search" method="GET"> 
  <label>
      <input type= "text" placeholder="indica el artista" name= "artist">
  </label>
  <input class="button" type= "submit" value="search for an artist">
  </form>

</div>