<section id = 'main'>
    <div class ='form1' data-aos='fade-down'>
        <form action="/artist-search" method="GET">
        <input class='search-field' type="text" name='search'>
        <button class='btn-submit' type='submit'>Search For an Artist</button>
        </form>
    </div>
</section>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src='/src/main.js' type='text/javascript'></script>