<!-- <h3>HOME</h3> -->
<!-- <div class="container-fluid" >
  <form class="" >
    <label for="">
      <input type="text"  >

    </label>
    <button type="button" class="btn btn-danger"></button>

  </form >
</div> -->

<form action="/artist-search" method="GET">

  <div class="artist-search">
    <label for="exampleInputPassword1"></label>
    <input type="text" name="artist-search" class="form-control" id="artist-search" placeholder="" value="">
  </div>

  <button type="submit" class="btn btn-danger">Search for Artist</button>
</form>
