<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My first view</title>
    <link rel="stylesheet" href="/lab-express-spotify/public/styles/style.css" />
  </head>
  <body>
    <h1>Spotify like crazy!</h1>
 

    <div>
        <form class="form" action="/artist-search" method="GET">
   <label for="artist-name">Artist Name:</label>
   <input type="text" id="artist-name" name="artist" required />
  <button type="submit">Search</button>
    </form>

    </div>

    </form>
  </body>
</html>