<div class="index-container">
    <div class="index-search-wrapper">
        <div class="title">
            <h1>Start your music journey here</h1>
        </div>
        <div class="search-form">
            <form action="/artist-search" method="GET">
                <label for="search-input">
                <input id="search-input" type="text" name="searchTerm" placeholder="Enter an artist"/>
                </label>
                <button type="submit" id="btn-find">search</button>
            </form>
        </div>
    </div>
</div>