<div class="texto">
    <h1>Buscador Spotify</h1>
    <form action="/artist-search" method="GET">
        Artista: <input type="text" name="artista">
        <br>
        <input type="submit" value="Search Artist" class="btn btn-black">
    </form>
</div>