<h1>Search for an artist</h1>
<form action="/artists" , method="GET">
    <label for="name">Enter artist name</label>
    <input type="text" name="name" id="name">
    <button type="submit">Search</button>
</form>