<section>
  <h1>Spotify</h1>
  {{!-- El atributo 'action' define el lugar donde los datos se envian --}}
  <article>
    <form class="search-box" action="/artist" method="GET">
      <input class= "search-input" type="text" name="artist" placeholder="Artist">
      <button class ="btn" type="submit">Search</button>
    </form>
  </article>
</section>