<div class="container-index">
    <form class="form-index" action="/artist-search">
        <label for="">Artist</label>
        <input type="text" name="artist" id="" />
        <button type="submit" class="btn btn-danger">SEARCH</button>
    </form>
</div>
