<div class="main">
        <form action="/artist-search" method="GET">
                <label for="searchFiled"></label>
                <input type="text" id="searchFiled" name="artistName"/>
                <button type="submit">Search for an Artist</button>
        </form>
</div>