<form action= "/artist-search" method="GET">
    <label>
        <input class="artistName" type= "text" name="artistName" placeholder= "Type artist name here"/>
    </label>
    <button class="butnSubmit" type="submit">Search for an Artist</button>
    </form>
