<h1> Soy el Index</h1>

<div>
    <form action="/artist-search" method="GET">
        <label>
            Artist:
            <input type="text" name="artistname">
        </label><br><br>

        <input type="submit" value="Search for an artist">

    </form>
</div>