<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dioni´s Spotify</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body class="bodyhome">

    <div class="home">
        <div class="homebox">
            <h1 class="h1home">Dionisfy</h1>

            <form action="/artist-search" method="GET">
                <div class="formhome">
                    <input type="text" name="artistSearch" id="Enter artist">
                    <button type="submit" class="homeb">Search for an Artist</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>