<!DOCTYPE html>
<html>
<head>
  <title>Express Spotify</title>
  <style>
    #search-input #search-button #search-box {
      outline: none;
      box-shadow: none;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <div class="container">
    <form action="/artist-search", method="GET" id="form">
        <label for="search-box"></label>
        <input id="search-input" type="text" name="artist" placeholder="Enter artist name"/>
        <button type="submit" id="search-button">Search for an Artist!</button>
    </form>
  </div>

  <div class="image-container">  
    <img src="/images/spotify-background.jpeg" id="image">
  </div>
</body>
</html>