<div class="search-container">
    <form action="/artist-search" method="GET">
        <input type="text" id="search" name="q">
        <button type="submit">Search for an Artist</button>
    </form>
</div>