<div class="index-form-container">
    <div class="block">
        <form class="index-form" action="/artist-search" method="GET">
            <label for="artist"></label>
            <input type="text" name="artist" id="artist"> <br>
            <button class="button" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>

