{{!-- <div>
    <h1>Home page</h1>
</div> --}}
<form action="/artist-search" method="GET">
	{{!-- <label for="search">Enter a Title:</label> --}}
	<input type="text" id="search" name="q">
	<button type="submit">Search for an Artist</button>
</form>