    <div class="index">
        <form action="/artist-search" method="GET">
            <input name="artist" type="text">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>