<form action="/artist-search" method="GET">
    <label for="search" name="artist"></label>
    <input type="text" id="search" name="artist"> <br>
    <button type="submit">Search for an Artist</button>
</form>