
<form class="form-inline" action="/artist-search" method="GET">

  <div class="form-group mb-2">
    <input type="text" name="artist" class="form-control">
  </div>

  <button type="submit" href="" class="btn btn-dark mb-2">Search</button>

</form>