<section class="homepage">
 <div class="search-bar">
 <form action='/artist-search' method='get'>
      <label for='artist'></label>
      <input type='text' name='artist' id='artist' />

      <button class="search-btn" type="submit"> Search for an Artist</button>
 </form>
    
</div>
</section>