

    <section>
        <form method="GET" action="/artist-search">
            <input type="text" id="artist" name="artistName" required/>
            <button type="submit">Search for an Artist</button>
        </form>
    </section>


