<div class="container">
<div>
    <form action="/artist-search", method="GET">
    <input type="text" name="artistSearch" id="artistSearch" placeholder="Enter the artist's name">
    <button type="submit">Search!</button>
    </form>
</div>
</div>