<main class="container">
    <section class="row" >
        <div class="col-12" id="spotify-form-box" >
        <form action="/artist-search", method="GET" class="spotify-form-style">
            <input type="text" name="artist" placeholder="Search" class="form-control" id="input-artist"><br>
            <input type="submit" value="Search for an artist" class="btn btn-danger" >
        </form>
        </div>
    </section>
</main>



