<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>

    <div class="form1">
      <form action="/artist-search" method="GET">
        <input type="text" name="artist" id="artist" /><br />
        <button type="submit">Search for an Artist</button>
      </form>
    </div>

  </body>
</html>