<div class="container search-form">
  <form class="d-flex  justify-content-between" action="/artist-search" method="GET">
    <div class="row justify-content-center">
      <input name="artist" value="" placeholder="Artist">
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-success">Search Artist</button>
    </div>
  </form>

</div>