<form action="/artist-search">
  <label for="artist-input"></label>
  <input id="artist-input" type="text" name="artist" placeholder="The Beatles">
  <button type="submit">Search for an Artist</button>
</form>