<main id='index'>

	<div class='index-flex' id='artists-flex'>
		<form id='artist-search' action='/artist-search' method='GET'>

			<input type='text' placeholder='Artist' name='artist' id='artist' />
			<button class='search-button' type='submit'> Search for an Artist</button>
		</form>
	</div>
</main>