<div class="home-container">
  <div class="form-wrapper">
    <form action="/artist-search" class="form-group home-form" method="GET">
      <input placeholder="Search for an artist!" class="form-control home-input" type="text" name="artist_name">
      <button class="btn btn-primary home-search mt-3 bg-danger" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>