
   <form action="/artist-search" method="get" >
<div class="form-row d-flex justify-content-center">
    <div class="col-md-6 mb-3">
      <input type="text" class="form-control" id="search" name = "search" placeholder="Search">
 </div>
 <button type="submit" class="btn btn-danger mb-3 md-6">Search</button>
 <img src="/images/spotify-background.jpeg" alt="spotify-image" class= "home-image" >
 </form>
  

