<div class="form-wrapper">
<form action="/artist-search" method='GET'>
    <input type="text" placeholder="Type your artist here">
    <input type="submit" value='Search for an Artist' >
</form>
</div>