
<h1>Search for any Artist</h1>
    <form action="/artist-search", method="GET">
        <label for="artistName">Search Artist</label>
        <input type="text" id="artistName" name="artistName">
        <button type="submit">Search</button>
    </form>
  