<div class="section-form">
        <form action="/artist-search" method="GET">
             <input name="artist">
             <button type="submit"> Search for an Artist</button>
        </form>
</div>