<div class="spotify-image">
    
    <div class="border-box">
        <form class="center-form" action="/artist-search" method="GET">
        <label for="" placeholder="Artists"></label>
        <input class="input-form"type="text" name ="artistName" placeholder="Artist's name">
        <button class="red-button" type="submit">Search for an Artist</button>
</form>
    
    </div>

</div>