<div class="title">
    <h1>Start your music journey here</h1>
</div>
<div class="search-form">
    <form action="/artist-search" method="GET">
        <label for="search">
        <input id="search" type="text" name="searchTerm"/>
        </label>
        <button type="submit">search</button>
    </form>
</div>