<div>
    <img class = "main-image"src="/public/images/spotify-background.jpeg" alt="mainImage">
    <div>
        <form action="/search-artist" method="GET">
        <input class = "main-search" id = "query" type="text" name="search" placeholder="search">
        <button class = "main-btn">Search for an Artist</button>
        </form>
    </div>
    </div>