<form action="/artists-search" method="GET">
<div class="centerSearch">
<input class="form-control col-sm-8" type="search" name="artistName" placeholder="The Beatles"> 
<a href="/artists-search"><button type="button" class="btn btn-primary btn-lg col-sm-2">Search For An Artist</button></a>
</div>
</form>