<div class="home-container">
    <div class="form-holder">
        <form class="search-form" action="/artist-search" method="get">
        <input type="text" name="artist" id="search" placeholder="Enter artist name">
        <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>