<div class="principal">
    <form action="/artist-search" method="get">
    <input type="text" name="artist" id="buscador">
    <button>Search for an artist</button>
    </form>
    <img src="/images/spotify-background.jpeg" id="fondo">
</div>