<title>Spotify</title>
<div class="index">
  <div class="form">
      <div class="form-box">
        <form action="/artist-search" method="GET">
           <input type="text" name="search" placeholder="Search for an artist!"><br>
           <br>
           <a><button class="buttonIndex"type="submit">Search for an Artist</button></a>
        </form>
     </div>
  </div>
</div>