<!-- layout.hbs -->
<div class="home-container">
  <div class="form-wrapper">
    <form action="/artists" method="POST" class="form-group home-form">
      <input placeholder="Search for an artist!" class="form-control" type="text" name="artist" id="artist-input">
      <button class="btn home-search" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>∫