<body id="main">
    <form action="/artist-search" method="GET">
        <label for="" style="color: white;">Artist Name:</label>
        <input type="text" name="artistName">
        <button type="submit">Search</button>
    </form>
</body>
