<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>We are in the search page!</h1>

<form action="/artist-search method="get>

  <label for="artist"></label>
  <input type="text" id="artist" name="artist"><br><br>

</form>

</body>
</html>