<!-- layout.hbs -->
<div class="form-container ">
  <div class="form-content ">
    <form action="/artists" method="POST">
      <div class="form"></div>
        <input  type="text" class="form-control" id="artist" name="artist" placeholder="Enter artist name">
        <button type="submit" class="btn">Search for artist</button>
      </div>
    </form>
  </div>
</div>