<div class="container mainPageDiv">
    <div class="formDiv">
        <form action="/artist-search" method=:"GET">
            <input type="search" name="artistsName" id="" placeholder="Insert artist name here...">
            <br>
            <button type:"submit">Find artists!</button>
        </form>
    </div>
</div>