<div class='index-container'>

  <div class="formulario-index">
    <form action="/artist-search" method="GET">
      <input id="artist" type="text" name="artist" placeholder="Artist's name" />
      <button type="submit">
        Search for an Artist
      </button>
    </form>
  </div>

</div>