<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="row align-self-center">
        <div class="col-6 mx-auto">
            <div class="jumbotron text-center">
                <form action="/artist-search" , method="GET">
                <div>
                    <label for=""></label>
                    <input type="text" name="song">
                </div>
                <div>

                    <button class="btn btn-primary btn-lg m-5" type="submit">Buscar Artista</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>