<section class="index">
     <div class="banner">
     </div>
     <div class="index-wrapper">
          <form action="/artist-search" method="GET">
               <input type="search" name="artist" id="search-field" placeholder="Artist's name"/>
            
               <button type="submit">Search for an artist</button>
          </form>
     </div>
</section>