<section class="page-container">
    <div class="search-container">
        <form id="artist-search" action="/artist-search" method="GET">
            <input class="artist-search-input" type="text" placeholder="Artist Name" name="artistSearch">
        </form>
        <button class="search-button" type="submit" form="artist-search">Search for an Artist</button>
    </div>
</section>