<h1>HOME</h1>
<form class="" action="/artist-search" method="GET">
  <label for="artist-search">
    <input type="text" name="artist-search" value="">

  </label>
  <button type="button" name="button"></button>
</form>
