<div class="main-container">
<form class=" " action="/artist-search" method="get">
  <label>

    <input id="inputField" type="text" name="artist">
  </label>
    <button type="submit">SEARCH</button>
</form>
</div>
