{{!-- <img src="/public/images/spotify-background.jpeg" class="img-fluid" alt="Responsive image"> --}}



{{!-- <div class="searchBar">
    <form action="/artist-search" method="GET">
        <div class="form-row">
            <input type="text"  name="artist" placeholder="Artists Name" required />
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-danger">Search for an Artist</button>
        </div>
    </form>
</div> --}}
<div class="backgroundImage">

    <div class="backgroundImageTwo">
        <form class="form" action="/artist-search" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="artist" placeholder="Artists Name" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-danger">Search for an Artist</button>
        </form>
    </div>

</div>