<div id="search">
    <h1 id="header">Find your favorite music</h1>
    <form action="/artist-search" method="GET">
        <input id="search-input" type="text" name="queryArtist">
        <input id="search-submit" type="submit" value="FIND">
    </form>
</div>