
    <div class="div-search-artists">
        <h1>Find an artist</h1>
        <form action="/artist-search" method="GET">
        <input type="text" name="artist" placeholder="Search for artista">
        <button type="submit">Search</button>
        </form>
    </div>
  