<div class="container d-flex justify-content-center align-items-center h-100">

    <form action="/artist-search-result" method="GET">
        <input type="text" name="artist" placeholder="Type here...">
        <button type="submit">Search</button>
    </form>

</div>