<div class="index-pg">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <h1>Search artist form</h1>
            <form method="GET" action="/artistsearch">

                <div class="form-group">
                    <input name="artistname" type="text" class="form-control" id="artistname">
                </div>
                <button type="submit" class="btn btn-dark">Search for an Artist</button>
            </form>
        </div>
    </div>