<div class="home-container">
    <form action="/artist-search" method="GET">
        <input type="text" id="searchID" name="searchName" placeholder="Artist" value="">
        <button type="submit">Search</button>
        {{!-- <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for an Artist..." aria-label="Recipient's username"
                aria-describedby="button-addon2" name="searchName">
        </div>
            <button class="btn btn-dark go-button" type="button" id="button-addon2">Go</button> --}}
    </form>
</div>