<div class="full-window">
  <div class="search-form">
    <form action="/artist-search" method="get">
      <input
        type="text"
        name="search"
        placeholder="Search for your favorite artist"
      />
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>