<div class="index-bg d-flex justify-content-center align-items-center">
    <div class="row"></div>
            <form class="form-cont d-flex justify-content-center align-items-center" action="/artist-search", method="GET">
                <label class="m-2" for="artist"></label>
                <input class="m-2" type="text" id="artist" name="artist" placeholder="Ex: The Beatles">
                <button class="m-2" type="submit">Search</button>
            </form>
    </div>
</div>
