<div class="container index">
    <div id="divForm"> 
        <form id="form" action="/artist-search", method="GET">
            <input id="input" type="text" name="artist">
            <button type="submit" class="btn btn-danger">Search for an Artist!</button>
        </form>
    </div>
</div>