<div class="container mt-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-10 offset-md-1 my-5 d-flex justify-content-center align-items-center searchbox">
            <form action="/artist-search" method="get" class="form-control-lg text-center">
            <!-- name = search-parameter => /artist-search?artist= -->
                <p><input type="text" name="artist" placeholder="Enter your artist"></p>
                <button class="btn btn-danger" type="submit">Search for an Artist</button>
            </form>
        </div>
    </div>
</div>

