<div class="home">
<h1>Get started!</h1>
<div class="form-wrapper"></div>
    <form action="/artist-search" method="GET">
        <input type="text" name="artist" autocomplete="off">
        <button type="submit">Search for an Artist</button>
    </form>
    <p>or</p>
     <form action="/title-search" method="GET">
        <input type="text" name="title" autocomplete="off">
        <button type="submit">Search for a Title</button>
    </form>
    <p>or</p>
    <a href="/new-releases" class="new-releases-link">Check out new releases</a>
</div>
</div>