<div class="myIndex">
    <div class="container text-center">
        <h1 class="">Search artist</h1>
        <hr>
        <form action="/artist-search" method="get">
            <input type="text" name="artist"><br><br>
            <input type="submit" value="Search for an artist!">
        </form>
    </div>

</div>