<form action="/artist-search" method="GET">
    <label for="">
        <input type="text" placeholder="The Beatles" name="artist">
    </label>
    <button type="submit">Search for an Artist</button>
</form>