<main id='index-page'>
<div>
    <form action="/artist-search" method="GET">
      <input type="text" name="name" id="name">
      <button type="submit" class="search-button">Search for an artist</button>
    </form>
  /</div>
</main>