<form action="/artist-search" method="GET">
    <label for="artistName">Enter an artist name</label>
    <input type="text" id="artistName" name="q">
    <button type="submit">Search for an Artist</button>
</form>