 
 <div class="background">
   <form class="form-inline md-form mr-auto mb-4" action="/artistSearch" method="GET">
     <input class="form-control mr-sm-2"  name="artistSearch" type="text" placeholder="Search" aria-label="Search">
     <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search for an Artist</button>
   </form>
</div>
  