<div class="index-container">
    <div class="row justify-content-center index-div">

        <div class="col-md-8">
            <form method="GET" action="/artistsearch">

                <div id "indx-form" class="form-group">
                    <input name="artistname" type="text" class="form-control" placeholder="Search an Artist"
                        id="artistname">
                </div>
                <button type="submit" class="px-7 srch-btn btn btn-dark">Search for an Artist</button>
            </form>
        </div>
    </div>