<div>
    <div class="start">
    <form action="/artist-search" method="GET"> 
        <label for="artist">Enter an artist</label><br>
        <input type="text" name="searchArtist" id="searchArtist" minlength="2"> <br>
        <button type="submit" class="btn-danger btn-sm">Search</button>
    </form>
    </div>
</div>
