<h1>Spotify</h1>
<h3>Search for a song</h3>
<form action="/artist-search" , method="GET">
    <label for="artist">Enter an artist</label>
    <input type="text" id="title" name="artist">
    <button type='submit'>Search</button>
</form>
{{!-- <div class="movies-container">
    {{#each moviesArray}}
    {{> movieCard this }}
    {{/each}}
</div> --}}