<section id="principal">

    <div class="background"></div>
    <div class="foreground">

        <form class="mainForm" action="/artist-search" method="get">
        <input type="text" name="Artist" placeholder="Artist">
        <br>
        <br>
        <button class="btnModel" type="submit" value="Search">search for an artist</button>
        </form>
        

    </div>







</section>