<form action="/artist-search" method="GET">
    
    <label for="artist">FIND YOUR FAVOURITE ARTIST:</label>
    <input type="search" placeholder="ARTIST NAME" id="artist" name="artist"> 
    <button type="submit">SEARCH</button>

</form>