<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Search</title>
    <link rel="stylesheet" href="/styles/style.css" />

  </head>
  <body>
    <div class="div-search-artist">
      {{! <div class="div-search-artist-input-button"> }}
      <form action="/artist-search" method="GET">
      <div class="div-search-artist-input-button">
        <input type="text" name="artist" placeholder="Search for artist" />
        <button type="submit">Search</button>
      </div>
      </form>
      {{! </div> }}
    </div>
  </body>
</html>