<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>SPOTIFY APP</title>
  </head>
  <body class="index">
    
    <header>
      <h1 class="index">Spotify App</h1>
    </header>
<div class="index">
    <form action="/artistSearch" method="GET">
      <input type="text" name="artistSearch" placeholder="The Beatles" />
      <button type="submit">Search for an Artist</button>
    </form>
    </div>

  </body>
</html>