<body class="spotifyimg">
    <form class="whitebackground" method="get" action="/artist-search">
        <div class="enterArtist">
            <input class="enterArtistBox" type="text" name="artist" placeholder="Enter Artist Name"/>
        </div>
        <div class="searchButton">
            <button class="searchButtonColor" type="submit">Search for an Artist</button>
        </div>
    </form>
</body>
