<div class="main-container">
    <div class="form-container">
        <form action="/artist-search" method="get" >
            <input type="text" name="artist">
            <button type="submit">Search here!</button>
        </form>
    </div>
</div>