<h1>Formulario de búsqueda</h1>
<hr>

<form action="/artist-search" method="GET">

    <label>
        Artista: <input type="text" name="artist">
    </label><br>


    <input type="submit" value="Search for an artist">

</form>


<a href="/">Volver al inicio</a>