<div class="selector content"></div>
  <div class="p-box">
      <form class="flex-search" action="/artist-search" method="get">
        <input class="parameters input"id="artist" type="text" name="artist" />
        <button class="parameters btn btn-danger"type="submit">Search for an Artist</button>
      </form>
  </div>
</div> 