<div id="search-container">
    <form action="/artist-search" method="GET">
        <input type="search" name="query" id="search-bar"/>
        <button type="submit" id="submit-button">Search for an Artist</button>
    </form>
</div>