<!-- layout.hbs -->

<div class="container">
  <div class="form-container row">
    <div class="form-content col">
      <form action="/artists" method="GET">
        <div class="form-group">
          <input  type="text" class="form-control" id="artist" name="artist" placeholder="Enter artist name">
          <button type="submit" class="btn">Search for an artist</button>
        </div>
      </form>
    </div>
  </div>
</div>
