
<div class="container__landing">
<form action="/artist-search" method="GET" lass="form-group" class="landing__form">
    <input type="text" name="artist"  class="form-control" placeholder="Enter an artist name">
    <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>
</div>
