<div class="landing">
<div class="bg-image-panel">
    <div class="form-div">
        <form method="POST" action="/artist-search">
            <input class="form-control" name='search' type="text" placeholder="Search for artist">
            <button type="submit" class="btn btn-danger">Search for an Artist</button>
        </form>
    </div>
</div>
</div>