<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <nav>
            <a class='homelink' href="/">Home Page</a>
        </nav>

            {{{body}}}
    </body>
</html>