<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
  <body>

    {{{body}}}
  </body>

</html>