<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spotify API</title>
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="icon" type="image/png" href="/images/spotify-fav.png"/>
    </head>

    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>

</html>