<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
    <title>Spotify</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
             <div class="container-fluid">
            <a class="navbar-brand" href="/">Spotify</a></div>
        </nav>

        {{{body}}}

    </header>
    
</body>
</html>