<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Spotify Express</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
      {{{body}}}
        
        
    </body>
</html>