<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      {{{ body }}}
  </body>
  <footer>
      
  </footer>
</html>