<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="topnav">
            <a class="active" href="/">Home</a>
          </div>
    </nav>
    <h1>SPOTIFY API</h1>
     {{{body}}}
</body>
</html>