<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://127.0.0.1:3000/styles/style.css">
    <title>Layout</title>
</head>
<body class="homepage">
    {{{body}}}
</body>
</html>