<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Spotify App</title>
 
</head>
<body>
  <header>
    <h1>Welcome to My Spotify App</h1>
    
  </header>

  <main>
    {{{body}}}

  <footer>
    <p>&copy; 2023 My Spotify App</p>
  </footer>
</body>
</html>