<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <nav>
            <a href="/">Home Page</a>
        </nav>
            <h3>Try</h3>
            {{{body}}}
    </body>
</html>