<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Search</title>
    <link rel="stylesheet" href="/styles/stylesheets.css" />
</head>

<body>
    <header id="headerBar">
        <h5>Spotify search</h5>

        <nav>
            <a href="/">Home</a> |
            <a href="/contact">Contact page</a>
        </nav>
    </header>

    {{{ body }}}

</body>

</html>