<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify API - Express Lab</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
  <header>
    <a class="logo" href="/"><img src="/images/logo.png" alt="Spotify Lab" height="100px"/></a>
  </header>
  <body>
    {{{body}}}
  </body>
</html>