<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronSpotify</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
      
            <nav class = "nav-bar">
               

            </nav>
    
    {{{ body }}}
  </body>
</html>