<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <title>Spotify</title>
</head>
<body>
    <div class="main">
        <nav>
            <a href="/">Home</a>
            <a href="javascript:history.back()">Back</a>
        </nav>
        <div>
        {{{body}}}
        </div>
    </div>
    <footer>
        <p>This website was developed by Júlia Foresti <br> during <a href="https://www.ironhack.com/br">Ironhack's</a> WebDevelopment Bootcamp </p>
        <a href="https://www.linkedin.com/in/juliajforesti/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"> </i> /juliajforesti</a>
        <a href="https://github.com/juliajforesti"><i class="fa fa-github fa-2x" > </i> /juliajforesti</a>
    </footer>
</body>
</html>