<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify API</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <div id="wrapper" {{#if index}}class="center" {{/if}}>
        {{#unless index}}<header>{{> searchForm}}</header>{{/unless}}
        <main {{#if wraper}}class="{{wraper}}" {{/if}}>
            {{{body}}}
        </main>
    </div>

</body>

</html>