<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <link rel="stylesheet" href="http://127.0.0.1:3000/styles/style.css">
</head>

<body>
    <nav>
        <form action="/artist-search" , method="GET">
            <input type="text" placeholder="Artist" name="artist">
            <button type="submit">Search</button>
        </form>
    </nav>
    {{{body}}}
</body>

</html>