<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{{!-- <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
   </nav> --}}

<body>
    {{{body}}}
</body>

</html>