<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronBeers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body class="container-body">
    <header>
      <div class="logo-header">
        <img href="#" src="/images/spotify-icon-white.png">
      </div>
    </header>
    
    <main>
    {{{ body }}}
    </main>

    
  </body>
</html>