<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <title>Spoti Alvaro y Yai</title>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>

</body>

</html>