<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap" rel="stylesheet">
    <title>avaiva: music box</title>
</head>
<body>
    <main>
    <nav>
        <a href="/"> avaiva: music box</a>
    </nav>

    <section>
        {{{ body }}}
    </section>

    <footer>
        <p> Made with ♥ by <a href="www.github.com/avaiva"> avaiva</a></p>
    </footer>
    </main>
</body>
</html>