<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Search</title>
    <link rel="stylesheet" type="text" href="/styles/style.css">
</head>
<body>
    <nav>
    </nav>
    <main>
        {{{ body }}}
    </main>
</body>
</html>