<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Spotify</title>
    <link href="/styles/style.css" rel="stylesheet" />
  </head>
  <body class="text-light bg-dark">
 
    <main>
      {{{ body }}}
    </main>
 
    <script src="/script.js"></script>
  </body>
</html>      