<div>
    <form action="">
        <input type="text" name="">
        <button type="submit">Search for an artist</button>
    </form>
</div>

<style>
    div{
        height: 150px;
        width: 500px;
        background-color: black;
    }
</style>