<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Spotify666</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Spotify666</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">
            Home
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link" href="/beers">Beers</a>
          <a class="nav-item nav-link" href="/random-beer">Random Beer</a>
        </div>
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>

  </body>
</html>