<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<header>
    <div class="nav">
        <h1>Completely Legit Spotify (100% real) <img src="/images/hippie.jpg" alt="HiPPY"></h1>
        <a href="/">back to the search engine</a>
    </div>
</header>

<body>
    <div class="contents">
        {{{body}}}
    </div>
</body>

</html>