<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Artist Search</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header class="header">
      <a class="header__homeLink" href="/">Home</a><h1
        class="header__title"
      >Artist search</h1>
    </header>

    {{{body}}}

    <footer class="footer">
      <p>Developed by Thor Seglem Löfgren</p>
    </footer>
  </body>
</html>