<!-- views/layout.hbs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
   <title>{{title}}</title>

    
    {{{ body }}}
    

  </body>

</html>