<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
   

</head>
<body>
   <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">IronHack Spotify</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <li class="navbar-nav">
              <a
                class="nav-link active text-white"
                aria-current="page"
                href="/"
              >Home</a>
            </li>
          </div>
        </div>
      </div>
    </nav>

    <main class="conteiner text-center">{{{body}}}</main>
</body>
</html>