<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Spotify Search</title>
    <style>
        body {
    background-image: url('/public/images/spotify-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3cm;
    text-align: center;
  }
  
  .button {
    background-color: red;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: Arial, sans-serif;
  }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>