<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dionisfy</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="pnav" id="dionisfy">Dionisfy</a>

        <a href="/" class="pnav">Home</a>
        <a href="javascript:history.back(-1);" class="pnav">Back</a>
    </nav>

    <div class="topmargin"> {{{body}}}</div>
</body>

</html>