<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style_global.css">
    {{#each styles}}
    <link rel="stylesheet" href="/styles/{{this}}">
    {{/each}}
    <title>Spotify lab</title>
</head>

<body>
    {{{body}}}
</body>

</html>