<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Express Spotify</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href='/home-page'>Home</a>
    </nav>
    {{{body}}}
  </body>
</html>