<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <nav>
    <ul>
      <li>
        <a class="button" href="/">home</a></li>
    </ul>
    </nav>
    <div class="main">
      {{{body}}}
    </div>
  </body>
</html>