<html lang="es">  
  <head>    
    <title>Título de la WEB</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Bears">
    <meta name="description" content="Bears">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"/> 
    <link href="/styles/styles.css" rel="stylesheet" type="text/css"/>    
  </head>
  <body>
      {{{ body }}}
  </body>  
  <footer>
      <div class="footer">
         <label class="footer-text"> Develop by Alejandro ;) </label>
      </div>
  </footer>
</html>