<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Ironhack Spotify</title>
</head>
<body>
    {{{body}}}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src='/src/main.js' type='text/javascript'></script>
</body>
</html>