<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>IronSpotify</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='./../styles/style.css' />

  </head>

  <body>

    {{{body}}}

    <footer>Spotify mal :D</footer>
    <div id='footer-behind' class='mt-2'></div>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>
  </body>

</html>