<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <nav class="nav-bar">
    <a href="/"><img class="logo" src="/public/images/spotify-logo.png"></a>
    <ul class="nav-bar-ul">
      {{!-- <li><a href="about">About</a></li>
      <li><a href="gallery">Gallery</a></li> --}}
    </ul>
  </nav>
  {{ body }}
</body>
</html>