<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ironhack Spotify</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body id="layout-body">
  <section class="hero is-light is-fullheight is-transparent section">
    <div class="hero-body">
      <div class="container has-text-centered">
      {{{ body }}}
      </div>
    </div>
  </section>      
  </main>
</body>
</html>