<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Spotify</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
    </nav>

    {{{body}}}
</body>

</html>