<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>{{pageTitle}}</title>
</head>

<body>

    <body>
        <form class="flex" action="/artist-search" method="get" enctype="application/json">

            <label for="artist">Artist: </label>

            <input id="artist" name="artist" type="text" value="" placeholder="Enter an artist name" />

            <button type="submit">Search for an Artist</button>
        </form>
    </body>

</body>

</html>