<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Spotify search ui</title>
</head>
<body>
    <div class="container">
        <div class="searchBox">
            {{{body}}}
        </div>
    </div>

    <div>
        
    </div>

</body>
</html>