<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/styles/style.css' />
    <title>{{doctitle}}</title>
  </head>
  <body>
    <div class="page-container">
      {{!-- <nav class='navbar'>
        <a href='/'>Home</a>
        <a href='/beers'>Beers</a>
        <a href='/random-beer'>Random Beer</a>
      </nav> --}}

      <main class='main-content'>
        <h1>{{doctitle}}</h1>
        {{{body}}}
      </main>

      {{!-- <footer class='footer'>
        <p>Built with ❤️ by Ironhack</p>
      </footer> --}}
    </div>
  </body>
</html>