<html>
  <head>
    <link rel="icon" href="/images/Spotify_Icon_RGB_Green.png" type="image/gif" sizes="16x16">
    <title>Spotify</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
{{{body}}}
  </body>
</html>