<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Spotify, initial-scale=1.0">
    <title>Express Spotify Searcher</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  
  <body>

    <nav class="navbar">
        <h1>Express Spotify Searcher</h1>
    </nav>

    {{{body}}}

    <footer class="footer">
      <div>
        <p>Alex Pliakas</p>
      </div>
    </footer>

  </body>
</html>