<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/style.css">
    </head>
  <body>
    
    <header>
   
    </header>
    <main>
      {{{body}}}
    </main>
   
  </body>
</html>










