<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Spotify review</title>
</head>

<body>
    
    <div class="main">
        <nav>
            <a href="/">Home</a>
            <a href="javascript:history.back()">Back</a>
        </nav>
        <div>
        {{{body}}}
        </div>
    </div>
    <footer>
        <p>developed by Robson Santos</p>>
    </footer>
</body>


</html>