<!-- layout.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ironhack Spotify Search</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>
    {{{ body }}}
    <!-- footer -->
<footer class="footer fixed-bottom">
  <div class="footer-txt">Develop by Ironhack ;)<span style="white-space:pre;">    |    </span>Adapted by Oscar Mellado &#128516;</div>
</footer>
    <!-- Bootstrap Scripts -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>