
<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SpotiLU</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    {{{ body }}}

</body>

</html>