<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spoty</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body class="indeximg">
       
      {{{ body }}}
  </body>
</html>