<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Beers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

        <div class="container">
            {{{body}}}
        </div>

</html>