<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Best Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="container">
        <form action="/artist-search" method="GET">
            <input type="text" name="artist"><br><br>
            <button type="submit">Search for an artist</button>
        </form>
    </div>
    {{{body}}}
    <footer>
    </footer>
</body>

</html>