<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>IronNBA</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>

    {{!-- {{>bar}} --}}
    {{{ body }}} 
  </body>
</html>