<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Search</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img src="images/Spotify_Icon_RGB_Green.png" /></a>
        <a class="link" href="/about">About</a>
      </nav>
    </header>
    <main class="main">{{{ body }}}</main>

    <footer>
      <p>This site was made by Tassia Accioly</p>
      <a href="https://www.linkedin.com/in/tassiaaccioly"
        ><img src="images/linkedin.svg" /> Tassia Accioly</a
      >
      <a href="https://twitter.com/itsmetherogue"
        ><img src="images/twitter.svg" /> itsmetherogue</a
      >
      <a href="https://www.github.com/tassiaaccioly"
        ><img src="images/github.svg" /> Tassia Accioly</a
      >
    </footer>
  </body>
</html>
