<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale =1" />
    <title>SpotifyLab</title>
    <link rel="stylesheets" href="/public/stylesheets/style.css" />

  </head>
  <body>
    <h1>Spotify</h1>
    {{{body}}}

  </body>
</html>