<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>

    <link rel="stylesheet" href="/public/styles/style.css">

</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/artist-search"></a>
    </nav>

    
    {{{body}}}


</body>
</html>