<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/spotify-green.png">
    <title>Spotify</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div>
      {{{body}}}
    </div>
  </body>
</html>