<div class="track-container">


    {{#each tracks}}

    <div class="tracks">
        <p>{{name}}</p>
        <audio src="{{preview_url}}" controls="true" type="audio">audio not suported</audio>
    </div>

    {{/each}}
</div>