<section id="main-page">
       <form action="/artist-search", method="GET">
           <input type="text" placeholder="Search from Spotify" name="search">
           <button type="submit">Search</button>
       </form>
</section> 