
{{!-- Iteration 3 | Search for an Artist - Step 1 | Create a Homepage --}}
<div class="box">
<form action="/artist-search" method='GET'>
    <label for="name-input"></label>
    <input
        id='name-input'
        name='name'
        value=''
        type="text"
        placeholder="Please enter an Artist Name here"
    />
    <button type='submit'>Search for an Artist</button>
</form>
</div>