<main>
<div class="container-fluid w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column justify-content-center container h-25 bg-white bg-opacity-50 rounded">
 <form  class="d-flex flex-column align-items-center gap-3" action="/artist-search" method="post" enctype="application/json">
    <input class="p-1 rounded w-50" type="text" id="search" name="search" placeholder="The Beattles" required/>
    <button class="btn btn-danger w-25" type="submit">Search for an Artist</button>
    </form>
    </div>
</div>
</main>