<body id='index'>
<div class='search'>
<form id='form' action="/artist-search", method="GET">
    <input id='search-bar' type='text' name='artist'>
    <input id='search-button' type='submit' value='Give Me The Music'>
</form>
</div>
</body>