<nav class='index-nav'>

    <div class='index-users-nav'>
        <h2><a href="/">Search Artists</a></h2>
    </div>


</nav>

<section id = 'main'>
    <div class ='form1' data-aos='fade-down'>
        <form action="/playlist-search" method="GET">
        <input class='search-field' type="text" name='search'>
        <button class='btn-submit' type='submit'>Search For a Playlist</button>
        </form>
    </div>
</section>
