<section class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-3 mt-3">Results from: <%- artistName %></h1>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
          <p>Title</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center">
          <p>Listen</p>
        </div>
      </div>
      <% tracks.forEach(track => { %>
      <figure class="row">
        <figcaption class="col-12 col-md-6 col-lg-8"><%- track.name %></figcaption>
        <audio class="col-12 col-md-6 col-lg-4" controls src="<%- track.preview_url %>">
          Your browser does not support the
          <code><%- track.preview_url %></code> element.
        </audio>
      </figure>
      <% }) %>
    </div>
  </div>
</section>