<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Results:</h1>
    {{#each artists}}
      <div>
        <h2>{{name}}</h2>
        <img src="{{images.0.url}}" alt="Artist Image" />
        <a href="/albums/{{id}}">View Albums</a>
      </div>
    {{/each}}
</body>
</html>