{{#each artists as |artist|}}
  <div class="artists">
    <img src="{{images.0.url}}" alt="{{artist.name}}" />
    <h3>{{artist.name}}</h3>
    <button><a class="click" href="/albums/{{artist.id}}">View Albums</a></button>
  </div>
{{/each}}