<div>
    <img class = '' src="/public/images/spotify-background.jpeg" alt ="spotify background">
</div>
<form action="/artist-search">
    <input type="text" name="artist" placeholder="Search for an Artist">
    <button type="submit">Search for an Artist</button>
</form>
