<div id="homepage">
    <div id="form cover">
        <form action="/artist-search", method="GET">
            <input type="text" id="query" name="artist">
            <button type="submit">Find Artist</button>
        </form>
    </div>
</div>