<div id="search-container">
    {{#each artists.items}}
        <div id="album">
            <img src="{{images.0.url}}">
            <h2>{{name}}</h2>
            <a href="/albums/{{id}}">View Album</a>
        </div>
    {{/each}}
</div>