  <div class='artist-search'>
     <form action='/artists-search-results'>
         <input class='search-box' type='text' name='searchArtist' placeholder='Artist name'>
         <input class='search-button' type='submit' value="Search for an Artist">
    </form>
</div>


