<div class="parts">
    <h1>Here you can search for music</h1>
    <form action="/artist-search" method="GET">
        <label for="music">Search for your fav music</label>
        <input type="text" name="q" id="music">
        <button type="submit">SEARCH!!!!!!</button>
    </form>
</div>