<div id="search">

  <p>Albums & Singles by:</p>
  <h3> {{data.0.artists.0.name}} </h3>
  {{#each data}}
    <div id="album-result">
      <img src="{{this.images.2.url}}" alt="" />
      <br />
      {{this.name}}
      <br />
      <a href="/tracks?id={{this.id}}">View Tracks</a>
    </div>
  {{/each}}
</div>