<section class="bg-dark text-white py-3 py-md-5">
    <div class="container">
        <div>
           <h1 class="h2">Search</h1>
           <p class="lead">Found 10 results for "{{query}}"</p>
        </div>
  
        <div class="card-columns">
            
            {{#each artists}}
                {{> artist this}} 
            {{/each}}
        </div>
    </div>
</section>