
<div id="search-wrapper">
  <div id="search">
    {{#each data}}
      <div>
        <img src="{{this.images.2.url}}" alt="" />
        {{this.name}}
        <a href="/albums?id={{this.id}}">View Albums</a>
      </div>
    {{/each}}
  </div>
</div>