<div id="search">

  <p>Albums & Singles by:</p>
  <h3> {{data.0.artists.0.name}} </h3>

  {{#each data}}

    <div>

      <img src="{{this.images.2.url}}" alt="" />
      {{this.name}}
      <a href="/tracks?id={{this.id}}">View Tracks</a>
    </div>
  {{/each}}
</div>