<h1>SPOTIFY ARTISTS</h1>
<ul>
  {{#each items}}
    <li>
      {{this.name}}
        <img src="{{this.images.0.url}}"/>
      <a href="/albums/{{this.id}}">
        View Albums
      </a>
    </li>
  {{/each}}
</ul>