<div class="searchpage">
  <div class="formstyle">
    <form action="/artist-search">
      <div class="formtext">
        <input
          class="searchinput"
          type="text"
          name="artist"
          placeholder="Search for an Artist"
        />
        <button class="searchsubmit" type="submit">Search for an Artist</button>
      </div>
    </form>
  </div>
</div>