<form action="/artist-search" method="GET" enctype="application/x-www-form-urlencoded">
  <input id="name" name="name" type="text" value="" placeholder="Type name of some artist" />
  <button type="submit">Send!</button>
</form>