<div class="background-image">
    <div class="search-container">
        <div class="input-container">
            <h1>Spotify YEAH 🥰 🥸 </h1>
            <form action="/artist-search" method="GET">
                <label  for="title"></label>
                <input class = "input-search" type="text" name="artistSearch">
                <button class = "btn-search" type="submit">Search for an Artist</button>
            </form>
        </div>
    </div>
</div>