<ul>
    {{#each artists as |artist|}}
        <li>{{artist.name}}</li>
        <img src="{{artist.images.[2].url}}" alt="artist-img">
        <a href="/albums/{{artist.id}}">View Albums</a>
    {{/each}}
</ul>