<div class="background-home">
    <form action="/artist-search" method="GET">
        <input required placeholder="Enter the name of an artist" type="text" name="title" />
        <button type="submit">
            <img src="/images/spotify.png" alt="">
        </button>

    </form>
</div>