<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each artists as |artist|}}
  <div class="col mb-4">
    <div class="card">
      <img src="{{images.0.url}}" class="card-img-top" alt="artist-image" style="width:100%; height:400px;>
      <div class="card-body text-center">
        <h5 class="">{{artist.name}}</h5>
        <a class="click" href="/albums/{{artist.id}}">View Albums</a>
        
      </div>
    </div>
    {{/each}}
  </div>  