   <div class="searcher">
   
    <div class="artist-search">
        <form action="/artists-search-results">
            <input class='search-box' id='search-artist' type='text' name='searchArtist' placeholder='...'>
            <input class='search-button' type='submit' value="Search for an Artist">
        </form>
    </div>

   </div>

