<div class="total_artcol">

    {{#each myalbsong }}
    <div class="containersongs">



        <div class="namesong">
            {{this.name}}



        </div>
        <div class="namesongbutton">
            <button class="btn_album">View songs</button>
            <button class="namesong"> <audio controls src="{{this.preview_url}}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio></button>
        </div>

        {{!-- <a href="/idsong?namesong={{this.id}}">


            </a> --}}

    </div>



</div>

{{/each}}
</div>