   
      <div class='container'>
    <h2 class="title1 text-white text-center">Enjoy your favorite song!</h2>

  <div class='row justify-content-center align-items-center'>
      {{#each data}}
     <div class="col-12 text-center ml-2">
            {{> songspartials}}   
      </div>
      {{/each}}
  </div>
</div>
