

<div class="row">
    {{#each data}}
    
    <div class="col-md-4">
        <img src= "{{images.1.url}} "> 
        <h5>{{name}} </h5>
        <a class="btn btn-primary" href="/albums/{{Id}}" role="button">viw albums</a>
    </div>
 {{/each}}
       