<h2 class="text-center mb-4 mt-4">{{albumName}}, by {{artistName}}</h2>
{{#each data.items}}
<div class="row mt-3 center-items">
  <div>{{name}}</div>
  <audio controls  src="{{preview_url}}">
  </audio>
</div>

{{/each}}