<!-- layout.hbs -->
<div class="container">
  <div class="row header-row">
    <span class="col-lg-8">Title</span>
    <span class="col-lg-4">Listen</span>
  </div>

  <div class="row track-item">
    <div class="col-lg-8">
      <p>If Eternity Should Fail - Live at Qudos Bank Arena, Sydney, Australia - Friday 6th May 2016</p>
    </div>
    <div class="col-lg-4">
      <audio controls="" name="media">
        <source src="https://p.scdn.co/mp3-preview/01806cb0121fe0a6af38d678ba0efe7353ad395c?cid=4d1e7af76c704250865d7a7f33a11161"
          type="audio/mpeg">
      </audio>
    </div>
  </div>
</div>