<div class="tracksDiv">
    <table class="table">
        <thead class="table-dark">

            <tr>
                <th scope="col">name</th>
                <th scope="col">Listen</th>
            </tr>
        </thead>
        <tbody>
            {{#each tracks as |track|}}
            <tr>
                <th scope="row">{{track.name}}</th>
                <th>
                    <audio id="Test_Audio" controls>

                        <source src="{{track.preview_url}}" type="audio/mpeg">

                    </audio>
                </th>

            </tr>
            {{/each}}

        </tbody>
    </table>

</div>