<div class="row">
    {{#each tracks}}

    <div class="col-md-4">
        <div class="card mb-4 artist-card">
            <div class="card-body">
                <figure>
                    <figcaption>{{name}}</figcaption>
                    <audio controls src={{preview_url}}>
                        <a href={{preview_url}}>
                            Download audio
                        </a>
                    </audio>
                </figure>
            </div>
        </div>
    </div>

    {{/each}}



</div>