{{#each tracks}} {{!array}}

<div class="row">
    <div class="col">
        <h4>{{name}}</h4>
        <audio type="audio/ogg" controls="controls" src="{{preview}}"></audio>
    </div>
</div>

{{/each}}