<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Tracks</h1>
    {{#each tracks}}
      <div>
        <h2>{{name}}</h2>
        <audio controls>
          <source src="{{preview_url}}" type="audio/mpeg" />
        </audio>
      </div>
    {{/each}}

  </body>
</html>