<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>
<body>
    <div class="header">
        <h1 class="title">Title</h1>
        <h1 class="listen">Listen</h1>
    </div>

        {{#each tracks}}
            <div class="row">
                <div class="trackname">
                    <b>{{name}}</b> 
                </div>
                <audio class="audio" id="myAudio" controls="download">
                    <source type="audio/ogg" src={{preview_url}}>
                    <source type="audio/mpeg" src={{preview_url}}>
                    Your browser does not support the audio element.
                </audio> 
                <a class="download" href={{preview_url}} download="preview"><i class="fa fa-download"></i></a>
            </div>
        {{/each}}
    <div class="row">
        <b>Twist And Shout - Live / Remastered</b>  
    </div>
</body>
</html>