<h1>test tracks</h1>

{{#each tracks}}

<figure>
    <figcaption>Listen to the tracks</figcaption>
    <audio controls src="{{preview_url}}">
    </audio>
</figure>

{{/each}}

<a href="/">volver al inicio</a>