{{#each tracksPage}}

<div class="row">

    <div class=" col-6">

        <h5 style="margin-top: 20px;" class="card-title">{{name}}</h5>
    </div>

    <div class=" col-6">

        <audio controls src="{{preview_url}}"></audio>
    </div>

</div>

</div>
</article>

{{/each}}