<div class="container">
        {{#each tracks}}
            <div class="">
                {{this.name}}
                {{!-- <a href="href="/tracks/{{this.id}}" class="button">View albums</a> --}}
            </div>
        {{/each}}
</div>

