<div class="track-title">
    <h2>Title</h2>
    <h2>Listen</h2>
</div>
{{#each tracks}}
<figure>
    <figcaption>{{this.name}}</figcaption>
    <audio
        controls
        src="{{this.preview_url}}">
            <a href="{{this.preview_url}}">
                Download audio
            </a>
    </audio>
</figure>
{{/each}}