<main class="container">
    <div class="row bg-dark text-white px-4 py-3">
        <h3 class="col-lg-8">Title</h3>
        <h3 class="col-lg-4">Listen</h3>
    </div>
    {{#each tracks }}
    {{> trackPartial}}
    {{/each}}
</main>