
<div class="tracks">

    {{#if filteredAlbum}}
        <div id="track">
            {{#each filteredAlbum}}
                <div> {{this.name}}</div>
                {{#if this.preview_url}}
                    <audio controls>
                        <source src="{{this.preview_url}}" type="audio/mpeg">
                    </audio>
                {{/if}}
            {{/each}}
        </div>
        
    {{else}}
        <div> This album do not have preview URL </div>

    {{/if}}
</div>


