<div class='result-page'>
    <table>
    <tr>
        <th>Title</th>
        <th>Listen</th>
    </tr>
    {{#each tracks}}
    <tr>
        <td>{{this.name}}</td>
        <td>
            <audio controls>
            <source src='{{this.preview_url}}' type='audio/wav'>
            </audio>
        </td>
    </tr>
    {{/each}}
    </table>
</div>