<h1>Tracks</h1>

<div class="container">
    <table class="table">
    <thead>
        <tr class="table-dark">
            <th scope="col">Title</th>
            <th scope="col">Listen</th>
        </tr>
    </thead>
    <tbody>
            {{#each tracks}}
                <tr class="table-secondary">
                    <th scope="row">{{name}}</th>
                    {{#if preview_url}}
                        <td><audio src={{preview_url}} controls></audio></td>
                    {{else}}
                        <td>Not available preview</td>
                    {{/if}}
                </tr>
            {{/each}}
    </tbody>
    </table>
</div>