<h1 class="center">All song from {{tracks.1.artists.[0].name}}</h1>
{{#each tracks}}
<div class="songcontainer">
    <p>{{this.name}}</p>
    <audio controls src={{this.preview_url}}></audio>
</div>
{{/each}}