<div class="row">
  {{#each tracks}}
  <div class="row">
    <div class="col-md-6">
  <h5 class="card-title">
    {{this.name}}
  </h5>
  </div>
  <div class="col-md-6">
  <audio controls>
       <source src="{{this.preview_url}}" type="audio/mpeg">
  </audio>
  </div>
</div>

  {{/each}}
</div>

