{{#if data}}
    <div class="tracks">
        <div id="tracks-header">
                <p>Title</p>
                <p>Listen</p>
        </div>
        {{#each data}}
            <div id="track">
                <p>{{this.track_number}} <span>{{this.name}}</span></p>
                {{!-- <iframe src="https://open.spotify.com/embed/track/{{this.id}}" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe> --}}
                <audio controls>
                    <source src="{{this.preview_url}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        {{/each}}
        {{!-- {{> beerPartial this}} --}}            
    </div>
{{/if}}