{{!-- preview_url: --}}

<div class="row justify-content-center">

    <div>
        <table class="table">
            <tr class="thead-dark ">
                <th> Title </th>
                <th> Listen </th>
            </tr>

            {{#each this }}
            {{#if this }}
            <tr scope="row">
                <td> {{name}} </td>
                <td> <audio controls>
                        <source src=" {{preview_url}}" type="audio/ogg">
                        <source src=" {{preview_url}}" type="audio/mpeg">
                    </audio>
                </td>
            </tr>
            {{/if }}
            {{/each }}
        </table>
    </div>
</div>