<div class="tracks-header">
    <span>Title</span>
    <span>Listen</span>
</div>
<div class="container">
    <div class="row">
        {{#each tracks}}

        <div>
            <p class="inline">{{name}}</p>
            <audio controls>
                <source src="{{preview_url}}" type="audio/mpeg" class="inline" />
            </audio>
        </div>
        {{/each}}
    </div>
</div>