
<h2><a class="homebtn" href="/"><img src="/images/spotify-logo.png" alt="home"></a>Tracks of {{tracks.albumName}}</h2>

<div class="results">

    {{#each tracks.trackArr}}
    <div class="track">         
        <h3>{{name}}</h3>
        <audio controls="controls" src="{{preview_url}}" type="audio/mpeg"></audio>
    </div>
    {{/each}}
</div>