

<div class="container">
    <div class="row" class='tracksTitles'>
    <div class="col-sm" >
      Title
    </div>
    <div class="col-sm">
      Listen
    </div>
  </div>
  {{#each tracks}}
  <div class="row">
    <div class="col-md">
      {{this.name}}
    </div>
     <div class="col-md">
       <audio controls>
           <source src="{{preview_url}}" type="audio/ogg" />
         <source src="{{preview_url}}" type="audio/mpeg" />
             
    </audio>
    </div>
  </div>
  {{/each}}
</div>