<nav>
    <h2>Title</h2>
    <h2>Listen</h2>
</nav>

<section>
{{#each trackData}}

<div id="tracks">
    <h2>{{this.name}}</h2>
    <audio controls src="{{this.preview_url}}"></audio>
</div>

{{/each}}
</section>