<table class="uk-table uk-table-hover uk-table-divider">
    <thead>
        <tr>
            <th>Title</th>
            <th>Listen</th>
        </tr>
    </thead>
    <tbody>
        {{#each tracks}}
        <tr>
            <td>{{name}}</td>
            <td>
                {{#if preview_url}}
                <audio
                    controls
                    src="{{preview_url}}"
                    >
                    Tu navegador no tolera esta etiqueta
                    <code>audio</code>.
                </audio>
                {{else}}
                    no hay preview
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>