<div>
    {{#each tracks}}
    <div>
        <h4>{{this.name}}</h4>
        <audio
        controls
        src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
       </audio>
     
    </div>
    {{/each}}
</div>