<main id="tracks">
    <header>
        <h3>Title</h3>
        <h3>Listen</h3>
    </header>
    <section>
        {{#each this.items}}
            <div>
                <p class="track-name">{{name}}</p>
                <audio controls src="{{preview_url}}"></audio>
            </div>
        {{/each}}
    </section>
</main>