<div class="tracks">
  <div class="tracks__headers">
    <h2 class="tracks__headers__title">Title</h2>
    <h2 class="tracks__headers__listen">Listen</h2>
  </div>
  {{#each tracksData}}
    <div class="tracks__details">
      <h3 class="tracks__details__title">
        {{name}}
      </h3>
      <audio
        class="tracks__details__player"
        controls
        src="{{preview_url}}"
      ></audio>
    </div>
  {{/each}}
</div>