<div class="row d-flex flex-wrap justify-content-between">
  {{#each spotifyTracks}}
  <div class="card col-12 col-md-4 card-detail card-bg">
    <div class="card-body">
      <h5 class="card-title">{{this.name}} - {{this.track_number}}</h5>
      <p class="card-text">
        <audio controls>
          <source src="{{this.preview_url}}" type="audio/mpeg">
        </audio>
      </p>
    </div>
  </div>
  {{/each}}
</div>