<h1>Tracks</h1>

{{#each tracksArray}}

  <p>{{this.name}}</p>>
  <audio controls src=" {{this.preview_url}} ">
    Your browser does not support the
    <code>audio</code>
    element.
  </audio>

{{/each}}