<h2>here are the tracks</h2>
<ul>
  {{#each data.body.items}}
  <li>
    {{this.name}}
    <audio controls>
      <source src="{{this.preview_url}}" type="audio/mpeg">
    </audio>
  </li>
  {{/each}}
</ul>