{{#each tracks}}
    <div class="tracks">{{track_number}}. {{name}}<br />
    {{#if preview_url}} 
    <audio controls>
        <source src="{{preview_url}}" />
        </audio>
    </div>
    {{/if}}

{{/each}}