<section class= "track-container">
    {{#each trackObj }}
    <div class="track-card">
       
        <div class = "track-info">
            <p>Track: {{ this.name }}</p>

            {{!-- loads audio preview --}}
            <audio
                controls
                src="{{this.preview_url}}">    
            </audio>
        
        </div>
    </div>
    {{/each }}
</section>

