<div class="tracks-album">
    <table>
        <tr>
            <th>Title</th>
            <th>Listen</th>
        </tr>
        {{#each items}} 
        <tr>
            <td>{{name}}</td>
            <td><audio controls><source src="{{preview_url}}" type="audio/mp3"></audio></td>
        </tr>
        {{/each}}
    </table>

</div>

