<h1>Tracks</h1>
{{#each tracks}}


<h4>{{name}}</h4>
<audio controls>
    <source src="{{preview_url}}" type="audio/mpeg">
    
</audio>





<br>
{{!-- <button type="submit">Search for an Artist</button> --}}
{{/each}}