
<head>
<title>Tracks</title>
<link rel="stylesheet" href="styles/style.css">
</head>

<div class="center">
Title
{{#each tracks}}
    <li>{{name}}</li>
    <audio controls>
    <source src="{{preview_url}}">
</audio>
{{/each}}
</div>