<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
    <link rel="stylesheet" href="/css/tracks.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    {{>nav}}
    <h1>Tracks</h1>
    <div id="tracks">
        {{#each arrayOfTracks}}
            <div class="track">
                <h4>{{this.name}}</h4>
                <audio controls src="{{this.previewurl}}">
                    <a href="{{this.previewurl}}">
                        Download audio
                    </a>
                </audio>
            </div>
        {{/each}}
    </div>
</body>
</html>

