{{#each tracks}}
<h1>{{name}}</h1>
<h1>{{preview_url}}</h1>
<iframe src="https://open.spotify.com/embed?uri={{uri}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
{{/each}}