<div class="container">
    
    {{#each tracks}}

        <div>
            {{this.name}}
        </div>

        {{!-- <div>
            <figure>
                <figcaption>Listen to the T-Rex:</figcaption>
                <audio
                    <source src="{{preview_url}}">
                </audio>
            </figure>
        </div> --}}

    {{/each}}

    
</div>