<div>
    {{#each tracks as |track|}}
    <p>{{track.name}}</p>
    <audio
        controls
        src="/media/examples/t-rex-roar.mp3">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
    {{/each}}
</div>