<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
</head>
<body>
        {{#if tracks}}
    <ul>
        {{#each tracks}}
        <li>
            <h2>{{this.name}}</h2>
            {{#if this.preview_url}}
            <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {{else}}
            <p>No hay vista previa.</p>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No hay canciones encontradas.</p>
    {{/if}}
</body>
</html>