<header>
    <h1>Title</h1><h1>Track Sample</h1>
</header>
<section class="track-list">
    {{#each tracksArr}}
    <div class="track-item">
        <h3 class="track-name">{{this.name}}</h3>
        <audio controls="controls" src="{{this.preview_url}}" class="track-preview"></audio>
    </div>
    {{/each}}
</section>
