<div class="container">
    <h1>Detalles de {{album}}</h1>



    {{#each tracks}}

    <div class="row ">
        <div class="col">

            {{name}}


        </div>
    </div>
    {{/each}}
    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>