<div class='album-tracks'>
	{{#each this.items}}
		<div class='track-item'>
			<span>{{this.track_number}} - {{this.artists.[0].name}} - {{this.name}}</span>
			<audio controls src='{{this.preview_url}}'>
			</audio>
		</div>
		</div>
	{{/each}}

</div>