
<button>
    <a href="/">Home Page</a>
</button>
{{#each info}}
<div class="item-artist">
    {{name}}
      <audio
        controls
        src="{{preview_url}}">
    </audio>
</div>
<audio src=""></audio>
{{/each}}

