<div class = "tracks">
    <div class="header">
        <h3>Title</h3>
        <h3>Listen</h3>
    </div>

{{#each tracks}}
    <div class="oneTrack">
        <span>
            <h4>{{name}}</h4>
        </span>
        <div>
            <audio controls> 
            <source src={{preview_url}}>
        </audio>
        </div>
    </div>

{{/each}}
</div>