<table>
  <tr>
    <th>Title</th>
    <th>Listen</th>
  </tr>

    {{#each searchResults}}
    <tr></tr>
      <td>{{this.name}}</td>
      <td><audio controls>
        <source src="{{this.preview_url}}" />
      </audio>
    </td>
    </tr>
    {{/each}}

</table>