<div class="tracks_container">

 <h1>tracks</h1>
{{#each tracks}}

<li> {{name}} </li>
<audio controls  src=" {{preview_url}} " ></audio>

{{/each}}



</div>

<div class="tracks_container">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>