<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col-6">Title</th>
      <th scope="col-6" class="align center">Listen</th>
    </tr>
  </thead>
  <tbody>
      {{#each tracks}}
    <tr>
      <th scope="row">{{name}}</th>
      <td class="align center">
        <audio 
            controls 
            src="{{preview_url}}" class="col">
            <p>Your browser does not support the <code>audio</code> element<p>.
        </audio>
      </td>
    </tr>
     {{/each}}
  </tbody>
</table>