<main id="tracks-page">
    <div class="template" id="names-column">
        <h2>Title</h2>
        {{#each track}}
        <div>
            <p>{{this.name}}</p>
        </div>
        {{/each}}
    </div>

    <div class="template" id="audios-column">
        <h2>Listen</h2>
        {{#each track}}
        <div>
            <figure>
                <audio controls src="{{this.preview_url}}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </figure>
        </div>
        {{/each}}
    </div>
</main>