    {{#each data}}
    <div class="container">
        <div class = 'd-flex justify-content-between align-items center py-2'>
            <h3>{{name}}</h3>
            <audio src="{{preview_url}}" controls="controls">play audio</audio>

        </div>

    </div>


    {{/each}}