<div id="tracks">

    <table>
        <thead>
            <tr> 
                <th class="title"> Title </th>
                <th class="listen"> Listen </th>
            </tr>
        </thead>
        <tbody>
            {{#each tracksArr}}
                <tr> 
                    <td class="title"> <h3>{{this.name}}</h3> </td>
                    <td class="listen"> <audio src="{{this.preview_url}}" controls> </audio> <a href="#"><img src="/images/arrow-242.png" alt="download icon"></a> </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>