</div>
<div class="container-fluid">
    <nav id="tracks-navbar">
        <h4>Title</h4>
        <h4>Listen</h4>
    </nav>
    {{#each items}}
    <div class="track-item">
        <p>{{name}}</p>
        <audio controls name="media">
            <source src="{{preview_url}}">
        </audio>
    </div>
    {{/each}}