{{#each trackNode}} 

{{#if this.preview_url}}

<audio controls>
  
    <source src="{{this.preview_url}}" type="audio/mpeg" alt="active">
</audio>

{{else}}
<h3>No track for this album</h3>
{{/if}}
{{/each}}