<div class="">
    <ul>
        {{#each tracks}}
        <li><span>{{name}}</span> 
        <figure>
            <audio
            controls
            src={{preview_url}}>
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>
        <h1>test</h1>

        </li>
        {{/each}}
    </ul>
</div>