<div class="album-background">
  <div style="height: 100vh;">
    <div class="container">
      <h1>Track Preview for the album that I still can't figure out how to display the name of...<span>{{this.name}}</span></h1> 
        <div class="row">
          {{#each tracks}}
        <div class="col-sm">
                <p>{{this.name}}</p>
                <audio controls> 
                    <source src="{{this.preview_url}}">
                    Your browser does not support the audio element
                </audio>
        </div>
          {{/each}}
      </div>
    </div>
  </div>
</div>
