<h2>Album <span>"{{albumName}}"</span> by <span>{{artistName}}</span></h2>
<section class="track-list">
{{#each tracks}}
<div class="track-row">
    <div>
        <figcaption>{{name}}:</figcaption>
    </div>
    <div id="audio-snippet">
        <audio controls src="{{preview_url}}"></audio>
    </div>
</div>
{{/each}}
</section>
