<ul>
  {{#each tracks}}
    <li>
      {{name}}

      {{#if preview_url}}
      <audio controls>
        <source src="{{preview_url}}" type="audio/mp3">
      </audio>
      {{else}}
      <div>
        <p>Preview not available</p>
      </div>
      {{/if}}
    </li>
  {{/each}}
</ul>