<link rel="stylesheet" href="/styles/style.css">
<div class="track-page">
    <div class="track-bar">
        <h1>Title</h1>
        <h1>Listen</h1>
    </div>
    <div class="songs">
        {{#each data}}
        <div class="song">
            <h2>{{this.name}}</h2>
            <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg">
            </audio>
        </div>
        {{/each}}
    </div>

</div>