<div class="tracks">
    <h3>Listen to tracks:</h3>

    {{#each items}}
        <div><p>{{name}} ..........</p></div>
        <div><audio controls src="{{preview_url}}"></audio></div>
        
    {{/each}}
    <div id="back-btn">
        <a href="/">Back to Search</a>
    </div>
</div>