<div class="results-container">
    <div id="tracks-header">
        <h3>Title</h3>
        <h3>Listen</h3>
    </div>
    {{#each tracks}}
        <audio src="{{tracks.0.preview_url}}"></audio>
    {{/each}}
</div>