<h1>Tracks</h1>

<div class="track-list">
    <div class="track header">
        <span>Title</span>
        <span>Listen</span>
    </div>
    {{#each tracks}}
        {{> trackPartial}}
    {{/each}}
</div>
