<div class="showArtist">

    <h2>Tracks</h2>

    {{#each tracks}}
            <h2>{{name}}</h1>
            <audio controls src="{{preview_url}}">
    {{/each}}

</div>

<a href="http://localhost:3000/" class="backButton">Back to search</a>