{{#each tracks}}
<div class="card">
    <div class="container">
    <h3>{{name}}</h3>
    <audio controls>
            <source src="{{preview_url}}" type="audio/mpeg">
        </audio>
        </div>
</div>
{{/each}}