<div>

    {{#each track}}
    
            
<p>{{this.track_number}}</p>


        <h5>{{this.name}}</h5>
 
<audio controls="controls"> 
    <source src="{{this.preview_url}}" type="audio/mp3"> 
    </audio>

    {{/each}}


</div>