<div>
    <div class="d-flex justify-content-between align-items-center bg-secondary p-4 text-white">
        <h1>Title</h1>
        <h1>Listen</h1>
    </div>

    {{#each tracksArray}}
        {{>trackPreview this}}
    {{/each}}
</div>