

{{#each data.items}}
    <div clas="tracks">
        
            <span class="p">{{name}}</span>
        
        <div class="reduce2">
            <audio controls src="{{preview_url}}">
                <code>audio</code> element.
            </audio>
        </div>
        
    </div>

{{/each}}
