

<div class="container">
    <div class="row">
    <div class="col-sm">
      Title
    </div>
    <div class="col-sm">
      Listen
    </div>
  </div>
  {{#each tracks}}
  <div class="row">
    <div class="col-md">
      {{this.name}}
    </div>
     <div class="col-md">
       <audio
        controls
        src="{{preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
    </div>
  </div>
  {{/each}}
</div>