<ul>
    {{#each tracks}}
    <li>
        <b>{{this.name}}</b>
        {{#if this.preview_url}}
        <span id="track">
            <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg" />
            </audio>
        </span>
        {{/if}}
    </li>
    {{/each}}
</ul>