<table>
    <tr>
        <th>
            <p class="theader">TITLE</p>

            <p class="theader">LISTEN</p>
        </th>
    </tr>
    {{#each data.body.items }}
    <tr>
        <td>{{this.name}}

            <figure>
                <audio controls src="{{this.preview_url}}">
                    Your browser does not support the
                    <code>audio</code> element.


                </audio>

            </figure>
        </td>
    </tr>
    {{/each}}
</table>