{{#each tracksInfo}}
  <div>
    <h3>{{name}}</h3>
    <iframe
      src="https://open.spotify.com/embed?uri={{uri}}"
      width="300"
      height="380"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>
  </div>
{{/each}}