<div id="track-page-header">
    <h2>Title</h2>
    <h2>Listen</h2>
</div>

{{#each trackResultsArray}}
  <div id="tracks">
    <h5>{{trackName}}</h5>
    <audio controls>
    <source src={{trackPreview}} type="audio/ogg">
    <source src={{trackPreview}} type="audio/mpeg">
    </audio>
  </div>
{{/each}}

