<h1>Tracks List</h1>

{{#each tracksArray}}
    <div>
        <h3>{{this.name}}</h3>
        {{#if this.preview_url}}
            <audio src="{{this.preview_url}}" controls></audio>
        {{/if}}
    </div>
{{/each}}