{{> navbar}}

<div class"container">
  {{#each tracks.items as |detail|}}
  <div class="row m-4 align-items-sm-center">
      <h6 class="col-3 green m-2 p-3">{{detail.name}}</h6>
      <audio class="col-3 m-2" src="{{detail.preview_url}}" type="audio/mpeg" controls></audio>
  </div>
  {{/each}}
</div>