
<body>
    
     <main class="cards-container">
 <article id="tracks-header">
    <h3>Title</h3>
    <h3>Listen</h3>
  </article>
        {{#each tracksList}}
         
         {{>tracksPartial this}}
         
        {{/each}}
    
    </main>
</body>
