    <nav class="navbar bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand"><i class="fab fa-spotify mr-2"></i>Spotify Express</a>
        </div>
    </nav>
    
    <div class="container">
      <div id="trackHeading" class="d-flex flex-row justify-content-around align-items-center text-white my-1">
        <p class="">Title</p>
        <p class="">Listen</p>
      </div>
      {{#each items}}
      <div id="track" class="d-flex flex-row justify-content-between align-items-center mb-1 bg-light">
        <p class="ml-3">{{this.name}}</p>
            <audio controls class="mr-5">
              <source src="{{this.preview_url}}">
            </audio>
      </div>
      {{/each}}
    </div>