<div>
    <ul style="list-style-type:none;">
        {{#each data.body.items}}
        <li>{{this.track_number}}. {{this.name}}</li>
        <li><audio controls src="{{this.preview_url}}"></audio></li>
        {{/each}}
    </ul>
</div>