<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{!--     
   {{#each tracks}}
   <h1>{{this.name}}</h1>
        <audio 
            controls 
            src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
   {{/each}} --}}

       
{{#each tracks}}
<div class="card mx-auto shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
    <p class="card-text grid text-center">{{this.name}}</p>
  <audio controls src="{{this.preview_url}}" class="card-img-top" alt="...">
  </div>
</div>
{{/each}}

</body>
</html>