{{#each this.items}}
  {{this.name}}
  {{#if this.preview_url}}
    <audio controls>
      <source src="{{this.preview_url}}" type="audio/mpeg" />
    </audio>
  {{else}}
    <p>No track</p>
  {{/if}}
{{/each}}