<div class="container-fluid ">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Tracks</h1>
            <ul>
                {{#each tracks}}
                <li>
                    {{this.name}}
                    <br>
                    {{#if this.preview_url}}
                    <audio controls >
                    <source  src="{{this.preview_url}}" type="audio/mpeg">
                    </audio>
                    {{else}}
                    <p>No preview found! </p>
                    {{/if}}  
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>