<div id="track-page-header">
    <h1>Title</h1>
    <h1>Listen</h1>
</div>

{{#each trackResultsArray}}
  <div id="tracks">
    <h3>{{trackName}}</h3>
    <audio controls>
    <source src={{trackPreview}} type="audio/ogg">
    <source src={{trackPreview}} type="audio/mpeg">
    </audio>
  </div>
{{/each}}

