<div class="container">
    {{#each track }}
    <div class="">
        {{ this.name }}

        {{#if images}}
        <img src={{ images.[0].url }}>
        {{/if}}

        <audio controls src={{this.preview_url}}>    
    </audio>
        
    </div>
   {{/each}}
</div>