<div class="tracks-container" style="margin: 40px">
    <h1>Tracks</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="background-color: black; color: white;">Title</th>
                <th scope="col" style="background-color: black; color: white;">Listen</th>
            </tr>
        </thead>
        <tbody>
            {{#each tracks as |track|}}
                <tr>
                    <td>{{track.name}}</td>
                    <td>
                        <audio controls>
                            <source src="{{track.preview_url}}" type="audio/mpeg">
                        </audio>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
