{{!-- <ul class="list-group">
     {{#each tracks}}
  <li class="list-group-item active" aria-current="true">{{this.name}}</li>
   {{/each}}
</ul> --}}

<figure>
    {{#each tracks}}
    <figcaption>{{this.name}}</figcaption>
    <audio
        controls
        src="https://api.spotify.com/v1/tracks/2BW53FQsAP5jCzElZKpp2E">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
    {{/each}}
</figure>