<table class="content-center">
    <tr>
        <th></th>
        <th><p>Song</p></th>
        <th><p>Audio Preview</p></th>
    </tr>
    {{#each tracks}}
    <tr>
        <td><h3>{{this.track_number}}</h3></td>
        <td><h3>{{this.name}}</h3></td>
        <td>
            <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg">
            </audio>
        </td>
    </tr>
    {{/each}}
</table>