{{#each tracks}}
    {{!-- <figure> --}}
        <h3>{{name}}</h3>
        {{!-- <figcaption>Listen:{{name}}</figcaption> --}}
        <audio controls src="{{preview_url}}">
            {{!-- <a href="{{preview_url}}"/> --}}
            {{!-- Your browser does not support the
            <code>audio</code>
            element. --}}
        </audio>
    {{!-- </figure> --}}
{{/each}}
{{! type="audio/mpeg" }}