<link rel="stylesheet" href="/styles/tracks.css" />

<div id="titleListen">
  <h1>Title</h1>
  <h1>Listen</h1>
</div>
{{#each tracksArr}}
  <div class="trackInfo">
    <h2>{{this.name}}</h2>
    {{#if this.preview_url}}
      <audio controls src="{{this.preview_url}}">
        <a href="{{this.preview_url}}"></a>
      </audio>
    {{/if}}
  </div>
{{else}}
  <h2>Track not found</h2>
{{/each}}