<div class="container">
    <div class="row">
        {{#each tracks}}
        <div class="col-12">
            {{name}}
            <audio controls src="{{preview_url}}">audio de cancion</audio>
        </div>
        {{/each}}
    </div>
</div>