<main class="container">
    <div class="row ">
            {{#each tracksList}}

              <div class="col-6 ">{{name}}</div> <div class="col-6"><audio controls src={{preview_url}}></audio></div> 
            {{/each}}

     

    </div>
</main>

