<div class="tracksDiv">
    <table class="table table-secondary">
        <thead class="table-dark ">
            <tr>
                <th scope="col"><p class="id">Title</p></th>
                <th scope="col"><p class="id">Listen</p></th>
            </tr>
        </thead>
        <tbody>
            {{#each tracks as |track|}}
            <tr>
                <th scope="row"><p>{{track.name}}</p></th>
                <th>
                    <audio id="Test_Audio" controls>

                        <source src="{{track.preview_url}}" type="audio/mpeg">

                    </audio>
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>