<h1>Listen tracks</h1>
<div>
  {{#each items}}
    <div class="track-container">
      <p>{{name}}</p>
      <p><audio controls src="{{preview_url}}"><a href="{{preview_url}}"></a></audio></p>
    </div>
  {{/each}}
</div>