<div class="container mt-5">
    <div class="row">
    <div class="col-sm-12 d-flex justify-content-between bg-dark">
        <h3 class="text-white p-3">Title</h3>
        <h3 class="text-white p-3">Listen</h3>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12 bg-light">
        {{#each tracks }}
            <div class="p-4 d-flex justify-content-between">
                <a href="/{{ this.external_urls.spotify }}" class="">{{ this.name }}</a>
                
                <audio controls src="{{this.preview_url}}">
                    <a href="{{this.preview_url}}">Download audio</a>
                </audio>

            </div>
        {{/each}}
    </div>
    </div>
</div>