<section class="sections">
        {{#each items}}
        <div class="items">
            <h1>{{name}}</h1>
            <audio controls>
                <source src={{preview_url}}>
            </audio> 
        </div>
        {{/each}}
</section>
