<script>
 let currentlyPlaying = null;
const tracks = document.querySelectorAll('audio');
tracks.forEach(track => {
  track.addEventListener('play', () => {
    if (currentlyPlaying && currentlyPlaying !== track) {
      currentlyPlaying.pause();
    }
    currentlyPlaying = track;
  });
});
</script>



<ul class="flex-direction-track">
  <h1>TÍTULO <span>PREVIEW</span></h1>
  {{#each tracks}}
    <li class="name-track">
      {{this.name}} - {{this.artists.[0].name}}
      <audio controls src="{{this.preview_url}}"></audio>
    </li>
  {{/each}}
</ul>
<button class="close-track"><a href="/{{ id }}">BACK TO HOME</a></button>