<div class="tracks">
  <nav>
    <ul>
      <li>Title</li>
      <li>Listen</li>
    </ul>
  </nav>
  {{#each tracks}}
  <div class="track-list">
    <div>
      <p>{{name}}</p>
    </div>
    <div>
      <audio controls>
        <source src="{{preview_url}}" type="audio/mpeg" >
    </audio>
    </div>
  </div>
  {{/each}}
</div>