{{#each data as |track|}}
  <ul class="list-group">
    <li class="list-group-item">
      <h5>{{track.name}}</h5>
      <audio
        controls
        src="{{track.preview_url}}"
      >
      </audio>
    </li>
  </ul>
{{/each}}
