<h1>hola soy tracks
</h1>
{{#each artist}}


{{name}}
<audio controls>
    <source src="{{preview_url}}" type="audio/mp3"> Your browser does not support the audio element.
</audio>
<hr>



{{/each}}

<hr>

<a href="/">Volver a inicio</a>