<!-- layout.hbs -->
      <div >
        <h6>{{this.track_number}}. {{this.name}}</h6>
      </div>
      <div >
          <audio controls>
            <source src="" type="audio/mp3">
          </audio>
          <p>No available</p>
      </div>
    
  
