<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
  <title>Spotify | Results</title>
</head>
<body>
  
  <div class="container-artist">
    {{#each tracks}}
      <div class="track-container">
        <p class="track-text">{{this.name}}</p>
        <audio controls>
        <source src="{{this.preview_url}}" type="audio/ogg">
      </audio>
</div>
{{/each}}
</div>


</body>
</html>
