<div class="results">
    {{#each items}}
        <div class="track" style="width: 18rem;">
            <p>{{name}}</p>
            <audio src="{{preview_url}}" controls />
        </div>
    {{/each}}
</div>
