<div class="title"> 
  <p>Title</p>
</div>
{{#each tracks}}
<div class="track">
  <p>{{this.name}}</p>
  <audio controls>
    <source src="{{this.preview_url}}" type="audio/ogg">
  </audio>
</div>
{{/each}} 