<h1>{{name}}</h1>
<div class="center-table">
<table>
<thead>
  <tr> 
    <th>Title</th> 
    <th>Listen</th> 
  </tr>

</thead>
{{#if tracks }}
<tbody>

  {{#each tracks}}
  {{> track this}}
  {{/each}}
  </tbody>
{{/if}}
</table>
</div>