<div id="trackPage">
{{#each tracks}}
<div id="trackDiv"> 
    <ul>
<li id="trackName"> {{this.name}} </li>
</ul>
<audio controls id="audio"> <source src="{{this.preview_url}}"> </audio>
</div>
{{/each}}
<hr>
</div>