<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
</head>
<body>
    <div>
        {{#each result.body.items}}
        {{name}}
        <br>
        <audio src={{preview_url}}>
            Your browser does not support the audio element.
        </audio>
        <br>
        {{/each}}
        <br>
    </div>
</body>
</html>