{{#each tracks}}
<figure>
    <figcaption>Listen to the T-Rex:</figcaption>
    <audio controls src="{{preview_url}}">
        <a href="/media/cc0-audio/t-rex-roar.mp3">
            Download audio
        </a>
    </audio>
</figure>
{{/each}}