<a href='javascript:history.back()' class='anchor'>Back</a>
<div id='tracksWrapperDiv'>
	{{#each data.body.items}}
		<div class='track-div'>
			<p>{{name}}</p>
			<audio controls>
				<source src='{{preview_url}}' type='' />
			</audio>
		</div>
	{{/each}}

</div>
