<div>

    <h1>Tracks for album:</h1>

    {{#each tracks}}
    <div>
        {{this.artists.0.name}} - {{this.name}}

        {{#if this.preview_url}}
        <audio controls src="{{this.preview_url}}"></audio>
        {{else}}
        <p>The preview is not available. Sorry!</p>
        {{/if}}
    </div>
    {{/each}}

</div>