<body id="">

    {{#each tracksArray}}

    <div class="artist-or-album-div">

       
            
            <p>{{this.name}}</p>
            <audio controls> <source src="{{this.preview_url}}"></audio>
            
       
            
    </div>
    <hr>
    {{/each}}
</body>