<div class = "tracks">

    <table>

    <tr class="tableHeader">
        <th>Title</th>
        <th>Listen</th>
    </tr>

    {{#each tracks}}
    <tr>
       <th>{{this.name}}</th>

       <th><audio controls>
            <source src={{this.preview_url}} />
        </audio></th> 
        
    </tr>
    {{/each}}

        

    </table>

</div>