<ul>
    {{#each items}}
        <li>
        <article>
            <p>{{this.name}}</p>
            <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg">
            </audio> 
        </article>
        </li>
   {{/each}}
</ul>