<h2> Album: {{this.name}} </h2>

<div class="tracks">

    <div id="track">

        <audio controls>
            <source src="{{this.preview_url}}" type="audio/mpeg">
        </audio>

    </div>
</div>