<header class="header-tracks">
  <p id="title">Title</p>
  <p id="listen">Listen</p>
</header>
{{#each result.items}}
  <h3>{{name}}</h3>
  <audio controls src="{{preview_url}}">
    <a href="{{preview_url}}">
      Download audio
    </a>
  </audio>
{{/each}}