<div class="container">
    <h1>{{albumData.name}} Tracks</h1>
    <hr class="mb-5">


    {{#each trackData.items}}
    <div class="row align-items-center">
        <div class="col-md-6">
            <h5 class="mb-3">{{this.name}}</h5>
        </div>
        <div class="col-md-6 text-md-right">
            <audio controls style="width: 100%; max-width: 200px;" src="{{this.preview_url}}"></audio>
        </div>
    </div>
    <hr>
    {{/each}}

    <a href="/" class="btn btn-dark mb-5">Back to HOME</a>

</div>
