 <div class="track">
 <table>
      <tr class="tableheader">
        <th>Tittle</th>
        <th>Audio</th>
      </tr>
{{#each tracks}}
  {{! Searching for the song nme }}
  <div >
    <tr>
        <td>{{this.name}}</td>
         {{! Displaying the song audio }}
        <td><audio controls src={{this.preview_url}}></audio><td>
    </tr>
</div>
{{/each}}
</table>
</div>
