<table>
    <tr>
        <th>Track</th>
        <th>Listen</th>
    </tr>
    {{#each results.items}}
    <tr>
        <td>{{this.name}}</td>
        <td><audio controls src={{this.preview_url}}></audio></td>
    </tr>
    {{/each}}
</table>