<div>

    {{#each track}}




    <figure>
        <figcaption>Listen to the T-Rex:</figcaption>
        <audio controls src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code>
        </audio>
    </figure>


    {{/each}}
</div>