<!-- Tracks. -->
{{#each info}}
    <div class="card border-success mb-3" style="width: 23rem;">
        <img class="card-img-top" src="{{this.images.1.url}}">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <audio controls>
                <source src="{{this.preview_url}}">
            </audio>
        </div>
    </div>
{{/each}}