<div class="tracks-list">
    {{#each tracks as |track|}}
            <h1 class="track-name">{{track.name}}</h1>
            <audio  class="audio-control"
                controls
                src="{{track.preview_url}}">
            </audio>
    {{/each}}
</div>