<div id="tracks">
    <h1>Results</h1>

    <div id="searchTracks">
        {{#each tracksArr}}
            <div class="artist">
                <div class="artistImg">
                    <img src="{{this.images.0.url}}" alt="artist img"/>
                </div>
                <div class="artist_name">
                    <h3>{{this.name}}</h3>
                </div>
                <a href="/tracks/{{this.id}}">View tracks</a>
            </div>
        {{/each}}
    </div>
</div>