<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <td>Title</td>
                            <td>Listen</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each .}}
                        {{#if name}}
                        <tr>
                            <td>{{name}}</td>
                            <td> <audio controls src="{{preview_url}}"></audio></td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>