<div class="head-track">
  <h3>Title</h3>
  <h3>Listen</h3>
</div>

{{#each tracks}}
  <div class="track">
    <h4>{{this.name}}</h4>
    <audio controls class="align">
      <source src="{{this.preview_url}}" type="audio/mpeg" />
    </audio>
  </div>
{{/each}}