<div class="container">
    <div>
        {{#each tracks}}
        <div>
            <p>{{this.name}}</p>
            <audio controls>
                <source src={{this.preview_url}} type="audio/mpeg">
            </audio>
        </div>
        {{/each}}
    </div>
</div>