
<header id="tracks-header">
    <p>Title</p>
    <p id="center">Listen</p>
</header>
<div id="tracks-list">
    {{#each info}}
        <div class="track">
            <p>{{this.name}}</p>
            <audio controls src={{this.preview_url}}></audio>
        </div>
    {{/each}}
</div>
