 <table class ="">
       <tr>
           <th>Title</th>
           <th>Listen</th>
       </tr>
       {{#each this}}
        {{#if this.name}}
        <tr>
            <td>{{name}}</td>
            <td>
                <audio controls src={{preview_url}}></audio>
            </td>
        </tr>
        {{/if}}
       {{/each}}
       

   </table>