

{{#each this.items}}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
       <audio src={{preview_url}}></audio>
        {{!-- <a href="/albums/{{id}}" class="btn btn-primary">View Albums</a> --}}
    </div>
</div>

{{/each}}