<div class="header">
    <div class="row pl-4">
    <div class="title mt-4 col-lg-8">
        <h1>Title</h1>
    </div>
    <div class="title mt-4 col-lg-4">
        <h1>Listen</h1>
    </div>
</div>
</div>
        {{#each tracks}}
        <div class="row pl-4 eachTrack">
            <p class="col-lg-8 p-2">
                {{this.name}}
            </p>
            <div class="col-lg-4 p-2">
                <audio src="{{this.preview_url}}" preload="none" controls></audio>
            </div>
        </div>
        {{/each}}
