<div>
    {{#each tracks}}
        <div class="track">
            <h2>{{name}}</h2>
            <audio controls>
                <source src="{{preview_url}}" type="audio/mpeg">
            </audio>
        </div>
    {{/each}}
</div>