<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/styles/style.css' />
    <title>Tracks</title>
  </head>
  <body>
    <div class='div-all-tracks-search'>
      {{#each albumTracks}}
        <div class='tracks-search'>
          <h1 class='search-tracks-heading'>{{this.name}}</h1>
          <audio controls src='{{this.preview_url}}'>
            <a href=''> </a>
          </audio>

        </div>
      {{/each}}
    </div>

  </body>
</html>