<div class="container">
    <div class="row">

        {{#each album_info}}
        <div class="w-50 mt-5  ">
            <h4>{{name}}</h4>
            <audio controls src={{preview_url}}>control</audio>
        </div>
        {{/each}}

    </div>
</div>