{{#each tracks}}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        
        <h5 class="card-title">{{name}}</h5>

        <audio controls src="{{preview_url}}">

            <a href="{{preview_url}}"> </a>

        </audio>
        <h5 class="card-title"></h5>


    </div>
</div>


{{/each}}