<div id="header-table"><h4>Title</h4><h4>Listen</h4></div>
<ul>
{{#each tracks}}
<li><h6>{{name}}</h6>
<audio controls>
    <source src="{{preview_url}}" type="audio/mpeg">

</audio></li>


{{!-- <button type="submit">Search for an Artist</button> --}}
{{/each}}



</ul>>



