<div class="tracks-header">
    <p>TRACK NAME</p>
    <p>LISTEN:</p>
</div>
<div class="tracks-container">

{{#each tracksArr}}
    <div class="tracks-holder">
        <p>{{this.track_number}}.{{this.name}}</p>
        <audio src="{{this.preview_url}}" controls></audio>
    </div>
{{/each}}
</div>
