{{!-- preview_url: --}}

<div class="row justify-content-center">

    <h2> TRacks in Ambum </h2>
    <div>
        <ul>
            {{#each this }}
            =============================
            <li> {{name}} </li>
            <li> {{preview_url}} </li>
            =============================

            {{/each }}
    </div>
    </ul>

</div>