<div>
    {{#each track}}

    <figure>
        <figcaption>{{this.name}}</figcaption>
        <audio  
        controls
        src="{{this.uri}}" >
                Your browser does not support the
                <code>audio</code> 
        </audio>
    </figure>
  
    {{/each}}
</div>
