<div id="album-tracks">
    {{#each tracks}}
        <div class="track">
            <p>{{this.name}}</p>
            <audio controls src="{{this.preview_url}}">Hola</audio>
        </div>
    {{/each}}
</div>