<div class="container">
    <div class="row header-row">
        <h4 class="col-lg-8">Title</h4>
        <h4 class="col-lg-4">Listen</h4>
    </div>

    <div class="row track-item">

        {{#each tracks}}
            <div class="col-lg-8">
                <h5>{{this.name}}</h5>
            </div>
            <div class="col-lg-4">
                <figure>
                    <audio
                        controls
                        src="{{this.preview_url}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        {{/each}}
        
    </div>
</div>