<h1>Album Name:</h1>
<div>

  {{#each tracks}}
    <!--anna-->
    <hr />
    <div>
      <h3>{{this.track_number}}{{this.name}}</h3>
      <audio controls="" name="media">
        <source src="{{this.preview_url}}" type="audio/mpeg" />
      </audio>
    </div>
  {{/each}}
</div>