<section class="track-list">
{{#each tracks}}
<div class="track-row">
    <div>
        <figcaption>{{name}}:</figcaption>
        <audio controls src="{{preview_url}}"></audio>
    </div>
</div>
{{/each}}
</section>
