

<div class="container tracksback">
    <div class="row" class='tracksTitles'>
    <div class="col-sm my-5" >
      <h3>Title</h3>
    </div>
    <div class="col-sm my-5">
      <h3>Listen</h3>
    </div>
  </div>
  {{#each tracks}}
  <div class="row">
    <div class="col-md">
      {{this.name}}
    </div>
     <div class="col-md">
       <audio controls>
           <source src="{{preview_url}}" type="audio/ogg" />
         <source src="{{preview_url}}" type="audio/mpeg" />
             
    </audio>
    </div>
  </div>
  {{/each}}
</div>