<div>
   {{#if tracks}}
   {{#each tracks}}
   <ul>
        
        <li><h2>{{this.name}}</h2></li>
        <li><audio controls>
            <source src="{{preview_url}}">
        </audio></li>
   </ul>
    {{/each}}
   {{else}}
   <p>not found</p>
   {{/if}}
</div>