<div class="container">

    {{#each items}}
    <div class=" d-flex align-items-center justify-content-between">

        <h1>{{name}}</h1>
        <audio controls src="{{preview_url}}"></audio>
    </div>
    <br>
    {{/each}}

</div>