{{#each tracks}}
<audio src="{{preview_url}}" controls>
Your browser does not support the <code>audio</code> element.
</audio><audio></audio>
<h1>{{this.name}}</h1>
<a href="/">Home</a>
<br>
{{/each}}
