<section >
  <h1>Tracks</h1>
  {{#each items}}
    <article id="tracks">
      <label>{{name}}</label>
      <audio controls>
        <source src={{preview_url}} />
      </audio>
    </article>
  {{/each}}
</section>