<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironhack Spotify</title>
</head>
<body>
    <div class="results">

    {{#each trackData}}
    <div class="result-item">
        <p>{{name}}</p>
        <audio controls src="{{preview_url}}"></audio>
    </div>



    {{/each}}
</div>
</body>
</html>