<div class="tracks-header">
  <h2>Title</h2>
  <h2>Listen</h2>
</div>

<div class="tracks-list">
  {{#each tracksArray}}
    <div class="single-track">
      <h3>{{this.name}}</h3>
      <audio controls>
        <source src="{{this.preview_url}}" type="audio/mp3" />
      </audio>
    </div>
  {{/each}}
</div>