<header>
    <h2>Home</h2>
    <h2>Listen</h2>
</header>


<div>
{{#each result}}
<figure>
    <figcaption>{{this.name}}</figcaption>
    <audio
        controls
        src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
   {{/each}}
</div>