<div class="container">
    <h1>{{this.name}}</h1>
    <div class="">
  
      {{#each viewTracks}}
      <div>
         
          <h1>{{this.name}}</h1>
         <audio src="{{this.preview_url}}" controls ></audio>

      </div>
      
      {{/each}}
  
    </div>
  </div>