<div class="bar">
  <h2>Title</h2>
   <h2>Listen</h2>
</div>
  {{#each track}}
  <div class="audio"> 
  <h3>{{name}}</h3>
      <figure>
          <audio
            controls
              src="{{preview_url}}">
              Your browser does not support the
              <code>audio</code> element.
          </audio>
        </figure>
  </div>
{{/each}} 


