<div class="tracksHeader">
    <p>Title</p>
    <p>Listen</p>
</div>
{{#each results}}
<div class="trackDiv">
    <p>{{this.name}}</p>
    {{#if this.preview_url}}
    <audio class="musicController" src="{{this.preview_url}}" controls></audio>
    {{else}}
    <p>Track Not Available</p>
    {{/if}}
</div>
{{/each}}