<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tracks</title>
</head>
<body>
  
    <div class="album-tracks-preview">
  <table class="table">
    <tr class="head-row">
      <th>Title</th>
      <th>Listen</th>
    </tr>
    {{#each tracksResult}}
      <tr class="row-of-preview">
        <td class="name-column">{{name}}</td>
        <td>
          <audio id="preview" controls>
            <source src="{{preview_url}}" type="audio/ogg" />
          </audio></td>
      </tr>
    {{/each}}
  </table>
</div>
</body>
</html>

