<section id="section-tracks">
  <div>
    <table class="table table-sm">
      <thead>

        <tr>
          <th height="100px">Title </th>
          <th height="100px">Listen</th>
        </tr>

      </thead>
      <tbody>
        {{#each albumTracks}}

          <tr>
            <td height="80px">{{name}}</td>
            {{#if this.preview_url}}
              <td><audio controls src="{{this.preview_url}}"></audio></td>
            {{else}}
              <td>this preview is not available</td>
            {{/if}}
          </tr>

        {{/each}}

      </tbody>
    </table>
  </div>
</section>