<h1>Albums for: {{name}}</h1>


{{#each list}}

<div class=“container”>
    
    <div class=“row”>
        <div class=“col-md-6”>
            {{id}}
        </div>
        <div class=“col-md-6">
        </div>
    </div>
    
</div>
{{/each}}