* {
    background: url(https://w0.peakpx.com/wallpaper/337/75/HD-wallpaper-dulcet-music-1920x1200-jpg-colors-music-note-music.jpg);

}

#search {
    color: orangered;
}

.card.card-model {
    background-color: antiquewhite;
    color: antiquewhite;
}

