body {
  font-size: 1em;
  background: #555;
}

.header {
  color: #FFF;
}

.home-btn {
  margin-top: 1em;
}

.form-container, .acard {
  background: #F5F5F5;
}

.form-content {
  padding: 1em;
  text-align: center;
}

.form-content .btn {
  margin-top: 0.5em;
  color: #FFF;
  background: #FF8800;
}

.acard {
  padding: 1em 0 1em 1em;
  border-bottom: 1px solid #CCC;
}

.acard-image {
 margin-right: 0.5em;
}

.acard-image img {
  width: 8em;
}

.acard-info {
  text-align: center;
}

.track-preview p {
  color: #C2C2C2;
  font-size: 0.8em;
  text-align: center;
}
