<h1>{{title}}</h1>
<div class="container fondo">
    <div class="row align-items-start">
        <div class="col-md-12">
            <form class="form-inline md-form mr-auto mb-4" action="/artists">
            <label for="artist-input">Artist</label>
            <input id="artist-input" name="artist" class="form-control mr-sm-2" type="text" placeholder="Search" type="submit">
            {{!-- <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button> --}}
            </form>
        </div>

    </div>
</div>
