<section class="display-multiple">
  {{#each artists.items}}
    <div>
      <img src="{{this.images.0.url}}" alt="{{this.name}}" />
      <h5>{{this.name}}</h5>
      <a href="/albums/{{this.id}}">View Albums</a>
    </div>
  {{/each}}
</section>