<ul class="list-group pt-0">
  <li
    class="list-group-item d-flex justify-content-around align-items-center text-bg-secondary "
  >
    <strong>Title</strong>
    <span class="badge rounded-pill">
      <strong>Listen</strong>
    </span>
  </li>
  {{#each tracks as |track|}}
    {{> trackPartial info=track}}
  {{/each}}
</ul>