<h1>test</h1>
<section id="albums" class="display-multiple">
  {{#each items}}
    <div>
      <h5>name: {{this.name}}</h5>
      <p>preview_url: {{this.preview_url}}</p>
    </div>
  {{/each}}
</section>