
<div class="container ">
    <h1 class="text-center my-5 text-white">Resultados para {{artistArr.name}}</h1>
        <div class="row ">
            {{#each artistArr as |artist|}}
            <div class="col-4">
                <div class="column card m-3 bg-secondary">
                  <img src={{artistImg}} alt="" style="width:100%; height:150px; background-color:white" class="mx-auto my-4 rounded bg-dark">
                    {{#if artistImg}}
                    <p>s</p>
                    {{/if}}
                  <p class="text-center px-3 text-white">{{artist.name}}</p>
                  <a type="submit" name="searchAlbum" href="/albums/{{artist.id}}" class="mx-auto mb-3 btn-danger rounded p-2">View Albums</a>
                </div>
             
            </div>
            {{/each}}
           
        </div>
</div>