<div class="container my-4 card bg-secondary rounded" style="height: 250px ; ">
    <div class="justify-content-center my-auto">
        <div class="justify-content-center">
         <form action="/artist-search" method="get" class="d-flex flex-column align-items-center">
             <input type="text" name="search" class="rounded p-2 m-2">
             <button type="submit" class="rounded btn-danger p-2 mt-4">Find Artists!</button>
         </form>
        </div>
    </div>
</div>

