.main_container
  .container
    &.home_container
      +flex_column
      .formBox
        +flex_column
        border-radius: 1em
        padding: 3em
        background-color: $darkGrey
        a.animate-logo
          animation: animUp 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate
          margin-bottom: 2em
          img
            width: 20em
        form
          &.searchForm
            position: relative
            +flex_column
            label.formTitle
              font-size: 2em
              margin-bottom: 1em
            .error
              position: absolute
              font-size: .8em
              font-weight: 200
              top: 10.2em
              left: 1.5em
              color: $red
            input.searchArtist
              border: 2px solid white
              border-radius: 5em
              outline: none
              width: 100%
              padding: 1em 2em
              margin-bottom: 2em
              background-color: transparent
              color: $white
              font-size: 1em
            span
              height: 3em


@media (max-width: 767px)

  .main_container
    .container
      &.home_container
        .formBox
          border-radius: 0
          width: 100vw
          height: 100vh
          padding: 3em
          background-color: $darkGrey
          a.animate-logo
            img
              width: 17em
          form
            &.searchForm
              label.formTitle
                font-size: 1.8em
              .error
                top: 9.6em


@media (max-width: 360px)

  .main_container
    .container
      &.home_container
        .formBox
          a.animate-logo
            img
              width: 15em
          form
            &.searchForm
              label.formTitle
                font-size: 1.4em
              .error
                top: 8.4em
