<div class="col-md-4 artist-container d-flex flex-column align-items-center justify-content-center my-3">
    <img src="{{this.images.0.url}}" class="pic">
    <div class="artist-info-container d-flex flex-column align-items-center justify-content-center">
        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}" class="btn btn-dark">View Albums</a>
    </div>
</div>