<div class="img imgAlbum"><img src="{{this.images.0.url}}" alt=""></div>
<div class="name nameAlbum">{{this.name}}</div>
<div class="button buttonAlbum"><a href="/artists/{{@root.data.artistId}}/albums/{{this.id}}/tracks">view tracks</a></div>
