<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify API</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="track-item">
    <img class="artist-img" src ="{{this.images.O.url}}">
        <div class="artist-info-container"> </div>
            <p>{{name}}</p>
            <a href="/albums/{{id}}">View Albums</a>
</div>
</body>
</html>
