<div class="ancho">
  <div>
    <img src="{{this.images.[0].url}}" alt="foto album">
  </div>

  <div class="information-artist">
    {{this.name}}
    <a class="button-index separacion-arriba" href="/viewTracks/{{this.id}}">View Tracks</a>
  </div>

</div>