<div class="albums-card">
    <img src="{{this.images.0.url}}" alt="">
    <div>
        <h1>{{this.name}}</h1>
        <div class="buttons">
        <a href="/tracks/{{this.id}}" class="btn btn-info">View Tracks</a>
        </div>
    </div>
</div>