
<div class="album-card">
    <div class="album-image">
        <img src="{{images.0.url}}" alt="album-image">
    </div> 
    <h3>{{this.name}}</h3>
    <a href="/tracks/{{this.id}}">View tracks</a>
</div>

