<div class="albumnes">    
      <img class="albumimg" src="{{images.0.url}}" alt="album image cap">
        <h5 class="album">{{name}}</h5>
        <a href="/songs/{{id}}" class = "btn btn-default">View song</a>
      </div>
</div>