{{!-- <span>{{name}}</span>
<audio controls src="{{preview_url}}" type="audio/mp3">
    <p>No preview for this song</p>
</audio> --}}

<div>
    <h5> {{ name }}</h5>
    <audio controls>
        <source src="{{preview_url}}" type="audio/mpeg">
    </audio>
</div>
