<div class="col-sm">
  <div class= "column text-center">
  <img class="column-img-top artist-img" src="{{this.images.[0].url}}" alt="">
    <div class="container-body">
    <h5 class="column-title">{{this.name}}</h5>
    <a href="/tracks/{{this.id}}" class="btn btn-danger">View Tracks</a>
</div>
</div>
</div>