<!-- album.hbs -->

<div class="m-3">
  <div class="card text-center">
    {{#if images.1.url}}
      <img class="card-img-top w-100 d-block" src={{images.1.url}}> 
    {{else}}
      <img class="card-img-top w-100 d-block" src="/images/no-image.png"> 
    {{/if}}
    <div class="card-body grey">
      <h5 class="card-title">{{name}}</h5>
      <a class="btn btn-danger" href="/tracks/{{id}}" role="button">view tracks </a>
    </div>
  </div>
</div>