
<div class="album-card">
  <img class="album-cover-img" src="{{this.albumCoverUrl}}" alt="{{this.albumName}}"><div class="bottom-text-card">
    <h2>{{this.albumName}}</h2>
    <div class="view-albums-btn">View Albums</div>
  </div>
</div>