<div class = "row">
        <h1>Albums for the : {{this.artists}}</h1>
<div class = "col-md-3 text-center">
<div class = "img-alb">
    <img src = "{{this.images.0.url}}" alt= "album image">
</div>
<div class = "txt-album">
    <h4>{{this.name}}</h4>
    <button type="button" class="btn btn-danger"><a href = "#">View Tracks</a></button>
</div>
    </div>
</div>