<div class="album-card">
  <div class="img-wrapper" style="background: center / cover no-repeat url('{{images.[0].url}}')">
    <a href="/tracks?albumId={{id}}" type="button" target="_top">
      <div class="info-box">
        <h2>{{name}}</h2>
        <p>View Tracks</p>
      </div>
    </a>
  </div>
</div>