<div class="artist-index">
  <div class="img-artist">
    <img src="{{images.0.url}}" alt="{{name}}-img">
  </div>
  <div class="text-random">
    <h4>{{name}}</h4>
    <a href="/songs/{{id}}"  class="btn btn-default">View Songs</a>
  </div>
</div>