<div class="card">
  <div style="background-image:url('{{{images.0.url}}}')" class="album-cover">

  </div>
  
  <div id="album-title">
    {{this.name}}
  </div>
  <p>
    <a href="../tracks/{{this.id}}">View Tracks</a>
  </p>
</div>


