<div>
    <img src={{images.[0].url}} alt="">
    <p>{{name}}</p>
    <form action="/artists" class="form-group">
        <a href="/albuns/{{id}}" class="btn btn-danger">View More</a>
    </form>
</div>