{{#if images.[0]}} {{#with images.[0]}}
<img src="{{url}}"> {{/with}} {{else}}
<img src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/def-lep-header.png?itok=AkjvtERB&resize=1100x1100"> {{/if}}
{{name}}

<a href="albums/{{id}}">View Albums</a>
