<div class="ancho">
  <div>
    <img src="{{this.images.1.url}}" alt="foto artista">
  </div>

  <div class="information-artist">
      {{this.name}}
    <a class="button-index separacion-arriba" href="/albums/{{this.id}}">View Album</a>
  </div>
</div>