<div class="single-artist">
  <div class="single-artist-image">
    <img src="{{this.images.0.url}}" alt="">
  </div>
  <div class="single-artist-info">
    <p>{{this.name}}</p>
    <button><a href="/albums/{{this.id}}">View Albums</a></button>
  </div>
</div>