<div class="row">
    <h1>{{this.artists}}</h1>
    <div class="col-md-3 text-center">
        <div class="img-artist">
            <img src="{{this.images.0.url}}" alt="artist image">
        </div>
        <div class="txt-artist">
            <h4>{{this.name}}</h4>
            <button type="button" class="btn btn-danger">
                <a href="/albums/{{this.id}}">View albums</a>
            </button>
        </div>
    </div>
</div>