{{#each artists}}
<div class="container">
<section class="section has-text-centered">
   <div class="columns">
     <div class="column is-one-third">
       <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
               <img src="{{this.images.[0].url}}" alt="Placeholder image">
            </figure>
          </div>
     <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
      <div class="media-content">
        <p class="title is-4">{{this.name}}</p>
        <p class="subtitle is-6">
          <a href="/albums/:artistId">
            View More
            <button class="button is-danger">View Albums</button></p>
          </a>
      </div>
     </div>

    </div>
   </div>
  </div>
 </div>
 </div>
</section>


  
{{/each}}