<div class="col-sm">
  <div class="containertext-center">
    <img class="container-img-top artist-img" src="{{this.images.[0].url}}" alt="Picture of {{this.name}}">
    <div class="container-body">
      <h5 class="container-title">{{this.name}}</h5>
      <a href="/albums/{{this.id}}" class="btn btn-danger">View Albums</a>
    </div>
  </div>
</div>