<div class="container album-container">
	<div class="">
		{{#if images.[0]}} {{#with images.[0]}}
		<img class="with-image" src="{{url}}"> {{/with}} {{else}}
		<div class="no-image">No Image</div> {{/if}}
	</div>
	<div class="
    cover-info">
		<h5><strong>{{name}}</strong></h5>
		<a class="btn btn-danger"  href="albums/{{id}}">View Albums</a>
	</div>
</div>
