<div class="col-md-4">
    <div class="image-container">
            <img class="image-size" src="{{images.[0].url}}" alt="{{name}}" />
        </div>
        <div class="grey-footer"> 
           <p>  {{name}} </p>
            <button>  View Albums </button>
        </div>
    </div>
