<div class="artists-card">
    <img src="{{this.images.0.url}}" alt="">
    <div>
        <h2>{{this.name}}</h2>
        <div class="buttons">
        <a href="/albums/{{this.id}}" class="btn btn-danger">View albums</a>
        </div>
    </div>
</div>