
<div class="artist-card">
    <div class="artist-image">
        <img src="{{this.images.0.url}}" alt="artist-image">
    </div> 
    <h3>{{name}}</h3>
    <a href="/albums/{{this.id}}">View Album</a>
</div>