<div class="card column is-3">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src={{this.images.[0].url}} alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 has-text-centered">{{this.name}}</p>
      </div>
    </div>

    <div class="content has-text-centered">
        <a href="/albums">
            <button class="button is-link is-outlined">View Albums</button>
        </a>
    </div>
  </div>
</div>