  <div class="artist">
        <img class="artist-img-top" src="{{images.[1].url}}" alt="image">
        <div class="artist-body">
          <form action="">
          <h2 class="artist-name">{{name}}</h2>
            <button>View Albums</button>
          </form>
        </div>
  </div>