<div class="card beers-container">

  <div class="card-body">
    <h2>ALBUMS FOR: {{name}}</h2>
   
    <img class="card-img-top beer-img d-block imagen" src="{{images.0.url}}" alt="Card image cap">
    <a href="/songs/{{id}}">View More</a>

  </div>
</div>