<div class="ancho">
  <div>
    <img src="{{this.images.1.url}}" alt="foto artista">
  </div>

  <div class="information-artist">
    {{this.name}}
    <button class="button-index separacion-arriba" type="submit">View Album</button>
  </div>

</div>