<div class="img imgArtist"><img src="{{this.images.0.url}}" alt=""></div>
<div class="name nameArtist">{{this.name}}</div>
<div class="button buttonArtist"><a href="/artists/{{this.id}}/albums">view albums</a></div>
