<h1>Artists??</h1>
<!-- {{#each items}}
    <div>{{name}}</div>
    {{!-- {{#if @first}} --}}
        {{#each images}}
            {{#if @last}}
                <div><img src={{url}}></div>
            {{/if}}
        {{/each}}
    {{!-- {{/if}} --}}
    <div> '  '</div>
{{/each}} -->