<div class="card">
  <div style="background-image:url('{{{this.images.0.url}}}')" class="album-cover">

  </div>
  <div id="title">
    {{name}}
  </div>
  <p><a href="./albums/{{this.id}}">View Albums</a></p>

</div>