<div class="artist-image">
<img src="{{this.images.1.url}}" alt="artist-image">
<h3> {{this.name}}</h3>
<h5>{{this.genres}}</h5>
<a class="btn btn-primary btn-class button-artist" href="/albums/{{this.id}}" role="button">album</a>
</div> 