  <div class="artist-box">
    <img src="{{this.images.0.url}}">
    <div class="name-and-button">
      <p>{{this.name}}</p>
      <button>
        <a href="/albums/{{this.id}}">View Albums</a>
      </button>
    </div>
  </div>
