
    <div>
        <img src="{{this.images.[0].url}}" alt="">
        <div>
            <h5>{{this.name}}</h5>
            <form action="/albums">
                <button type ="button"><a href="albums/{{this.id}}">View Album</a></button> 
            </form>
            
        </div>
</div>