<form id="artists-form" action="/artists" method="POST" enctype="application/x-www-form-urlencoded">
  <input name="artists" type="text" placeholder="Enter artist name" required autofocus>
  <button id="btn-form" type="submit">Search for an artist</button>
</form>