<div class="card">
 
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-60x60">
          <img src="{{image}}" alt="image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{name}}</p>
      </div>
      
    </div>

   
  </div>

  <button class="button is-medium is-danger"> 
<a href="/albums/:artistId" >View More</button>


</div>