<div class="col-md-4">
     
      <div class="artist-partial">
          <img src="{{images.[0].url}}"  alt="artist" height="200">
        <h5 class="card-name">{{name}}</h5>
        <a  href="/albums/{{id}}" class=''>View Album</a>
    
        </div>
    
</div>