<div class="artist-card">
  <img src={{this.images.0.url}} alt={{this.name}}>
  <h2 class="artist-name">{{this.name}}</h2>
  {{!-- Checar esto --}}
  <a href={{link "/albums/" this.id)}} class="btn-albums">View Albums</a>
</div>