<div class="artistCard">

      <img class="card-img" width="200" height="200" src="{{this.images.1.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
      </div>

    <a class="buttonCard" href="/albums/{{this.id}}">View More</a>
</div>