<div id='partial-artists'>
    <img src="{{images.0.url}}" alt="">
    <div>
        <h1>{{name}}</h1>
        <a href="/albums/{{id}}" style='padding:3%;background:red'>View Album</a>
    </div>
</div>