<div class="spotify-card">
  <img src="{{#if this.images.0.url}}{{this.images.0.url}}{{else}}https://picsum.photos/200/200/?random{{/if}}">
  <div>
    <h4>{{this.name}}</h4>
  </div>
  <a href="/albums/{{this.id}}" class="btn btn-primary btn-lg btn-block">View Albums</a>
</div>
  