<div class="album-card" style="width=310px">
  <img src="{{this.images.0.url}}" alt="{{this.image}}" class="image-style">
  <p style="padding-top:10px">{{this.name}}</p>
  <a href="/albums/{{this.id}}" class="btn btn-sm  btn-danger custom-btn">View albums</a>
  {{!-- <a href="/albums" class="btn btn-info custom-btn" role="button">View albums</a> --}}
</div>
