<div class="col-lg-4 artist-container">

  <img src="{{this.images.0.url}}" alt="" class="artist-img">

  <div class="artist-info-container">
    <p>{{this.name}}</p>
    <a href="/album/{{this.id}}">View Tracks</a>
  </div>
</div>