<div class="card d-flex flex-wrap align-content-around" style="width: 25rem;">

    {{!-- <img class="beer-img " src="{{data.body.artists.items}}" alt=""> --}}
    <div class="card-body d-flex flex-column align-content-center">
        {{!-- <h5 class="card-title">{{data}}</h5> --}}
        {{!-- <p class="card-text">{{data}}</p> --}}
        {{!-- <button onclick="window.location.href='/{{this.id}}' ">This beer</button> --}}
    </div>
</div>
</div>