<div class="eachArtist">
    <img class="artist-img" src="{{this.images.[1].url}}" alt="">
    <div class="description-artist">
        <h3 class="tagline">{{this.name}}</h3>
    </div>
    <div>
        <a class="button" href="/albums">View Albums </a>
    </div>
</div>