<div class="album-card">
  <img src="{{this.images.0.url}}" alt="{{this.image}}" class="image-style">
  <p>{{this.name}}</p>
  <button type="submit" class="album-button">View albums</button>
  {{!-- <a href="/albums" class="btn btn-info custom-btn" role="button">View albums</a> --}}
</div>
