<div class="card beers-container">
  <div class="card-body">
    <h5 class="">{{name}}</h5>
 
<audio controls>
  <source src="{{preview_url}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
  
  <audio
  src="{{preview_url}}"
  >
  Your browser does not support the <code>audio</code> element.
</audio>

  </div>
</div>