<div class="row track-item">
    <div class="col-lg-8">
        <p class="track-name">{{this.name}}</p>
    </div>
    <div class="col-lg-4">
        <audio controls name="media"><source src={{this.preview_url}} type="audio/mpeg"></audio>
    </div>
</div>