<!-- track.hbs -->


<div class="col-md-9">
  <p class="text-left ">{{name}}</p>
</div>
<div class="col-md-3">
  <audio controls=" ">
    <source src={{preview_url}} type="audio/mp3"> Your browser does not support the
    <code>audio</code> element.
  </audio>
</div>