<li class="search-item">
    <div class="tracks-container">
        <div class="text-container">
            <audio>
                <source src="{{preview_url}}">
            </audio>
            <h5>{{name}}</h5>
        </div>
    </div>
</li>