<div class="track-card">
    <div class="track-audio">
        <audio controls>
            <source src="{{this.preview_url}}" type="audio/mpeg">
        </audio>
    </div> 
    <h3>{{this.name}}</h3>
</div>
