<div class="track-row">
  <ul>
    <li><span>{{track_number}}.</span>&ensp;{{name}}</li>
    <li>
      <audio src="{{preview_url}}" controls preload="auto">
        Your browser can't play this audio preview
      </audio>
      </li>
  </ul>
</div>