<li class="tracks-search-item">
    <div class="tracks-container">
            <h5>{{name}}</h5>
            <audio controls>
                <source src="{{preview_url}}">
            </audio>
    </div>
</li>