<div class="rowTrack">
  
  <div class="columnName">
    <p>{{this.name}}</p>
  </div>

  <div class="columnPlayer">
    <audio controls>
      <source src="{{this.preview_url}}">
    </audio>
  </div>

</div>