@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
}

body #form-section {
  background-image: url("../images/spotify-background.jpeg");
  height: 100vh;
  background-size: cover;
}

body #form-section form {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: colum;
}
