.search {
  text-align: center;
  padding: 300;
  background-image: url(../images/spotify-home.png);
}

.container {
  display: flex;
  flex-direction: row;
}

.artists {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.albums {
  width: 30%;
  display: flex;
  flex-direction: row;
  width: 150px;
}
