section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bands{
  background-color: aquamarine;
  /* flex-direction: column; */
  width: 30%;
}
.bands img{
  height: 100px;
}