.home-search {
  margin-top: 10px;
  background-color: black;
  border-radius: 0;
  color: white;
  background-color: #ff6666;
  border: 1px solid #ff6666;
}

.home-search:hover, .home-search:active {
  color: #ff6666;
  background-color: white;
  border: 1px solid #ff6666;
}

.boxes {
  float: left;
  width: 400px;
}
