*{
  margin: 0 auto;
}
.navbar-default {
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  margin-top: 40px;
}


section .grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 30%; */
}

section .media{
  display: flex;
  flex-direction: column;
  width: 32%;
  background-color: rgba(0, 0, 0, 0.2);
}

.media img{
  width: 60%;
}
.media-body{
padding-left: 20%;
margin: 20px 0;
}
h1 {
  padding-top: 20px;
}

#search {
  background-image: url("../images/concert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search form {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  padding: 20px 40px;

}
.bar{
  color:white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tracks{
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}
