* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html{
     background: url('/images/horns.jpg')fixed;
  }

  @import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: 50%;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 30px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: crimson;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: center;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: crimson;
  font-family: 'Helvetica', sans-serif;
  font-size: 60px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: green;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: greenyellow;  
}

input:-moz-placeholder {
  color: green
}


/****************
 * Pretify demo *
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color:crimson;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}
/* *************
* barra de navegacion *
************** */
.contenedor-nav{
  width: 98%;
  margin: 0 auto;
  background-color: blueviolet;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* *************
* botones *
************** */
 nav a{
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px 16px 16px 16px;
  color: whitesmoke;
  text-decoration: none;
  margin-left: 10px;
 }
.btn{
  padding: 10px 10px;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border: 2px solid white;
}
.btn:hover {
  background-color: white;
  border: 3px solid #2081c3;
  color: #2081c3;
}
footer {
  height: 40px;
  width: 98%;
  padding-top: 20px;
  margin: 0 auto;
  /* margin-top: 20px; */
  bottom: 0;
  position: fixed;
  background-color: blueviolet;
  text-align: left;
  color: white;
  /* flex */
  display: flex;
  justify-content: flex-start;
}

footer h2 {
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
