.img-cover{
  background-image: url("/images/home-heading.jpg");
  height: 100vh;
  background-size: 100% 100%;
}

.form-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}