.first-class {
    background-image: url(https://static.pexels.com/photos/167605/pexels-photo-167605.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    
}


.second-class {
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
}

/* 
button, input {
    overflow: visible;
    margin: 0;
} */


.home-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

button {
    border: 5px solid#ff6666;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    background-color: #ff6666;
    color: white;
}


.main-album {
    color: white;
}