body {
  height: 800px;
}

%text {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#form-container {
  background-color: blue;
  position: relative;
  height: 200px;
  width: 600px;
  margin: 300px auto;

  #searchbox {
    position: relative;
    top: 50px;
    left: 50px;
    width: 500px;
    @extend %text;
  }
  #search-btn {
    position: relative;
    top: 100px;
    left: 200px;
    width: 200px;
    background-color: red;
    @extend %text;
  }
}

.info {
  padding: 30px;
  width: 200px;
  height: 300px;
  display: inline-block;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }

  #album-button {
    background-color: red;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    a {
      text-decoration-style: none;
      color: white;
    }
  }
}
