<div class="d-flex flex-wrap" id="birra">
    <div class="col-3">
        <img class="photo" src="{{images.[1].url}}" alt="birra">
    </div>
    <div class="col-9">
        <p>{{name}}</p>
        <a href="/albums/{{id}}">View Albums</a>
    </div>

</div>