* {
  margin: 0;
  padding: 0;
}

.home {
  background-image: url("../images/music-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.form-group {
  margin-bottom: 1rem;
}

.home-form {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

.button {
  margin-top: 10px;
  margin-top: 4%;
  width: 35%;
}

.artist {
  display: flex;
  justify-content: space-between;
  width: 82%;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 10%;
}
.artist-pic {
  margin-left: 20%;
  width: 24%;
  display: inline-block;
}

h3,
h5 {
  text-align: center;
}

.button-artist {
  margin-left: 27%;
  margin-top: 5%;
  width: 49%;
  margin-bottom: 20%;
}

.album {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 5%;
}

.title-album{
  text-align: center;
    font-size: 100px;

}

.album-pic{
  margin-left: 6%;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
}

.album-pic a{
  margin-top: 10%;
  margin-bottom: 15%;
  margin-left: 27%;
}
.play{
  display: flex;
}