<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form id="searchArtistForm" action="/artists" method="GET">
  <label for="artist">FIND ARTIST</label>
  <input id="searchArtistName" name="artist" type="text">
</form>
<button type="submit" form="searchArtistForm">Search</button>