<div class="container">
  <div class="row">
    {{#each albums}}
      <div class="col-lg-4 artist-container">
        {{#if this.images}}
          <img src="{{this.images.0.url}}" alt="" class="artist-img">
        {{else}}
          <img src="http://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg" alt="" class="artist-img">
        {{/if}}
        <div class="artist-info-container">
          <p>{{this.name}}</p>
          <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
      </div>
     {{/each}}
  </div>
</div>