<h1>Home</h1>

<form class="d-flex" role="search" action="./artist-search" method="GET">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
</form>