<h1>Soy la lista de los artistas</h1>

{{#each data}}
<img src="{{images.0.url}}" alt="la puñetera imagen del disco este"> {{!--en hbs un array se indexa con .  --}}
<p>{{name}}</p>
<a href="/albums/{{id}}">View Albums</a>
{{/each}}