{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  
<form action="/artists" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="searchInput" class="sr-only"></label>
    <input name='buscar' type="text" class="form-control" id="searchInput" placeholder="The Beatles">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search for an artist!</button>
</form>


</body>
</html>
