<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Albums</title>
</head>

<body>
    <div class="artist-wrapper">
        {{#each data}}
        <div class="artist-card">
            <div class="artist-img"><img src="{{images.0.url}}" alt="{{name}}"></div>
            <div class="album-name">
                <p><b>{{name}}</b></p>
                <div class="view-btn">
                    <a href="/tracks/{{id}}">Tracks</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>

</html>