<div>Name : {{this.name}}, Image :  <img src="{{this.image}}" alt="Album image" height="50" width="50"> 
  <br>
  <form method="GET" class="form-group home-form __fx-devtools-hide-shortcut__" action='/tracks/:{{this.albumId}}'>
  <button name="tracks" class="btn btn-primary home-search" type="submit" value="{{this.albumId}}">View tracks</button>
  </form>
  <br>
  </div>