<div class="container">
  <div class="row text-center">
    <div class="col-md-4">
        {{#each artists}}
        <div>
            <img src="{{this.images.0.url}}">
            <div class="artist-info">
                <p>{{this.name}}</p>
                <button class="btn btn-danger"><a href="/albums/{{id}}">View Albums</a></button>
            </div>
        </div>

        {{/each}}
  </div>
  </div>
</div>
   