<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Artist</title>
  <link rel="stylesheet" href="./public/stylesheets/styles.css">
</head>
<body>
  <h1>List artist</h1>
  </div>
</body>
</html>
