

<div class="card">
  <img class="card-img-top" src="{{preview_url}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <a href="#!" class="btn btn-primary">View Albums</a>
  </div>
</div>