<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>

<body>
    <div class="home-wrapper">
        <div class="form-wrapper">
            <form action="/artists" method="GET">
                <div class="input-wrapper">
                    <input class="input-txt" type="text" name="artist" placeholder='The Beatles' id="artist">
                    <input class="submit-btn" type="submit" value="Search for an Artist">
                </div>
            </form>
        </div>
    </div>
</body>

</html>