<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <link rel="stylesheet" href="./public/stylesheets/styles.css">
</head>
<body>
  <h1>Search.....</h1>
  <form action="/artists" method="POST">
    <input name="artist" placeholder="input an artist..."></input>
  </form>
  </div>
</body>
</html>
