    <div class="container margin-body">
    <div class="element-card">
       <div class="element-caption text-center">
<form action="/artists" post="GET">
 <input name="artist" type="text" class="form-control form-width" placeholder="Search for an Artist">
    <button class="btn btn-secondary" type="submit">Submit</button>
</form> 
</div>
       </div>
    </div>