<div class="index-container">
<div class="index-search">
<form action="/artists" post="GET" class="index-input">
<input name="artist" type="text" class="form-control" placeholder="Search for an Artist!">
<button type="submit" class="btn btn-danger">Search for an Artist</button>
</form>
</div>
</div>