<html>
  <head>
    <meta charset="utf-8">
    <title>Thibaut's Awesome Spotify App</title>
  </head>
  <body>

  <form action="/artists" method="get">
    <label for="artist-name">Artist Name:</label>
    <input id="artist-name-input" type="text" name="artistName">

    <input type="submit" value="Save Name">
  </form>

  </body>
</html>
