<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>SpotifyWebApi</title>
  </head>
  <form id="artist-search" action="/artists" method="get">
    <label for="artist-inupt">: </label>
    <input id="artist-input" type="text" name="artist">
    <input type="submit" value="Search for an Artist">
  </form>
</html>
