<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <div class="container">
    <input type="text" class="searchTerm" placeholder="Search for an artist!">
    <button type="submit" action="/artists" class="searchButton">Search for an artist</button>

  </div>


  </body>
</html>
