<div id="artistRequest">
    <form action="example.com/user-data">
        <label for="artiste-name-input"></label>
        <input id="artiste-name-input" type="text" name="artisteName">

        <input type="submit" value="Search for an Artist">
    </form>
</div>
<script src="/Users/arthurmossa/code/lab-express-spotify/starter_code/express-spotify-app/app.js"></script>