<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Ironhack</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
	<div class="container">
		<div class="row header">
			<h1><%- title -%></h1>
		</div>
		<%- body -%>
	</div>
  </body>
</html>