<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="../public/stylesheetsa/style.css">
</head>
<body>
    <header> 
        <h1> </h1>
    </header>
    <%- body -%>
</body>
</html>