<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
  <!-- bootstrap -->
</head>
<body>
  <h1>holaaaaa</h1>
 <%- body -%>
  
</body>
</html>