<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ironfy</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <h1>Siempre</h1>
    <%- body -%>
</body>
</html>