<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style/bootstrap.min.css">
  <link rel="stylesheet" href="/style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
  <title>Document</title>
</head>
<body>

{{> _nav}}

{{{body}}}
  
 
  
</body>
</html>