<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <h1>App SpotiSearch</h1>
  <div>
    <%- body %>
  </div>
</body>
</html>
