<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My First Website</title>
    <link rel="stylesheet" href="/stylesheetsa/style.css">
</head>

<body>
    <%- body -%>
</body>

</html>