<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify API App</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  </head>
  <body>
    <h1>Spotify App</h1>
    <%- body -%>
  </body>
</html>
