<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Spotify searcher</title>
    <!-- <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css"> -->
  </head>
  <body>
    <%- body -%>
  </body>
</html>
