<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SpotifyLab</title>
  <link rel="stylesheet" type="text/css" href="/stylesheetsa/style.css">
</head>
<body>
  
  <%- body -%>

</body>
</html>
