<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Personal SpotifyApp</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Artist Search Engine</h1>
  </body>
</html>
