<!-- thirdRoute -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Searcher</h1>
    <%- body -%> <!-- <=== note this line -->
  </body>
</html>
