<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/tracks.css">
</head>
<body>
    <header>
    <h1>Titles</h1>
    <h1>Listen</h1>
    </header>
    

    <div>
        <ul>
            {{#each listTracks}}
                <li>
                    <p>{{this.name}}</p>
                    <audio controls src="{{this.preview_url}}" ></audio>
                </li>
                <hr>
                
            {{/each}}
        </ul>
    </div>
</body>
</html>