<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Tracks</title>
</head>

<body>
    <div class="tracks-wrapper">
        <div class="tracks-header">
            <div class="title-wrapper">
                <span><b>Title</b></span>
            </div>
            <div class="listen-wrapper">
                <span><b>Listen</b></span>
            </div>
        </div>
        {{#each data}}
        <div class="track-card">
            <div class="track-name">
                <p><b>{{name}}</b></p>
            </div>
            <div class="audio-wrapper">
                <audio controls>
                    <source src="{{this.preview_url}}" type="audio/mp3">
                </audio>
                <audio src="{{preview_url}}">{{name}}</audio>
            </div>
        </div>
        {{/each}}
    </div>
</body>

</html>