        <div class="albm col-lg-3 col-md-4">
                        <div class="imag-div">
                                <img class="imag" src={{this.images.0.url}} alt="album">

                        </div>
                        <div class="info-display">
                                <h3>{{this.name}}</h3>
                                <a href="/tracks/{{this.id}}" class="btn btn1">View Tracks for this Album</a>
                        </div>
        </div>