<div class="card m-1" style="width: 17rem;">
    <img src="{{ images.0.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
       <a href="/albums/{{ id }}" class="btn btn-primary">View Albums</a>
    </div>
  </div>