<figure class="artist-result" style="background-image: url({{ this.images.0.url }})">
    <figcaption>
        <button><a href="/tracks/{{ this.id }}">View Albums</a</button>
    </figcaption>
</figure>