<div class="tracks">
    <div class="left">{{this.track_number}} {{this.name}}</div>
    <div class="right">
        <audio controls>
        <source src="{{this.preview_url}}" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
    </div>
</div>