<div class="card" style="width: 33.333%;">
    <a href="/albums/{{this.name}}"><img class="albums-img" src="{{images.[0].url}}" alt="picture of the artist"></a>
    <div class="albums-body">
        <h5 class="albums-title">{{this.name}}</h5>
        <button class="btn"><a href="/tracks/{{this.id}}">View Tracks</a></button>
    </div>
</div>