    <div class="col-sm">
           <h5 class="card-title">{{name}}</h5>

           {{!-- <audio src={{uri}}></audio> --}}
    </div>
    <div class="col-sm">    
           <figure>
        <audio controls src={{preview_url}}>
            <code>audio</code> element.
    </audio>
    </figure>
</div>