<div class = "album">
  <img src = "{{this.images.[1].url}}" alt = "Album img" class = "image"/>
  <h2 class = "nameAlbum">{{this.name}}</h2>
  <a href="/tracks/{{this.id}}">
    <button type = "submit">View tracks</button>
  </a>
</div>