<div class="col-lg-4 artist-container">
  <img class="artist-img" src="{{this.images.[0].url}}" />
  <div class="artist-info-container">
    <p>{{this.name}}</p>
    <a href="/tracks/{{this.id}}" role="button" class="btn btn-primary">View Tracks</a>
  </div>
</div>
