<div class="album-container">
    <img class="album-cover" src={{albumes.images.0.url}} alt="Album cover">
    <p class="album-name">{{albumes.name}}</p>
    <a href="/tracks/{{albumes.id}}">View Tracks</a>
</div>