<div>
    {{#each images}}
        {{#if @first}}
        <p><img class="img" src="{{url}}" alt="img"></p>
        {{/if}}
    {{/each}}
    <p class="noLink"><a href="{{href}}">{{{trimString name}}}</a</p>
    <p class="link"><a href="/tracks?albumId={{id}}">View Tracks</a></p>
</div>