<div class = "artist">
  <img src = "{{images.[1].url}}" alt = "Album img" class = "image"/>
  <div class="gray">
  <h4 class = "nameAlbum">{{name}}</h4>
  <a href="/tracks/{{id}}">
    <button type = "submit">View tracks</button>
  </a>
  </div>
</div>