<div class="card" style="width: 18rem;">
  <div class="card-image">
    <img src="{{this.images.0.url}}" class="card-img-top" alt="An album cover">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text"><a href="/tracks/{{this.id}}">View {{this.total_tracks}} tracks</a></p>
  </div>
</div>