<div class="card" style="position:relative;">
    <img class="card-img-top" src="{{this.images.2.url}}">
    <div class="card-body">
        <h4 class="card-title">{{this.name}}</h4>
        <h3><a href="/tracks/{{this.id}}">View tracks</a></h3>        
    </div>
</div>
