<div class="artistCard">
    <img src="{{this.images.[0].url}}" alt="{{this.name}}">
    <div>
        <h2>{{this.name}}</h2>
        <a href="/tracks">
            <button>View Tracks</button>
        </a>
    </div>
</div>