<div class="albums-info">
    <img src="{{this.images.[1].url}}" alt="">
    <div class="albums-name">
        <small>{{this.name}}</small>
        <a href="/tracks/{{this.id}}">View Tracks</a>
    </div>
</div>