<div class="col-md-3">
<form action="/tracks" method="get">
   <div class="card">
     <img class="card-img-top" src={{images.0.url}} alt=""> 
       <div class="card-body">
           <h5 class="card-title">{{name}}</h5>
            <input name="track" type="hidden" value= {{id}}>
           <button type = "submit" href = "/tracks" class="btn btn-dark">View tracks</p>
       </div> 
   </div>
</form>
</div> 
