
{{#each info}}
<div class="fotoContainer">
  {{#if this.images.1.url}}
 <img src="{{this.images.1.url}}">
  {{else}}
 <img src="./images/default-placeholder.png" class="placeholderImage">
 {{/if}}
  <div class="bottom">
    <p>{{this.name}}</p>
   <a href="tracks/{{this.id}}"><button>View Tracks</button></a>
  </div>
</div>
{{/each}}
