<div class="div-album">
    <img src="{{this.images.[0].url}}" alt="" class="image-albums">
    <div class="div-album-info">
        <p>{{this.name}}</p>
        <a href="/tracks/{{this.id}}">View Tracks</a>
    </div>
</div>