<div class="albumcard-container">

    <img class="artist-image" src="{{images.[1].url}}" alt="album cover">

    <div class="artist-text">

        <h5>{{name}} </h5>

        <a href="/tracks/{{id}}">
            <button>View tracks</button>
        </a>

    </div>


</div>