<div class="artist-card" >
  <img class="card-img" src="{{this.images.0.url}}" alt="{{this.name}}">
  <div class="card-text">
    <h4 class="card-title">{{this.name}}</h4>
    <a href="/tracks/{{this.id}}">View Tracks</a>
  </div>
</div>