<div class="artistCard">
  <img src="{{this.images.0.url}}" alt="Artist Images" class="artistImg">
    <div class="artistInformation">
      <h1 class = "artistTitle">{{this.name}}</h1>
      <button type="submit" class="buttonAlbums"><a class="linkAlbums" href="/tracks/{{this.id}}">View Tracks</a></button>
    </div>
</div>