<div class="col-lg-4 artist-container">      
  <img src={{images.1.url}} class="artist-img">
  <div class="artist-info-container">
    <p>{{name}}</p>
    <a href="/album/tracks/{{id}}">View Tracks</a>
  </div>
</div>