<div class="col-lg-4 artist-container">
  <img src="{{images.0.url}}" alt="" class="artist-img">
  <div class="artist-info-container">
    <p>{{name}}</p>
    <a href="">View Tracks</a>
  </div>
</div>