<div class="album">
  <img class="album-img" src="{{this.images.[0].url}}">
  <div class="album-info">
    <p>{{this.artists.0.name}}</p>
    <p>{{this.name}}</p>

    <a href="/tracks/{{this.id}}">View Tracks</a>
  </div>
</div>
