<div class="card">
      <img class="card-img-top" src="{{this.images.[1].url}}" alt="">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/tracks/{{this.id}}" class="btn btn-danger">View Tracks</a>
      </div>
</div>