<div class="albumListing">
	<img src="{{this.images.0.url}}" alt="{{this.images}}" class="artistImage">
	<h1 class="artistName">{{this.name}}</h1>
	<button class="viewAlbums"> <a href="/tracks/album/{{this.id}}">View Tracks</a> </button>
</div>