<div class="row">
    <div class="col">
        <div class="album">
            <div class="img-album"><img src="{{this.images.[0].url}}" class="img-album"> </div>
            <diiv class="mini-footer">
                <span class="album-title">{{this.name}}</span>
                 <a href="/albums/tracks/{{this.id}}">View Tracks</a>
        </div>
    </div>
    <div class="col">
    </div>
</div>