<div class="item-row col-lg-3 col-md-3 col-sm-6 text-center">
    <img class="img-fluid h-50 ml-3 pl-3 my-3" src={{this.image}} alt="">
    <p class="font-weight-bold text-center mx-auto ">{{this.name}}</p>
    <a href="/tracks/{{this.id}}" role="button">View tracks</a>
</div>