<div class="album-container">
    <img class="album-cover" src={{album.cover_url}} alt="Album cover">
    <p class="album-name">{{album.name}}</p>
    <a href="/albums/someAbumsIdGoesHere">View Tracks</a>
</div>