<div>
    <div>
        <img class="images" src="{{images.[1].url}}" alt="">
    </div>
    <div>
        <h2 class="name">{{name}}</h2>
        <a href="/album/{{id}}">View Albums</a>
    </div>
</div>