
<div >

    <article class="item-card">
        
        <div >
          <div>
            
          </div>
            <img src="{{images.2.url}}" alt="">
            <a href="#"><h1>{{name}}</h1></a>
            <a href="/songs/{{id}}">View Songs</a>
            
         
         
        </div>
    </article>

</div>