<div>
    <div>
        <img class="images" src="{{images.[1].url}}" alt="">
    </div>
    <div>
        <h2 class="name">{{name}}</h2>
        <button>
            <a href="/album"></a>
        </button>
    </div>
</div>