<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="text-center">
            <img class="card-img-top img-thumbnail rounded mx-auto d-block" src={{this.images.0.url}}  alt="...">
        </div>
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <button><a href="/albums/{{this.id}}">View Artist</a></button>
            </div>
    </div>
</div>