<div class="music-card">
    <div class="artist-image"><img alt="{{this.name}}" src="{{this.images.1.url}}"></div>
    <div class="artist-name">{{this.name}}</div>
    <button class="artist-button"><a href="/albums/{{this.id}}">View Albums</a></button>
</div>


