<div class="artist-container">
    <img class="artist-img" src={{artist.image_url}} alt="Artist image">
    <p class="artist-name">{{artist.name}}</p>
    <a href="/albums/someAbumsIdGoesHere">View Albums</a>
</div>