<div class="col-md-3">
   <div class="card">
       <img class="card-img-top" src="{{images}}" alt="">
       <div class="card-body">
           <h5 class="card-title">{{name}}</h5>
           <p class="card-text">{{type}}</p>
       </div> 
   </div>
</div> 

<p>esto es el parcial</p>