<div class="col-lg-4 artist-container">      
    <img class="artist-img" src="{{this.images.0.url}}" alt="Card image cap" >            
          
    <div class="artist-info-container">
      <p>{{this.name}}</p>      
      <a href="/albuns/{{this.id}}">View Albums</a>
    </div>
</div>
 