<div class="artistcard-container">

    <img class="artist-image" src="{{images.[1].url}}" alt="artist image">

    <div class="artist-text">

        <h5>{{name}} </h5>

        <a href="/albums/{{id}}">
            <button>View albums</button>
        </a>

    </div>

</div>