<div class="col-lg-4 artist-container">
<div class="card" style="width: 33.333%;">
      <!---<img class="card-img-top" src="{{this.photo}}" alt="artist-image">--->
      <div class="artist-info-container">
        <p>{{this.name}}</p>
       <!--- <a href="{{this.items}}">View Albums</a> --->
      </div>
</div>
</div>