<div class="card" style="width: 33.333%;">
    <a href="/artists/{{this.name}}"><img class="artist-img" src="{{images.[0].url}}" alt="picture of the artist"></a>
    <div class="artists-body">
        <h5 class="artists-title">{{this.name}}</h5>
        <button class="btn"><a href="/albums/{{this.id}}">View Albums!</a></button>
    </div>
</div>