<div class="artist-container">
    <img class="artist-img" src="{{datos.images.0.url}}" alt="Artist image">
    <p class="artist-name">{{datos.name}}</p>
    <a href="/albums/someAbumsIdGoesHere">View Albums</a>
</div>