<div class="artist-container">
    <img class="artist-img" src="{{artist.images[1]}}" alt="Artist image">
    <p class="artist-name">{{artist.name}}</p>
    <a href="/albums/someAbumsIdGoesHere">View Albums</a>
</div>