<div class="card">
    <img class="card-img-top" src="https://clutchpoints.com/wp-content/uploads/2017/10/Kobe-Bryant-e1508564618882.jpg"
        alt="">
    <div class="card-body">
        <h5 class="card-title">name</h5>
        <button class="search-button" type="submit"> <a href="">Search for an Artist</a>
        </button>
    </div>
</div>