  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="{{this.images.0.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.id}}" class="btn btn-primary">View albums</a>
      </div>
    </div>
  </div>