<div class="artist-container">
    <img class="card-img" src={{this.images.0.url}}>
    <div class="text-btn-container">
    <h4 class="album-name">{{this.name}}</h4>
    <a href="/albums/{{this.id}}">
    <button class="btn">View Albums</button>
    </a>
    </div>
</div>