  <div class="col-sm">
    <div class="card text-center">
      <img class="card-img-top artist-img" src="{{this.images.[0].url}}" alt="Picture of {{this.name}}">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.id}}" class="btn btn-danger">View Albums</a>
      </div>
    </div>
  </div>  