<div class="col-lg-4 artist-container">
        
          <img src={{artist-img}} alt="" class="artist-img">
        
        <div class="artist-info-container">
          <p>{{artist}}</p>
          <a href={{albums}}>View Albums</a>
        </div>
      </div>