<div class="artist">
    <div class="img1">
        <img class="artist-image" src="{{images.[1].url}}" alt="artist_image">
    </div>
    <div class="fondo-gris">
        <p class="name">{{name}}</p>
        <a href="/albumes/{{id}}"><button class="boton2">View Albums</button></a>
    </div>
</div>