 <div class="card" style="width: 33.333%;">
    <div class="card-body">
        {{!-- <img src="{{this.images[0].url}}" --}}
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/tracks/{{this.id}}"><button class="btn btn-success">View Tracks</button></a>
    </div>
</div>
