<div class="artist-info">
    <img src="{{this.images.[1].url}}" alt="">
    <div class="artist-name">
        <small>{{this.name}}</small>
        <a href="/albums/{{this.id}}">View Albums</a>
    </div>
</div>