    <div class="col-lg-4 artist-container">
    
        {{#if this.images.0.url}}
            <img src="{{this.images.0.url}}" alt="Artist image" class="artist-img">
        {{else}}
            <img src="http://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg" alt="Artist image" class="artist-img">
        {{/if}}
        
        <div class="artist-info-container">
            <p>{{this.name}}</p>
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
            
    </div>