<div class = "artist">
  <img src = "{{this.images.[1].url}}" alt = "Artist img" class = "image"/>
  <div class="gray">
    <h4 class = "name">{{this.name}}</h4>
    <a href="/albums/{{this.id}}">
      <button type = "submit">View albums</button>
    </a>
  </div>
</div>