<div class="artistCard">
  <img src="{{this.images.0.url}}" alt="Artist Images" class="artistImg">
    <div class="artistInformation">
      <h1 class = "artistTitle">{{this.name}}</h1>
      <button type="submit" class="buttonAlbums"><a class="linkAlbums" href="/albums/{{this.id}}">View Albums</a></button>
    </div>
</div>

{{!-- http://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg --}}