  <div class="row">
    
      <div class="col-lg-4 artist-container">
        
          <img src="{{this.body.artists.items.0.images.0.url}}" class="artist-img">
        
        <div class="artist-info-container">
          <p>{{this.body.artists.items.0.name}}</p>
          <a href="#">View Albums</a>
        </div>
      </div>
      
  </div>