<div class="card" style="width: 33.333%;">

    <img src={{images.[1].url}}>

    <div>
        <h5>{{name}}</h5>
        {{!-- <button type="submit"> --}}
        <a href="/albums/{{id}}">View Albums</a>
        {{!-- </button> --}}
    </div>
</div>


{{!-- {{#each images}}
    {{#if @first}}
    <img src="{{url}}" alt="">
    {{/if}}
    {{/each}} --}}