<div class="formHome text-center">
  <form action="/artists" method="POST">
    <div class="form-group">
      <input type="text" class="form-control form-control-lg mb-4" name="artistName">
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-primary">Search for an Artist</button>
  </form>
</div>
