<figure class="artist-result" style="background-image: url({{ this.images.0.url }})">
    <figcaption>
        <p>{{ this.name }}</p>
        <button>
            <a href="/albums/{{ this.id }}">View Albums</a>
            </button>
    </figcaption>
</figure>