<div class="artist-card">
  <img src="{{this.images.[1].url}}" />
  <p>{{this.name}}</p>
  <form action="/albums/{{this.id}}" method="GET">
    <button type="submit">Views album</button>
  </form>
</div>