<div class="beer" style="width: 33.333%;">
  <div>
    <p></p>
    <img class="artist-img-top" src="{{this.images.0.url}}" alt="">
    <h5 class="artist-name">{{this.name}}</h5>
    <button>View</button>
  </div>
</div>