<div class="card col-4 align-items-center">
  <img class="card-img-top " src="{{images.0.url}}" alt="Artist image">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <form action="/artists" class="artist-form">
      <a class="btn btn-danger home-search" href="/albums?artistID={{id}}&name={{name}}">Search for an Artist</a>
    </form>
  </div>
</div>