<div class="card grey">

      <img class="card-img-top" 
      src={{this.image_url}} alt="">

      <div class="card-body">

        <h2 class="card-title">{{this.body}}</h2>
        <button type="button" class="btn btn-danger" href="#">View Albums</button>

      </div>
</div>
