<div class="div-artist">
    <img src="{{this.images.[0].url}}" alt="" class="image-artist">
    <div class="div-artist-info">
        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}" name="searchedalbums">View Albums</a>
    </div>
</div>