  <div class="card">
    <div class="card-image">
      <img src="{{this.images.[0].url}}" alt="">
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h4>{{this.name}}</h4>
        </div>
        <div class="media-description">
            <a href="/albums/{{this.id}}" class="myButton">View album</a>
        </div>
      </div>
    </div>
  </div>