<img class="artist-pic" src="{{this.images.1.url}}" alt="artist pic">
<p> {{this.name}}</p>
<p>{{this.genres}}</p>
<a class="btn btn-primary btn-class" href="/albums/{{this.id}}" role="button">ALBUMS!</a>