<div>
    <img src="{{this.images.[0].url}}" alt="{{this.name}}">
    <div>
        <h2>{{this.name}}</h2>
        <a href="/album/{{this.id}}">
            <button>View Albums</button>
        </a>
    </div>
    <h1>jhjh</h1>
</div>