<div class="card">
    <img class="card-img-top" src="{{this.images.0.url}}"
        onerror="this.onerror=null; this.src='/images/default_image.jpg'" alt="{{this.name}}">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.id}}"><button>View Album</button></a>
    </div>
</div>