<div class="card">
    <img src="{{imageUrl}}" alt="">
    <div>
        <h3>{{name}}</h3>
        {{#if artist}}
            <button class="btn"><a href="/albums/{{id}}">View Albums</a></button>
        {{/if}}

        {{#if album}}
            <button class="btn"><a href="/tracks/{{id}}">View Albums</a></button>
        {{/if}}
        
    </div>
</div>
