<div class="row">
    <div class="col-md-2 col-sm-3">
        <figure>
            <img src="{{ this.image_url }}" alt="">
        </figure>
        <div class="col-md-10 col-sm-9">
            <h2>{{ this.name }}</h2>
            <a class="btn btn-primary" href="#">View Album</a>
        </div>
    </div>
</div>