<div class="row">
    <div class="col-md-2 col-sm-3">
        <div class="col-md-10 col-sm-9">
            <div class="center">
                <img style="height: 100px" class="img-fluid" src="{{this.images}}" alt="Card image cap">
            </div>
            <h2>{{ this.name }}</h2>
            <a class="btn btn-primary" href="#">View Album</a>
        </div>
    </div>
</div>