<div class="band">
  <div class="img-band">
    <img src="{{images.[0].url}}" alt="artist image">
  </div>
  <div class="artist-body">
   <h3>{{name}}</h3>
   <a href="/traks/{{id}}" ><button class="btn btn-danger">View tracks</button></a>
  </div>
</div>