<div class="row" id="order">
    <div class="col s12 m7">
        <div class="card  blue-grey lighten-2">
            <div class="card-image">
                <img id="img-card" src="{{images.[1].url}}" alt="{{name}}">
            </div>
            <div class="card-action">
                <span class="card-title">{{name}}</span> <br>
                <a class="btn red lighten-1" href="/albums/{{id}}">View albums</a>
            </div>
        </div>
    </div>
</div>