<!-- Cada partial se nutre de los datos variables -->
<div class="artist" style="width: 20%;">

      <img class="artist-img" src="{{this.images.1.url}}">
        <h5 class="card-title">{{this.name}}</h5>
        <a class="card-text" href="/albums/{{id}}">View albums</a>
    
</div>

{{!-- artista individual. no valen los corchetes para traer imagenes de un array.
hay que poner .1.url --}}