<div class="row justify-content-between tracks-row">
  <div class="col-4">
    <h2>{{name}}</h2>
  </div>
  <div class="col-6 col-r">
    <audio controls>
      <source src="{{preview_url}}">
    </audio>
  </div>
</div>