  <div class="col-sm">
    <div class="card text-center">
      {{!-- <img class="card-img-top artist-img" src="{{this.images.[0].url}}" alt=""> --}}
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <audio
        id=" play {{this.name}}"
        controls
        src="{{this.preview_url}}">
      </div>
    </div>
  </div>  