<div class="tracks" {{!-- style="width: 33.333%; --}}>

    <div class="tracks-body">
        <h5 class="tracks-title">{{this.name}} {{!-- {{this.lastName}} --}}</h5>
        <audio src="{{this.preview_url}}" controls></audio>
    </div>
</div>