<div id="individual-track-container">
  <p>{{name}}</p> 
  <audio controls>
    <source src="{{preview_url}}" type="audio/ogg">
    <source src="{{preview_url}}" type="audio/mpeg">
  </audio>
</div>

