 
<div class="col-lg-8 trackName">
  <p>{{this.name}}</p>
</div>
<div class="col-lg-4" id= "audio">
  <audio controls="" name="media"><source src="{{this.preview_url}}" type="audio/mpeg"></audio>
</div>
   