<div class="col-12 trackrow">
  <p>{{name}}</p>
  <figure>
      <audio
          controls
          src={{preview_url}}>
              Your browser does not support the
              <code>audio</code> element.
      </audio>
  </figure>
</div>

       