<li class="albums__tracks__song">
  <p>
    {{track_number}}
    {{name}}
  </p>
  <audio controls class="albums__tracks__song__preview">
    <source src="{{preview_url}}" type="audio/ogg">
  </audio>
</li>
