<div class="song-play song-title">
    <div><h6>TitleSong</h6></div>
    <div>
        <figure>
            {{!-- <figcaption>Listen to the T-Rex:</figcaption> --}}
            <audio
                controls
                src="/media/examples/t-rex-roar.mp3">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>
    </div>
</div>
