<div class="navbar navbar-expand-lg navbar-light bg-light mb-1">
    <div class="navbar-brand container">{{this.name}}</div>
    <div class="container d-flex justify-content-center">
      <audio 
        controls
        src="{{this.preview_url}}">
      </audio>
    </div>
</div>