<div class="beer" style="width: 33.333%;">
  <div>
    <img class="artist-img-top" src="{{this.images.0.url}}" alt="">
    <h5 class="artist-name">{{this.name}}</h5>
    <audio src="{{this.preview_url}}" controls ></audio>
  </div>
</div>