
<div class="row track-item">

    <span class="col-lg-8">
        <p>{{this.name}}</p>
    </span>


    <span class="col-lg-4">
        <audio
            controls
            src="{{this.preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
    </span>

</div>