<div class= "col-md-4">
    <h5>{{name}}</h5>
    <figure class="card">
        <audio controls src="{{preview_url}}">
            Your browser does not support the 
            <code> audio</code> element.
        </audio>
    </figure>
    
</div>