<div class="tracks-container">
    <h1>Track Name: {{name}}</h1>
    <p>Track Number: {{track_number}}</p>
  <audio controls>
    <source src="{{preview_url}}" type="audio/mpeg">
  </audio>      
</div>