<div class="song-play song-title">
    <div><h6>{{name}}</h6></div>
    <div>
        <figure>
            {{!-- <figcaption>Listen to the T-Rex:</figcaption> --}}
            <audio
                controls
                src="{{preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>
    </div>
</div>
