<h1>All the albums</h1>
<figure>
<% names.forEach((n) => { %>
		<figcaption><%= n %></figcaption>
		<img src="<%= images[1].url %>" width="<%= images.width %>" height="<%= images.height %>">
		<button type="button"><a href="/albums/'46qrICPWlwqpIPirMfAd7K'">View More Albums</a></button>

    <% }) %>
</figure>