<div>
        <img  src="{{this.images.0.url}}" alt="">
        <div>
            <h5>{{this.name}}</h5>
            <form action="/tracks">
                <button type ="button"><a href="/tracks/{{this.id}}">VIEW TRACKS</a></button> 
            </form>
            
        </div>
    </div