<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1> Albums : </h1>
                    <ul>
                      <% for (var i = 0; i < albums.length; i++) { %>
                        <li><%= albums[i].name %> <a href="/tracks?albumId=<%= albums[i].id %>">View Tracks</a></li>
                      <% } %>
                    </ul>
            </div>
        </div>
    </div>
</body>
</html>