<p>album result</p>
<div class="artists"> 
    <% for (i=0; i < data.length; i++) { %>
        <div class="bandMatch">
            <% if ( data[i].images.length > 0){ %>
                <div><img src='<%= data[i].images[0].url %>'></div>
                <% } %>
            <div><%= data[i].name %></div>
            <a class="button" href='<%= "/tracks/" + data[i].id %>'>View Tracks</a>
        </div>
    <% } %>
</div>

