<div class="artist-container">
  {{#each albums}}
  <div class="artist">
    <img src="{{this.images.url}}" alt="Image">
    <p>{{this.name}}</p>
    <button href="/albums/{{this.id}}"value="{{this.id}}">View Albums</button>
  </div>
  {{/each}}
</div>