<section class="container">
  <div class="cards">
    {{#each albums}}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{image}}" alt="album-image">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/albums/{{id}}" class="btn btn-primary">View Tracks</a>
      </div>
    </div>
    {{/each}}
  </div>
</section>