{{!-- <form action="/albums"> --}}
    {{!-- <button type ="button"><a href="albums/{{this.id}}">VIEW ALBUM</a></button>  --}}
    <div class="album-container">
        {{#each album}}
            {{> albumPartial}}
        {{/each}}
    </div>
{{!-- </form> --}}
