<div class="container">
    <div class="row">
        <div class="col-md-3">
        {{#each song}} 
        {{this.name}}
        <img src="{{images.[1].url}}">
        <a class= "btn btn-danger text-center " type="submit " href="{{this.Song}} ">View Tracks</a>
{{/each}}
</div>
</div>
</div>