<div class="artists-wrapper">
      {{#each artistAlbums}}
      <div class="col-lg-4 artist-div">
        <img src="{{this.images.0.url}}">
        <div class="artist-info-container">
          <h3>{{this.name}}</h3>
          <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
        </div> 
      {{/each}}
</div>