<h1 class="uk-text-bold uk-text-center">Albums by {{albums.0.artists.0.name}}</h1>

<div class="uk-text-center uk-child-width-1-3 uk-grid-large" uk-grid uk-margin>
  {{#each albums}}
  {{> albumCard this}}
  {{/each}}
</div>