<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search for an Artist on Spotify</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <% albums.forEach(alb => { %>
      <img src="
      <%alb.images[0].url%>
      " alt="">
      <p><%=alb.name%></p>
      <a href="/tracks/<%=alb.id%>">View Tracks</a>
    <% }); %>

  </body>
</html>
