
<h1> Album</h1>
{{#each almbum}}
{{this.id}}
{{/each album}}
{{!-- <div class="container">
<div class="card">
<div class="has-text-centered">
{{#each artists}}
  <p>{{this.name}}</p>

  <img src="{{this.images.[0].url}}"/>
  <button>
    <a href="{{this.id}}">view album</a> 
    </button>

{{/each}}


</div>

<a href="/"> Back</a>

</div>
</div> --}}