<body>
  <main>
    <h2 class="py-5 mt-5 text-center">Albums</h2>
    <div class="container d-flex flex-wrap justify-content-center">
      {{#each allAlbums}}
        {{> oneAlbum}}
      {{/each}}
    </div>
  </main>
</body> 