<h1>Albums</h1>
<form action="/">
    <button type="submit">New Search</button>
</form>
<form>
    <button type="button" value="Go back!" onclick="history.back()">Back to artists</button>
</form>
<div id="albums">
    {{#each items}}
    <div class="album">
        {{#each images}}
            {{#if @first}}
                <div>
                    <img class="artist-image" src={{url}}>
                </div>
            {{/if}}
        {{/each}}
        <div>{{name}}</div>
        <div><form action="/tracks">
            <button type="submit" name="albumId" value={{id}}>View Tracks</button>
        </form></div>
    </div>
    {{/each}}
</div>