<div class="py-5 albums">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>{{this.name}} Albums</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            {{#each albums}}
                {{> albumsPartial this}}
            {{/each}}
        </div>
    </div>
</div>