<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums</title>
</head>

<body>
    <h1>These are the albums of the selected artist.</h1>

    {{#each album}}
    {{>albumPartial this}}
    {{/each}}

</body>

</html>