<div id="album">

    <div>
    <h1>Artists</h1>
    </div>

    <div>
    {{#each album}}
    <h2>{{this.name}}</h2>
    <img src="{{this.images.[0].url}}" alt="" width="200px">
    <a href="/canciones/{{this.id}}">Canciones</a>
    {{/each}}
    </div>

</div>