<div>
    <h1>Albums</h1>
    {{#each albums}}
        <p>{{this.name}}</p>
       {{#if this.images.[0].url}} 
        <img src="{{this.images.[0].url}}" alt="artist picture" width="100px">
        {{else}}
        <img src="" alt="">
        {{/if}}
        <a id="album-button" href="/tracks/{{this.id}}">View Tracks</a>
    {{/each}}   
</div>