{{#if data.found}}
  <div class="box albumsBox">
    <div class="boxConsult artistName"><span class="artistConsult">{{data.artistName}}</span> albums</div>
    <div class="owl-carousel owl-theme">
      {{#each data.consult}}
        <div class="album">{{> album}}</div>
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="notFound">
    <p class="textNF">Could not find any albums</span></p>
  </div>
{{/if}}
