<h1>Album collection</h1>


{{#each myAlbums.items}} 

  <div style="width: 200px; height: 2%">
  <img height="80px" src="{{{this.images.0.url}}}">
  <p>{{this.name}}</p>
  
  <p><a href="../tracks/{{this.id}}">View Tracks</a></p>
  </div>



{{/each}}