
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
        <img class="card-img-top" src="{{this.images.[0].url}}" alt="{{this.name}}">
    
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <div class="card-body">
      <h4 class="card-title">{{this.name}}</h4>
      <a class="btn btn-primary" href="/albums" role="button">View Albums</a>
    </div>

  </div>
