<div class="container">
  {{#each artists}}
  <div class="item">
    <img src="{{this.images.url}}" alt="Image">
    <p>{{this.name}}</p>
    <a href="/albums/{{this.id}}">View Albums</a>
  </div>
  {{/each}}
</div>