<h1>Artist Page</h1>

<div>
        <div>
            <h3><%= artist[0].name %></h3>
            <img src="<%= artist[0].images[0].url %>"></img>
            <a href="/albums/<%= artist[0].id %>"><button>View Albums</button></a>
        </div>
</div>
