<% include ../views/layout/nav.ejs %>
<p class="subtitle">Artists found</p>
<div class="results">
  <%for (var i = 0; i < data.body.artists.items.length; i++) {%>
  <%var artist = data.body.artists.items[i],
        name = artist.name,
        id = artist.id,
        imgUrl = "./images/img-artist.png";

        if (artist.images[0]) {
          imgUrl = artist.images[0].url
        }
  %>
  <div class="item">
    <img src="<%= imgUrl %>" alt="<%= name %>">
    <p class="name"> <%= name %> </p>
    <a href="/albums?artist=<%= id %>" class="btn">View Albums</a>
  </div>
  <%}-%>
</div>
