<div class="container">
  <div class="title">{{search}}</div>
  <div class="artist-wrap">
    {{#each items}}
      <div class='artist-item'>
        <div class="img-wrap">
          <img src={{this.images.[0].url}} width='100'>
        </div>
        <div class="info">
          <div class="name">{{this.name}}</div>
          <button><a href="/albums/{{this.id}}">View Albums</a></button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
