<div class="container">
    <div class="row">
      <% artists.forEach((artist) => { %>
        <div class="col-lg-4 artist-container">
          <% if (artist.images[0]) { %>
            <img src="<%= artist.images[0].url %>" alt="" class="artist-img">
          <% } else { %>
            <img src="http://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg" alt="" class="artist-img">
          <% } %>
          <div class="artist-info-container">
            <p><%= artist.name %></p>
            <a href="/albums/<%= artist.id %>">View Albums</a>
          </div>
        </div>
      <% }) %>
    </div>
  </div>