

{{#each listArtists}}
 <p>
{{this.name}}
 </p>

 <p>
{{#if this.images.[0].url}}
  <img src = "{{this.images.[0].url}}">
  {{else}}
  
{{/if}}
</p>

<a href="/albums/{{this.id}}"><button type="submit">
 View Albums</button> </a>

{{/each}}
