<section>
  <ul>
    {{#each items}}
      <li>
        <div>
          <p>{{this.name}}</p>
          <img src="{{this.images[2].url}}" alt="">
        </div>
      </li>
    {{/each}}
  </ul>
</section>