<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1> Hola </h1>
    
    <% for (i = 0; i < artists.length; i++) { %>
        <h2><%= artists[i].name %></h2> 
        <img src= "<%= artists[i].images[0] %>" alt="foto"/>
        <%    } %>

        
  
    
</body>
</html>
