<nav class="navbar navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">
    <img src="/images/ironhackLogo.jpg" width="50" height="50" alt="" >
  </a>
</nav>

<div id="artist-images">
  {{#each artistInfo}}
    {{>partialArtist this}}
    <br>
  {{/each}}
</div>