<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artist</title>
</head>

<body>
<h1>Welcome to the artists page =)</h1>

{{#each artist}}
    {{>artistPartial this}}
{{/each}}

</body>

</html>


{{!-- <div class="beers-container">
 {{#each beers}}
     {{> beerPartial this}}
 {{/each}}
</div> --}}