{{!-- <div class="div-img">
    <img src="spotify-fonds.jpg">
    <div class="div-container">
        <form action="/display-artist" method="GET">
            <input type='text' name='artist' value="The Beatles"><br>
            <input type="submit" value="Search for artist" class="button-search">
        </form>
    </div>
</div> --}}