<h1>The result for your search: <%= alb.name%></h1>
<div>
<% alb.forEach((artist) => { %>
  <div>
    <h2><%= artist.name %></h2>
    <% if (artist.images.length > 0) { %>
      <img src="<%= artist.images[0].url %>"></img>
    <% } %>
    <a href="<%  %>"><button>View albulms</button></a>
  </div>
  <% }) %>
</div>
