<div class="row">
    <div class="col-3 mx-auto">
        <div class="nauk-info-connections text-center">
            <div class="form-group row">
                <div class="col-10">
                    <h1><%= searchTerm %></h1>
                </div>
            </div>
        </div>
    </div>
</div>