<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Artist</title>
</head>
<body>
  <h1>ARTIST</h1>
  <input type="text" name="artist" id="artist" value="<%=artist %>">
  
</body>
</html>
