<!DOCTYPE html>
<html>
<form action="/artist" method="POST">
  <label>
    Search Artists
    <input placeholder="Artist Name" type="text" name="artist">
  </label>
  <input type="submit">
</form>
</html>