{{!-- data: {{json data.body.artists.items}} --}}

<div class='d-flex flex-wrap align-items-center justify-content-center'>
  {{#each data.body.artists.items}}
      {{>artistPartial this}}
  {{/each}}
</div>