<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>My first view</title>
  <link rel="stylesheet" href="../../public/stylesheets/main.css">
</head>
<body>
  <h1>Spotify Login</h1>
  <form action="/artists" method="post">
    <label for="first-name-input">Artist Name:</label>
    <input id="first-name-input" type="text" name="artist">
  
    <input type="submit" value="Search for an artist">
  </form>
</body>
</html>