<body>
  <p>artists</p>
  <% if(artistsSearched!==undefined){%>
    <div class="row">
    <% artistsSearched.forEach((artist)=>{ %>
      <div class="col-xs-offset-1 col-xs-3">
      <div class="album">

      <% if(artist.images.length!==0){ %>

        <div class="album-image"><div class="row"><img src=<%= artist.images[0].url%>></img></div></div>

      <%}else{%>
        <div class="album-image"><div class="row"><img src="../public/images/blank.png"></img></div></div>

      <%}%>
          <div class="album-bottom">
            <div class="row">
            <h4><%= artist.name%></h4>
            <button><a href=<%='albums/'+ artist.id%>>View More</a></button>
            </div>
          </div>
        </div>
        </div>

<%})%>
</div>
<%}%>
<body>
