<div class="container">

        {{#each artist}}
        <div class="card">
            <h3>{{this.name}}</h3>
            <img src="{{this.images.0.url}}" alt="" class="image">
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
        {{/each}}

</div>


