<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
  <h2 class="text-center">The Beatles</h2>
  <ul class="item-list">

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/934c57df9fbdbbaa5e93b55994a4cb9571fd2085">
          <div class="item-footer">
            <h3>The Beatles</h3>
            <a class="view-more btn" href="/albums/3WrFJ7ztbogyGnTHbHJFl2">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/9a6ce12b670877dff5514d714d4b3fefd11e41d5">
          <div class="item-footer">
            <h3>The Tape-beatles</h3>
            <a class="view-more btn" href="/albums/1UarLtyjvxGiRTsfFXxtnA">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/e07b85c2df502e923b579f9255239adcd2af7fcb">
          <div class="item-footer">
            <h3>The Beatles Recovered Band</h3>
            <a class="view-more btn" href="/albums/3cBV24PM5nZsXqopSHvdtS">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/82748035e472872f0ceaf88a564a853d099bc81b">
          <div class="item-footer">
            <h3>The New Beatles</h3>
            <a class="view-more btn" href="/albums/32G8uSrpZ9limb9m8kdQm4">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/6fe2cc1054a5632d96122c3994356b2b4e8436b1">
          <div class="item-footer">
            <h3>The Beatles Tribute Band</h3>
            <a class="view-more btn" href="/albums/0rhGLV687CCwGfeJYXd176">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/496314422536edff85157ef254e5555fdaabf725">
          <div class="item-footer">
            <h3>The Beatles Tribute Project</h3>
            <a class="view-more btn" href="/albums/7EzNTMzMN70jRxBWbxeshd">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/191647985e246afa52d12012633965635f9fe82c">
          <div class="item-footer">
            <h3>The Beatles Connection</h3>
            <a class="view-more btn" href="/albums/3ZOhDuAjCjvw9z5lEGUmgZ">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/519266c351755806c6b6b5bbb3c2c8eb826ec410">
          <div class="item-footer">
            <h3>The Beatles Revival Band</h3>
            <a class="view-more btn" href="/albums/0zRgwHorAZPeYVdTW9F5OX">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/4d88ccbf3cb077315d03f9c5d0b636902f2aad5b">
          <div class="item-footer">
            <h3>The Ultimate Beatles Cover Band</h3>
            <a class="view-more btn" href="/albums/419jnuNhkJJvPAUANh7YAo">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/5e6efc2f8c96d4f72ba94b62bbb66acd88929602">
          <div class="item-footer">
            <h3>The Beatles Symphony Orchestra</h3>
            <a class="view-more btn" href="/albums/7F4QQowQM3dIGKOCrrMJKd">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/8e2e70fc546a58dc1d0c82415edcd5f0b2a68976">
          <div class="item-footer">
            <h3>The Beatles Greatest Hits Performed By The Frank Berman Band</h3>
            <a class="view-more btn" href="/albums/36QpVbYALWlz5NtMI3LhiV">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/3e48c9d0e59016d639c37d33f28264a5ae919ef0">
          <div class="item-footer">
            <h3>The Black Beatles</h3>
            <a class="view-more btn" href="/albums/2TI403CaRm5C8Ud6hsELcW">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/20c502ecb9e3ed7f4784e083776b56c005dd0e7c">
          <div class="item-footer">
            <h3>The Bornagen Beatles</h3>
            <a class="view-more btn" href="/albums/5CJAdW1DhqZWCNhBSM2pIv">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/96f1c871a387fbce9e2ccf1482830925dd7c4d29">
          <div class="item-footer">
            <h3>The Backstage Beatles</h3>
            <a class="view-more btn" href="/albums/1ze8pmXksDPt9Re4dxVOBE">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/9f7823367f8c8febaf240bffb4f3c7773a5a0d58">
          <div class="item-footer">
            <h3>The Beatles Covered</h3>
            <a class="view-more btn" href="/albums/0qVGD3AptaPDfBSDntaBzb">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/5c0478e63d17a0e38d3360043d196c0858d6a566">
          <div class="item-footer">
            <h3>The Beatles Acoustic Trio</h3>
            <a class="view-more btn" href="/albums/3MqavRgbnd0NlRuNBWlo3Z">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/ea469bd31deb5f917b4fb9fb4c01f6726cca9c74">
          <div class="item-footer">
            <h3>The Sounds Of The Beatles</h3>
            <a class="view-more btn" href="/albums/5dSnzjbeHx0D1w0zKa9oUl">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/fa2da632274d94547821edee4cae373904d452e1">
          <div class="item-footer">
            <h3>The Savage Young Beatles</h3>
            <a class="view-more btn" href="/albums/3a0WQhf7RTFPsfry8U4E0d">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=250%C3%97250&amp;w=250&amp;h=250">
          <div class="item-footer">
            <h3>The Bootleg Beatles</h3>
            <a class="view-more btn" href="/albums/0hGFawLWfFixdz6BA3tIhM">
              View Albums
            </a>
          </div>
        </li>

        <li class="single-item col-sm-4">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=250%C3%97250&amp;w=250&amp;h=250">
          <div class="item-footer">
            <h3>Karaoke - The Beatles</h3>
            <a class="view-more btn" href="/albums/1f5kd2zHifHUgsjlivOHxJ">
              View Albums
            </a>
          </div>
        </li>

  </ul>
</div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
