<!doctype html>
<html lang="en">

<head>
  <title>Spotify Artist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {{!--
  <link rel="stylesheet" href="styles/...."> --}}
</head>

<body>

  <div class ="Artist">
      <h1> Hello Iam list of artists</h1>
      <div>
        {{#each artistsArray}}
        <p>{{artistsArray.name}}</p>
        {{/each}}
  </div>


</body>

</html>