<div class="row">
    <div class="col-3 mx-auto">
        <div class="nauk-info-connections text-center">
            <div class="form-group row">
                <h1>Search for an Artist</h1>
                <% for (let i = 0; i < datos.items.length; i++) {%>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="<%=datos.items[i].images[2].url%>" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">
                                <%=datos.items[i].name%>
                            </h4>
                            <p class="card-text">
                                <%=datos.items[i].id%>
                            </p>
                            <a href="#" class="btn btn-primary">Search for albums</a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</div>