{{#each songs.song}}
{{json this}}
    {{#each this.images}}
    {{json this}}
    <img src={{this.url}} alt="">
    <button id="viewAlbums" type="button">View Albums</button>
    {{/each}}
    
{{/each}}

