<h1>Artist Page</h1>

<div>
    <% for (let i = 0; i < 3; i++) { %>
        <div>
            <h3><%= artists[i].name %></h3>
            <img src="<%= artists[i].images[0].url %>"></img>
            <a href="/albums/<%= artists[i].id %>"><button>See More</button></a>
        </div>
    <% } %>
</div>
