
<h1> Artists</h1>

<div>
  <div>
    <% for (var i = 0; i < artists.length; i++) { %>
      <h3><%= artists[i].name %></h3>
        <% if (artists[i].images[0]) { %>
        <img src="<%= artists[i].images[0].url %>">
        <% } %>
        <a href="/album/<%= artists[i].id %>">
        <button>album</button></a>
        <% } %>
  </div>
</div>