<div class="container">
  <div class="row">
    <% artists.items.forEach((elem)=>{ %>
      <div class="col-xs-12 col-md-4">
        <div class="artist-box-title">
          <h1><%= elem.name %></h1>
        </div>
        <div class= "">
          <% if(elem.images[0]){ %>
            <img src="<%=elem.images[0].url%>" alt="" class="artist-img">
          <% } else{ %>
            <img src="../images/no_image.png" alt="" class="artist-img">
          <% } %>
        </div>
        <div class="artist-box-link">
          <a class="artist-link" href="./albums/<%=elem.id%>">Show albums</a>
        </div>
      </div>
    <% }) %>
  </div>
</div>