SEARCH RESULTS FOR: {{search}}
<ul>

{{#each artists}}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

 {{/each}}
</ul>

