<div class='search-container'>
<% for (let i = 0; i < 1; i++) {%>
    <div class='item-wrapper'>
    <img src='<%= data[i].images[0].url%>' width='50%'  height='50%'>
    <div class='name-button-box'>
        <p><%= data[i].name %></p>
        <a href="/albums/<%= data[i].id%>">
            <button>View Albums</button>
        </a>
    </div>    
    </div>
    
<% } %>

</div>