<div class="albums-container">
  {{#each attrBeers}}
  {{> beerPartial }}
   {{/each}}
</div>


<div class="beer-card">
      <img class="beer-img-top" src="{{image_url}}" alt="">
      <div class="beer-card-body">
        <h2>{{name}}</h2>
        <h4>{{tagline}}</h4>
        <p>{{description}}</p>
      </div>
</div>

