<div class="container" font-family="Monserrat">
    <div class="row">
        <div class="col-md-3">
        {{#each artist}} 
        {{this.name}}
        <img class = "artist-pics" src="{{images.[1].url}}">
        <a class= "btn btn-danger text-center " type="submit " href="/albums/{{id}}">View Albums</a>
{{/each}}
</div>
</div>
</div>