
  
  
  {{#each   artista.body.artists.items}}

    <h1>{{this.name}}</h1>
    <img src="{{images.0.url}}" alt="foto">
    <a class="btn btn-primary" href='/albums/{{id}}' role="button">View albums</a>
   

  {{/each}}



  