<form action="/artists" method="get" class="form">
			
			
	<input type="text" name="artists" class="artist form-control form-control-lg" placeholder="¿A qué artista buscas?">
	<input type="submit" class="btn btn-primary btn-lg" value="Buscar">	



</form>