<!-- Simple form which will send a POST request -->
<form action="/artists" method="get">
    <label for="artist-label">artist</label>
    <input id="artist-input" type="text" name="artist">
    <input type="submit" value="Save Query">
  </form>


