	<section id="search">
        <form action="" method="POST">
            <input type="text" name="form" placeholder="Search for an artist!">
            <input type="submit" value="Search for an Artist">
        </form>
    </section> 