<form action="/artists" method="GET">
  <label for="artist-input"></label>
  <input id="artist-input" type="text" name="artist">
  <button type="submit">Search for an artist</button>
</form>


<!-- /artist es parametro -->

<!-- ?coldplay es query -->
<!-- las query se añaden a la url pero si nos las cargamos llegamos a la misma pagina -->
