<h2>Search</h2>

<form action="/artist" method="get">
  <input type="search" name="artist" placeholder="Ex: The Beatles">
  {{!-- <input type="hidden" name="source" value="chrome"> --}}
  <button>Search for an artist</button>
</form>