<section class="index-container">
  <div class="form-box">
    <form action="/artists" method="GET">
      <input class="search-box" type="text" name="artistName" placeholder="Ingresa el nombre de artista"></input>
      <input class="button" type="submit" value="buscar"></input>
    </form>
  </div>
</section>