<div class="main">
    <div class="search-container">
        <form class="search-artist" action="/artists" method="POST">
            <input type="text" name="artistName">
            <button type="submit" value="search-artist">Search for an Artist</button>
        </form>
    </div>
</div>