<div>
  <div class="logo-container">
    <img class="logo" src="images/spotify-logo-button.svg" alt="">
    <h1>Spotify searcher</h1>
    <br><br><hr><br><br>

  </div>
<form class="artist-search" action="/artists" method="post">
  <input class='srch-field' type="text" name="artist" placeholder="Enter an artist">
  <br>
  <input class='srch-btn' type="submit" name="search" value="Search artist database">
</form>
</div>
