<h1>HOME</h1>

<div class="home-form">
  <form action="/artist">

    <input type="text" id="artist" name="artist" placeholder="Looking for an artist..">

    <input type="submit" value="Search">

  </form>
</div>