
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
  <div>
    <form action='/artists' method='POST'>  
      <input type='text' placeholder='Find your favorite artist!' id="name" name="query"/>
      <button type='submit'>Search</button>
    </form>
  </div>
</body>
</html>
