<div class='home-wrapper'>
  <div>
    <form action="/artists" method="post">
      Artist name: <input type="text" name="artist">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>