
<h1>Working!You are awesome Sheng!</h1>

<form action="/artist" method="post">
    <div class="form bottom">
    <input id="artist-name" name="artist" type="text" placeholder="Please input artist">
    <button type="submit">Search for an Artist</button>
    </div>
</form>