<div class="container section has-text-centered">

<form method="GET" action ="/artist">
  {{!-- req.query.q --}}
<input type="Search" name="q" placeholder="Name of the Artist"/>
<button> Search for an Artist</button>
</form>
</div>