
    <header>
        <div class="form-header">
            <form action='/artists' method="get">
                <input class="search" placeholder="search" type='text' name= 'search'>
                <input class="btn" type='submit'value="Search for an artist">
            </form>
        </div>
    </header>
