<img src="images/summer-festival.jpg" class="bg" alt="">
<div class="form-wrapper">
    <form action="/artists" method="get" class="form-group home-group w-75 h-100 d-flex flex-column align-items-center justify-content-center container">
        <input type="text" name="artist" id="artist" placeholder="Search for an artist" class="form-control home-input">
        <button class="btn btn-info my-2" type="submit">Search for an artist</button>
    </form>
</div>