<div class="formBox">
  <a href="http://www.spotify.com" class="animate-logo">
    <img src="img/spotify-logo.png" alt="spotify-logo" class="logo">
  </a>
  <form class="searchForm" method="GET" action="/artists">
    <label class="formTitle">Search for an artist</label>
    {{#if data.error}}
      <div class="error">*You must write an artist</div>
    {{/if}}
    <input class="searchArtist" type="text" name="artist">
    <span><button class="btn searchBtn">search</button></span>
  </form>
</div>
