{{!-- On this page, you should have a search form. This form should direct its query to /artists,
 and have one input with a name of artist. --}}


<form method="GET" action="/artists">
  <input type="search" name="search_query" placeholder="The Beatles">
  <button>Search for an artist</button>
</form>
