<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Home PAge</title>
</head>
<body>
<form action="/artists" method="">
  <input type="search" name="artist" placeholder="Search for an artist..." />
  <button>Search</button>
</form>
    
</body>
</html>