
<h1> Maggie's "Iron Spotify" Homepage</h1>

<form method = "GET" action="/artists">
    <input type="search" name = "artist" placeholder ="Search for Artist..."/>
    <input type = "hidden" name = "source" value = "chrome"/>
    <button type="submit">Search for an Artist</button> 
</form>