<div class="search-box">
    <form action="/search" method="GET" id="form-search">
        <input type="search" name="artist" placeholder="Artista">
        <button>Busca a tu artista</button>
    </form>
</div>
