<div class="home-background">
    <div>
        <div class="back-search">
        </div>
        <form action="/artists" method="GET">
            <input type="search" name="artist" placeholder="Search for a artist..." />
            <div><button class="btn-search">

                    Search
                </button></div>
        </form>

    </div>


</div>