
  <section class="homepage-section">
    <div class="homepage-input">
      <form action="/artists" method="GET">
        <input type="search" name="search_query" placeholder="Search for a song" class="form-control"/>
              <button class="btn-search">Search for an Artist</button>
      </form>
    </div>
  </section>