<h2>SPOTIFY</h2>

<form method="GET" action="/search">
  <input type="search" name="q" placeholder="Search for an artist...">
  <input type="hidden" name="source" value="chrome">
  <button>SEARCH</button>
</form>