<section class="index-container">
  <div class="form-box">
  <form action="/artists" method="GET">
      <input class="search-box" type="text" name="artistName" placeholder="Enter artist name..."></input>
      <input class="button" type="submit" value="Search now"></input>
    </form>
  </div>

</section>