<div class="home">
    <form class="main-search" action="/artists" method="GET">
        <input type="search" name="search_query" placeholder="Type an artist...">
        <button>Search for an Artist</button>
    </form>
</div>