<div class="container-fluid home-container">
  <div class="form-container">
  <form action="/artists">
    <input type="text" name="artistName">
    <button class="btn btn-danger">Search for an Artist</button>
  </form>
  </div>
</div>
