<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../stylesheets/body.css">
  <title>Home</title>
</head>

<body>
  <section id="search">
    <form class="navbar-form navbar-left" action="/home" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="art" id="art" placeholder="Search a band">
      </div>
      <input type="submit" value="Search" class="btn btn-default">
    </form>  
  </section>  
</body>

</html>