<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fake Spotify</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
 <div class="first-class">

<div class="second-class">
 <form action="/artists" class="form-group home-form" method="GET">
     <input placeholder="Search for an Artist!" class="form-control" name="artist">
     <button>Search for an Artist</button>
 </form>

 
</body>
</html>