<div class="home">
  <div class="form">
    <form action="/artists" method="POST" >

    <input type="text" placeholder="The Beatles" name="artist">

    <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>