
<section class="section  has-text-centered ">
  <form action="/artists" method="GET" >
    <input type="search" name="artist">
    <a href="/artists">
      <button class="button is-danger">Search for an Artist</button>
  </a>
  </form>
  <br>
  
  
</section>
