<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Spotify</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <form action="/artists" method="GET">
        <input type="search" name="artist" placeholder="Search for an artist">
        <button>Search for an artist</button>
        </form>
    </section>
</body>
</html>