<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div id="contenedor">
        <div id="registro">
            <form action="/">
                <input type="text" name='search' id="texto">
                <input type="submit" value='Search for an Artist' id='someter'>
            </form>

        </div>

    </div>
    
</body>
</html>