
<!-- DISPLAYING THE FORM -->
<form action="/homepage" method="POST">
    <label for="artist">Artist</label>
    <input id="artist" type="text" name="artist">
    <button type="search"> Search
    </button> 
</form>
