
<div class = "square container-home-page">    
        <div class = "search-form-class">         
            <form id="form-search-id" method= "GET" action="/search">
            <input id = "input-searhId" type="search" name="artist" placeholder ="Search here"/></input>
            <input type="hidden" name="source" value="chrome"/></input>            
            <button class="btn-search">Search for an artist</button>          
            </form>      
    </div>
</div>


