




<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <form action="/artists" method="POST">
      <input id="artist-input" placeholder="Search for an artist!" type="text" name="artist">
      <button type="submit">Search for an Artist</button>
    </form>
  </body>
</html>
