<div>
  <img>
  <h1>Spotify Search</h1>
  <form action ="/artists" method="post">
    <input placeholder="Search Artist" name="artist" type="text">
    <input placeholder="Search for an artist" type="submit">
  </form>
</div>