    
    <div class="row body-home"> 
    <div class="col"></div>
    <div class="white-container col"> 
    <div class="search">   <form action="/artist" method="GET">
<input class="form-control" type="text" placeholder="Search an artist!" name="artistName">
<button type="submit">Search for an artist </button>
</form>
</div>
 </div>
 <div class="col"></div>
 </div>


