<div class="search">
<h1>Search.....</h1>
<form action="/artists" method="GET">
  <input type="text" name="artist" placeholder="input an artist..."></input>
  <button type="submit">search</button>
</form>
</div>
