<h2>Search</h2>

<p>Search Artists</p>

{{!-- TO GET DATA FROM SPOTIFY SERVER --}}
<form method="GET" action="/artists">
  <input type="search" name="artists" placeholder="who would you like to hear?">
  <button>Search</button>
</form>