<h2>Search</h2>


<form method="GET" action="/artist">
    <input type="search" name="artist" placeholder="Search for an artist!" />
    <input type="hidden" name="source" value="chrome" />
    <button type="submit">Search for an Artist</button>
</form>