<div class="search-form">
  <form method="get" action="/artists">
    <input type="text" name="artist" placeholder="Type the name of the artist">
    <button type="submit">Search</button>
  </form>
</div>
