<link rel="stylesheet" href="stylesheets/style.css">
<body>
    <img src="imagenes/Portada.jpeg" alt="no se puede carnal">
    <div id="contenedorbla">
        
    </div>
    <input type="text" placeholder="Search for an artist!"name="nomArt">
        <button>Search for an Artist</button>
</body>