
<div>
    <form action="/artist" method="post">
        <input name="artistname" placeholder= "Search for an artist!" type="text">
        <input type="submit" value= "Search for an Artist">
    </form>
</div>