<form action="/artist" method="post" id="formArtist">
    <input type="text" id="term" name="term" placeholder="Search for an artist!">
</form>
<button type="submit" form="formArtist" value="Submit">Search for an artist</button>