<div> 
    <form action="/artists" method="GET" >
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputArtist" placeholder="What artist are you looking from?" name="artist">      
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


