<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Spotify test</title>
</head>
<body>
    <form id="form-container" action="/artist">
      <input type="text" name="artist" placeholder="Please type the artist" id="searchbox">
      <input type="submit" value="Search for an Artist" id="search-btn">
    </form>
</body>
</html>