

<form action="/artists" method="get">
<input id=“artist-name” type=“text” name="artist" placeHolder="Search for artist">
<button style="background: red;" type="submit">Search for an Artist</button>
<!-- <input type=“submit” value="Search">  -->
</form>
