<div>
  <form action="/artist" method="POST">
    <label for="first-name-input">Search:</label>
    <input id="first-name-input" type="text" name="search">
    <input type="submit" value="Search">
  </form>
</div>
