<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Spotify Express</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <h1><%= name %> Express CHUU CHUU</h1>
  
</body>

</html>