<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form action="/artists" method="POST">
        <input type="text" id="artist" name="artist">
        <input type="submit" value="Search for an artist">
    </form>
  </body>
</html>