<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search for an Artist on Spotify</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form class="form" action="/artists" method="get">
      <input type="text" name="search" value="" placeholder="Search for an artist!">
      <button type="submit" name="btn-submit">Search</button>
    </form>
  </body>
</html>
