<div class="index-container formulario">
    <form action="/artist" method="post">
        <div>
            <input type="text" id="artist-input" name="artist" />
            <div class="button">
                <button type="submit">Search for and artist</button>
            </div>
       
      </div>
      </form> 
</div>

