
<body class="main">
  <div class="center">
    <form action="/artists">
      <section>
          <input type="text" name="artist">
          <button>Search for an Artist</button>
      </section>
    </form>
  </div>
</body>