<div class="main-container">
  <div class="form-container">
    <form class="search-form" action="/artists" method="POST">
      <input type="text" name="artistName" placeholder="Type your favourite Artist!!">
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>
