<div class="searchbox-container">
  <div class="searchbox">
    <form action="/artists" method="post">
      <input type="text" name="artistName" value="">
      <input type="submit" name="searchSubmit" value="Search for an artist">
    </form>
  </div>
</div>
