<form action="/artist" method="GET">
  <div class="form-group">
    <input name="artist" class="form-control" aria-describedby="artist" placeholder="Search for an artist!">
  </div>
  <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>