<div id="form-box">
<form action="/artists" method="post" >

<input type="text" id="search" name="artistSearch" placeholder="Insane Clown Posse">

   <input type="submit" value="Search for an Artist" class="artist-submit">


</div>