<html>

<body>
  <form action="/artists" method="GET">
    <label for="Artist">Artist</label>
    <input type="text" name="artist-name">

    <button type="submit">Search for Artists</button>
  </form>
</body>

</html>