	<div class='home-heading'>
		<div class="form-wrapper">
			<form action="/artist" class="search-form">
			  <input id="artist-name-input" type="text" name="artist" value="Elvis Presley">
			  <br>
			  <button class="btn" type="submit">Search for the Artist</button>
			</form>
		</div>
	</div>
        
   