<div class="index">
    <form action="/artists" method="GET">
<div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Artists</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Artist Name" name="artist">
  <div class="input-group-append">
    <button class="btn" type="submit">Submit</button>
  </div>
</div>
 </form>
</div>
