<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Test</title>
  </head>
  <body>
   <form action="/artists" method="GET">
    <label for="artists-input">Search for an artist</label>
    <input id="artists-input" type="text" name="artist">
    <button type="submit">Go!</button>
   </form>
  </body>
</html>
