<div class="background-image">
<div class="transparent-box">
  <form action="/artists" method="GET">
  <div class="form-group">
  <input type="text" name="artist" id="" class="form-control">
  <button type="submit" class="btn btn-danger">Search</button>

  </div>
  </form>
</div>


</div>