<div class="background-img">
  <nav class="uk-navbar-container uk-position-center" uk-navbar>
    <div class="uk-navbar-center">
      <div class="uk-navbar-item">
        <form class="uk-search uk-search-navbar" action="/artists">
          <span uk-search-icon></span>
          <input class="uk-search-input" type="text" placeholder="Search artists..." name="artist">
        </form>
      </div>
    </div>
  </nav>
</div>