<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify API</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="home-container"></div>
        <div class="form-wrapper">
            <form action="/artists" method="GET" class="home-form"> 
                <input type="text" name="artist">
                <button type="submit" class="home-search">Search for an Artist</button>
            </form>
        </div>
    </div>
</body>
</html>