


  <h1>Search for an Artist</h1>

  <form action="GET">
    <label for="artist-input">Artist: </label>
    <input id="artist-input" type="text" name="artist-name">

    <button type="submit">Search Artist!</button>
  </form>
