<div class="container-index">
    <img src="images/spotify_logo.png">
    <form action='/artists' method='POST'>
        <input type='text' name='artist'/>
        <button type="submit" class="btn btn-success">Search for an Artist!</button>
    </form>
</div>