<!--index.hbs-->
<div class="container-fluid" id="concert">
  <div class="row">
    <div class="form-group" id="centered-form">
      <form action="/artists" method="get">
        <input class="form-control" type="text" name="artists" id="artists">
        <button type="submit" class="btn btn-danger btn-lg my-3">search</button>
      </form>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
</div>