  <div class="div-index">
    <form class="form-index">
      <p>
        <input class="input-index" name="artist" type="text" placeholder="Search for an artist!">
        <button class="button-index" type="submit">Search</button>
      </p>
    </form>
  </div>