<div class="index-container">
  <div class="index-divform">
    <form action="/artists" class="form-group" method="POST">
      <input placeholder="Search for an artist!" class="form-control" type="text" name="artist" id="artist-input">
      <button class="btn btn-primary" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>