<div class="container finder">
  <div class="row">
    <div class="input-field col xs4">
      <form class="form" action="/artists" method="POST">
        <input type="text" name="artist" value="" placeholder="Type artist's name here...">
        <button class="btn col s8 offset-s2 blue darken-2 waves-effect waves-light" type="submit" name="button">Search for an Artist</button>
      </form>
    </div>
  </div>
</div>
