<div class="row">
    <div class="col-3 mx-auto">
        <div class="nauk-info-connections text-center">
            
            <div class="form-group row">
                    <h1>Welcome to Spotify</h1>
                <div class="col-10">
                    <form action="/artists" method="post">
                    <input class="form-control" type="text" name="term" id="example-text-input">
                    <button type="submit" class="btn btn-danger">Search for an artist</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  