<div>
  <div>
    <form action="/artist" method="POST">
    
  <label for="text"></label>
  <input id="artist" type="text" name="artist">
  <button type="submit">
    Login
  </button>
</form>
  </div>
</div>