
  <div class="container">
    <br><br><br><br>
  <h1>Spotify artist search:</h1>
  <div class="form-wrapper">
    <form action="/artists" class="form-group search-form" method="GET">
      <input placeholder="Search for an artist!" class="form-control home-input" type="text" name="artist" id="artist-input">
      <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>

