
<div class="search-menu">  
<h1>SEARCH FOR AN ARTIST</h1>
  <form action="/artists">
    <input name="artist" placeholder="Artist name" type="text">
    <button type="submit">SEARCH</button>
  </form>
</div>