<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
</head>
<body>

<h1>WELCOME</h1>

<div id="form">
  <form action="/artists" method="post">
    <label for="input">ARTISTS</label>
    <input id="artist-name" type="text" name="search">  
    <input type="submit">
  </form>
</div>




</body>
</html>