<div class="container index-container d-flex justify-content-center align-items-center">
<div class="container search-container">
  <form class="" action="/artists" method="GET">
    <input class="search-input" id="artist" type="text" name="artist" placeholder="Artist">
    <div class="">
      <button type="submit" class="btn btn-danger">
        Search for an Artist
      </button>
    </div>
  </form>
</div>
</div>