<div class="searchArtists">
    <input type="text" class="form-control" placeholder="Campo de texto">
</div>
<div>
    <img class="fondoInput" src="https://image.freepik.com/foto-gratis/resumen-de-fondo-negro-de-lujo-estudio-de-fondo-bien-utilizar-como-fondo_1258-276.jpg">
</div>
<div class="button-Sartist">
    <nav class="navbar fixed-bottom bg-success" style="width:200px">
        <a class="navbar-brand" href="/artist">Search for an Artist</a>
    </nav>
</div>