<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Express Spotify Searcher</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form action="/artists">
      <input id="The Beatles" type="text" name="artists">
      <button type="submit">Search for an Artist</button>
    </form>
  </body>
</html>
