<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Search Artist</title>
</head>

<body>
  <section class="content-container">
    <div class="form-wrapper">
      <form action="/artists" method="get" class="form-group home-form">
        <input placeholder="Search for an artist!" class="form-control home-input" type="text" name="artist" id="artist-input">
        <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>
      </form>
    </div>
  </section>

</body>

</html>