<div>
    <h1>Search for an Artist</h1>
    <form action="/artists">
        <label for="">Artist</label>
        <input type="text" name="artist" id="">
        <button type="submit">GET ARTIST</button>
    </form>
</div>
