<!--index.hbs-->
<div class="container-fluid align-middle" id="concert">
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form action="/artists" method="get">
        <input class="form-control" type="text" name="artists" id="artists">
        <div class="col-md-12">
          <button type="button" class="btn btn-danger btn-lg">search</button>
      </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>