<div class="home-container" background="/images/landing.jpg" font-family="Monserrat">
  <div class="form-wrapper text-center">
    <form action="/artist" class="form-group home-form">
      <input placeholder="Search for an artist!" class="form-control home-input text-center" type="text" name="artist" id="artist-input">
      <button class="btn btn-primary text-center" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>