

<body>
    <form action="/artist" method="get">
        <label for="artist">Artist</label>
        <input id="artist" type="text" name="artist">
        <button type="submit">Search for an Artist</button>
    </form>
</body>
