<div>
  <form method="POST">
    <div class="field">
      <label>Your Artist goes here</label>
      <input type="text" name="artist"> 
    </div>
    <button type="submit">Search for an Artist</button>
   
  </form>
</div>