<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Express Spotify</title>
</head>
<body>
  <div class="white-box">
    <form action="/artists" method="POST">
    <input type="text" name="artist" value="Los Cadetes de Linares">
    <button type="submit">Search for an Artist</button>
    </form>
  </div>
</body>
</html>