<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Spotify API</title>
</head>
<body>
    <form action="/artists" method="POST" >
        <input type="text" name="artistName" placeholder="Bob Marley">
        <button type="submit" value="">Search for an artist</button>
    </form> 
</body>
</html>