<body>
    <div class="container">
        <div class="inputContainer">
            <input type="text" id="artist" />
        </div>
        <div class="buttonContainer">
            <a href=/artists id="submit">Submit</buton>
        </div>
    </div>
</body>

</html>
