<form method="GET" action="/artists">

  <div class="field" >
    <input type="text" name="artist"/>
  </div>

  <div class="field submit">
    <button type="submit">Search for an Artist</button>
  </div>
</form>