<div class="container">
<form action="/artists" method="GET">
<div class="form-group">
    <input type="text" name="artist" placeholder="Search an artist" >
    <input type="submit" value="Search for an artist">
    </div>
</form>
</div>