<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Ironhack Spotify</title>
  <style>
    body{
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
    }

    .content-home{
      position: relative;
      top:0;
      left:0;
      width: 100%;
      height: 70vh;
      background-image: url('../images/concert.jpg');
      background-size: cover;
      text-align: center;
      padding-top: 30vh;
    }

    .form-home {
      margin: 0 auto;
      padding: 5% 5%;
      width: 350px;
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;
    }

    .input-home {
      height: 26px;
      display: block;
      width: 300px;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    .button {
      height: 30px;
      display: block;
      width: 150px;
      margin: 0 auto;
      border: none;
    }
    .red {
      background-color: rgb(255, 80, 80);
      color: white;
    }
  </style>
</head>
<body>
  <div class="content-home">
    <div class="form-home">
      <form action="/artists">
        <input type="text" name="searchInput" class="input-home">
        <input type="submit" value="Search for an Artist" class="button red">
      </form>
    </div>
  </div>
  
</body>
</html>