<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Express</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div class="scontainer">
        <form action="/artists" method="post">
          <input id="input" type="text" name="artist" placeholder="search now..."><br><br>
          <input id="button" type="submit" class="btn btn-primary" value="Search for an Artist">
        </form>
      </div>
    </div>

  </body>
</html>
