<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My first view</title>

  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Yolo Music</h1>
        <form action="/artist">
          <label for="artist">Artist</label>
          <input type="text" name="artist">
          <button type="submit">Go</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>