<div class="container">
  <form method="GET" action="/artists">
    <input type="artist" name="search_query" placeholder="ex: The Beatles">
    <button>Search for an Artist</button>
  </form>
</div>

