<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Betsyfy</title>
</head>
<body>
    <header>
        <div class="form-header">
            <form action='/artists' method="post">
                <input class="search" placeholder="search" type='text' name= 'search'>
                <input class="btn" type='submit'>
            </form>
        </div>
    </header>
</body>
</html>