<div class="index-container">
  <div class="background-image">

    <form class="form" action="/artists">
      <input id="name-input" type="text" name="artist">

      <button class="search-button" type="submit">Search for an artist</button>
    </form>

  </div>

</div>