<section class="form-wrap">
	<form class="form-home" action="/artists" method="get" novalidate>
		<input type="search" name="artist" id="artistId" placeholder='Search for an artist!'>
		<input type="submit" value="Search for an Artist">
	</form>
</section>