<div class="allViewport">
  <div class="containerSearch">
    <form action="/artists" method="get">
      <input type="text" name="artist" id="" placeholder="Beyonce...">
      <button id="search-artist" type="submit">Search for an artist</button>
    </form>
  </div>
</div>