<body>
<div clas class="form-wrapper">
  <h1 class=" mt-3 text-center"> Welcome to Ironhackify</h1>
    <form action="/artists" class="form-group home-form" method="get">
      <input
        placeholder="Search for an artist!"
        class="form-control home-input"
        type="text"
        name="artist"
        id="artist-input">
      <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>
    </form>
  </div>
</body>