<div class="container wrap-formu">
<form class="col-md-10 col-sm-12" action="/artist" method="get">
  <input class="col-md-12 col-sm-12" id="artist-input" type="text" name="artist">
  <button type="submit" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title">Seach for an Artist</button>
</form>
</div>
