<div id='landingPage'>
  <h1>SpotiSearch</h1>
  <form action="/artists" method="POST">
    <label><input type="text" name="artist" id="artistsSearch" placeholder="Lookup your favorite artists"></label>
    <input type="submit" value="Go!">
  </form>
</div>