<div class="bg">
    <form id="form-container" action="/artist">
      <input type="text" name="artist" placeholder="Please type the artist" id="searchbox">
      <input type="submit" value="Search for an Artist" id="search-btn">
    </form>
</div>