<form action="/artists" method="post">
  <label for="artist">Enter name: </label>
  <input id="artist" type="text" name="artist" value="artist">
  <input type="submit" value="Search for an artist">
</form>