
<form action="/artists" method="get" class="text-center form-index">
  <input type="text" name="name" placeholder="Search an artist" class="form-control">
  <button type="submit" class="btn btn-danger">Search for an artist</button>
</form>