<!doctype html>
<html lang="en">

<head>
  <title>Spotify Search!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="stylesheetsa/stylesheets/main.css">
</head>

<body>
<div class="formClass">
  <form method="GET" action="/artists/">

    <div class="content">
      <div>
      <input type="search" placeholder="Search your favorite artist">
      </div>
      <div>
      <button type="submit">Search</button>
  
      </div>
    </div>
  </form>
</div>
</body>

</html>