

        <div class="flexsearch">
             <h1 class="h1">Search</h1>
            <div class="flexsearch--wrapper">
                <form class="flexsearch--form" action="/artist" method="get">
                    <div class="flexsearch--input-wrapper">
                        <input class="flexsearch--input" name="artist" id="artists" type="search" placeholder="Music">
                    </div>
                    <input class="flexsearch--submit" type="submit" value="&#10140;" />
                </form>
            </div>
        </div>
    
