    <main class="wrapper">
        <div class="form-block">
            <form action="/artists" class="form-group main-form">
                <input placeholder="Search for an artist!" class="form-control main-input" type="text" name="artist">
                <button class="btn btn-primary btn-search" type="submit">Search for an Artist</button>
            </form>
        </div>
    </main>