<div class="background-imagen">
  <form action="/artist" method="POST">

    <input id="artist-input" type="text" name="artist">
    <input type="submit" value="Search for an artist">
    
  </form>
</div>