<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Ironhack Express</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form method="post" action="/artist">
        <label for="artist">Enter artist:</label>
        <input id="artist" type="text" name="artist"><br>
        <input type="submit" value="Search for an Artist">
    </form>
  </body>
</html>