
     <div class="center">
          <div class="column">
               <form action="/artist">
                    <input type="text" name="artist">
                    <div class="buton">
                    <button type="submit" class="btn btn-primary">Search</button>
                    </div>
               </form>
          </div>
     </div>
