
  <div class="index-container">

    <form action="/artists" method="POST">

        <input class="form-control" id="artist-input" type="text" name="artists">
        <input class="btn btn-default" type="submit" value="Search an Artist">

    </form>


  </div>

        