<form  action="/artists" method="GET">
  <div class="form-group">
    <input class="from-control" type="text" name="artist" placeholder="Insert the artist you love" />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Search for an artist</button>
  </div>
</form>