<div class="home-container">
  <div class="form-wrapper">
    <form action="/artist" class="home-form" method="GET">
      <input placeholder="Search for an artist!" type="text" name="artist">
      <button type="submit" class="btn btn-danger">Search for an artist!</button>
    </form>
  </div>
</div>

