<div class="home-container">
  <div class="search-bar">
    <form method="GET" action="/artists">
      <input type="artist" name="search_query" placeholder="ex: The Beatles">
      <button class="index-btn">Search for an Artist</button>
    </form>
  </div>
</div>

