{{!-- <h2>Search</h2>

<p>Search Artists</p>

<form method="GET" action="/artists">
  <input type="search" name="search_query" placeholder="what u looking for..."/>
  <button>Search</button>
</form> --}}