<body id="index-body">
    <section id="cover" style="background='/images/back.jpg';">
        <div id="cover-caption">
            <div id="container" class="container">
                <div class="row" id="index-search">
                    <div class="col-sm-6 offset-sm-3 text-center">
                        <div class="info-form">
                            <form action="/artists" class="form-inlin justify-content-center" method="POST" id="frm-index">

                                <div class="form-group">
                                    <label class="sr-only">Email</label>
                                    <input type="text" class="form-control" placeholder="Artist" name="artist" required>
                                    <button id="artist-search-btn" type="submit" class="btn btn-success ">Search for an Artist!</button>
                                </div>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>