<h1>Let's Search Spotify</h1>
<form action="/artist" method="GET">
    <label for"artist" class="hpy-lbl"></label>
    <input id="artist" type="text" name="artist" placeholder="Who are you looking for?" class="hpy-input">
    <button type="submit" class="hpy-btn">Artist Search</button>
</form>