<form>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search for an artist!">
  </div>
  <a type="submit" class="btn btn-primary" href="/artists">Search for an Artist</a>
</form>