<div class="search">
    <form action="/artists" >
    <input placeholder="Search for an artist!" type="text"  name="artist"   id="artist-input">
    <button type="submit" class="button">Search for an Artist</button>
    </form>
</div>
