<div class="container">
  <form action="/artists" method="get" class="form-group">
    <label for="artist">Artist search</label>
    <input type="text" name="artist" id="" class="form-control" placeholder="Type the artists you want to search" aria-describedby="helpId">
    <small id="helpId" class="text-muted">Go for it!</small>
  </form>
</div>

<body class="body_index">
  <main class="container">
      <form action="/artists" method="get" class="form-group">
        <label for="artist">Artist search</label>
        <input type="text" name="artist" id="" class="form-control" placeholder="Type the artists you want to search" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Go for it!</small>
      </form>
  </main>
</body>