
  <form method="GET" action="/artist">
    <label for="artist">Search for artist</label>
    <input type="text" name="artist" id="artist" />
    <input type="submit" value="Search for an artist">
  </form>