<div class="container ">

  <form action="/artist" method="GET">
    <label class="bg-light" for="">SEARCH FOR AN ARTIST</label>
    <input type="name" name="artist" placeholder="search for an artist!">
    <button type="submit">SEARCH</button>
  </form>
</div>