<body>
  <div class="searcher-form">
    <div class="row">
      <div class="col-xs-offset-5 col-xs-3">
        <form action="/artists" method="post">
          <input type="text" name="artist" placeholder="Type an artist">
          <input type="submit" value="Search for an Artist">
        </form>
      </div>
    </div>
  </div>
</body>
