<body>
    <div class="search">
        <form method="post" action="/artist">
            <input type="text" name="artist">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</body>
