<link rel="stylesheet" href="stylesheets/styles.css">
<div id="whitebox">
  <form action="/artists" method="get">
  <input type="text" name="artist" placeholder="ex.The Beatles">
  <input id="btn-search" type="submit" value="Search for an Artist">
  </form>
</div>
<img id="concert" src="images/concert.jpg" alt="">
