
        <form action="/artists" method="POST">
            
            <label for="artist-input">Artist</label>
            <input id="artist-input" type="text" name="artists">
            <button type="submit">Search</button>
        </form>
 



    

    
    