<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify API</title>
</head>
<body>
    <form action="/artists" method="post">
        <label for="artist-name-input">Artist:</label>
        <input id="artist-name-input" type="text" name="artistName">
      
        <input type="submit" value="Search">
      </form>
</body>
</html>