<form action="/search" method="GET">
  <label for=""></label>
    <form action="/search" method="GET">
      <input type="text" name="artist" value="The Beatles"><br>
      <input type="submit" value="Search for an artist" class="button-search">
    </form>

</form>