
<div class='back'>

<form action="/artists" method='get'>
  <input name ='artist' type="search" id="search" placeholder="Search..." />
  <button type="submit">Search for an artist</button>
</form>

</div>
