<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home/quiquehdez/IRONHACK/Module-2/Week-1/Day-3/Daily/lab-express-spotify/starter_code/express-spotify-app/public/stylesheets/style.css">
    <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    
  </head>
  <body>
    <div class="home-heading">
  <div class="form-wrapper">
    <form action="/artists" class="form-group home-form" method="GET">
      <input
        placeholder="Search for an artist!"
        class="form-control home-input"
        type="text"
        name="artist"
        id="artist-input">
      <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>   
</html>