<div class="container-fluid index">
  <div id="artist-search" class="row justify-content-center align-items-center">
    <form action="/artists" method="POST">
      <div class="from-group">
        <input type="text" class="form-control mb-3" name="artists" placeholder="Artist">
      </div>
      <button type="search" class="btn btn-danger">
        Search for an Artist
      </button>
    </form>
  </div>
</div>