    <title>Spoti-hack</title>



<div class="index-div w-100 h-100 contain my-0">
    <div class="form-group w-50 mx-auto my-5">
        <form action="/artists" >
            <label for="">Artist search</label>
            <input type="text" class="form-control" name="artist" id="artist-search">
            <button type="submit" class="btn btn-primary text-align-right">Search</button>
        </form>
    </div>
</div>