<div class="index">

  <form action="/artist" method="GET">
    <div>
      <input class="inputIndex" type="input" name="artist"><br>
      <button class="buttonIndex" type="submit" class="button">Search for an artist</button>
    </div>
  </form>

</div>