<form action="/artists" method="POST">
  <div class="jumbotron jumbotron-fluid jbackground">
    <div class="container background">
      <h1 class="display-4">Spotify Artist Search</h1>
      <input type="text" name="artist">
      <button type="submit">Search for an Artist</button>
    </div>
  </div>
</form>