<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{data.name}}</title>

  <meta property="og:title" content="{{data.name}}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content=""/>
  <meta name="description" content="Ironhack project (Spotify API). Node.js & Express & SASS. By: anæstrada">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />

</head>

<body>

<div class="main_container">
  <div class="container {{data.name}}_container">
    {{{body}}}
  </div>
</div>

  <script src="/js/main.js"></script>
</body>

</html>
