<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>spotyHack</title>
</head>
<body>

  <h1>spotyHack</h1>
  <p>Estoy en el <b>layout</b></p>

  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/artists">artists</a></li>
  </ul>

  <form action="/artists" method="GET">
    <input type="search" id="idSearch" name="artistName"
    placeholder="Search the artists..." size="30">
    <button type="submit">Search for an Artist</button>
  </form>

  {{{ body }}}

</body>
</html>