<!doctype html>
<html lang="en">

<head>
  <title>Spotify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

  {{{ body }}}

</body>

</html>