<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{!--
  <link rel="stylesheet" href="../public/stylesheets/style.css" --}} 
  <title>Document</title>
</head>

<body>

  <header id="site-header">
    the header
  </header>

  {{{body}}}

  <footer id="site-footer">
    the footer
  </footer>

</body>

</html>