<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
  <title>Spotify App</title>
</head>
<body>
  
<header class="section has-text-centered">

  <h1> Spotify</h1>
</header >

  {{{body}}}

  <footer>
    Bye
  </footer>
</body>
</html>