<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div>
        <form action="/artist">
            <label for="name-input">Artist</label>
            <input id="name-input" type="text" name="artist">

            <button type="submit">Submit Info!</button>
        </form>
    </div>
    {{{body}}}
</body>

</html>