<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <title>Document</title>
</head>
<body>
    <div>
        <nav class="contenedor-nav">
            <a class="btn"  href="https>//ironhack.com">Ironhack</a>
            <a  class="btn" href="www.google.com">Google search</a>
            <a  class="btn" href="/">Home</a>
        </nav>
    </div>
    
    {{{body}}}
    <footer>
        <h1>Spotify IronHack</h1>
    </footer>
</body>
</html>