<!DOCTYPE html>
<head>
<link rel="stylesheet" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" src="./public/stylesheets/style.css"

</head>
<html>
<body>

{{{body}}}


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>