<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{#with data}}
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/{{style}}">
  {{/with}}
</head>
<body>
  {{{body}}}
</body>
<script src="js/main.js"></script>
</html>