<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Spotify</title>

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav>
    <ul>
      <li id="nav-home"><a href="/">Home</a></li>
      <li id="nav-artist" class="hidden"><a href="/artist">Artist</a></li>
      <li id="nav-album" class="hidden"><a href="/album">Album</a></li>
      <li id="nav-track" class="hidden"><a href="/track">Tracks</a></li>
    </ul>
    
  </nav>
  {{{body}}}

  <script src="/javascripts/main.js"></script>

</body>

</html>