<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/js/index.js">
    <title>Document</title>
</head>
{{!-- <body class="{{path}}"> --}}
<body>
    {{#unless hideNavbar}}
        {{>nav}}
    {{/unless}}


    <div class="content">
        {{{ body }}}
    </div>
</body>
</html>