<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotify Clone</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav>
      <h1>Spotify Clone</h1>
      <a href="/">Search for an Artist</a>
    </nav>
  </header>

{{{body}}}

<footer>
  <p>Made with &hearts; at Ironhack Paris</p>
</footer>

</body>
</html>