<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>Spotify</title>
</head>
<body>

<nav class="navbar navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">
    <img src="/images/ironhackLogo.jpg" width="50" height="50" alt="" >
  </a>
</nav>
  {{{body}}}
</body>
</html>