<div class='search-container'>
<% for (let i = 0; i < 10; i++) {%>
    <div class='item-wrapper'>
    <img src='<%= data[i].images[0].url%>' width='100'>
    <p><%= data[i].name %></p>
    <a href="/albums/<%= data[i].id%>">
    <button>View Albums</button></a>
    </div>    
<% } %>

</div>