<form action="/login" method="POST">
  <label for="email">Email</label>
  <input id="email" type="text" name="email">
  
  <label for="password">Password</label>
  <input id="password" type="password" name="password">
  
  <button type="submit">
    Login
  </button>
</form>