<div class="div-artist">
    <form id="form" action="/artists" method="POST">
        <input id="artist" type="text" name="artist">
        <button type="submit">
            Search for an Artist
        </button>
    </form>
</div>