<section id="search">
  <form action="/artists" method="post">
    <input id="input-text" type="text" name="artist">
    <input id="input-button" type="submit" value="Search for an Artist">
  </form>
</section>