<div class="tracks-page">
<header>
  
  <div class="column-center"><h1>Title</h1></div>
  <div class="column-center"><h1>Listen</h1></>
</header>
<container>
  {{#each tracks}}
    <div class="row">
      <p>{{dotdotdot this.name}}</p>
      <div class="column">
        <audio controls>
        <source src="{{preview_url}}" type="audio/mpeg">
      </div>
    </audio>
    </div>
  {{/each}}
</container>
</div>
<div class="prev" onclick="goBack()"></div>
