<div class="py-5 albums">
    <div class="container">
        <div class="row">
            {{#each tracks}}
            <div class="col-md-12">
                <div class="long-blue-bar">
                    {{#if this.preview_url}}
                    <audio controls>
                        <source src={{this.preview_url}} type="audio/ogg">
                    </audio>
                    {{else}}
                    <img src="/images/place.png" alt="image not found" style="width:100%">
                    {{/if}}
                <h6 class="track-name">
                    {{this.track_number}}-{{this.name}}
                </h6>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
</div>