{{#if data.found}}
  <div class="box tracksBox">
    <div class="boxConsult albumName"><span class="albumConsult">{{data.albumName}}</span> tracks</div>
    {{#each data.consult}}
      <div class="track">{{> track}}</div>
    {{/each}}
  </div>
{{else}}
  <div class="notFound">
    <p class="textNF">Could not find any tracks</span></p>
  </div>
{{/if}}
