<div class="container3">
    <div class="head">
        <h2>Title</h2>
        <h2>Sample Track</h2>
    </div>
    <div class="tracks">
        <ul>
            {{#each tracks}}
                <li>
                    <strong>{{this.name}}</strong>
                    <audio
                            controls
                            src="{{this.preview_url}}">
                        Your browser does not support the <code>audio</code> element.
                    </audio>
                </li>

            {{/each}}
        </ul>

    </div>
</div>