<div class="tracks-header">
  <p> Title</p> <p>Listen</p>
</div>
<div class="row">
  {{#each items}}
  <div class="col col-sm-12">
    
      <h3>{{this.name}}</h3>
      <audio controls>
        <source src="{{this.preview_url}}" >
      </audio>
      
    
  </div>
  {{/each}}
</div>