<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row track-row">
  <ul class="item-list track-list col-sm-12">
    <li class="tracks-header clearfix">
      <div class="track-name">
        <h3>Title</h3>
      </div>
      <div class="listen">
        <h3>Listen</h3>
      </div>
    </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Twist And Shout - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/cf1fd0b04d54215488325573ba54a8260ccd9237?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>She&#39;s A Woman - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/d13765be7145c32157c8aa7dd91aed0b84dff31c?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Dizzy Miss Lizzy - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/e8a3d5a226ba6f49cca008ba08342a06ab515ba3?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Ticket To Ride - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/fc3a1c9f0864d74cb640bad2888bf8176f6f2d22?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Can&#39;t Buy Me Love - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/8cf31830a5dabb4735639c5b07fa53ce1e30dd59?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Things We Said Today - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/22b58715107ae4020da8b5bec12cb615c67f3119?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Roll Over Beethoven - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/03bcb6ca78112e692578b8d02dc2101be2a0a97d?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Boys - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/d6f792fa3c034d44f98f3cb9ec7a1c718e0dc7d2?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>A Hard Day&#39;s Night - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/f4729009889a441e3e0b4cc4babe77c57ad6c37e?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Help! - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/fd569fe6c19babaa397b71602db5f1d480992ac4?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>All My Loving - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/181452576c94504ae4a8ed7dd4683ebd24ff73cf?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>She Loves You - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/4608a7cdfb241845b0cf6d75345ffca1d9548a37?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Long Tall Sally - Live / Remastered</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/a40389f1a304e17e102d031cc8f9618e1d069773?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>You Can&#39;t Do That - Live / Bonus Track</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/64a5e9f62e6a33b2facc99075bc5f5b231154b21?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>I Want To Hold Your Hand - Live / Bonus Track</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/38cd7ea9dcf4222dd6de9b5c20b9f5bf27d79e65?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Everybody’s Trying To Be My Baby - Live / Bonus Track</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/43aea5e63d0b11a70263a5641a83b91019f708ec?cid=null"></audio>
          </div>
        </li>

        <li class="track clearfix">
          <div class="track-name">
            <h4>Baby&#39;s In Black - Live / Bonus Track</h4>
          </div>
          <div>
            <audio class="pull-right" controls src="https://p.scdn.co/mp3-preview/74b8afbf382c47c0c511f9b812fc730f53e1d16c?cid=null"></audio>
          </div>
        </li>

  </ul>
</div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
