<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../stylesheets/artist.css">
  <title>Tracks</title>
</head>

<body>
  <h1>TRACKS</h1>
  <section>
    <% data.items.forEach((song) => { %>
      <div class="bands">

        <h4>
          <%=song.name%>
        </h4>
        <audio src="<%=song.preview_url%>" controls>
          <p>Tu navegador no implementa el elemento audio</p>
        </audio>
      </div>
      <% }) %>
  </section>
</body>

</html>