<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tracks</title>
</head>

<body>
  {{#each body.items}}
      <audio controls>
      <source src="{{preview_url}}" type="audio/mpeg">
    </audio>
    {{/each}}
</body>

</html>