<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Express Spotify</title>
  </head>
  <body>
    <h1>Tracks</h1>

    <pre><%=JSON.stringify(track,null,2)%></pre>

    <!-- ALL THE `preview_url` ARE NULL!!! -->
    <!-- Going to sleep. -->

  </body>
</html>
