<div class="header-tracks">
  <span>
    <h2>Title</h2>
    <h2>Listen</h2>
  </span>
</div>

<div class="audio-clip">
  <ul>
    {{#each trackResults}}
      {{>tracksPartial}}
    {{/each}}
  </ul>
</div>
