
    <div class="container">
        <div class="row header-row">
            <span class="col-lg-8">Title</span>
            <span class="col-lg-4">Listen</span>
        </div>
        <ul class="item-list">
            {{#each trackslist}}

            <div class="row track-item">
                <div class="col-lg-8">
                    <p>{{name}} </p>
                </div>
                <div class="col-lg-4">
                    <audio controls="" name="media">
                        <source src="{{preview_url}}" type="audio/mpeg"></audio>
                </div>
            </div>

            {{/each}}
        </ul>

    </div>