<div class="artist" style="width: 33.333%;">
{{#each id.items}}
<audio src="{{this.preview_url}}" controls></audio>

{{!-- <a href="/albums/{{this.id}}">Album Link</a> --}}

{{!-- <a href="/viewtracks/{{this.id}}">View Tracks</a> --}}
{{/each}}
</div>