<div class="albums">
    {{#each albums}}
    <div class="album-content">
        <div class="album-cover">
            <img src="{{this.images.1.url}}" alt="{{this.name}} album cover">
            <h3>{{this.name}}</h3>
            <a href="/tracks/{{this.id}}"><button>View Tracks</button></a>
        </div>

    </div>
    {{/each}}
</div>