<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title - Album</th>
      <th scope="col">Listen</th>
    </tr>
  </thead>
  <tbody>
    {{#each  tracks}}
      <tr>
        <td>{{this.name}}</td>
        <td>
          <figure>
            <audio controls src="{{this.preview_url}}"></audio>
          </figure>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
