    {{#each albums}}
        <div class="viewAlbums">
        <h2>{{ name }}</h2>
        <img src={{ images.1.url }}>
        <button><a href="/tracks/{{id}}">View Tracks</a></button>
        </div>
    {{/each}}
