<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist</title>
</head>

<body>


    <div class="albums-container">
        {{#each album }}
        <h1>{{name}}</h1>
        <div>{{cover}}</div>
        <img src={{images.1.url}} alt="album image">
        <button type="submit">View tracks</button>
        {{/each}}
    </div>

</body>

</html>