<div class="albums">
{{#each albumsFinal}}
    <div class="fotos">
    <img src="{{this.images.[1].url}}" alt="">
    <h4>{{this.name}}</h4>
    <a href="/tracks/{{this.id}}">View Tracks</a>
    </div>
{{/each}}
</div>