<div class="card-container">
    {{#each albums}}
    <div class="card">
        <div>
            <img class="card-img" src="{{images.0.url}}" alt="{{this.name}}">
            <div class="card-body">
                <h1 class="card-name">{{name}}</h1>
                <button class="card-btn btn btn-danger"><a href="/tracks/{{id}}">Go to Songs</a></button>
            </div>
        </div>
    </div>
    {{/each}}
</div>