<div class="albums-container">

    {{#each albumsQuery}}
    <div class="album-box">
        <h3>{{this.name}}</h3>
        <img src="{{this.images.0.url}}" alt="album" height="100px" width="100px">
        <a href="/view-tracks/{{this.id}}">View Tracks</a>
    </div>
    {{/each}}

</div>