<nav class="nav">
    <li class="nav-item"> <a class="nav-link active" href="/">New Search</a> </li>
</nav>

<div class="row">
    {{#each albumsList}}
    <div class="col-sm-4">
        <div class="card result-card">
            <img src="{{{this.images.0.url}}}" class="card-img-top backup" alt="{{this.name}}">
            <div class="card-body backup_picture">
                <h5 class="card-title">{{this.name}}</h5>
                <a href="/albums/tracks/{{this.id}}" class="btn btn-primary">Show albums</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>