<div id="artist-cards">
{{#each artistsArr}}
    <div class="card" style="width: 18rem;">
    <img src="{{this.images.[1].url}}" class="card-img-top" alt="Not Image Available">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/albums/{{this.id}}" class="btn btn-primary">View Albums</a>
    </div>
        </div>
{{/each}}
    </div>