<div class="artist-table">

{{#each artistList}}


<div class="center-artists">
  <div>
  <img src={{images.1.url}} alt="">
  </div>
  <div>
  <h4>{{ name }}</h4>
  <a href="/tracks{{  id }}"><button class="view-albums">View Albums</button></a>
  
  </div>

</div>

{{/each}}

</div>