<div class="results-container">
    {{#each artistList}}
    <div class="row">
        <div>
            <img class="image" src=" {{{ this.images.0.url }}} " alt="image of {{{ this.name }}}">
        </div>
            <div class="info-container">
                <p>{{{this.name}}}</p>
                <a href="/albums/{{{this.id}}}"><button class="btn">View Albums</button></a>
            </div>
        </div>
    {{/each}}
</div>