<div class="all-artists-results">
    <div class="single-artist-res">
        {{#each artistList.artists.items}}
        <img src={{this.images.0.url}} alt="">
        <div class="name-and-button">
            <h1>{{this.name}}</h1>

            <button><a href=/albums/{{this.id}}>View Albums</a> </button> {{/each}} </div> </div> </div>