<h1>Artist Search Results</h1>

{{#each artistList}}

<h2>{{{this.name}}}</h2>

<img class="albumart" src="{{this.images.0.url}}" alt=" image of {{this.name}}">

<a href="/albums/{{this.id}}"><button>View albums</button></a>

{{/each}}