<h2>Artists</h2>
{{#each artistas}}
<div class="col-md-4 justify-content-center">
    <div class="">
        <div class="">

            <h4>{{name}}</h4>
            <img class="artist-main" src="{{images.1.url}}" alt="">
            <a href="/albums/{{id}}">View albums</a>

        </div>
    </div>

</div>
{{/each}}