    {{#each artists}}
        <div class="albumSearch">
        <img src={{images.1.url}}>
        <h2>{{name}}</h2>
        <button><a href="/albums/{{this.id}}">View Albums</a></button>
        </div>
    {{/each}}
