<div class="artist">

    {{#each artists}}
    <div class="artist-info">

        <img src="{{this.images.1.url}}" alt="{{this.name}} image">

        <div class="artists-name">
            <h2> {{this.name}} </h2>
            <a href="/albums/{{this.id}}"><button>View Albums</button></a>
        </div>

    </div>
    {{/each}}
</div>