<div>
    {{#each artists}}
    <img src="{{this.images.0.url}}" alt="{{this.name}} image">
    <p>{{this.name}}</p>
    <button type="submit"><a href="/albums/{{this.id}}">View Albums</a></button>
    {{/each}}
</div>