<div>
    {{#each artists}}

    <button><a href="/albums/{{this.id}}">view albums{{name}}</a></button>

    <img src={{images.1.url}} alt="Dont show the image :(">

    <h2>{{name}}</h2>

    {{/each}}

</div>