
    <h2>Artists</h2>
    {{#each data.body.artists.items as |artist| }}
    <p>{{artist.name}}</p>
    <img src="{{artist.images.[0].url}}"></img>
    <a href="/albums/{{artist.id}}">View Albums</a>
    {{/each}}
