<section id="section-home">


<form action="/artist-search" method="POST">
<input id="input-text-home" placeholder="Search for an artist!" type="text" name="artist" required>
<input id="input-btn-home" type="submit" value="Search Artist">
</form>



</section>
