<div class="background">
  <div class="searcher">
    <h1>Hallelujah Spotify</h1>
    <form action="/artist-search" method="get">
      <input type="text" placeholder="Type an artist's name" name="artistsearch">
      <button>Search</button>
    </form>
  </div>
</div>