<div class="main-page">
    <form action="/artist-search" method="GET">
        <div class="search-box">

            <label for="artist"></label>
            <input class="searchform" id="text" type="text" name="artist" placeholder="Enter artist's name">
            <button class="btn btn-danger" type="submit"> Search for an Artist </button>
        </div>
    </form>
</div>