<div class="background">
    <div class="form-box">
        <form class="form" action="/artist-search" method="get">
            <input type="text" name="artist" id="" placeholder="Enter an artist name">
            <br />
            <button class="btn">Search for an Artist</button>
        </form>
    </div>
</div>