<div class="search-container">
  <form action="/artist-search", method="GET">
    <input type="text" placeholder="Search your artist, album or music" name="term" />
    <button>Search for an Artist</button>
  </form>
</div>