<div class="wrapper">
    <form id="searchArtist" action="/artist-search" method="GET">
        <div class="form-group">
            <input id="search-input" type="text" class="form-control" name="artist" placeholder="Enter Artist">
        </div>
        <button id="search-buttom" type="submit" class="btn btn-primary">Search for an Artist</button>

    </form>
</div>