<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/artist-result" method="GET">
    <label>
        <input type="text" name="artist" value="pepe" placeholder="Search for an Artist">
    </label>
    <input type="submit" value="Search">
</form>