<div class="background">
  <img src="./images/spotify-background.jpeg" alt="">

  <div class="white-box">
    <form action="/search-artist">
      <input placeholder="Search for an Artist!" type="text" name="artist" id="">
      <button>Search for an Artist</button>
    </form>
  </div>

</div> 