<div class="bg">


    <div class="search-bar">
        <form action="/artist-search" method="get">
            <input type="text" placeholder="Type any Artist" name="artist">
            <button>Search for an Artist</button>
        </form>
    </div>
</div>