<header class="header">
    <h1>Spotify Artist Search</h1>
</header>

<div class="artist-form">
    <form action="/artist-search" method="GET">
        <input type="text" placeholder="Search for an Artist" name="artist">
        <button>Search for an Artist</button>
    </form>
</div>