<div class="artist-search">
    <form action="/artist-search" method="GET">
        <input type="text" name="artist" placeholder="Artist Name" id="artist-search">
        <button class="red-button">Search for your artist!</button>
    </form>
</div>