<form action="/artist-search" method="GET">
    <label for="artist">Search for Artists</label>
    <input id="artist" type="text" name="artist">
    <button type="submit"> Search for an Artist </button>
</form>
