<div class="main-bodyS">
    <img class="backs" src="images/spotify-background.jpeg" alt="">
    <form action="/artist-search" method="GET">
        <input type="text" placeholder="Type in an artist" name="title">
        <button>Search for an Artist</button>
    </form>

</div>