<div id="background-img">
    <div id="white-box">
<form action="/artist-search" method="GET">
    <input name = "artist" type="text" placeholder="Artist">
    <button type="submit">Search for an Artist</button>
</form>
    </div>
</div>