<form action="/artist-search" method="GET">
  <div class="form-group">
    <input name="artist" type="text" class="form-control" placeholder="Introduce tu busqueda">
  </div>
  <button type="submit" class="btn btn-primary">Search for an artist</button>
</form>