<form action="/artist-results" method="GET">
    <label for='artist'>Artista</label>
    <input name='artist' type='text'>
    <button type="submit" class="btn btn-dark">Buscar artista</button>
</form>