<div class="search">
    <form action="/artist-search" method="get">
        <input type="text" class="searchTerm" placeholder="search for an artist" name="search">
        <button type="submit" class="searchButton"> Submit </button>
    </form>
</div>