<div class="homepage-container">
    <div class="form-container">
        <form class="form" action="/artist-search" method="get">
            <input class="input" type="text" placeholder="Search for an artist!" name="artist">
             <b/>
            <button class="search-btn">Search</button>
        </form>
    </div>
</div>