<div class="container text-center">
    <form class="" action="/artist-search" method="GET">
        <div class="form-group">
            <label>Busca a tu artista favorito</label>
            <input name="artista" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark">Buscar</button>
    </form>

</div>