<div class="index-container">
    
<div class="form-container">
    <form action='/artist-search-results' , method='GET'>
        <input for="" type="search" name="artist">
        <button type="submit">Search for an Artist</button>
    </form>
<div>

</div>