<form action="/artist-search" , method="GET" )>
    <div class="form-group">
        <label>Artist</label>
        <input name="artist" type="text" class="form-control">
        <button type="submit" class="btn ">Buscar</button>
    </div>