<div class="index-bg">
  <form action='/artist-search' method='GET'>
    <label for='Search Artist'>Artist Name</label>
    <input type='text' name='artist'>
    <button type='submit' class="btn">Search for an Artist</button>
  </form>
</div>