
<div class="form">
  <form action="/artist-search" method="get">
  <div class="form-group">
    <input id="artist" type="text" name="artist" class="form-control" placeholder="Search your artist">
  </div>
  <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>
</div>
