<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HOME</title>
    </head>
    <body>
        
        <div class="container">
            <div class="center">
                <form action="/artist-search" method="post">
                    <input type="text" name="artist" placeholder="Introduce el artista" class="tx">
                    <button type="submit" class="btn">Searh for an Artist</button>
                </form>
            </div>
        </div>

    </body>
</html>