<div class="wrap">
    <div class="search">
        <form action="/artist-search" method="get">

            <input type="text" class="searchTerm" placeholder="What are you looking for?" name="search">
            {{!-- <input type="text" class="searchTerm" placeholder="What are you looking for?" name="banana"> --}}

            <button type="submit" class="searchButton">
                Submit </button>
        </form>
    </div>
    <!DOCTYPE html>