<h1>Spotify Artist Search Page</h1>
<form action="/artist-search" method="get">
    <input type="text" name="title">
    <button>Search for an Artist</button>
</form>

{{!-- 
 <div class="movies-container">
  {{#each moviesList}}
  {{> movieCard this}}
  {{/each}}
</div>  --}}