<div class="search-background">
    <div class="form-wrapper">
        <form action="/artist-search" method="GET">
            <input type="text" name="artist" placeholder="Type an artist">
            <button type="submit" class="btn btn-danger btn-large">Search for an Artist</button>
        </form>
    </div>
</div>