<div class="background">
    <div class="overlay">
        <form action="/artist-search" method="GET" class="form">
            <input type="text" name="artist" class="input-search">
            <button class="btn-search">Search for an artist</button>
        </form>
    </div>
</div>