<body>
    <form action="/artist-search" method="GET">
        <label for="">Artist's Name</label>
        <input type="text" name="artist">

        <button type="submit"> Search for an artist </button>
    </form>
</body>