<div class="homepage-container">
<form class="form-container" action="/artist-search" method="get">
<input class="searchbox"type="text" placeholder="Search for an artist!" name="artist">
<button class="searchbutton">Search</button>
</form>

</div>

