<div class="landing">

    <h1>Clone my clone</h1>

    <form action="/artist-search" method="get">
        <input type="text" placeholder="Type an artist" name="artist">
        <button>Search</button>
    </form>

</div>