<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spotify-express</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body background="/images/spotify-background.jpeg">
    {{{body}}}  
</body>

</html>