<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ironhackify</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <h1>Hello Spotify </h1>
    <form action="/artist-search" method="get">
        <input type="text" placeholder="Search for an artist" name="artist">

        <button>Search for an artist</button>
    </form>
    {{{body}}}
</body>

</html>