<html>
  <head>
    <link rel="icon" href="/images/Spotify_Icon_RGB_Green.png" type="image/gif" sizes="16x16">
    <title>Spotify</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <nav><a href="/"><img src="/images/Spotify_Logo_RGB_White.png" alt=""></a> </nav>
{{{body}}}
  </body>
</html>


