<div>
    <form action="/artist-search" method="GET">
        <label>
            <input type="text" name="artistSearch" placeholder="Something">
        </label>
        <button>Search</button>
    </form>
</div>