<div class="background">

    <div class="search">

        <form action="/artist-search" method="GET">
            <input type="text" placeholder="
        Type the artist's name" name="artist">
            <button class="index button">Search</button>
        </form>

    </div>
</div>