<html>

<table>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Runtime</th>
        <th>Duration</th>
    </tr>

    {{#each result.items}}

    <tr>
        <td>{{this.track_number}}</td>
        <td>{{this.name}}</td>
        <td>{{this.duration_ms}}</td>
        <td> <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg">
                <p> If audio does not start, the <audio> HTML element is not supported in your browser.</p>
            </audio></td>
    </tr>

    {{/each}}
</table>

</html>