<div class="track-preview">
    <table>
        <tr>
            <th class="trackname">Title</thclass="trackname">
            <th> Listen</th>
        </tr>
        {{#each data.items}}
        <tr>
            <td class="trackname">
                {{this.name}}
            </td>
            <td class="preview">
                <audio controls>
                    <source src="{{this.preview_url}}">
                </audio>
            </td>
        </tr>
        {{/each}}
    </table>
</div>