<div class="track-container">
    {{#each tracksList}}
    <div class="track">
        <h3>{{this.name}}</h3>
        <audio src="{{this.preview_url}}" controls></audio>
    </div>
    {{/each}}
</div>