<section class="tracks-page">
<div class="headline-container">
    <div class="headline">
        <span>Title</span>
        <span>Listen</span>
    </div>
</div>
<div class="tracks-container">
    <div class="tracklist">
        {{#each trackList}}
        <div class="track-row">
            <p>{{this.name}}</p>
            <audio controls src="{{this.preview_url}}">
            </audio>
        </div>
        {{/each}}
    </div>
</div>
</section>