<table>
    <tr>
        <th>Track's name</th>
        <th>play</th>
    </tr>

    {{#each tracks.items}}
    <tr>
        <td>{{this.name}}</td>
        <td class="artist-search">

            <audio controls src="{{this.preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </td>
    </tr>
    {{/each}}

</table>