


{{#each tracks}}

<p>{{name}}</p>


<figure>
    <figcaption>Listen to the T-Rex:</figcaption>
    <audio
        controls
        src="{{preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>


{{/each}}