{{!-- {{#each items}}
    <div class="audio-info">

        "{{name}}"
        <audio controls src="{{preview_url}}"></audio>
    </div>

    {{/each}} --}}


<div class="tracks">
    <table>

        <tr>
            <th>Title</th>
            <th>Track</th>
        </tr>
        {{#each items}}
        <tr>
            <td> "{{name}}"</td>
            <td> <audio controls src="{{preview_url}}"></audio></td>
        </tr>
        {{/each}}
    </table>
</div>