<h2>Tracks</h2>
{{#each tracksChidas as |tracks|}}

<h4>{{tracks.name}}</h4>
{{#if tracks.preview_url}}
<audio controls>
<source src="{{tracks.preview_url}}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{{else}}
 <div>no preview for this track</div>
 {{/if}}
{{/each}}