<div >
 {{#each albumKey}}

<img class="" src="{{this.images.[0].url}}">
<div class="card-description">
 <h2 class="name">{{this.name}}</h2>
 <a href="/albums/{{this.id}}">View tracks</a>

</div>

 {{/each}}
</div>