{{!-- <link rel="stylesheet" href="stylesheets/styles.css"> --}}
{{!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet"> --}}

<body class="home">
  

<div class="search">
<form  action="/artists">
  <label for="artist"></label>
  <input class="form" id="artist" type="text" name="artist">
  
  <button class="button" type="submit">
    Search For Artist
  </button>

  </div>
</form>

</body>
