<form action="/artists" method="GET">
  <div class="form-row m-5">
    <div class="col-auto">
      <input type="text" class="form-control form-control-lg" placeholder="Search an Artist!" name="artist">
      <small class="form-text text-muted m-2">Enjoy now your favourite music</small>
    </div>
    <div class="col-auto">
    <button type="submit" class="btn btn-info btn-lg">Search</button></a>
    </div>
  </div>
</form>