<div class='wrapper'>

  <h1>Spotify Searcher</h1>


  <form method='GET' action='/artists' class="form">
    <input type="text" name="artists" placeholder="write an artist...">
    <input type="submit" value="search" class="search-btn">
  </form>


</div>
