<div class="index">
  <div class="container mt-5">
    <form action="/artists">
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="The Beatles for example" name="artist">
      </div>
      <button type="submit" class="btn btn-primary">Search for an Artist</button>
    </form>
  </div>
</div>