<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Spotify app</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<h1>  
<form action="/search" method="GET">
  <label for="artist">Search for artist</label>
  <input type="text" name="artist" id="">
</form>

</body>
</html>