    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spotify</title>
    </head>
    <body>
        <form action="artists" method="GET">
    <label for="">Name</label>
  <input type="text" name="name" id="">
  <button type="submit">SEARCH FOR AN ARTIST</button>
</form>