<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style rel="stylesheet" href="../stylesheets/style.css"></style>
  <title>Ironhack Spotify</title>
</head>

<body>
  <form action="/artists">
    <input id="searchbar" type="text" name="artists">
    <buttong type="submit">Search for Artist</buttong>
  </form>
</body>
</html>