<!-- layout.hbs -->
<div class="background">
    <div class="oops-message">Oops! We found no results to show... try again!</div>
    <form action="/artists" method="POST">
        <input type="text" name="artist" placeholder="Search for an artist!" id="artist" class="form-control" />
        <input type="submit" value="Search for an Artist" class="btn btn-secondary" id="button"></input>
    </form>
</div>