<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
    <div class="background">
        <form action="/artists" method="POST">
            <input type="text" name="artist" placeholder="Search for an artist!" id="artist" class="form-control" />
            <input type="submit" value="Search for an Artist" class="btn btn-secondary" id="button"></input>
        </form>
    </div>
</body>
</html>