<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style rel="stylesheet" href="../stylesheets/style.css"></style>
  <title>Ironhack Spotify</title>
</head>

<body>
  <div>
  <form action="/search" method="get">
    <input id="searchbar" type="text" name="artists" placeholder="The Beatles">
    <button type="submit" value="click">Search for Artist</button>
  </form>
</div>
</body>
</html>