<h1>
    HOMEEEEE
</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolor deleniti dicta architecto iure, odit delectus at similique commodi sequi alias? Voluptatum cupiditate suscipit accusamus, minima eaque corporis dolorum iure.</p>


<form action="/artist-search" method="get">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Group Name</label>
  <input type="text" value="" class="form-control" id="exampleFormControlInput1" name="group" placeholder="Type your fav group">
</div>
<button type="submit" class="btn btn-primary">Search for an artist</button>
</form>
