
<div class="container">
     <div class="row align-items-center vh-100">
    <div class="col col-md-8 offset-md-2 p-5 bg-white">
      <form action="/artist-search" method="get">
        <input type="text" class="form-control" placeholder="Artist Name" name="artist">
        <div class="row">
            <div class="col col-md-6 offset-md-3">
                <button type="submit" class="btn btn-danger btn-block mt-2">Search for an Artist</button>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>

