.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/crowd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.homePageSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 243, 243, 0.8);
    height: 210px;
}

.textInput{
    width: 400px;
    height: 25px;
}

.searchButton{
    float: inline-block;
    color: white;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 7.2vw;
    padding: 7px;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 4%;
}

.theForm{
    display: inline-block;
   margin: 0px 150px;
   width: 400px;

}
.artistPicture{
    width: 320px;
    height: 340px;
}

.artistContainer{
    margin: 0px 50px;
}

.artistCard{
    font-weight: bold;
    font-family: Helvetica;
    color: white;
    text-align: center;
    height: 445px;
    width: 320px;
    margin: 20px 70px 0px 70px;
    display: inline-block;
    background-color: rgba(10, 9, 9, 0.664);
}
.artistCard a{
    text-decoration: none;
    color: white;
    border: 1px solid orangered;
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 7%;
}


.albumTitle{
    text-align: center;
    font-family: Helvetica;
}

.albumContainer{
    margin: 0px 120px;
}

.albumPicture{
    width: 380px;
    height: 340px;
}
.albumCard{
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
    text-align: center;
    height: 430px;
    width: 380px;
    margin: 10px 10px 0px 10px;
    display: inline-block;
    background-color: rgba(10, 9, 9, 0.664);
    vertical-align: top;
}
.albumCard a{
    text-decoration: none;
    color: white;
    border: 1px solid orangered;
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 7%;
}

.trackHeader{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgba(10, 9, 9, 0.764);
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
}

.titleHeaderTrack{
    margin-left: 20px;
}

.listenTrack{
    margin-right: 110px;
}

.demoContainer{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
    font-size: 11px;
}
