body {
  padding: 0;
  margin: 0;
  background-color: #00DD6B;
  font-family: sans-serif;
}

.home {
  width: 100%;
  height: 1000px;
  text-align: center;
  padding-top: 0;
  padding: 0;
  margin: 0;
  background-image: url(../images/spotifyHome.jpg);
  background-size: cover;
}

.home h1 {
  color: white;
  font-size: 60px;
}

.home input {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.home button {
  background-color: #00DD6B;
  border: 0px;
  border-radius: 5px;
  margin: 20px auto;
  display: block;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
}

.artist {
  text-align: center;
  width: 100%;
  margin: 0;
}

.artist h1 {
  color: white;
  text-decoration: underline;
}

.artists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artistPictures {
  flex-basis: 20%;
  min-width: 300px;
  text-align: center;
  display: inline-block;
  background-color: #5E5076;
  box-shadow: 1px 1px 5px 1px gray;
  color: white;
  margin: 10px;
  transition: all 0.5s;
  transform: scale(1);
}

.artistPictures:hover {
  box-shadow: 0px 0px 5px 3px black;
  transform: scale(1.05);
}

.image-container {
  max-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistPictures img {
  width: 100%;
}

.artistPictures p {
  margin-top: 0;
}

.artistPictures button {
  background-color: #5E5076;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}

.artist-info {
  padding: 20px;
}

.albums {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.albums h1 {
  color: white;
}

.albumsImg {
  text-align: center;
  display: inline-block;
  margin: 20px;
  width: 20%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.albumsImg img {
  width: 100%;
  height: 180px;
}

.albumsImg button {
  background-color: #5E5076;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  border: 1px solid black;
}

.tracks {
  width: 60%;
  margin: 0 auto;
  background-color: black;
  margin-top: 80px;
}

.titles {
  color: white;
  padding: 0 150px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  background-color: #5E5076;
  font-weight: bold;
}
