<div class="home">

  <div class="search-form position-absolute top-50 start-50 translate-middle">
    <img src="../../images/Spotify-logo.png"/>
    <h1 class="text-light m-5">Search for your favorite artist</h1>

    <form method="GET" action="/artist-search">
      <div class="mb-3">      
      <input type="text" class="form-control" name="artist" placeholder="Start searching" />
      </div>
      <button type="submit" class="btn btn-danger">Search for an artist</button>
    </form>
  </div>

</div>