.index-container {
  background: center / cover no-repeat url('../img/landing.jpg') #32c3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.search-wrapper {
  background: rgba(255,255,255,0.6);
  padding: 9vh 10vw;
}
#artists-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
#artists-form input, #artists-form button {
  font-size: 2em;
}
#artists-form input {
  border: 0.15rem solid #ccc;
  border-radius: calc(5/9 * 1rem);
  box-shadow: inset 0 0.2rem 0.5rem #aaa;
  margin-bottom: 1.5vh;
  padding: 1.5vh 1vw;
  width: 30vw;
}
#artists-form button {
  background: #fa6863;
  color: #fff;
  padding: 1.6vh 1vw;
  /* width: 11.5vw; */
}