<div class="card" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    {{#each tracklist as |track|}}

     <li class="list-group-item">{{track.name}}</li>
   
     {{/each}}

  </ul>
</div>