<div class="flex2">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{images.[0].url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/albums/{{id}}" class="btn btn-primary">See Albums!</a>
    </div>
  </div>
</div>