<ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="http://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/512/Music-icon.png" width="50" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{name}}</h5>
<audio controls>
  <source src="{{preview_url}}" type="audio/ogg">
  <source src="{{preview_url}}" type="audio/mpeg">
</audio>
    </div>
  </li>
</ul>