<div class="artist">
    <img src={{this.images.url}} >
    <h4>
        {{this.name}}
    </h4>
    <a href="">
        <button class="btn-albums">
            View Albums
        </button>
    </a>

</div>