<div>
  <form action="/artists-search" method="GET" class="d-flex" role="search">
    <input name="search_fill" class="form-control me-2" type="search" placeholder="Type here" aria-label="Search">
     <button class="btn btn-outline-success" type="submit">Search for an artist</button>
  </form>
</div>

