<div>
    <form action="/artists-search" method="GET" class="d-flex" role="search">
        <input name="search_fill" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>