body {
    background-image: url('/images/spotify-background.jpeg');
    background-size: cover;
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .artist {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }