@font-face {
  font-family: "Circular";
  src: url("fonts/circular-bold.ttf") format("truetype");
}

* {
  font-family: "Circular", sans-serif;
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 50px 0 0 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}

.grid-item {
  background-color: rgba(128, 128, 128, 0.2);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.grid-item h2 {
  margin: 0;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(252, 70, 70, 0.8);
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: rgb(167, 41, 41);
}

#go-back-btn {
  position: fixed;
  left: 50%;
  top: 5px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 5px 30px;
  font-size: 20px;
}
