body {
  padding: 3rem;
  background-color: rgb(29, 185, 84);
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-results {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.result-artist {
  background-color: rgba(255, 255, 255, 0.509);
  height: 50vh;
  width: 30vw;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#view-albums-button {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 185, 84);
  border: none;
  width: 9vw;
  height: 4vh;
}
