body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#artistsName {
  width: 100%;
}

.box img {
  width: auto;
  height: 350px;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 0 1 350px;
  margin: 40px;
}

.boxInfo {
  background-color: rgb(70, 70, 70);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.button {
  background-color: rgb(215, 56, 56);
  border: 1px solid rgb(215, 56, 56);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 150px;
  height: 30px;
}

a {
  color: white;
  text-decoration: none;
}
