body {
  max-height: 100vh;
  background-color: rgba(253, 252, 252, 0.876);
}

.display-img {
  width: 250px;
  margin-bottom: 10%;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.btn {
  text-decoration: none;
  height: 15px;
  background-color: #1db954;
  padding: 10px;
  display: inline-block;
  color: white;
  border: 1px solid none;
  border-radius: 2px;
}

.btn:hover {
  background-color: #189945;
}
