    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    * {
        font-family: 'Lato', sans-serif;
    }
    
    .search {
        width: 350px;
    }
    
    .btn-home {
        background-color: #fa6863;
        color: white;
        margin-left: 50%;
        transform: translateX(-50%);
        border: none;
        border-radius: 8px;
        font-size: 16px;
        padding: 12px 12px;
    }
    
    .inner-box {
        width: 500px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #cover-img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }