* {
  margin: 0px;
  padding: 0px;
}

.landingpage {
  width: 100%;
  height: 720px;

  background-image: url(../images/spotify-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.mainseach {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.mainseach button {
  margin: 10px;
}
