body {
  background-size: cover;
  background-image: url(/images/spotify-background.jpeg);
  background-repeat: no-repeat;
}

.search_form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search_form form {
  width: 60%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search_form form input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.search_form form>input {
  width: 60%;
  height: 20%;
}

.search_form form input:nth-child(2) {
  width: 20%;
  height: 10%;
  background-color: red;
  color: white;
}