section {
    padding: 40px
}

h2 {
    color: white;
    text-align: center;
    font-size: 2em;
}

#albums {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    row-gap: 4vh;
}

img {
    height: 15vh;
}

h3 {
    font-size: 1em;
    margin-top: 0.5vh;
    height: 7vh;
}

div {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    width: 12vw;
    height: 30vh;
    padding-top: 1vh;
}

a {
    text-decoration: none;
    color: green;

}