body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#background-img img {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#home-form {
    position: relative;
    text-align: center;
}