body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Index Page CSS */

.index-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-image: url("/images/spotify-background.jpeg");
  background-size: 100vw 100%;
  background-repeat: no-repeat;
}

.index-search-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 12rem;
  width: 42rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.index-search-form {
  height: 2rem;
  width: 28rem;
  margin: 1rem;
}

.index-search-button {
  background-color: rgba(255, 0, 0, 0.55);
  height: 2.5rem;
  width: 10rem;
  border: none;
  color: white;
  font-weight: bold;
}

/* Artist and Album Search Page CSS */

.searched-result-background-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(189, 189, 189);
}

.searched-result-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
  width: 300px;
  margin: 40px;
}

.searched-result-container-div img {
  height: 300px;
  width: 300px;
}

.searched-result-text-div {
  font-size: 18px;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: rgb(95, 95, 95);
  color: white;
  font-size: 16px;
}

.searched-result-button {
  color: white;
  background-color: rgba(255, 0, 0, 0.55);
  border-style: none;
  border-radius: 5px;
  height: 25px;
}

/* Tracks Page CSS */

.tracks-background-div {
  display: flex;
  flex-direction: column;
}

.tracks-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0px 5px 0px 5px;
  background-color: rgb(59, 59, 59);
}

.tracks-title-div p {
  color: rgb(209, 208, 208);
  font-size: 24px;
  margin: 15px;
}

.tracks-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5px 5px 5px;
  background-color: rgb(189, 189, 189);
}

.tracks-div p {
  color: black;
  font-size: 16px;
  margin: 15px;
}
