*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style:  none;
}
a{
    text-decoration: none;
}
body{
    background: #f7f9f9;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width:400px;
    height: auto;
    border:solid 1px #bfbfbf;
    padding:30px;
    margin:20px auto;
    border-radius: 15px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width:400px;
    height: auto;
    border:solid 1px #bfbfbf;
    padding:30px;
    margin:20px auto;
    border-radius: 15px;
}
figure{
    height: 300px;
    width: 300px;
}
.card-img{
    width:100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;

}
.card-title{
    text-align: center;
}
.card-subtitle{
    text-align: center;
    color: #bfbfbf;
}
.card-brewed{
    margin: 10px 0;
}
.card-Description{
    text-align: justify;
}
.card-tips{
    margin: 10px 0;
}
.card-list{
    align-self: start;
}
.btn{
    padding: 10px 20px;
    background:#0087fe;
    border-radius: 5px;
    color: #fff;
    margin:5px;
}