* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url("../images/spotify-background.jpeg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: relative; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
  }

  .alto {
    height: 548px;
  }