/*
spotify-green: #1ed760;
*/

body {
    background-color: black;
    font-family: Helvetica, sans-serif
}

p {
    color: white;
}

/* STYLING HOME */

#background-div {
    background-image: url("/images/spotify-background.jpeg");
    filter: grayscale(100%);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-div {
    position: fixed;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -10%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > button {
    width: 220px;
    height: 50px;
    margin: 20px 0;
    background-color: #1ed760;
    border: 0px none;
    border-radius: 500px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

form > button:hover {
    width: 230px;
    height: 55px;
    margin: 18px 0;
    background-color: #1ed760;
    border: 0px none;
    border-radius: 500px;
    padding: 10px 20px;
    font-size: 14.5px;
}

form input {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    width: 500px;
    height: 50px;
    border: 0px none;
    border-radius: 500px;
    padding: 10px 20px;
}

/* STYLING ARTIST SEARCH */

#albums-search-div {
    margin: 70px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.album-img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.album a {
    width: 150px;
    height: 50px;
    background-color: #1ed760;
    border: 0px none;
    border-radius: 500px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 15px;
}

.album a:hover {
    background-color: #25c05b;
    color: rgb(58, 54, 54);
}

/* STYLING ALBUMS PAGE */

#artist-albums-div {
    margin: 70px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* STYLING TRACK PAGE */

#tracks-header {
    background-color: #1ed760;
    margin: 0;
}

#tracks-header p {
    margin-left: 54px;
    font-size: 20px;
    color: black;
    font-weight: 700;
    padding-top: 15px;
}

#listen-title {
    margin-right: 364px;
    font-size: 20px;
    color: black;
    font-weight: 700;
    padding-top: 15px;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    padding: 5px 0px;
    background-color: rgb(29, 27, 27);
}

.track audio {
    width: 400px;
    margin-right: 40px;
}

.track p {
    margin-left: 54px;
    color: white;
    font-weight: 500;
    padding-top: 15px;
}