.searchResults {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.searchResultBox {
    width: 17vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vw;
}

.searchResultBox > img {
    width: 100%;
    height: 80%;
}

.searchResultBoxText {
    background-color: gray;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.searchResultBoxText h4 {
    margin: 0;
}