@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
}
.nav-bar img{
    height:70px;
    padding: 0px 20px ;
}

.nav-bar ul{
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    list-style: none;
    width: 500px;
    padding: 0px 20px;
    height: 100%;
   
}
li{
    font-size: 25px;
    font-weight: lighter;
}
.nav-bar a{
    color: white;
    text-decoration: none;
}
html, body{
    font-family: 'Poppins', sans-serif;
}

.section-form{
    width: 100%;
    height: 100vh;
    background: url("../images/spotify-background.jpeg") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

form button{
    border: none;
    background-color: #111111;
    color: #ffff;
    margin: 20px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    width: 200px;
}

form input{
    height: 40px;
    width: 500px;
    border: none;
    outline: none;
    padding: 5px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.container-cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 90px auto;
}

.cards{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}



.cards .text-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0 80px 0;
}

.cards img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.text-container a{
    text-decoration: none;
    color: #fff;
    background: #111111;
    padding: 15px;
    text-align: center;
    width: auto;
}

.text-container h5{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
} 