body{
    padding: 0;
    margin: 0;
}

.Background{
    position: absolute;
    width: 100%;
    height: 100%;
}

.homepage-div{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 40vh;
}

.homepage-div button{
    padding: 2em 4em;
    color: white;
    background-color: rgb(217, 71, 71);
    opacity: 0.8;
    border: none;
}

.homepage-div button:hover{
    border: 1px solid white;
    opacity: 1;
}

.homepage-div input{
    padding: 1em 8em;
}

.dif-ref{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ref-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #C4C4C4;
    width: 28vw;
    height: auto;
    border-radius: 2em;
    margin: 3em;
    padding: 1.5em;
}
.ref-summary img{
    width: 28vw;
}

.ref-summary h2, a{
    text-align: center;
}
.ref-summary a{
    padding-bottom: 2em;
}
.ref-summary button{
    padding: 0.8em 1.5em;
    transition: all 2s ease-out;
}   
.ref-summary button:hover{
    background-color: rgb(70, 253, 3);
}

.album-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #C4C4C4;
    width: 28vw;
    height: auto;
    border-radius: 2em;
    margin: 3em;
    padding: 1.5em;
}

.album-summary img{
    width: 28vw;
}

.album-summary h2, a{
    text-align: center;
}

.album-summary a{
    padding-bottom: 2em;
}
.album-summary button{
    padding: 0.8em 1.5em;
    transition: all 2s ease-out;
}   
.album-summary button:hover{
    background-color: rgb(70, 253, 3);
}

.track-Div{
    margin: 0;    
    padding: 2em;
    width: 80%;
}
.track-Div nav{
    background-color: rgb(84, 83, 83);
    display: flex;
    justify-content: space-between;
    padding:1em 5em;
}
.track-Div h1{
    color: #a7a7a7;
}


.track-summary{
    margin: 0em;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.track-summary h2, p{
    padding: 0.5em 2em;
}
.track-summary hr{
    width: 75%;
    margin: 0;
}