#home {
    background-image: url("../images/spotify-background.jpeg"); 
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    background-color:rgba(255,255,255, 0.5);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-danger {
    margin: 30px;
    margin-bottom: 0px;
}