body {
  margin: 0;
  padding: 0;
}

#bg-img img {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

.searcher {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3);
}

.searcher form {
  display: flex;
  flex-direction: column;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-products {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgb(124, 124, 124);
  justify-content: flex-end;
}

.covers img,
.covers-albums img {
  width: 100%;
  height: 50vh;
}

.btn a,
.btn-albums {
  background-color: tomato;
  padding: 10px;
  color: white;
  text-decoration: none;
  border: 2px white solid;
}

.container-products-albums {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgb(124, 124, 124);
  justify-content: flex-end;
}
