* {
  margin: 0;
}
.home-container {
  background-image: url("https://static.pexels.com/photos/167605/pexels-photo-167605.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}
.home-search {
  margin-top: 10px;
  background-color: black;
  border-radius: 0;
  color: white;
  background-color: #ff6666;
  border: 1px solid #ff6666;
}
.home-search:hover,
.home-search:active {
  color: #ff6666;
  background-color: white;
  border: 1px solid #ff6666;
}
.form-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.artist,
.album {
  background-color: #4a4a4a;
  text-align: center;
  color: white;
  margin: 20px 0px;
  width: 30%;
}
.artist h6,
.album h6 {
  margin-top: 20px;
  padding: 0 10px;
}
.track {
  background-color: #f6f6f6;
  margin-bottom: 2px;
  padding: 10px 0;
}
.track p {
  margin-bottom: 0;
  font-weight: bold;
}
.header-row {
  background-color: #4a4a4a;
  padding: 20px 10px;
  color: #f6f6f6;
  font-size: 20px;
}
.container-albums,
.continer-artist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.album,
.artist {
}
.album .image,
.artist img {
  width: 100%;
}
.btn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 10px;
}
.container-header-tracks {
  background-color: grey;
}
.header-tracks {
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  height: 50px;
}
h4{
  line-height: 50px;
}
.container-tracks,
.container-albums {
  margin: 0 auto;
  max-width: 800px;
}
.track {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  background-color: rgb(243, 243, 243);
  padding: 10px;
}
a:hover {
  color: white;
  font-weight: bold;
}