/* MIXINS & FUNCTIONS
========================================================================== */

/* Vertical & Horizontal Alignment
========================================================================== */
@mixin centerer($horizontal: true, $vertical: true) {
	position: absolute;

	@if ($horizontal and $vertical) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@else if ($horizontal) {
		left: 50%;
		transform: translateX(-50%);
	}

	@else if ($vertical) {
		top: 50%;
		transform: translateY(-50%);
	}
}


@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

