<div class='grid-container'>
  {{#each albums}}
    <div class='elements-wrapper'>
      <img src={{this.imageUrl}} alt={{this.name}} />
      <div class='details'>
        <p>{{this.name}}</p>
        <a class='button' href='/tracks/{{this.id}}'>View Tracks</a>
      </div>
    </div>
  {{/each}}
</div>