<div id='artists-wrapper'>
  {{#each artists}}
    <div class='artist-info'>
      <img src={{this.imageUrl}} alt={{this.name}} />
      <div class='details'>
        <p>{{this.name}}</p>
        <button>View Albums</button>
      </div>
    </div>
  {{/each}}
</div>