body {
  background-color: rgba(247, 246, 248, 0.89);
  margin: 0;
  padding: 0;
}
.nav {
  background-color: black;
}
.navbar-nav {
  margin-top: 15px;
  font-size: 1rem;
}
.main {
  background-color: #333;
  color: #fff;
  background: url(/images/spotify-img.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
  padding: 3px 0;
}
* {
  font-family: monospace;
}

.blur {
  background-color: rgb(243, 235, 235, 0.3);
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur button {
  padding: 0.5rem;
  background-color: red;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  transition-property: background, color;
  transition-duration: 0.5s;
  cursor: pointer;
}
.blur button:hover {
  background-color: #fff;
  color: black;
}
form {
  height: 3rem;
}
div.main form input {
  font-size: 1.2rem;
  width: 250px;
  height: 1.5rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #333;
  /* font-family: monospace; */
}
.main input::-webkit-input-placeholder {
  text-align: center;
}
/* artists */
.artists {
  padding: 20px 20px;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}
.artists .a-tag,
.artists .p-tag {
  display: flex;
  justify-content: center;
}
.main-artists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #333;
  color: #fff;
  min-height: 100vh;
}
.artists img {
  width: 250px;
  height: 250px;
}
.artists a {
  text-decoration: none;
  color: #fff;
}
.artists button {
  padding: 5px;
  background-color: lightcoral;
  border: none;
  color: #fff;
  border-radius: 3px;
  align-self: center;
  text-transform: capitalize;
  cursor: pointer;
}

/* Tracks */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0 150px 0 30px;
}
.tracks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  margin: 5px 0;
  background-color: lightgrey;
  color: #333;
  /* font-family: monospace; */
  font-size: 1.2rem;
  text-transform: capitalize;
}
.main-tracks {
  min-height: 100vh;
}
