* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* nav */
#myNav {
  -webkit-box-shadow: 0px 11px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 9px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 11px 9px -5px rgba(0, 0, 0, 0.75);
}

.artists {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.artists-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.artists-box > img {
  width: 10vw;
}

#brand {
  display: flex;
  flex-direction: column;
  width: 80px;
  margin-left: 20px;
}

#index-form {
  display: flex;
  flex-direction: column;
  position: relative;
}
#landing {
  width: 65vw;
  margin: 0 auto;
}
.centered {
  display: flex;
  flex-direction:column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
