<div>
 {{#each queryResult}}
  
    <p>{{name}}</p>
    <img src="{{images.[0].url}}" alt="placeholder" width="200">
    <a href="/tracks/{{id}}"><button type="submit">View Tracks</button></a>
{{/each}}
</div>