<div class="container album">
  <h1>Albums Page</h1>
  <div class="row">
    {{#each items}}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{this.images.0.url}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{this.name}}</h4>
            <a href="/tracks?albumId={{this.id}}" class="btn btn-primary">View Tracks</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
