<div class="container">
  <div class="row">
    {{#each items}}
    <div class="col-md-4 cards">
      <img class="img-card" src='{{images.0.url}}' alt="">
      <div class="card-titulo">
        <p>{{name}}</p>
        <a href="/track/{{ id }}">View Tracks</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>