<div class="card-group"> 
  {{#each albums}}
    <div class="flex flex-wrap">
      <img class="card-img-top img-size" src="{{this.images.0.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.name}} </h5>
        <a class = " btn btn-success" href="/tracks/{{this.id}}/">View Tracks</a>
      </div>
    </div>
  {{/each}}
</div>