<div class="card-box">
  {{#each items}}
  <div class="card">
    <img src="{{images.[1].url}}" alt="{{name}}">
    <h2>{{name}}</h2>
    <a href="/tracks/{{id}}">View Tracks</a>
  </div>
  {{/each}}
</div>