<div class="container">
  <ul>
    {{#each artistAlbums}}
    <li>
      <img src="{{this.images.1.url}}" alt="" />
      <p>{{this.name}}</p>
      <button><a href="/tracks/{{this.id}}">View Tracks</a></button>
    </li>
    {{/each}}
  </ul>
</div>