<div class="container">
{{#each album}}
<div class="albumCard">
{{this.name}}
<img src="{{this.images.0.url}}" alt="">
<button><a href="/tracks/{{this.id}}">View Tracks</a></button>
</div>
{{/each}}
</div>