 
 <p class="title-album">ALBUMS</p>
  <div class="album">

 
  {{#each data.body.items}}
  <div class="album-pic">
    <div > 
      <img class="albums-pic" src="{{this.images.1.url}}" alt="">
    </div>

    <a class="btn btn-primary btn-class" href="/tracks/{{this.id}}" role="button">VIEW TRACKS</a>
  </div>
  {{/each}}
</div>