
    <h1> Albums </h1>

<div class="card">

    {{#each albums}}
    <ul class="card-list">
        <li><img src='{{ this.images.1.url }}' alt="album cover"></li>
        <li> {{ this.name }} </li>
        <li> <a href='/tracks/{{id}}'>View tracks</a></li>
    </ul>

    {{/each}}
</div>