<h1>Albums for: {{a}}</h1>

<div class="container-fluid">
  <div class="row">
      {{#each albums as |a|}}
        <div class="col-md-4">
          <img class ="album-image"src="{{ a.images.0.url }}">
            <div class="album-information">
              <p>{{a.name}}</p>
              <a href="/albums/{{a.id}}">View Tracks</a>
        </div>
      </div>
    {{/each}}
</div> 