<div>
    {{#each cosota}}

    {{!-- {{>cosita this}} --}}
<img src="{{this.images.0.url}}" alt="Imagenwarrrona">
    {{this.name}}
    <a href="/albums/{{this.id}}">ViewALBUM</a>
    
    {{/each}}




</div>