<p>Albums for</p>

<div class="cards-container">
  {{#each data.body.items}}
  <img src="{{this.images.[1].url}}">
  <h2> {{this.name}}</h2>
  <a href="/tracks/{{this.id}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">View
    Tracks</a>

  {{/each}}

</div>