{{#each items}}

  <div class="artist-container">
    <img src="{{images.0.url}}" width="300px" height="300px" alt="{{name}}">
    {{name}}
    <a href="/tracks/albums/{{albums.id}}" type="button" class="home-search">View Tracks</a>
  </div>

{{/each}}

