<div class="cards-container d-flex flex-wrap ">
  {{#each artist}}
  <div class="card" style="width: 30%;">
    <img class="card-img-top" src="{{images.[0].url}}" alt="">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>

      <a class='btn btn-danger' href="/tracks/{{id}}">View Tracks</a>
    </div>
  </div>
  {{!-- {{> artistCard this}} --}}
  {{/each}}
</div>