<div class="albums-container max-container container">
    
    {{#each albums}}
        <div class="card">
            <img src={{images.0.url}} alt={{name}}>
            <h2 class="artist">{{name}}</h2>
            <a href="/tracks/{{id}}">View Tracks</a>
        </div>
    {{/each}}
</div>