<div class="container">
  <h1>aqui van los albunes</h1>
  <div class="col">
    {{#each album}}
    <ul>
      <li>
        {{name}}
        <a href="/tracks/{{id}}">View Tracks</a>
      </li>
    </ul>


    {{/each}}

  </div>



</div>