<div class="albums-list">
  {{#each albums}}
  <div class="album">
    <img src="{{this.images.1.url}}">
    <a href="/view_tracks/{{this.id}}">
      <button>View Tracks</button>
    </a>
  </div>
  {{/each}}
</div>