<div class="container">
  <div class="col-12">
            <h1>albums</h1>

    <ul>
       {{#each albums as |album|}}
      <li>{{album.name}} <img src="{{ album.images.[0].url }}"></li>
      {{!-- <a href="/albums/{{album.id}}">View Tracks</a> --}}
      {{else}}
        <p>Empty List</p>
      {{/each}}
    </ul>
  </div>
</div>