<div>
 <main class="cards-container">

<h2>albums list</h2>

   
    {{#each albumsList}}
    <img src="{{images.0.url}}" alt="artist image">
    
    <p>{{name}}</p>
    
    
    
     <a href="#">View Albums</a>


    {{/each}}
</main>
</div>