<nav class="nav">
    <button type="button" value="Back" onclick="history.back()">
        <i class="fas fa-arrow-alt-circle-left"></i>
    </button> <a href="/">Go Back</a>
    <h1>Albums for...</h1>
</nav>

<div class="container">
    <div class="card">
        {{#each data.body.items}}
        <i>{{this.name}}</i>

        <div class="image-container"><img src="{{this.images.[1].url}}">
        </div>

        <a href="/tracks/{{this.id}}" class="btn btn-secondary btn-lg active redOrange" role="button"
            aria-pressed="true">View
            Tracks</a>
    </div>
</div>
{{/each}}