<div class="albumTracks container" >
    <div class="header">
        <div class="left">Title</div>
        <div class="right">Listen</div>
    </div>
    {{#each albumTracks}}
    {{> albumTracksPartial this}}
    {{/each}}
</div>