<div class="cards">
  {{#each items}}
  <div class="cards">
    <figure>
      <img src='{{images.0.url}}' alt="">
    </figure>
    <h3>{{name}}</h3>
<a href="/track/{{ id }}">View Tracks</a>
  </div>
  {{/each}}
</div>