<main class="albums-container">
    
    {{#each albumsObject}}
        <img 
                    src="{{this.images.0.url}}" 
                    alt="Album-Image">

            <p>{{this.name}}</p>

            <a href="/tracks/{{this.id}}">
                <button type="submit">View Tracks</button>
            </a>
    {{/each}}

</main>