<div class="artists-list-container">
  {{#each data.body.items}}
  <div class="artist-card">
    <img src="{{this.images.[0].url}}" alt="album cover goes here">
    <div class="artist-card-footer">
      <h2>{{this.name}}</h2>
      <a href="/tracks/{{this.id}}">tracks</a>
    </div>
  </div>
  {{/each}}
</div>


