<div>
    {{#each theAlbum}}
    <div>
        <div>
 <img src="{{this.images.0.url}}">
        </div>
       <div>
        <h2>{{this.name}}</h2>
        <a href="/tracks/{{this.id}}">View Tracks</a>
    </div>
    </div>
    {{/each}}
</div>