{{#each data.body.items}}
   <img class="artist-pic" src="{{this.images.1.url}}" alt="">
   <a class="btn btn-primary btn-class" href="/tracks/{{this.id}}" role="button">VIEW TRACKS</a>
  {{/each}}




