<div class="container">
<div class="row">
    {{#each albums}} 
         <div class="col col-4">
        <img class="img-fluid" src="{{this.images.[0].url}}">
        <h5 class="text-center">{{this.name}}</h5>
        <a class="btn btn-lg btn-dark d-block" href="/songs/{{id}}">View Tracks</a>
        </div>
    {{/each}}
</div>
</div>