<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body class="text-center" data-gr-c-s-loaded="true">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


        <main role="main" class="inner cover">
            <ul class="flex-container">
                {{#each album}}
                <li class="flex-item">

                    {{{this.name}}}
                    <img src="{{{this.images.0.url}}}" alt="">
                    <a href=""></a>
                    <a href="/tracks/{{this.id}}"> View tracks</a>
                </li>
                {{/each}}
            </ul>
        </main>


    </div>



</body>

</html>