<div class="container">
    <div class="row">
            {{#each myAlbums}}
            <div class="col-md-4">
                <p>{{this.name}}</p>
                <img src="{{this.images.0.url}}" height="200" alt="no-image"><br>
                <a href="/tracks/{{this.id}}">View Tracks</a>
                {{!-- <a href="/albums/{{this.id}}">See Albums</a> --}}
            </div>
            {{/each}}
    </div>
</div>