<body>
  <div class="albums">
    <h1>Albums</h1>
    <% response.forEach(e => { %>
      <div class="albumsImg">
        <% if (e.images.length > 0) { %>
        <img src="<%= e.images[1].url %>">
        <% } else { %>
        <img src="/images/noimage.jpg">
        <% } %>
        <p>
        <% if (e.name.length > 23) { %>
        <%= e.name.substring(0, 23) + "..." %>
        <% } else { %>
        <%= e.name %>
        <% } %>
        </p>
        <% let link = `/tracks?id=${e.id}` %>
        <a href="<%= link %>"><button>View Tracks</button></a>
      </div>
      <%  }) %>
  </div>
</body>
