
{{#each items}}

      <div class="col-lg-4 artist-container">      
          <img src="{{images.0.url}}" width="300px" height="300px" alt="{{name}}">      
        <div class="artist-info-container">
           <a href="/tracks?albumId={{id}}" type="button" class="home-search">View Tracks</a>
        </div>
      </div>

{{/each}}
