<h1>Album's Page:</h1>

{{#each albumsList }}

<a href="/tracks/{{this.id}}"><img src={{ this.images.1.url }} /></a>


<h3>{{ this.name }}</h3>



<p class="card-text"><a href="/tracks/{{this.id}}">View tracks</a></p>

{{/each}}