<div class="cards">
  <%albums.forEach(album => { %>
  <div class="card">
    <%if(album.images){%>
    <img src="<%=album.images[0].url%>" alt="" class="card-img" />
    <%}%>
      <%=album.name %>
    <a href="/tracks/<%=album.id%>">View Tracks</a>
  </div>
  <%});%>
</div>