<div class="main-artists">
    {{#each items}}
    <div class="artists">
        <div> <img src={{this.images.[0].url}} alt={{this.name}}></div>
        <div>
            <p> {{this.name}} </p>
            <div class="a-tag">
                <a href="/tracks/{{this.id}}"><button>View tracks</button></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>