{{#each albums}}

<div class="card">
    <img class="card-img-top" src="{{images.[0].url}}" alt="Card image cap">

    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
   <a href="/tracks/{{id}}">View Tracks</a>
    </div>
</div>
{{/each}}