<div class="Albums">
    {{#each testResult}}
        {{#each images}}
            {{#if @first}}
                <img src="{{url}}" alt="noPicHere">
            {{/if}}
        {{/each}}
    <p>{{name}}</p>
    <p><button><a href="{{external_urls.spotify}}">View Tracks</a></button></p>
    {{/each}}
</div>
