<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Albums</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/artist.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-title col-6">
        <h1>Albums de: {{name}}</h1>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card-row row justify-content-between" style="width: 100%">
      {{#each albums}} {{> albumsPartial }} {{/each}}
    </div>
  </div>
</body>

</html>