<div class="albumTitle">
    <h1>Albums for: {{theArtistName}}</h1>
</div>

<div class="albumContainer">
    {{#each theAlbum}}
    <div class="albumCard">
 <img class="albumPicture" src="{{this.images.0.url}}">
    <h3>{{this.name}}</h3>
          <a href="/tracks/{{this.id}}">View Tracks</a>
    </div>
    {{/each}}
</div>