<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <ul>
        {{#albums}}
        <li> <a href="/tracks/{{this.id}}">{{ this.name }}</a> </li> {{/albums}} </ul>
</body>

</html>