<ul class="d-flex justify-content-around flex-wrap">
    {{#each artistAlbums}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=" {{this.images.0.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
    </div>
    {{/each}}
</ul>