<div class="cards-container">
    <div class="row">
        {{#each data.body.items}}
        <div class="col-6 col-sm-4">
            <h2> {{this.name}}</h2>
        </div>
        <div class="col-6 col-sm-4"><img src="{{this.images.[1].url}}">
        </div>
        {{/each}}
    </div>
</div>
{{!-- data.body. --}}