<div>
  {{#each albums.body.items}}
  <div id="album-container">
    <img class="album-image" src="{{this.images.0.url}}">
 <h2 class="album-name">{{this.name}}</h2>  
 <button id="tracks-btn"><a href="/tracks/{{this.id}}">View Tracks</a></button>
 </div>
 {{/each}}
</div>