
  {{#each items as |item|}}  
    <div>
      <img src="{{item.images.[0].url}}" alt="album image" width="250px">
      <p>{{item.name}}</p>

      <a href="/tracks/{{item.id}}">View tracks</a>
    </div>
  {{/each}}
