<h3>Albums List </h3>
<ul>
  {{#each albumsList}}
  <li>
    <h3>{{this.name}}</h3>
    {{#with this.images.[0] }}
    <img src="{{this.url}}" width="50px" height="50px" />
    {{/with}}
    <hr>
    <a class="btn btn-danger" href="/tracks/{{this.id}}">View Tracks</a>
  </li>
  {{/each}}
</ul>