<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>albuns</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
</body>
</html>
<h2 class="txt">ALBUNS</h2>
<ul class="list-art">
    {{#each albuns}}
      <div class="box">
        <h2>{{this.name}} </h2>
        <img src="{{this.images.1.url}}">
        <a href="albums/{{this.id}}" name=""><button>View Tracks</button></a>
      </div>
    {{/each}}
</ul>