{{#each albums}}
<div class='each-album'>
     <img src="{{this.images.[1].url}}" alt="">
    <div>
        <h1>{{this.name}}</h1>
        <a href="/tracks/{{this.id}}" >View tracks</a>
    </div>
</div>
{{/each}}