<h1>Albums</h1>
<div class="card-container">
{{#each albums as |album| }}
<div class="card bg-light">
    <img src="{{ album.images.1.url }}" alt="">
    <div class="card-info">
        <h5 class="card-title">{{ album.name }}</h5>
        <a href="/albums/{{album.id}}" class="btn btn-primary">View Tracks</a>
    </div>
</div>
{{/each}}
</div>

