<div class="albums-list-cont">
  {{#each artistAlbums as |album|}}
  <div class="albums-list">
    <div>
    <img src="{{album.images.1.url}}" alt="album cover">
    </div>
    <div>
    <h3>{{album.name}}</h3>
    <button><a href="/tracks/{{album.id}}">See tracks</a></button>
    </div>
  </div>
  {{/each}}
</div>