<h1 class="title">Artists</h1>
<div class="card-container">
{{#each artists as |artist| }}
<div class="card">
        <img src="{{ artist.images.1.url }}" alt="" onerror="if (this.src != 'https://www.nfscars.net/static/img/not-found.png') this.src = 'https://www.nfscars.net/static/img/not-found.png';">
    <div class="card-info">
        <h5 class="card-title">{{ artist.name }}</h5>
        <a href="/artists/{{artist.id}}" class="btn btn-primary">View Albums</a>
    </div>
</div>
{{/each}}
</div>

