<div class="artists" style="width: 33.333%;">
  <img class="artists-img" src="{{image_url}}" alt="artist">
  <div class="artists-body">
    <h2 class="artists-name"> {{body.name}}</h2>
    <h4 class="artists-title">{{tagline}}</h4>
    <p class="artists-text">{{description}}</p>
  </div>
</div>