<div>
    {{#each artistData}}

    <div class="artists">

        {{#each this.images}}
        {{#if @first}}
        <img src={{url}} width=300 height=300 alt="">
        {{/if}}
        {{/each}}

        {{ name }}

        <a href="/albums/{{ id }}">View Albums</a>

    </div>

    {{/each}}
</div>