<h1>Holaaa</h1>

{{#each data}}
  <p>{{name}}</p>

  <!-- posicion 0 y url de la imagen-->

 <img src="{{images.0.url}}" alt="artist" width="350px" height="350px"> <br>

  <a href="/albums/{{id}}">View Albums</a>
  
{{/each}}