{{#each items}}
  <div>
    <img src="{{images.0.url}}" width="350px" height="350px" alt="{{name}}">
    {{name}}
    <a href="/albums/{{id}}" type="button" class="home-search">View Albums</a>
  </div>
{{/each}}

