{{#each artists}}
<div>
    <img src="{{this.images.[0].url}}" alt="">
    <h2>{{this.name}}</h2>
    <form action="/albums/{{this.id}}" method="get">
        <button type="submit" value="View">View Albums</button>
    </form>
</div>
{{/each}}