<div>
   {{!-- {{#each name}}  --}}
   <h2>{{name}}</h2>
   <img src="{{image}}" alt="">
   <form action="/albums/{{id}}">
<button type="submit">Albums</button>
   </form>
   
   {{!-- {{/each}} --}}
</div>