<h1>Artists:</h1>
{{#each artistsList }}


<ul>
   <h1>{{ this.name }}</h1>
</ul>


<a href="/albums/{{this.id}}"><img src={{ this.images.1.url }} /></a>




<p><a href="/albums/{{this.id}}">View albums</a></p>



{{/each}}