<h2>Search Results</h2>
{{#each artistsData}}
<p>Artist Name: {{this.name}}</p>
<p>Image: <img src={{this.images.[0].url}} alt=""></p>
<p><a href="/albums/{{this.id}}"><button>View Albums</button></a></p>
{{/each}}