<div class="container-fluid">
    <div class="row">
        {{#each items}}
        <div class="col-md-4 artist-box text-center">
            {{#if this.images.0.url}}
            <img class="artist-img" src="{{this.images.0.url}}">
            {{else }}
            <img class="artist-img" src="https://makitweb.com/demo/broken_image/images/noimage.png">
            {{/if}}
            <h3 class="artist-name">{{this.name}}</h3>
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
        {{/each}}
    </div>