<div class="artist-albums container" >
    <h1>Albums for: {{artistName}}</h1>
    {{#each artistAlbums}}
    <div class="col col-4">
        {{> artistAlbumsPartial this}}
    </div>
    {{/each}}
</div>