<div><a href="/"> <---Voltar</a></div>

<div class="artists-container">
  {{#each artist}}
      <h1>{{this.name}}</h1>
      <a href="/albums/someArtistIdGoesHere">View Albums</a>
      
  {{/each}}
</div>