<div class="artists-container">
    {{#each artistsItem}}
    <img src="{{this.images.0.url}}" alt="Album-Cover">
    <p>{{this.name}}</p>
    <button type="submit">View Album</button>
    {{/each}}
</div>