{{#each artists}}
<h1>{{this.name}}</h1>
{{#if this.images.1.url}}
  <img src={{this.images.1.url}} />
  {{else}}
  <img src='http://s3.amazonaws.com/37assets/svn/765-default-avatar.png' style='width : 300px;'/>
  {{/if}}
  <a href='/albums/{{this.id}}' >View Albums</a>
{{/each}}