<div class="list">
        {{#each artist}}
        <div class="list-item">
            <h1>{{name}}</h1>
            <img src="{{images.[1].url}}">
            <a href='/albums/{{id}}' class="btn">See albums</a>
        </div>
        {{/each}}
</div>