{{!-- {{firstartistname}} --}}
{{#each artists}}
<div class="card all-artists" style="width: 18rem;">
  <img src="{{this.images}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="{{this.eternal_urls}}" class="btn btn-danger">View Albuns</a>
  </div>
</div>
{{/each}}