<ul>
    {{#each artistsList}}
    <li>
        <p>
            <img src="{{this.images.1.url}}">
        </p>
        {{this.name}}
        <p>
            <a href="/tracks/{{this.id}}"><button>View tracks</button></a>
        </p>
    </li>
    {{/each}}
</ul>