<ul>
    {{#each artist}}
    <img src="{{this.images.2.url}}" alt="">
    <li>{{ this.name }}</li>
    <a href="/albums/{{thid.if}}"> View Albums </a>
    <button> View Albums </button>
    {{/each}}
</ul>

{{!-- same format the rest of the hbs pages, except tracklist --}}