<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="/stylesheets/style.css"> {{!-- remember to put /styles --}} 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    
    
    <div class="row">
      <div class="col-sm-4" >
	       <div class='flex'>
		      <img src='/images/spotify.png' />
			  <div class='dark'>
			    <p>beafles</p>
				<button  type="button" class="flexCenter btn btn-danger">View Album</button>
			  </div>
		   </div>
	  
	  </div>
      <div class="col-sm-4" >
	   <div class='flex'>
		      <img src='/images/spotify.png' />
			  <div class='dark'>
			    <p>beafles</p>
				<button  type="button" class="flexCenter btn btn-danger">View Album</button>
			  </div>
		   </div>
	  </div>
      <div class="col-sm-4" >
	   <div class='flex'>
		      <img src='/images/spotify.png' />
			  <div class='dark'>
			    <p>beafles</p>
				<button  type="button" class="flexCenter btn btn-danger">View Album</button>
			  </div>
		   </div>
	  
	  </div>
    </div>
       
   
    
    
  </div>


</body>
</html>
