{{#each items}}
<div>
<div class="img-art"><img src ="{{images.0.url}}" alt ="photos"></div>
<div>{{name}}</div>
<div>{{type}}</div>
<br>
<form action="/albums/{{this.id}}" method="GET">
   <button class="btn-view" type="submit">View Albums</button>
</form>
</div>
<br><br><br>
{{/each}}