<div class="container">
  <h1>Este es la pagina de resultados</h1>
  <div class="col">
    {{#each artist}}
    <ul>
      <li>
        {{name}}
        <a href="/albums/{{id}}">View Albums</a>

      </li>
    </ul>


    {{/each}}

  </div>



</div>