<h1>Artists Results:</h1>

<div>
  {{#each artistList}}
  <img src="{{this.images.0.url}}" />
  <div>
    <h4>{{this.name}}</h4>
    <button><a href="/albums/{{this.artistId}}">View Albums</a></button>
  </div>
  {{/each}}
</div>