
<div class="container">
  <div class="row"><h1>Artists result </h1></div>
  <div class="row">
    {{!-- <div class=""> --}}
        {{#each theartists}}
          {{> _onecard this }}
        {{/each}}

    {{!-- </div> --}}
  </div>
</div>