<div class="cards">
  {{#each items}}
  <div class="card">
    <figure>
      <img src={{images.0.url}} alt="" height="250px" width="250px">
    </figure>
    <h3 class="name">{{name}}</h3>
    <a href='/albums/{{id}}'><button class="button" type="submit">View Albums</button></a>
  </div>
  {{/each}}
</div>