



{{!-- //<div class="container mt-4"> --}}
{{!-- //    <ul class="flex-container"> --}}
{{!-- //      {{#each items as |item|}} --}}
{{!-- //      <li class="flex-item">{{item.name}} <img src="{{ item.images.1.url }}"></li> --}}
{{!-- //      <a href="/artists/{{item.id}}">View albums</a> --}}
{{!-- //      {{/each}} --}}
{{!-- //    </ul> --}}
{{!-- //    <a href="/" class="back">Back search menu</a> --}}
{{!-- //</div> --}}