<div>
  {{#each data.body.artists.items}}
  <div id="artist-container">
    <img class="artist-image" src="{{this.images.0.url}}">
 <h2 class="artist-name">{{this.name}}</h2>  
 <button id="albums-btn"><a href="/albums/{{this.id}}">View Albums</a></button>
 </div>
 {{/each}}
</div>