<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
  crossorigin="anonymous">
<link rel="stylesheet" href="/style.css">
<div class="container">
  <div class="row">
    {{#each list }}
    <div class="col-lg-4 artist-container">
      {{#if images.0.url}}
      <img src="{{images.0.url}}" alt="" class="artist-img">
      {{else}}
      <img src="https://www.designshock.com/wp-content/uploads/2016/04/man-4-400.jpg" alt="" class="artist-img">
      {{/if}}
      <div class="artist-info-container">
        <p>{{name}}</p>
        <a href="/albums/{{id}}">View Albums</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>