{{!-- <img src={{image_url}} alt="picture of the artist"> --}}
{{#each theArtist}}
<img src={{images.0.url}} alt="artist image">
<h1>{{name}}</h1>
<button><a href="/albums/{{ id }}">View Albums</a></button>
{{/each}}
{{!-- <button onclick="window.location.href = '/albums';">View Albums</button> --}}
{{!-- <a href="/albums/someArtistIdGoesHere">View Albums</a> --}}
