<div class="container">
  <div class="row">
    {{#each artists}}
    <div class="col-lg-4 artist-container">
      <img src="{{this.images.0.url}}" alt="artist's image" class="artist-img">
      <div class="artist-info-container">
        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}">View Albums</a>
      </div>
    </div>
    {{/each}}      
  </div>
</div>