{{#each items as |artist| }}
  <div>
    <a href="/albums/{{artist.id}}"><img src="{{ artist.images.[1].url }}" alt="test"></a>
    <h3> {{ artist.name }}</h3>
    <a href="/albums/{{artist.id}}">View albums</a>
  </div>
{{/each}}