<p>{{artistName}}</p>
<ul>
  {{#each artistElements}}
  <li>
    <p>{{this.name}}</p>
    {{!-- <img src="{{this.body.artists.items.iamges}}" alt="" /> --}}
    {{!-- <button><a href="{{this.id}}">View Albums</a></button> --}}
  </li>
  {{/each}}
</ul>