<div class="container">
   {{#each artistsList}}
   <div class="item-wrapper">
      <a href="/albums/{{id}}"><img src="{{images.0.url}}" style="height: 200px;"></a>
      <p>{{name}}</p>
      <a href="/albums/{{id}}" class="link">View Albums</a>
   </div>
   {{/each}}
</div>