<div class="artistContainer">
    {{#each theArtist}}
    <div class="artistCard">
 <img class="artistPicture" src="{{this.images.0.url}}">
    <h3>{{this.name}}</h3>
        <a href="/albums/{{this.id}}">View Albums</a>
        
    </div>
    {{/each}}
</div>