<div class="album">
    <ul>
         {{#each artist}}
            <li>{{name}}</li>
            <li><img src="{{images.[0].url}}"></li>      
            <button><a href="/albums/{{id}}">View Album</a></button>
         {{/each}}
    </ul>
   
</div>



{{!-- {{#each artist.artists.items}}
    In the correct artists page {{artist.artists.items.[0].name}}
{{/each}} --}}