
<h1>Results...</h1>

<div class="card">


    {{#each artists}}
    <ul class="card-list">
        <li><img src='{{ this.images.1.url }}' alt="{{ this.name }} "></li>
        <li> {{ this.name }} </li>
        <li> <a href='/albums/{{id}}'>View albums</a></li>
    </ul>

    {{/each}}
</div>