

<div class="d-flex flex-row flex-wrap">
{{#each artistList}}

<div class="card-container  pl-5 pr-5">
<div class="card " style="width: 18rem;">
  <img class="card-img-top" src={{this.images.[0].url}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}} </h5>
    <h5 class="card-title">{{id}} </h5>
  <div class="card-body">
    <a href="/artists/{{id}} " class="card-link btn-success">View Albums</a>
  </div>
</div>
</div>
</div>

{{/each}}
</div>