<main class="artists-container">
    
    {{#each artistsObject}}
        <img 
                    src="{{this.images.0.url}}" 
                    alt="Artists-Image">

            <p>{{this.name}}</p>

            <a href="/albums/{{this.id}}">
                <button type="submit">View Albums</button>
            </a>
    {{/each}}

</main>