<ul>
    {{#each info}}
        <li>
            <li>{{this.name}}
            <img src="{{this.images.1.url}}">
            <button type="submit"><a href="/albums/{{this.id}}">View Albums</a></button>
        </li>
    {{/each}}
</ul>