<div>
  <div class="arregloartistas">
    {{#each items as |i|}}
      <div class="col-md-4">
        <img class= "album-image" src="{{ i.images.2.url }}">
          <div class="listas">
            <p>{{i.name}}</p>
            <a class="a-links" href="/artist/{{i.id}}">View albums</a>
          </div>
        </div>
    {{/each}}
  </div>
</div>