<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
      {{#each musicData}}
        <p class="subtitle is-3">Artist : {{this.name}} </p>
        <img src=" {{this.images.1.url}} " alt="" />
        <a href=" /albums/{{this.id}} " class="button">View Albums</a>
      {{/each}}
      </div>
    </div>
  </div>
</section>