<main>
  {{#each artists}}

  <div class="artists-container">
    <img class="artist-img" src=" {{this.images.[1].url}}" alt="img">
    <div class="artist-box">
      <h2 class="title">{{this.name}}</h2>
      <button class="btn1"><a href="/albums/{{this.id}}">View Albums</a></button>
    </div>
  </div>

  {{/each}}
</main>