<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=`"${{data.body.artists.items[0].images[0]}}"` alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ data.body.artists.items[0].name }}</h5>
    <a href="/albums" class="btn btn-primary">View Albums</a>
  </div>
</div>