<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

</body>
    <h1><%= body.artists.items[0].name %></h1>  
    <img src="<%= body.artists.items[0].images[0].url %>" alt="">
    <form action="/artists" method="post">
        <button type="submit">View Albuns</button>
    </form>
</html>