<div class="artists-container">
{{#each list}}
<div class="artists-card">
    <img src="{{images.[0].url}}" class="artist-img">
    <h1 class="artist-name">{{name}}</h1>
    <div class="button"><a href="/albums/{{id}}">View Albums</a></div>
</div>
{{/each}}
</div>