<h1>artist result </h1>
<div class="container">
  <div class="row">
    {{!-- <div class=""> --}}
        {{#each ARTISTS}}
          {{> _onecard this }}
        {{/each}}

    {{!-- </div> --}}
  </div>
</div>