<div class="container">
  <div class="row text-center">

    <h2 class="text-center">The Beatles</h2>

      <ul class="item-list">

        <% artists.forEach((artist) => { %>
          <li><% artists.name %></li>
        <% }) %>

        <li class="single-item col-sm-4">
          <img src="https://i.scdn.co/image/934c57df9fbdbbaa5e93b55994a4cb9571fd2085">
          <div class="item-footer">
            <h3>The Beatles</h3>
            <a class="view-more btn" href="/albums/3WrFJ7ztbogyGnTHbHJFl2">
              View Albums
            </a>
          </div>
        </li>

    </ul>

  </div>
</div>
