<div class="cards-container">
{{#each items}}    

    <div class="card" >
        <img class="card-img" src="{{this.images.0.url}}">
  
        <div class="card-body">
            <h2 class="card-title">{{this.name}}</h2>            
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>

    </div>
{{/each}}
</div>