
{{#each artist.items}}
<img src="{{this.images.[0].url}}">
<h1>{{this.name}}</h1>
<button>View Albuns</button>
{{/each}}

{{!-- <img src= "{{artist.items.[0].images.[0].url}}">
<h2>{{artist.items.[0].name}}</h2>
<button>test</button> --}}