<div class="artists">
    {{#each arrayArtist}}
    <h3>{{{this.name}}}</h3>
    <img src={{{this.images.0.url}}} alt="">
    {{!-- <button>{{this.button}}</button> --}}
    {{/each}}
</div>
    {{!-- {{> artistCard this}} --}}