<div>
    {{#each cosita}}

    {{!-- {{>cosita this}} --}}

    
    <img src="{{this.images.0.url}}" alt="Imagenwarrrona">
    {{this.name}}
    <a href="/albums/{{this.id}}">VIEWW ALBUM</a>

    {{/each}}




</div>