<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artist search</title>
</head>
<body>
    <div>
    {{#each artists}}
    <li> Name: {{ this.name }} 
        <br>
        <img src="{{ this.image_url }}" width="200" alt="">
    </li>
    <button>View albums</button>
    {{/each}}
</div> 

</body>
</html>


