<div class="container">
<div class="row">
    {{#each artists}} 
        <div class="col col-4">
        <img class="img-fluid" src="{{this.images.[0].url}}">
        <h5 class="text-center">{{this.name}}</h5>

        <p><span><b>Genre(s):</b></span>
            {{#each this.genres}}
             {{this}}
            {{/each}}
        </p>
        <a class="btn btn-lg btn-dark" href="/albums/{{this.id}}">View Albums</a>
        </div>
    {{/each}}
</div>
</div>