<div class="cards">
  <% artists.forEach(artist => { %>
  <div class="card">
    <%if(artist.images[0]){%>
    <img src="<%=artist.images[0].url%>" alt="" class="card-img" />
    <%}%>
    <%=artist.name%>
    <a href="/albums/<%=artist.id%>">View Albums</a>
  </div>
  <% }); %>
</div>