<body>
    
    
{{!-- //<img src="{{artists.images[0].url}}" alt="no pic"> --}}
{{#each artists}}
<h1>{{this.name}}</h1>

<img src="{{this.images.1.url}}" alt="">


 <button>view albums</button>
{{/each}}

   
</body>