<div class="main-artists">
    {{#each items}}
    <div class="artist">
        <img src={{this.images.[0].url}} alt={{this.name}}>
        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}"><button>View Albums</button></a>
    </div>
    {{/each}}
</div>