<div class="row">
  {{#each items}}
  <div class="cards-container">
  <img src="{{images.0.url}}">
  <h2>{{name}}</h2>
  <button><a href="/albums/{{id}}">View Albuns</a></button>
</div>
  {{/each}}
</div>