<p>bla</p>
<ul>
  {{#each artistElements}}
  <li>

    {{!-- <img src="{{this.body.artists.items.iamges}}" alt="" /> --}}
    <h3>The name is: {{this.name}}</h3>
    {{!-- <button><a href="{{this.id}}">View Albums</a></button> --}}
  </li>
  {{/each}}
</ul>