<div class="body_container">

    {{#each artists}}

    <div class="container_album">
        <div class="container_img">
            <img src={{this.images.[0].url}} alt="" class="artist_img">
        </div>
        <h1 class="artist_name">{{this.name}}</h1>
        <a href="/albums/{{this.id}}">View Albums</a>
    </div>

    {{/each}}
</div>