<div class="container">
  <div class="row">
    {{#each artists as |artist|}}
      <div class="card col-3 p-1" style="width: 18rem;">
          <img class="card-img-top" src="{{artist.images.[1].url}}" >
          <div class="card-body">
          <p></p>
          <h5 class="card-title">{{artist.name}}</h5>

          <a class="btn btn-primary" href="/albums/{{artist.id}}">View Albums</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>