<div class="cards">
  {{#each items}}
  <div class="cards">
    <figure>
      <img src='{{images.0.url}}' alt="">
    </figure>
    <h3>{{name}}</h3>
<a href="/albums/{{ id }}">View Albums</a>
  </div>
  {{/each}}
</div>