<h1>Arstist</h1>

<div class="container">
    <div class="row">
            
            {{#each reponseOfSearch}}
            {{> artistPartial}}
            {{/each}}

        </div>
</div>


<a href="/">Home pageS</a>