 <div>
 {{#each queryResult}}
    <img src="{{images.[0].url}}" alt="placeholder" width="100">
    <p>{{name}}</p>
    <a href="/albums/{{id}}"><button type="submit">View Albums</button></a>
{{/each}}
</div>