<div class="cards-container">
    {{#each list}}
    <div class="card d-flex flex-column justify-content-center">
        <img src="{{images.1.url}}">
        <h3>{{name}}</h3>
        <form action="/albums/{{id}}">
            <button type="submit" class="btn btn-success">View Albums</button>
        </form>
    </div>
    {{/each}}
</div>