<div class="container">
{{#each artistName}}
<div class="artistCard">
{{this.name}}
<img src="{{this.images.0.url}}" alt="">
<button><a href="/albums/{{this.id}}">View Albums</a></button>
</div>
{{/each}}
</div>