<div class="container">

    <div class="artistCards">
        {{#each body.artists.items}}
        <img id="artistImg" src={{images.0.url}} alt="artist">
        <div class="artistInfo">
            <h2>{{this.name}}</h2>
            <button id="cardBtn"><a href="/albums/{{this.id}}">View Albums</a></button>

        </div>
        {{/each}}
    </div>

</div>