{{#each artist}}

<div class="card" style="width: 18rem;">
  <img src={{this.images.1.url}} class="card-img-top" alt="artistsimage">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href={{this.href}} class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{/each}}
