{{#each}}

<div class="card-deck">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
           <button id="searchbutton">View Albums</button>
        </div>
    </div>
</div>

{{/each}}