{{!-- <body>
    
    

{{#each artists}}
<h1>{{this.name}}</h1>

<img src="{{this.images.1.url}}" alt="">


<a href="/albums/{{this.name}}">View Albums</a>
{{/each}}

   
</body> --}}


<div>


<main class="cards-container">
{{#each artists}}
{{> artistCard this}}
{{/each}}

</main>

</div>