
<div class="albums">
{{#each dataList}}
<div class="card col-4" style="width: 18rem;">
  <img src="{{this.images.[0].url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ this.name }}</h5>
    <a href="/albums/{{this.id}}" class="btn btn-danger">View Albums</a>
  </div>
</div>
{{/each}}
</div>


