<div class="container">
    <div class="row">
            {{#each myArtists}}
            <div class="col-md-4">
                <div class="artist-image-container">
                    <img src="{{this.images.0.url}}" class="artist-image" onerror="if (this.src != 'error.jpg') this.src = '../images/artist.png';"><br>
                </div>
                <div class="artist-info">
                    <p class="artist-title">{{this.name}}</p>
                    <a href="/albums/{{this.id}}">See Albums</a>
                </div>
            </div>
            {{/each}}
    </div>
</div>