<div class="cards">
  {{#each this}}
  {{#if this.id}}
  <div class="card">
    <img src="{{this.images.0.url}}" alt="" class="card-img">
    {{this.name}}
    <a href="/albums/{{this.id}}">View Albums</a>
  </div>
  {{/if}}
  {{/each}}
</div>