<div class="container row d-flex justify-content-around">
  {{#each arrayArtists}}
    <div class="col-4 justify-content-center text-center">
      <img class="artist-img" src="{{this.images.0.url}}" alt="Artist Image">
      <h1 class="artist-name">{{this.name}}</h1>
      <button><a href="/albums/{{this.id}}">View Albums</a></button>
    </div>
  {{/each}}
</div>