<main class="view-container">
    
    {{#each artistsObject}}
        <div>
            {{#if this.images.0.url}}
                <img 
                        src="{{this.images.0.url}}" 
                        alt="Artists-Image">
            {{/if}}
            
            <p>{{this.name}}</p>
                
            
                <a href="/albums/{{this.id}}">
                    View Albums
                </a>
        
        </div>
    {{/each}}

</main>