
{{firstartistname}}

{{#each artists}}
<div class="card" style="width: 20rem;">
    {{!-- <img src={{this.href}} class="card-img-top"> --}}
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="text-muted"></h6>
    <p class="card-text"></p>
  </div>
</div>
{{/each}}