
    <form action="/artist" method="post">
        <label for="artist">Artist Name:</label>
        <input id="artist" type="text" name="artistName">
    
        <input type="submit" value="Search Name">
    </form>
