<div class="container-spo">
  <div class="container-search">
    <form action="/artists" method="GET" class="home-search">
      <input placeholder="Search for an artist" id="name-input" type="text" name="artists">
      <button id="button-artist" type="submit">Search for an Artist!</button>
    </form>
  </div>
</div>