<div class="home-page">
  <div class="wrapper">
    <form id="artist-search" action="/artists">
      <label for="artist-name" ></label>
      <input id="artist-name" type="text" name="artistname" placeholder="Search for an Artist!" required>
      <button id="search-btn">Search for an Artist</button>
    </form>
  </div>

</div>