<div class="searchbox">
  <div class="searchbox-bg">
    <form action="/artists" method="GET">
    <label>Search</label>
    <input type="text" name="artist">
    <button type="submit" name="search">Search for an Artist</button>
    </form>
  </div>
</div>