<div class="form-container">
    <form action="/artists" method="GET">
        <label for="artistName">
        </label>
        <input type="text" name='artistName' id="artistName">
        <button type="submit">Search for an artist</button>
    </form>
</div>