<div class="home">
  <form id="home-page" action="/artists">
    <input class="txt-artist m-10 p-10" name="artist" class="artist-text" type="text"
      placeholder="Introduce an artist...">
    <input class="btn-search m-10 p-10" type="submit" value="Search for an artist!">
  </form>
</div>