<div class="home">
  <form action="/artists" method="get">
    <input class="artist-input" type="text" name = "artist"></input><br>
    <button type = "submit">Search for an Artist</button>
  </form>
</div>