
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="home-input">
    <form action="/artists">
        <input type="text" name="artist" id="">
        <button type="submit">Search for an Artist</button>
    </form>
</div>