<div>
  <form id="artist-search" action="/artist">
    <label for="artist-name" ></label>
    <input id="artist-name" type="text">
    <button id="search-btn"><a href="/artists">Search for an Artist</a></button>
  </form>
</div>