<header>
<div class="home">
  <form action="/artists" method="GET">
    <input class='input' type="text" name='artist' placeholder="Artist">
    <button class='button' type="submit">Search for an Artist</button>
  </form>
</div>
</header>

