<div class = 'main-wrapper'>
    <div class= 'form-wrapper'>
        <div class = 'form'>
            <form action="/artist" method="GET">
                <input type="text" name="artist" placeholder="Search your favorite artists">
                <br>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</div>