<div class="home-body">
    <div class="searchbox">
        <form action="/artists" method="get">
            <input class="searchbar" type="text" name="q">
            <button class="btn" type="submit">Search for an Artist</button>
        </form>

    </div>
</div>