<div class="mainpage-container">
  <div class="form-wrapper">
    <form action="/artists" class="form-group home-form">
     <input placeholder="Search for an artist!" id="artist" type="text" name="artist" class="form-control home-input">
     <button type="submit" class="btn btn-primary home-search">Search for an Artist</button>
    </form>
  </div>
</div>