<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/starter_code/public/stylesheets/style.css">
  <title>My Fake Spotify</title>
</head>

<body style="
    background-image: url(&quot;https://static.pexels.com/photos/167605/pexels-photo-167605.jpeg&quot;);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100mv;
    height: 100vh;
">





  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/starter_code/public/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <title>My Fake Spotify</title>



  <section style="display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 25%;">




    <h1 style="
    font-size: 25px;
    text-align: center;
    color:blanchedalmond;
    ">My spotify</h1>
    <div class="form" style="height: 200px;
    background-color: rgba(190, 176, 176, 0.767);
    width: 50%;
    display: flex;
      ">
      <form action="/artists" method="GET" style="
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;">

        <label for="search_query">
          <input style="width: 350px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    color:black;
    background-color: #e4d0d0"
            type="search" name="search_query" placeholder="Type your artist">
        </label>
        <button style="    width: 170px;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 15px;
    color: #e4d0d0f5 ;
    border: 1px solid;
    padding: 5px;
    background-color: #e16565;">Search
          for an Artist</button>

      </form>
    </div>
  </section>

  {{body}}

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"></script>

</html>