<div>
  <h2>PAGE HOME</h2>
  <form action="/artists" method="GET">
    <input type="text" name="artistSearch" placeholder="search here" value="" />
    <input type="submit" value="GO ARTISTS" />
  </form>
</div>