<div id="searching">
    <h1>Iron Spotify</h1>
    <p>Find music by your favorite artists.</p>
  <div id="theform"> 
    <form action="/artists" method="get">
      <input type="text" name="artist" id="artist" placeholder="your favorite artist">
      <input type="submit" value="search it!" id="button">
    </form>
  </div>
</div>