<div class='home'>
  <form action = "/artists" method="GET" >
    <div class="input-div">
      <input type="text" name="search">
      <button type="submit">Search for an Artist</button>
    </div>
  </form>
</div>

