<div class="fondo">

    <div class="blanco">
        <form action="/searchartist" method="post">
            <input type="text" name="artist" id="">
            <button type="submit">Search for an artist</button>
        </form>
    </div>
</div>