{{> head}}

<body>
  <form action="artists" id="form_spot" class="form" method="get">
    <label for="input" id="label" class="label"></label>
    <input type="text" value="The Beatles" id="input" name="artistName">
    <button class="btn" id="find_artist">Search for an Artist</button>
  </form>
</body>

</html>