<main class="header">
    <div class= "container">
     <form action="/artists" method="post"  >
     <input type="text" name="artistsSearch">
       <button type="submit">Search for an Artist</button>
    </form>
    </div>
  </main>