<div id="home-div">
    <img src="/images/bg-img.jpg" alt="bg-img" id="bg-img">
    <form class="bg-secondary text-center p-4" id="home-form">
        <input type="text" id="user-input" size="45" class="mb-3 p-2 mt-3" placeholder="The Beatles"><br>
        <button id="search-btn" class="btn btn-danger">Search for an Artist</button>
    </form>
</div>