<div class="home">

    <div class="homeInputContainer">
        <form class="homeInput" action="/artists" method="GET">
            <input type="text" name="artist" placeholder="Artist Name">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>

</div>