<div class="form">
  <div class="bcg-form">
    <div>
      <form action="/artists" method="GET">
        <input type="text" class="getArt" placeholder="input a name" name="artists">
    </div>
    <button class='button' type="submit">Get artist</button>
  </div>
</div>