<section id="search">
    <div class="container">
        <div class="row">
            <div class="col s10 push-s1">
                <div class="form-container">
                    <form class="search-form" action="/artists" method="GET">
                        <input type="text" name="artist">
                        <button class="btn" type="submit">Search for an artist</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>