<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="welcome-screen">
        <form action="/artists" method="GET">
            <input type="text" name="artists" id="searchBar" placeholder="Enter artist name">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>