<section class="home">
  <form class="form-inline" action="/artists" method="POST">
    <input class="form-control" type="text" name="artist" id="artist" placeholder="Artist name">
    <button class="btn btn-danger" type="submit">Search for an Artist</button>
  </form>
</form>
</section>