<div class="container form">
<form action="/artists" method="get">
  
  
  <input type="text" name="artist">
  <br>
  <br>
  <button class="btn btn-primary mt-5" type="submit">Search for an Artist</button>
</form>
</div>
