<section id="mainPage">
    <div class="formArtist">
        <form action="/artists" method="GET">
            <input class="inputForm" type="text" name="artist">
            <button class="buttonForm" type="submit">Search for an artist</button>
        </form>
    </div>
</section>