<div id="homepage">
  <div class="block">
<form action="/artists" method="GET">
<input type="text" name="artist">
<button type="submit">Search for an Artist</button>
</form>
<form action="/random-artist" method="GET">
<button>Random Artist!</button>
</form>
<form action="/new-releases" method="GET">
<button>New Releases</button>
</form>
<br>
<form action="/playlists" method="GET">
<input type="text" name="playlist">
<button>Search Playlists</button>
</form>
</div>
</div>




