<div id="background">
  <div class="form-wrapper">
    <form action="/artist" method="POST">
      <input type="text" id="search-artist-input" placeholder="Search for an artist" name="artist">
      <button class="btn" id="search-button" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>