
  <main class="home-container">
    <h1>Search your favourite artists!</h1>
    <form action='/artists' method='GET'>
      <input type='text' placeholder="Els Amics de les Arts" name="artist">
      <button type='submit'>Search for an Artist</button>
    </form>
  </main>
  
