<div>
  <div class="form-wrapper">
    <form action="/artist">
      <input type="text" id="search-artist-input" placeholder="Search for an artist" name="artist">
      <button class="btn" id="search-button" type="submit">Search</button>
    </form>
  </div>
</div>