<div class="background-image">
  <div class="search-bar">
    <form action="/artists" method="GET">
    <input type="text" class="form-control mb-2 mr-sm-2" name="search" id="">
    <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>