<!-- Step 1 | Create a Homepage
Create a simple home page. You'll need a basic index route, that renders a home page.

On this page, you should have a search form. 
This form should direct its query to /artists, and have one input with a name of artist. -->
<div class="home">
        <h1>Spotify</h1>

        <form action="/artist" method="post">
            <input name="artist" placeholder="search"type="text">
            <input type="SUBMIT">
        
        </form>
</div>

