

<div class="background-home">

<form action="/artists", method="GET">
    <div>
    <input type="text" style="background-color: white;" name="artist"> 
    </div>
    <div>
    <button type="submit">Search for an artist</button>
    </div>
</form>
</div>
