<div class="home-page-container">
    <div class="home-page">
        <form action="/artists" method="GET">
            <div>
                <input type="text" value="" name="input">
            </div>
            <div>
                <input type="submit" value="Search for an artist">
            </div>
        </form>
    </div>
</div>