
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action="/artists">
    <input class="form-control mr-sm-2" type="search" value="the beatles" name="queryArtist" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SEARCH</button>
  </form>
</nav>
