<form action="/artists">
  <div class="form-group">
    <label for="InputArtist">Found an artist</label>
    <input name="artist_name" type="artist" class="form-control" id="InputArtist" aria-describedby="emailHelp" placeholder="Write the artist">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>