<div>
  <form id="artist-search" action="/artists">
    <label for="artist-name" ></label>
    <input id="artist-name" type="text" name="artistname" value="the beatles">
    <button id="search-btn">Search for an Artist</button>
  </form>
</div>