<main class="home-container">

        <form action='/artists' method='GET'>

                <input 
                        type='text' 
                        name='artists' 
                        placeholder="Type Artist name to search" 
                        size="80">

                
                <button type='submit'>Search for an Artist!</button>
                
        </form>

</main>