<div class="home">
    <div class="search">
        <form action="/artists" method="GET">
            <input type="text" placeholder="Search for artist" name='artist'>
            <button type="submit">Search For Artist</button>
        </form>
    </div>
</div>