<div class="background">
  <div class="form-wrapper">
    <form action="/artists" class="form-group home-form form-ctr text-center shadow-white">
      <input placeholder="Search for an artist!" class="form-control home-input" type="text" name="artistSearch" id="artist-input">
      <button class="btn btn-outline-danger home-search mt-3" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>