<div class="home-heading">
  <div class="form-wrapper">
    <form class="form-group home-form" action="http://localhost:3000/artists" method="post">
      <input placeholder="Search for an artist!" id="artist-name-input" type="text" class="form-control home-input" name="artist">
      <button type="submit" class="btn btn-danger home-search">Search for an Artist</button>
    </form>
  </div>
</div>