  
   <div class="home-container">
     <div class="form-wrapper">
        <form action="/artists" class="form-group home-form">
          <input placeholder="Search for an Artist!" type="text" name="artist" class="form-control home-input">
          <button class="btn btn-primary home-search" type="submit">Search for an Artist</button>
        </form>
  </div>
  </div>