
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action="/artists">
    <input class="form-control mr-sm-2" type="search" value="Luis fonsi" name="queryArtist" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SEARCH ARTIST</button>
  </form>
  <form class="form-inline" action="/songs">
    <input class="form-control mr-sm-2" type="search" value="Despacito" name="querySong" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SEARCH SONG</button>
  </form>
</nav>

