<div class="searchContainer">
<div class="homePageSearch">
<form class="theForm" action="/artists" method="GET">
<input class="textInput" type="text" name="artistName">
<button class="searchButton" type="submit">Search for an Artist</button>
</div>
</form>
</div>