<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form action="/artist" method="GET">

        <div class="form-group">
          <label for="field1"></label>
          <input type="text" class="form-control" id="field1" name="artist" required>
        </div>
        <button type="submit" class="btn btn-dark">Search for artists </button>
      </form>
    </div>
  </div>
</div>