<div id= "home">
<div class="mainbutton">
<form  class="find" action="/artists" method="get">
    <input type="text" name="theArtistName" id="" placeholder="Search artists here...">
    <button type="submit"> Find artists! </button>
</form>
</div>    
</div>