<h1>Iron Spotify</h1>
<div>
  <form action="/artists" method="get">
    <input type="text" name="artist" id="artist" placeholder="your favorite artist">
    <input type="submit" value="search it!">
  </form>
</div>