<h1>I am home!</h1>

<form action="/artists" method="GET">
  {{!-- <label for="artistx">Search</label> --}}
  <input id="artistx" type="text" name="artistx" value="beatles">

  <input type="submit" value="Search for an artist">
</form>