    <div class="home">
    <form action="/artist" method="GET">
    <div class="search">
    <input type="text" name="artist" class="row" placeholder="The Beatles">
    <input type="submit" value="Searching for an Artist" class="col">
    </div>
    </form>
    </div>