<div class="form">
  <div class="bcg-form">
    <form action="/artists" method="GET">
      <input type="text" placeholder="input a name" name="artists">
      <button type="submit">Get artist</button>
    </form>
  </div>
</div>