<div class="home-container">
	
	<div class="form-box">
		<form action="/artists" method="GET">
			<input type="search" name="artist" placeholder="Search for an Artist..">
			<button>Search for an Artist</button>
		</form>
	</div>
</div>	