<div class="search container flex-d justify-content-center">
  <form class="form" action="/artists" method="get">


    <div class="form-group">
      <input type="text" name="artist" id="artist">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>