<div class="vh-100 row align-items-center">
  <form action="/artist" method="get" class="form-inline md-form form-sm active-purple-2 mt-2 col-6 m-auto">
    <input name="artist" class="form-control form-control-sm mr-3 w-75"  type="text" placeholder="Search" aria-label="Search">
    <button href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
  </form>
</div>