<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Search an artist</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <h1>Ironhacker Be Like</h1>
  <div>
    <form action="/artists" method="get">
      <input id="searchTerm" type="text" name="artist">
      <input type="submit" value="Search for an artist">
    </form>
  </div>
</body>
</html>
