<body background="/images/background.jpeg">

<form id = "band-form"action="/artists" method="GET">
  <label for="artistcontrol"></label>
  <input id = "band-input" type="text" name="artists" id="artistcontrol">
  <br>
  <button id="button-submit"type="submit">Search for an Artist</button>
</form>