<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class='home-container'>
    <article class="form-container">
      <form action="/artists" method='GET'>
        <label for='artist'></label>
        <input type='text' name='artist'>
        <button type='submit'>Search for an artist</button>
      </form>
    </article>
  </div>
    
</body>
</html>