<form action="/artists" class="d-flex align-items-center flex-column" style="margin-top: 280px">
    <input type="search" name="search" class="form-control my-3" placeholder="Search"  style="max-width: 400px">
    <button  class="btn btn-danger my-3" style="max-width: 200px">Search for an Artist</button>   
</form>