<header>
    <div class="fristpage">
    <form action="/artist" method="GET"> 
    <input type="text" name="searchArtist" id="search" placeholder="The Beatles"/> <br>
    <button class="btn btn-danger">Search for an Artist</button>
    </div>
</form>
</header>
