<div class="flex-c-100">
    <div class="flex-column-c w-500px index-input">
        <form action="/artists" method="GET">
        <input type="text" name="artist_name" id=""><br><br>
        <button type="submit" class="submit-btn">Search for an Artist</button>
        </form>
    </div>
</div>



