
<form action="/artists" method="GET">
  <input class="request" type="text" name="artist" placeholder="Your search..." />
  <input class="button" type="submit" value="Search for an Artist" />
</form>
