
    <div class="parent">
        <form action="/artists" method="GET" class="search">
            <input name="artist" type="search" placeholder="Type your favorite artist" class="artist">
            <button id="searchbutton">Search for an Artist</button>
        </form>
    </div>
    


