<div class="parentDiv">
    <div class = "searchDiv">
        <form action="/artists" method="get">
            <input type="text" name = "artistsLookUp" class = "inputArtists" id="searchArtist" placeholder="The Beatles">
            <br>
            <input type="submit" class="submitBtn" value="Search for an Artist">
        </form>  
    </div>
</div>