<h1>This is a Homepage</h1>

<div>
  <form action="/artists" method="GET"  >
  {{!-- <label >Search Terms:</label> --}}
  <input type="text" name="artist">


  <input type="submit" value="Search">
  {{!-- <button type="submit">Search</button> --}}
</form>
</div>