<body class="background-image">
     <div class="row justify-content-center align-items-center height-box">
          <div class="col-6 gradient-background">
               <div class="row justify-content-center align-items-center height-box">
                    <div class="col-8 height-box">
                         <form class="d-flex flex-column align-items-center justify-content-around height-box"
                              action="/artists" method="GET">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                                   name="artist">
                              <button class="btn btn-danger">Search for an Artist</button>
                         </form>
                    </div>
               </div>
          </div>
     </div>
</body>