<form action="/artists" method="GET">

    <label>
        <input type="search" name="search_query" placeholder="Search for an artist!" />
    </label>

    <button>Search for an Artist</button>

</form>