<h2>blah</h2>
<form action="/artists" method="GET">
    <label>
        <input type="search" name="search_query" placeholder="Artist's name" />
    </label>

    <!-- form tags Always need a submit button INSIDE the form-->
    <button type="submit">Search for an artiste</button>
</form>