<div class="main">
    <form action="/artists" method="GET">
        <input type="text" id="search" name="artist" placeholder="Search...">
        <a href="/artists"><button>Search for an Artist</button></a>
    </form>
</div>