Hello!
<div>
    <div class="search-container">
        <form class="form" action="/artists" method="GET">
            <input class="search-box" type="text" name="artistName" placeholder="Search for Artist here…">
            <button class="search-button" type="submit"> Search for an Artist
            </button>
        </form>
    </div>
</div>