<form action="/artists" method="GET">

<label>

<input type="text" name="search">

</label>

<br>

<label>
    <button type="submit">Search your shit(me gusta decir tacos innecesarios)</button>
</label>

</form>