<form method="POST" action="/artists">
  <label for="artist-search">Search for an artist or band name: </label>
  <input type="text" id="artist-search" name="searchquery" placeholder="Artist or band" />
  <button class="">Search Spotify!</button>
</form>