
<main id="main">
  
  <div id="search-bar">
<form action='/artists' method='GET'>
  <input type='text' name='searchartist'>
  <button class="btn" type='submit'>Search for an Artist</button>
</form>
</div>

</main>
