<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <form action="/artists" method="post">
        <div>
            <input type="text" name="artist" placeholder="artist">
        </div>
        <div class="button">
            <button type="submit">Search for an artist</button>
        </div>
    </form>
</body>

</html>