<div class="backgroundTextField">
  <div class="contentTextField">
    <form action="/artists" method="get">
      <input class ="enterText"id="searchTerm" type="text" name="artist">
      <input class ="buttonEnterText" type="submit" value="Search for an artist">
    </form>
  </div>
</div>
