<div class="form-container">
    <form action="/artists" method="POST">

        <input required name="artist" type="text">
        <input value="Search for an artist" type="submit">

    </form>
</div>