<form action="/artist" method="GET">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="userInput" placeholder="Enter an artist name">
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </div>
</form>