<div class="index">
    <form method="GET" action="/artists" id="index-form">
        <input type="text" name="artist" placeholder="Search artist"></input>
        <input type="submit" value="Search" class="index-btn">
    </form>
</div>