   

<body>
    
    <div class="main-container">
        <div class="search-box">
    <form class="search-items" action='/artists' method='GET'> 

        <label for=''></label>
        <input type='text' name='artists'>

        <button type='submit'>Search for an Artist</button>
    </form>
    </div>
    </div>
    
</body>

 