<h2> Search </h2>
<p> We provide you with the best music in the world</p>

<form method="GET" action="/artists">
    <input type="search" name="artist" placeholder="Search your favourite artist" />
    <button>Search</button>
</form>