<div>
    <form class="search" action="/artists" method="GET">
        <input type="text" name="artist" id="" placeholder="Search for an artist">
        <a href="">Search for an Artist</a>
    </form>
</div>