<form action="/artists" method="get">
    <input type="text" class="form-artists" name="artist" placeholder="Type artist name..." value="{{ name }}">
    <div class="d-flex">
        <button type="submit" class="btn btn-primary mr-3">Search for an Artist</button>
    </div>
</form>