
<div class="index-search w-25 h-50 p-4 mx-auto">
<h1 class="text-center font-weight-bold mb-4">{{title}}</h1>
<form class="form-inline my-2 my-lg-0 mx-auto" action="/artist" method="GET">  
    <input type="text" class="form-control" id="artist" name="artist" placeholder="artist">
    <button type="submit" class="btn btn-success my-2 my-sm-0">Buscalo</button>
</form>
</div>



