<body>
    <div class="search-div" >
        <form method="GET" action="/artists">
    <input type="search" id="search-input" placeholder="Search" name="search"><br>
    <button class="btn btn-primary"> Search for an Artist </button>
    </form>
    </div>
</body>