<div id="landing">
    <div id="searchBox">

        <form action="/artists">
            <input type="text" name="artist" value="Enter artist">

            <input type="submit" value="Submit">
        </form>
    </div>
</div>