<div class="index-container">
  <div class="form-wrapper">
    <form class="home-form" action="/artists" method="get">
      <input type="text"name="artist" class="form-control" placeholder="Search for an artist!"><br>
      <button type="submit" class="btn btn-danger">Search for an Artist</button>
    </form>
  </div>
</div>