<div class='bg-image'><img src={{image}} /></div>

<div class='container center-align home'>
    <div class="row">
        <form class="col s12" action="/artists" method="GET">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input placeholder="Eminem" id="Artist" type="text" class="validate white-text" name='artist'>
                    <label for="Artist">Artist</label>
                </div>
            </div>
            <div class='row'>
                <div class="col s6 offset-s3">
                    <button class="waves-effect waves-light btn" type='submit'>Search</button>
                </div>
            </div>
        </form>
    </div>
</div>