<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div>
    <div>
        <form action="/artist" method="POST">
        <label for="artist"></label>
        <input type="text" name="artist">
        <br>
         <label for="artistInfo"></label>
        <input type="text" name="artistInfo">
        <br>
        <button type="submit">Search for Artist</button>
        </form>
    </div>
</div>
