<div class="home-bg">

    <div class="wrapper">
        <form action="/artists" method="GET" class="form">
            <input id="searchBar" type="text" name="q">
            <button id="searchBtn" type="submit">SEARCH FOR AN ARTIST</button>
        </form>
    </div>
</div>