<div class="container pt-3">
    <h1>Find artist</h1>
    <form action = "/artists" method="get" class="form-block">
        <input type="text" name="search" placeholder="Your artist" class="form-control">
        <button type="submit" class="btn btn-danger">Search artist</button>
    </form>
</div>