<div class="search-form">  
    <form action='/artists' method='get'>
        <label for=''></label>
        <input type='text' name='artists'>
    
        <button type='submit'>Search for an artist</button>
    </form>
  </div>