<form class="form-inline" action="/artists" method="GET">
  <div class="form-group mb-2">
    <input type="text" class="form-control" name="search" placeholder="Search for an artist..">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Go</button>
</form>