

<form class="" action="/artists" method="GET">

    <label for="artist"></label>
    <input type="text" id="artist" name="artist" placeholder="Artist Name">

<button>Search for an Artist</button>
</form>
