<div class="search-artist d-flex justify-content-center text-center align-items-center">
  <form action="/artists" method="post">
    <input type="text" name="artist" placeholder="Artist"><br>
    <button type="submit">Search for an artist</button>
  </form>
</div>