<div id="background">
  <form action="/artists" id="search-form" class="index-form">
    <label for="artist"></label>
    <input type="text" name="artist" placeholder="Search for an artist" class="form-control form-control-lg">
    <button type="submit" class="btn btn-success">Search for an Artist</button>
  </form>
</div>