<h1 id="main-title">Spotify Web Searcher</h1>
<div class="searcher shadow p-3 mb-5 bg-light rounded">
  
  <form action="/artist" method="get">
    <div class="form-row">
      <div class="col-9 m-auto">
        <input type="text" class="form-control" placeholder="" name="artist">
      </div>
    </div>
    <div class="form-row m-auto">
      <div class="col mt-4">
        <button type="submit" class="btn">Search for an artist</button>
      </div>
    </div>
  </form>
</div>