<div class="index">
    <form class="search-form" action="/artist" method="GET">
        <input type="text" name="search">
        <br>
        <button type="submit" class="btn btn-danger">Search for an Artist</button>
    </form>
</div>