<p>there should be a form here: </p>
<form action="/artists">
    <label for="artists_name">Search for artist :</label>
    <input id="artists_name" type="text" name="name">

    <input type="submit">
</form>