<div class="container pt-3">

<h1>Find an artist</h1>

<form action = "/artists" method="get" class="form-block">
    <input type="text" name="search" placeholder="The Beatles" class="form-control">
    <button type="submit" class="btn btn-danger">Search artist</button>
</form>

</div>