<div class="index-back">
    <div class="index-form-container">
        <form action="/artists" method="GET">
           <input type="text" name="artist">
            <button>SEARCH FOR AN ARTIST</button>
        </form>
    </div>
</div>