<form action="/artists" method="get">
    {{!-- this is the action where you want the route to go on submit --}}
    <label for="artistName">Search by Name:</label>
    <input type="text" name="artist" id="artistName">
    <button type="submit">Search</button>
</form>