<section id='index-container'>
    <form action='/' method='POST' id='search-box'>
        <input type='text' placeholder='Artist Name' id='search-bar' name='artist'>
        <button id='search-btn' type='submit'>Search for an Artist</button>
    </form>
</section>