<div class="main-index">
  <div class="form-format">
    <form action="/artists" method="GET">
      <input type="text" name="search" id="search">
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>