<div class="container">
  <div class="search-box">
    <form action="/artists" method="get">
      <input name="q" type="text" placeholder="The Beatles">
      <button class="search-btn" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>