 <form action="/artists-search" method="get">
    <input id="artists-search"{{!-- this name we're going to use in our app.jss app.get **searchArtist**  --}} 
    type="text" name="artistName" {{!--this name is important because we re going to use in app.js when we're trying to search our input  --}}
    placeholder=" Search... ">
    <button >Search</button>
    </form>

    