 
 <div class="input">
<form action="/search" method="GET">
    <input type="text" name="artist" class="search" placeholder="Artist Name!">
    <input type="submit" value="Search for an Artist!" class="submit">
</form>
</div>

