<div class="indexBg">
  <div class="search-container">
    <form action="/artists">
      <input class="artist-search" type="text" name="artist" id="" placeholder="The Beatles">
      <button class="artist-search__btn" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>
