<div class="indexContainer">
<div class="forms">
<form action="/artists" method="get" class="form-example">
  <div class="form-example">
    <input type="text" name="artists" id="artists" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Search for an Artist">
  </div>
</form>

</div>
</div>

{{!-- 

{
artists: {
href: "https://api.spotify.com/v1/search?query=nykolle&type=artist&offset=0&limit=20",
items: [ ],
limit: 20,
next: null,
offset: 0,
previous: null,
total: 0
}
} --}}