<section class="landingpage">
<div id="formsection">
<form id="sendingform" action='/artists' method='GET'>
    <label for=''></label>
    <input type='text' name='artists'><br>
    <button type='submit'>Search for an Artist</button>
</form>
</section>
</div>