<div class="artist-containeer">
    <div class="row">
        <div class="col-sm sm1">
            
        </div>
        <div class="col-sm sm2">
            <form action="/artist" method="get">
                Artist <input name="name" placeholder="" />
                <button class="btn-artist btn btn-secondary" type="submit">Search for Artists</button>
            </form>
        </div>
        <div class="col-sm sm3"></div>
    </div>
</div>