<div class="main">

  <div class="form">
    <form id="sercher" action="/artist" method="post">
  <label for="artist">Serch an artist: </label>
  <input id="artist" type="text" name="artist">
  <input type="submit" value="serch artist">
  <input type="hidden" value="artist" name="hiddenparam">
  </div>
</div>
