<div class="main">
  <form action="/artist" class="main__input">
    <label class='main__input__label' for="searchArtist"></label>
    <input class='main__input__input' type="text" name="searchArtist" id="artist" placeholder="Search...">
    <input class="button main__input__button btn btn-primary" type="submit" value="Search Spotify">
  </form>
</div>
