<section>
  <form action="/artists" method='get'>
    <input type='text' name='name' placeholder='Your favorite artist'/>
    <input type='submit' value='Search for an artist'/>
  </form>
</section>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <title>IRONFY</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/artists'">Artist</a>
      <a href="/album">Albuns</a>
    </nav>
  </header>

  {{{body}}}

</body>
</html>