<div id="home-body">
  <div id="home-search-cont">
    <form action="/artists" method="get">
      <input type="search" name="artist" id="index-input" placeholder="Search...">
      <button type="submit" id="index-button">Search for an artist</button>
    </form>
  </div>
</div>