<div id="index">
  <img id="landing" src="images/landing.jpg" alt="">
  <div class="centered">
    <form id="index-form" action="/artists" method="GET">
      <h1>Who u r looking for?</h1>
      <div class="form-group">
        <input type="text" name="artist" placeholder="Type your artist here" placeholder="search way">
      </div>
      <button type="submit" class="btn btn-primary">Search for Artist</button>
    </form>
  </div>
</div>