<div class="jumbotron">
    <form action="/artists" method="POST">
        <input class="field" type="text" value="Pablo Lopez" name="name" placeholder="Enter artist name">
        <input class="btn" type="submit" value="Search for an Artist">
    </form>
</div>