<div class="wholePage">
<form action="/artists" class="artistSearch">
    <div class="artistBox">
        <input type="text" class="artistInput" name="artistName" >
    </div>
<button type="submit" class="buttonStart">Search for artists</button>
</form>
</div>