<body>
  <div class = "Search">
<form action="/search" method="GET">
  <label for=""></label>
  <input type="text" name="artist" id="">
  <button type="submit">Search for an Artist</button>
</form>
</div>
</body>
