
    <div>
        <form action ="/artists" method="GET">
            <label for="name">
                Nombre Artista
            </label>
            <input type="text" name="name" />
            <button type="submit">
                Sear for an Artist
            </button>
        </form>
    </div>
