<section id="searchDiv">
  <h4>Search your favorite artist/band</h4>

  <form id="search" action="/artists" method="GET">
    <input id="first-name-input" type="text" name="artist">
    <input class="btn btn-dark btn-lg" type="submit" value="Search">
  </form>
</section>