<form action="/artists" method="GET">
  <div class="form-row">
    <div class="form-group col-10">
      <div class="input-group">
        <input type="text" class="form-control" name="name" placeholder="Type book name..." value="{{ name }}">
      </div>
    </div>
    <div class="form-actions col-2">
      <button type="submit" class="btn btn-block btn-primary">Search for an Artist</button>
    </div>
  </div>
</form>