<div class="bgImageHomeBG">
</div>
<div class="bgImageHome">
    <form action="/artists" method="GET">
        <input type="text" name="searchInput" id="musicSearch">
        <button type="submit">Search for an Artist</button>
    </form>
</div>