<div class="container-fluid d-flex justify-content-center align-items-center background-concert">
  <form class="form" action="/artists" method="get">
    <input type="text" name="q" id="artistName" placeholder="Search by name:">
    <button class="btn btn-danger" type="submit">Search</button>
  </form>
</div>