<section>
  <form action="/artists" method="GET">
    <input type="text" name="query" placeholder="Insert Artists, albums or tracks...">
    <input type="submit" class="btn" value="Search for an Artist">
  </form>
</section>