<div class="container">
    <form action="/artists" method="POST">
        <div class="boxWhite">
            <input id="searchArtist" name="searchArtist" type="text" placeholder="Search for an Artist">
            <button type="submit">Search for an Artist</button>
        </div>
    </form>
</div>
