<form action="/artists" method="GET">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter artist name..." name="artist" value="">
  </div>

  <div class="d-flex">
    <button type="submit" class="btn btn-primary mr-3">Search for an Artist</button>
  </div>
</form>