<div class = "backgroundArea">
  <form action="/artist" method="GET" class="inputArea">
    <input type="text" class="inputArtist" name="nameArtist" placeholder="  Search for an artist!">
    <button class="buttonSearch">Search for an Artist</button>
    {{!-- <button class="buttonSearch"><a href="/artist" class="linkArtist">Search for an Artist</a></button> --}}
  </form>
</div>