<div class="container">
    <div class="form-field">
        <form action="/artists" method="get">
        <input type="text" name="artist">
        <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>