<div class="container menu-back">
    <div class="row">
        <div class="col menu">
            <div class=" row white d-flex justify-content-center align-items-center ">
                {{!-- <h1>Spotify App</h1> --}}
                <img src="../images/logo-spotify.png" height="100px" width="250px" alt="Logo">
                <div class="form">
                    <form action="/artists" method="GET">
                        <input id="artist" type="text" name="artist" class="search-bar"
                            placeholder="Search for Artists">
                        <button type="submit" class="btn-menu">
                            Login
                        </button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>