{{!-- <div class="container-fluid">



    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 outer-form text-center">


                <form action="/artists" method="GET" class="form-wrap ">
                    <input type="text" name="search" placeholder="Search for your favorite artist!"
                        class="form-control form-control-lg form-control-borderless"><br>
                    <div>
                        <input class="btn btn-lg btn-success" type="submit" value="Search for artist">
                    </div>
                </form>


            </div>
        </div>
    </div> --}}




{{!-- </div> --}}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form action="/artists" method="GET" class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input type="text" name="search" placeholder="Search for your favorite artist!"
                            class="form-control form-control-lg form-control-borderless">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
            <br>

        </div>
        <!--end of col-->
    </div>
</div>