<div class="background">
  
  <div class="white">
    <form action="/artists" method="GET" class="form">

      <input class="input" type="text" name="artist" id="" placeholder="Camilo Sesto in our 💔">

      <button class="btn-index" type="submit">SEARCH FOR AN ARTIST</button>
    </form>
  </div>
</div>