<div class="home-container">
    <div class="search-div">
        <form action="/artists" method="GET">
            <input type="text" name="artist" placeholder="Search for an Artist" class="search-bar">
            <button type="submit" class="search-btn">Search for an Artist</button>
        </form>
    </div>
</div>