{{!-- <h1>home</h1>

<form class="form-inline mr-auto" action="/artists">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"name="artist">
  <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
</form>


 --}}
<div class="container mt-5">
  <form action="/artists">
    <div class="form-group">
      <input type="text" class="form-control"  placeholder="The Beatles" name="artist">
    </div>
    
    <button type="submit" class="btn btn-primary">Search for an Artist</button>
  </form>
</div>