<div>
  <div>
    <form action="/artist" method="POST">
    <label for="text"></label>
    <input id="artist" type="text" name="artist">
    <input type="submit" value="Search for artist">
    </form>
  </div>
</div>