<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Spotify</title>
</head>

<body>
    <section class="form">
        <form action="/artists" method="POST" class="form-elements">
            <input class="input-form" type="search" placeholder="Type here the artist/group name" name="artist">
            <button type="submit">Search for an artist</button>
        </form>
    </section>

</body>

</html>