<div class='home'>
    <form action="/artists" method="GET" style="margin-bottom: 100px; border-bottom: 5px solid black;">
        <input type="text" name="artistName" id="">
        <button type="submit">Search for an Artist</button>
    </form>
</div>    
    