{{!-- main homepage --}}
<form id="home-search" method="get" action="artists" class="form">
    <input id="artistName" type="text" name="artistName" class="input" value="Queen">
    <button id="artistSearch" class="btn small">Search for Artist</button>
</form>