<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotify Ironhack</title>
</head>
<body>
<form action="/artists" method="GET"><input type="text" name="artist" placeholder="Your search..." /><input type="submit" value="Search for an Artist" /></form>
</body>
</html>