<div class="main">

  <div class="">
    <form action="/artists" method="get">

  {{!-- If the user type "Max", it will add in the url: "q=Max" --}}
  <input type="text" name="a">

  <button type="submit">Search</button>
</form>
  </div>
  <div class="button">

    <button>Hello</button>

  </div>
  </div>
</div>