<div class="search-container">
  <div class="form-container">
    <form action="/artists">
      <input type="text" name="artist" placeholder="Search Artists"></label>
      <button type="submit">Search</button>
    </form>
  </div>
</div>