<form class="form-inline my-2 my-lg-0" action="/artists" method="POST">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" name="artist" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>