<div class="home-backgroud">
    <div class="white-box">
        <form action="/artist" method="GET">

            <input type="text" name="artistInput">
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>