

<div class="submitt-form">
  <div class="index-container">
    <div class="card" >
      <div class="card-body">
        <form class ="form" action= "/artist" >
          <input  class="search" type=" text" name="artist"><br>  
          <input  class="button" type="submit" value="Search for an Artist">
        </form>
      </div>
    </div>
  </div> 
</div>

