
<div class="background">
    <div class="input-box">
        <form action="/artists" method="GET">
    <input type="text" name="q" placeholder="Search for a song"/>
    <button type="submit">Search</button>
</form>

</div>

</div>