<div class="search-div content-container">
    <form action="/artists" method="get">
        <input name="artist" class="search-bar" type="text" placeholder="Artist">
        <input id="submit-button" type="submit" value="Search">
    </form>
</div>