<div class="form-container">
    <form action="/artists" method="POST">
        <input type="text" name="artistName" placeholder ="Enter artist name" required />
        <button type="submit">Search for Artist</button>
    </form>
</div>