<div class="form-wrapper">
    <div class="form-div">
        <form action='/artists' class="home-form" method='GET'>

            <input type='text' name='artist'>
            <button class="home-search" type='submit'>Submit</button>
        </form>
    </div>
</div>