<div class="search-page">
    <form class="search-box" action="/artists" method="get">
        <label for="artistSearch"></label>
        <input type="text" name="artist" id="artistSearch" placeholder="Search for an Artist!">
        <button type="submit">Search for an Artist</button>
    </form>
</div>