<section class="index-wrapper">
    <section class="form">
        <form action="/artists" method="POST" class="form-elements">
            <input class="input-form" type="search" placeholder="Type here the artist/group name" name="artist">
            <button type="submit">Search for an artist</button>
        </form>
    </section>
</section>