<div class="bg-img">
  <div class="search-box">
    <form action="/artists" method="GET">
    {{!-- name is property of get request --}}
      <input type="text" name="name" id="search">
      <input type="submit" value="Search for an Artist">
    </form>
  </div>
</div>