<div class="index">
  <form action="artist" method="GET" class="form">
    <label for="">
        <input class="uk-input uk-form-width-medium" type="text" placeholder="e.g Lady Gaga" type="text" name="artist" id="">
    </label>
    <div>
    <button class="uk-button uk-button-default" type="submit">Search for an Artist</button>
    </div>
  </form>
</div>