   

<body>
    <main class="main-index">
    <div class="search-container">
    <form action='/artists' method='GET'> 

        <label for=''></label>
        <input type='text' name='artists'>

        <button type='submit'>Search for an Artist</button>
    </form>
    </div>
    </main>  
</body>

 