<div class="main">
    <div class="blur">
        <form action="/artists" method="GET">
            <input type="text" id="search" name="artist" placeholder="Search ...">
            <button type="submit">Search</button>
        </form>
    </div>
</div>