<p>index</p>

<form action="/artist" method="GET">

    <label for="artistControl">Artist</label>
    <input type="text" name="requestArtist" id="artistControl">
    <button type="submit">Search for an Artist</button>
    
</form>