<main class="home">
    <section class="container">
        <form class="search" method="POST" action="/artists">
            <input type="text" placeholder="Enter Name Here..." name="artistSearch">
            <input type="submit" value="Search for an Artist">
            </div>
        </form>
    </section>
</main>