<div class="homepage">

    <div class="search-artist">
        <form action="/artist" method="GET">
            <input class="input" type="text" name="search"><br>
            <button class="btn" type="submit">Search for an artist</button>
        </form>
    </div>

</div>