<div class="back">

  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex  align-items-center center">
      <form action="/artist">
        <div class="form-group ">
          
          <input type="text" class="form-control" id="artist" name="artistSerch"
            placeholder="artistSerch">
        </div>
        
        <button type="submit" class="btn btn-primary">Serch for Artist</button>
      </form>

      </div>
    </div>

  </div>
 
</div>