<section class="home">
    <form action="/artists">
        <input type="search" placeholder="Introduce el nombre del artista" name="artist">
        <button type="submit">Search for an Artist</button>
    </form>
</section>
