<div class="home-container">
  <div class="form-wrapper">
    <form class="form-group home-form" action="/artist" method="get">
      <input class="form-control home-input" type="text" name="artist" placeholder="Search for an artist!">
      <button class="btn btn-primary home-search" type="submit">Search!</button>
    </form>
  </div>
</div>
