<div class="searchbox-container">
  <div class="searchbox">
    <form action="http://localhost:3000/artists" method="post">
      <input type="text" name="artistname" value="">
      <input type="submit" name="searchsubmit" value="Search for an artist">
    </form>
  </div>
</div>
