<h1>Spotify search!</h1>

<div>

    <form id="artist-search-form" action="./artists" method="GET">
        <input type="text" name="artist" id="artist-input" placeholder=" Search artists..." autocomplete="off">
    </form>



</div>