
<div class="landingpage-container">
  <div class="artist-search-form">
    <form action="/artists" method="GET"  >
      <input class="search-input" type="text" name="artist" placeholder="The Doors">
      <input class="search-button" type="submit" value="Search for an Artist">
  </form>
  </div>
</div>