<div class="index-container">
    <div class="search-box">
        <form action="/artists" method="get">
            <input type="text" name="artist">
            <button type="submit" class="btn btn-success">Search for an Artist</button>
        </form>
    </div>
</div>