<main class="search-main">
    <div class="search-div">
        <!-- this will be refered back to in app get-->
        <form class="search-div "action="/search/" method="GET">
            <input name="q" type="search">
            <button class="btn btn-danger" type="submit">Search for an Artist</button>
        </form>
    </div>
</main>

