<div class="home_container">

    <div class="form_group">
        <form class="form" action="/artists" method="POST">
            <label for= "artists"></label>
            <input class="field" type="text" name="artists" id="" placeholder =Search for and artist>
            <button class="btn" type="submit">Search for and Artist</button>
        </form>
    </div>

</div>