<div class="wrapper">
  <form action="/artists" method="">
    <div>
      <label for="search">Artist Name</label>
      <input type="text" name="artistQuery" id="search" autocomplete="off">
    </div>
    <button type="submit">SEARCH</button>
  </form>
</div>