<div class="row">
    <div class="col-3 center-div">
        <div class="text-center ">
            <div class="form-group row">
                <div class="col-10">
                    <form action="/artists" method="post">
                    <div class="fondo_blanco">
                        <input class="form-control" type="text" name="term" id="example-text-input">
                        <button type="submit" class="btn btn-danger" id="btn_search">Search</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>