<div class="index-container">
  <div class="form-container">
    <form action="/artists" class="form-group" method="POST">
      <input placeholder="Search for an artist!" class="form-input" type="text" name="artist" id="artist-input">
      <button class="search-button" type="submit">Search for an Artist</button>
    </form>
  </div>
</div>