<div id="home-container">
  <form id="search-form" action="/artists" method="GET">
    <input id="search" type="text" name="artist">
    <button type="submit">Search by Artist</button>
  </form>
</div>