<div class="wrapper">
  <form id="search-form" class="search-form" action="artists">
    <input id="search-bar" type="text" name="name" class="input" value="The Beatles" required>
    <button id="search-btn" class="btn">Search for an Artist</button>
  </form>
</div>