
<div class="container">
    <div class="form-container">
        <form method="GET" action="/artists">
            <input type="text" name="name" placeholder="Artist name...">
            <button>Search for the artist</button>
        </form>
    </div>
</div>