<main class="cover">
  <div class="container">
    <div class="search-container m-5 p-5">
      <form action = "/artists" method="GET">
        <div class="form-group">
          <label for="inputArtist">Search on Spotify for an artist</label>
          <input type="text" name="artist" class="form-control" id="inputArtist" placeholder="Enter an artist">
        </div>
        <button type="submit" class="btn btn-danger">Search for an Artist</button>
      </form>
    </div>
  </div>
</main>


