<div class="home-container">
  <div class="search-container">
    <form class="artistForm" action="/artists" method="GET">
      <input class="search-box" type="text" name="artist" placeholder="Search Artists...">
      <input class="searchButton" type="submit">
      </input>
    </form>
  </div>
</div>