
<div class="main-background">
    <div class="container">
        <form action="/artists" method="GET">
            <div class="form-group" style="width: 125%;">
                <input type="text" class="form-control" placeholder="Enter artist name..." name="artist" value="">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search for an Artist</button>
            </div>
        </form>
    </div>
</div>