<div id="searchContainer">
  <form action="/artists" id="searchForm" method="post">
    <input type="text" id="searchQuery" name="searchArtist" placeholder="Search for an artist!">
    <br>
    <br>
    <button type="submit" id="submitButton">Search for an Artist</button>
  </form>
</div>


