{{!-- <div class="container-home">
  <form action="/artists">
    <input id="artist-name" type="text" name="artist">
    <button type="submit">Search</button>
  </form>
</div> --}}

<div class="container-home">
    <form action="/artists">
    <input type="text" name = "artist" class="form-control" id="artist-name" placeholder="Search for an artist">
    <button type="submit" class="btn btn-primary">Search for Artist</button>
    </form>
  </div>
