<div class="search-box">
  <form action="/artists" method="GET">
    <input type="search" name="artistInput" placeholder="Search for artist">
    <button>Search for an Artist</button>
  </form>
</div>