<div class="home-container">
    <div class="form-wrapper">
        <form class="form-group home-form" action="/artists" method="get">
            <input type="text" name="artist" class="form-control home-input" id="artist-input"
                placeholder="Search for an Artist!">
            <button class="btn btn-primary home-search" type="submit">Search for an Artist!</button>
        </form>
    </div>
</div>