<section class="background">
    <section class="index">
        <form action="/artists" class="form">
            <input class="searchbar" placeholder="Search for an artist!" type="text" name="artistS">
            <input class="btnsearch" type="submit" value="Search for an Artist">
        </form>
    </section>
</section>