<h2>Spotify Search</h2>

<!-- form tage ALWAYS need action="" and method="" attributes
      they control which route tou go to when you submit -->
<form action="/artists" method="GET">
  <!-- Input tags ALWAYS need a name="" attribute 
  name controls what the user text is called when you submit -->
  <input type="search" name="search_query" placeholder="Search for an artist..." />

  <!-- form tags ALWAYS need a submit button INSIDE the form -->
  <button>Search for an artist</button>
</form>