<section>
    <form action="/artist" method="GET">
        <input id="text" type="text" name="artist" placeholder="Search an artist">
        <button type="submit">Search for an Artist</button>
    </form>
</section>