<div class="container-index">
  <form class="form-index" action="/artists" method="GET">
    <input type="input" name="artist" id="">
    <button type="submit">Search for an Artist</button>
  </form>
</div>