<div class="container">
    <div>
      <form action="/artists" method="GET">
        <input type="text" name="artist" placeholder="Type an artirst">
      </form>
    </div>
    <div>
      <button type="submit">Search for an Artist</button>
    </div>
  </div>