<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">

                    <form action="/artist" method="POST">
                        <label for="artist"></label>
                        <input type="text" id="artist" name="artist">
                        <button class="btn btn-primary">Search for an Artist!</a>
                    </form>

                    <br>
                </div>
            </div>
        </div>
    </div>
</div>