<div class="home-container">
  <div class="search-form">
    <form action="/artists" method="GET">
      <input id="spotify-search" type="text" placeholder="enter an artist name" name='artists'>
      <button type="submit">Buscar</button>
    </form>
  </div>

</div>