<form class="" action="/artist-search" method="get">
  <label for="artist">Artist Search</label>
  <input type="text" id="artist" name="theArtistName" placeholder="Artist Name">

  <button>Submit</button>
</form>