<div class="div-container">
    <div>
        <form action="/artists" method="GET">
        <input type="text" name="artist" id="">
        <a href="/artists">
        <button type="submit">Ver artistas</button>
        </a>
        </form>
    </div>
</div>
