<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Spotify app</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="stylesheets/style.css?v=1.0">

</head>

<body class='bg-light'>
    <div>
        

        <img src="https://source.unsplash.com/1600x900/?concert" width="100%" height="100%">

        <div class='div1 jumbotron p-5 m-5'>

            <form  action="/artists">
                <div class="form-group">
                    <label for="exampleInputEmail1">Search Artist..</label>
                    <input name='artist' type="input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Artist ..">
                    <small id="emailHelp" class="form-text text-muted">Search you favorite artist</small>
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>

        </div>

    </div>
</body>
</html>