<form action="/artist" method="get">
    <label for="artistName">Search for an Artist</label>
    <input type="text" name="artist" id="artistName" placeholder="artist">
    <button type="submit">Search</button>
</form>