
<form action="/artist" method="get">
    <div class="form-group">
        <label for="artist-input"></label>
        <input name="artist" type="text" class="form-control" id="artist-input" placeholder="Search for an artist">
    </div>
    <button type="submit" class="btn btn-dark">Search for an Artis</button>
</form>
