<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Document</title>
</head>

<body>

    <form method="get" action="/artists">
        <label for="name"></label>
        <input type="text" name="name" id="name" required>
        {{!-- required is when you push a button it does the form action --}}
        <button class="btn-search">Search for an Artist</button>
    </form>
</body>

</html>