<div class="card">
  <div class="card-body">
<form action="/artists" method="GET">
  <label for=""></label>
  <input type="text" name="artists" id="">
  <button class="btn btn-danger"> Search for an Artist! </button>
</form>
  </div>
</div>
