<form action="/artist">
<label for="artist">Artist</label>
<input id="artist" type="text" name="artist" placeholder="Search Artist Here">
<button type="submit">
	Search for an Artist!
</button>
</form>

