<h1>{{title}}</h1>
<form action = "/artists" method="GET">
  <input type="text" name="search" placeholder="Introduce artist name">
  <button type="submit"  class = "btn btn-danger">Search for an Artist</button> 
</form>
