<div class="container-fluid index">
  <div class="row">
    <div class="form-container">
      <form class="form-home" action="/artists" method="GET">
        <input class="form-control home-input" type="text" placeholder="Search for an artist!" , name="artists">
        <button class="form-control home-search" type="submit">Search for an Artists</button>
      </form>
    </div>
  </div>
</div>