<h1>Form Page</h1>

<form class="" action="/artists" method="get">
  <label for="artist">Artist Search</label>
  <input type="text" id="artist" name="artist" placeholder="Artist Name">


  <button>Submit</button>
</form>