<div class="div-container"><div class="search">
<form action="/artists" method="GET">
    <input class="input-search" type="text" name="artist">
    <input class="boton-search" type="submit" value="Search for an Artist">
</form>
</div>
</div>