Hi!!! Look it's working :)

<form class="form-inline md-form mr-auto mb-4" action="/artists" method="GET">
  <input name="myArtist" class="form-control mr-sm-2" type="text" placeholder="Search for an Artist"
    aria-label="Search">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search Artist</button>
</form>