<h1>Spotify</h1>
<form action="/artists" method="GET">
  <label for="artistcontrol">Artist</label>
  <input type="text" name="artists" id="artistcontrol">
  <br>
  <button type="submit">Search for an Artist</button>
</form>