<!-- form action -->

<!-- user-info-form.hbs -->
<form action="/artists">
    <label for="artist-input">Artist</label>
    <input id="name-input" type="text" name="name">

    <button type="submit">Submit</button>
</form>