<div>
    <form action="/artist" method="get">
        <!-- en method se pone cualquiera de los dos verbos(también llamados metodos) que queramos usar-->
        <!-- get es para enviar, post manda y recibe-->
        <input type="text" name="artist" id="artist" />
        <!--la propiedad(modificador) name es el nombre que se la va a dar al key: -->

        <div>
            <a href="/artist">
                <button type="submit" name="search">Search for an artist</button>
            </a>
        </div>
    </form>
</div>