<form id="form" action="/artists"> 
  <div class="row">
    <div class="col">
      <input type="text" name="artist" class="form-control" placeholder="Artist">
    </div>
    <div class="col">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>
</form>