<div class="formcontainer">
  <form action="/artist" method="GET" id="searchform">
      <input type="text" name="artist" id="">
      <button type="submit">Search for an Artist</button>
  </form>  
</div>