<h2>Music</h2>

<form action="/artists" method="GET">
  <input type="text" name="name" placeholder="Search...">
  <input type="submit" value="Search">
</form>

{{!-- {{#each artists as |artist|}}
<a href="/products/{{artist._id}}">{{artist.name}}</a>
<br>
{{/each}} --}}
