
  <div class="home-page">
  <div class="search">
  <form class="form" action="/artist" method="POST">
    <input class="input" type="text" name="artist" placeholder='artist'>
    <button class="btn" type="submit">Search Artist</button>
  </form>
  </div>
  </div>
  