Hello Spoty
<form action="/artists" method="POST">
<div>
  <input type="text" name="artist" placeholder="Buscar Artista">
</div>
<div>  
  <button type="submit">Buscar Artista</button>
</div>
</form>


