<form action="/artists">
  <div class="form-group">
    <label for="artist-input">Intoduce artista</label>
    <input name="artist" type="text" class="form-control" id="artist-input">
  </div>
  <button type="submit" class="btn btn-dark">Buscar</button>
</form>