<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    {{!-- me tomara del servidor any artist --}}

    <form action= '/artists' method="GET"> 
<input type="text" name='artist'>
<button type="button">Search for an Artist</button>


    </form>
</body>
</html>