<!--<div class="index-container">
 <div class= "search-info">
     <form action="/artist" method='GET'>
  Search song<br>
  <input id="search" type="text" name="search" placeholder="Search for your artist!" >
  <input id="submit" type="submit" value="Submit">
</form> 
     
 </div>
</div>!-->




<div class="container-fluid">
	<div class="row bigbox">
		<div class="col-sm-12">
            <div class="row">
                <div>
                <img id="logo" src="images/logo.png" alt="">
                </div>
                <div class="col-sm-12 text-center text-white outer-form">
                         <form class="form-wrap" action="/artist" method='GET'>
                        Search Artist<br>
                        <input id="search" type="text" name="search" placeholder="Search for your artist!" >
                        <input id="submit" type="submit" value="Submit">
                        </form> 
				</div>
			</div>
        </div>
    </div>
</div>