<div class='main-container'>
    <img src="/images/music-image.jpg" alt="concert image">

    <div class='main-text'>
        <form class='form' action="/artists" method="GET">
            <input type="text" name='artist' placeholder="Search">
            <button type='submit' class='search-btn'> Search for an Artist </button>
        </form>
    </div>
</div>