<div id="main">
    <div class="search-box">
        <form action="/artists" class="search-form" method="get">
            <input type="text" class="form-control" placeholder="Search for an Artist!" name="artist"></input>
            <button type="submit" class="form-button">Search for Artist</button>
        </form>
    </div>
</div>