<div class="index-search w-25 h-50 p-4 mx-auto">
  <h1 class="text-center font-weight-bold mb-4">{{title}}</h1>
  <form class="form-inline my-2 my-lg-0 mx-auto" action="/songs" method="GET" >
    <input class="form-control mr-sm-2 w-75" type="search" placeholder="Artist search...">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search it!</button>
  </form>
</div>