<div class="landing-page">
    <div class="container">
        <div class="field">
            <form action="/artists" method="GET">
                <input type="text" name="artistName">
                <button type="submit">Type in artist's name!</button>
            </form>
        </div>
    </div>
</div>