<div class="main">
    <img class="bg" src="/images/spotify-img.jpg" alt="">
    <div class="blur">
        <form action="/artists" method="GET">
            <input type="search" id="search" size="48" name="artist">
            <button type="submit">Search</button>
        </form>
    </div>
</div>