   <form action="/artists" method="get">
       <div class="form-group">
          <label for="search"> </label>
           <input name="search" type="text" class="form-control" id="search">
                  
       </div>
       <button type="submit" class="btn btn-dark">Search for an artist</button>
  </form>
