<div class="body-image d-flex justify-content-center align-items-center">
  <div class="search d-flex justify-content-center align-items-center">
    <form class="d-flex flex-column justify-content-center align-items-center"
      action="/artists" method="get">
      <input class="input-box" type="text" name="artist" id="artist" placeholder="Search artist here">
      <input class="btn btn-danger" type="submit" value="Search for an Artist">
    </form>

  </div>
</div>