<div class="container">
    <form action="/artists" method="GET">   
        <input type="text" name="artist" value="Jose">
        <input type="submit" value="Search for an Artist">
    </form>
</div>