<form action="/artists" method="GET">
  {{!-- form tags ALWAYS need a submit button INSIDE the form
  (name controls what the user text is called when you submit) --}}
  <label>
    <input type="search" name="search_query" placeholder="Jay-Z" />
  </label>

  {{!-- form tags ALWAYS need a submit button INSIDE the form --}}
  <button>Search for an Artist</button>
</form>