<div class="bg-image">
  <div class="frame">

    <form action="/artists" method="GET">
      <input type="text" name="q" id="">
      <button type="submit"> Search for an Artist</button>
    </form>
  </div>
</div>