<div class="background-main">
    <div class="main">
      <div class="inter">
          <form action="/artists">
            <input type="text" class="form-control"  placeholder="Depeche Mode" name="artist">
            <button type="submit" >Search for an Artist</button>
          </form>
      </div>
  </div>
</div>
