{{!-- <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

 --}}
<main class="background-img">
    <div class="first h-50 w-75 mx-auto">
        <div class=" main-container second align-middle m-5 p-3">
            <form action="/artists" class="form-group main-form" method="POST" autocomplete="nope">
                <input type="text" name="name" class=" my-3 form-control main-input">
                <button class="btn btn-primary button-search  text-left">Search for an Artist </button>
            </form>
        </div>
    </div>
</main>