<div class="home-container">
    <div class="form-wrapper">
        <form action ="/artists" method="POST">
            <label for="name">
               
            </label>
            <input type="text" name="name" placeholder="search for an artist!" id="imput-index"/>
            <button type="submit" class="btn btn-index">
                Sear for an Artist
            </button>
        </form>
    </div>
</div>