

<div style="background-image: url('http://krakartoa.com/wp-content/uploads/concert-2.0.jpg');background-position:center;background-size:cover;background-repeat: no-repeat;width:100vw; height: 100vh;">
  <div class="container" style="text-align:center;width: 500px;">
    <form action="/artists" method="GET" style="padding: 100px;background-color: rgba(250,250,250,0.5);margin: 0 auto">
      <div class="form-group">
        <label for="exampleInputEmail1">Artist Name</label>
        <input type="text" name="term" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary" style="background-color:green;border:none;width: 180px;">Submit</button>
    </form>
  </div>
</div>