<div class="search-page">
    <div class="search-container">
        <form action="/artists">
            <label>
                <input type="search" name="search_query" placeholder="Search for an artist">
                <button type="submit">Search for an artist</button>
            </label>
        </form>
    </div>
</div>
