<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

      <nav>
        <div class="a-tag">
        {{!-- <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beers</a> --}}
        </div>
      </nav>
  
    {{{ body }}}

  </body>
</html>