<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express GET and POST</title>
</head>
<body>
    <!--div style="margin: 10%;">
        <form action="/artists" method="GET">
            <label for="">Artists</label>
            <input type="text" name="artist" id="">
            <button type="submit">Search for Artist</button>
        </form>
    </div-->
    {{{body}}} <!--by MS-->
</body>
</html>