<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spotify Express</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home
          </a>
        </div>
      </div>
    </nav>
    <div class ="body">
    </div>
    {{{ body }}}
    
  </body>
  
</html>