<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="shortcut icon" type="image/png" href="/images/spotify-logo.png">
    <title> {{title}} </title>
</head>

<body>
    <nav class="navbar navbar-dark fixed-top">
        <a href="/" class="navbar-brand">
            {{!-- <img src="/images/spotify-logo.png" alt="logo" style="width: 40px;" /> --}}
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>