<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Spotify</title>
</head>
<body>

    {{!-- <a href="/">Home</a>
    <a href="/artist-search">Artist</a>
    <a href="/album">Album</a>
    <a href="/track">Track</a> --}}

{{{ body }}}

</body>
</html>