<!-- Simple form which will send a GET request -->
<form action="/artist" method="GET">
  <input id="artist-input" type="text" name="Artist">
  <input type="submit" value="Serch for an Artist">
</form>