 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Tiny Spotify</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
 </head>
 <body>

<!-- Navigation bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <a class="navbar-brand col" href="localhost:3000">
    <img src="/images/spotify_logo.png" width="132 " height="40">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col justify-content-end" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="https://support.spotify.com/es/?_ga=2.112294852.1199307065.1572625568-1302341927.1572520384&_gac=1.15347396.1572718964.CjwKCAjw0vTtBRBREiwA3URt7hzj1QfUN5KTZbe-CEdQEv80glQwlfEho3c6MhAcq1ooLPckU4YrbRoCZo4QAvD_BwE&_gl=1%2A1amgnin%2A_gcl_aw%2AR0NMLjE1NzI3MTg5NjQuQ2p3S0NBancwdlR0QlJCUkVpd0EzVVJ0N2h6ajFRZlVONUtUWmJlLUNFZFFFdjgwZ2xRd2xmRWhvM2M2TWhBY3Exb29MUGNrVTRZcmJSb0NabzRRQXZEX0J3RQ..%2A_gcl_dc%2AR0NMLjE1NzI3MTg5NjQuQ2p3S0NBancwdlR0QlJCUkVpd0EzVVJ0N2h6ajFRZlVONUtUWmJlLUNFZFFFdjgwZ2xRd2xmRWhvM2M2TWhBY3Exb29MUGNrVTRZcmJSb0NabzRRQXZEX0J3RQ..">Help</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.spotify.com/es/premium/?checkout=false">Premium</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.spotify.com/es/download/?_ga=2.84095961.1199307065.1572625568-1302341927.1572520384&_gac=1.83032804.1572718964.CjwKCAjw0vTtBRBREiwA3URt7hzj1QfUN5KTZbe-CEdQEv80glQwlfEho3c6MhAcq1ooLPckU4YrbRoCZo4QAvD_BwE">Download</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">  |  </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
  </ul>
  </div>
</nav>

  <!-- HBS helper -->
   {{{ body }}}
  
    </body>
 </html>