<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify!</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav>
        {{!-- add links here --}}
   <h1><a class="nav-title" href="/">Spotify API</a></h1>
    </nav>
    {{!-- any page we want to render will be "plugged in" here --}}
    {{!-- this is the only page that will have full html setup --}}
    {{!-- if there's anything you want to have on each page, it will come from here
    ex. navbar, header, footer, etc --}}
    
    {{{ body }}}
</body>
</html>

