<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Spotify Website</title>
</head>
<body>
    <header>
        <h1>Sweet Spot</h1>

        <nav>
            <a href="/">Home Page</a>
            <!--<a href="/results?search_query=grape">Like Grapes?</a>-->

        </nav>
    </header>

{{{body}}}

    <footer>
        <p>Made with Love by Shansunshine</p>
    </footer>


</body>
</html>