<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>Document</title>
</head>
<body>
   <nav>
      <figure>
        <a href="/"><img src="../images/spotify-logo.png" alt="Spotify Logo" id="logo-nav" /></a>
      </figure>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>    
    </nav>
  {{{body}}}  
</body>
</html>

