<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  {{!-- Unsure what link below is --}}
  {{!-- STYLING --}}
  {{!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> --}}
  <title>Spotify Search</title>
</head>

  {{{body}}}

</html>

{{!-- layout.hbs does not render the page. It is one document that connects backend to frontend --}}