<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>lab-express-spotify</title>

    <!--styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--typo-->
    <link rel="preload" href="https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff2" as="font" type="font/woff2" crossorigin><link rel="preload" href="https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2" as="font" type="font/woff2" crossorigin>
      <link rel="preload" href="https://open.scdn.co/fonts/spoticon_regular_2.woff2" as="font" type="font/woff2" crossorigin><link rel="preconnect" href="https://api.spotify.com">
  </head>
  <body>
    {{{ body }}}
  </body>
</html>