<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" int$
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <header>
    </header>
    <body>
        {{{ body }}}
    </body>
    
</html>