<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Artist Searcher</title>
    <link rel="stylesheet" href="/stylesheets/style.css">    
  </head>
  <body>

    <div class='view-container'>
      {{{ body }}}
    </div>

  </body>
</html>