<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Document</title>
</head>

    <header id="header">
        <a href="/">Home</a>
    </header>

    <body class="container">
        {{{ body }}}
    </body>

</html>