<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>layout</title>
</head>
<body>
    <div class= "background">
    <div class="input-container">
        <div>
            <form action="/artists" method ="post">
            <input class = "form" type="text" name= "artist"><br>
            <button class="button">Search for an artist</button>
            </form>
            {{!-- {{{body}}} --}}
        </div>
    </div>
    </div>
    </body>
</html>