<!DOCTYPE html>
<html>
  <head>
    <title>Spotify-search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
 <body>
  <nav>
    <a href="/">Home</a>
  </nav>

 {{{ body }}}


 </body>

    <footer>
     <p>Developed by Ironhack :)</p>
   </footer>

  </body>
</html>