<h1>Albums</h1>

<div class="gallery">
    {{#each albums}}
    <div class="card">
        {{#if this.images.[0]}}
        <img src="{{this.images.[0].url}}" alt="" class="card__img">
        {{else}}
        <img src="/images/default.jpeg">
        {{/if}}
        <h3 class="card__title">{{this.name}}</h3>
        <a class="button" href="/tracks/{{this.id}}">View Tracks</a>
    </div>
    {{/each}}
</div>