<h1>Tracks</h1>
<table>
    <thead>
        <tr>Name</tr>
        <tr>Preview</tr>
    </thead>
    <tbody>
        {{#each tracks}}
        <tr>
            <td>{{this.name}}</td>
            <td>Preview</td>
        </tr>
        {{/each}}
    </tbody>
</table>