.<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spotify repo</title>
      <link rel="stylesheet" type="css/text" href="./public/styles.css">
  </head>
  <body>
    <%- body %>

  </body>
</html>
