<div class="bkg-concert"></div>
<div class="form-container">
  <form class="main-search" action="/artist">
    <input class="main-input" type="text" value="Type an artist..." name="name">
    <button type="submit" class="btn-danger main-btn">Search for an Artist!</button>
  </form>
</div>
