<div class="tracks-container">
    <div class="tracks-header">
        <h2>Title</h2>
        <h2>Listen</h2>
    </div>
    {{#each tracks}}
        <div class="track">
            <p>{{this.name}}</p>
            <audio controls src="{{preview_url}}"></audio>
        </div>
    {{/each}}
</div>