<div class="search-container">
  <form action="/artists">
    <input type="text" name="artist" id="artist" placeholder="Search for an artistist, ese">
    <input type="submit" id="submit">
  </form>
</div>