<div class="home-container">
  <div class="row">
    <div class="col-sm">
      <h1 class="text-center">Music, unlimited</h1>
    </div>
  </div>
  <div class="row"><div>
  </div class="col"><br></div>
  <div class="row">
    <div class="col-sm">
      <h3 class="text-center">Listen to your favorite music anywhere, anytime</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm d-flex justify-content-center">
      <form action="/artists" class="form-inline" id="search-form">
        <div class="form-group mx-sm-3 mb-2">
          <input placeholder="Type an artist" class="form-control home-input" type="text" name="artist" id="artist-input">
          <button class="btn btn-primary home-search" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>