<div class="container content">
    <form action="/artists" method="get">
        <div class="form-group">
            <label class="sr-only" for="searchArtist">Artist:</label>
            <input type="text" class="form-control" id="searchArtist" name="artist" aria-describedby="artistHelp" placeholder="Enter artist name">
            
        </div>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
</div>