<div class="container">
    <div class="row">
        {{#each songs}} 
            <div class="col-4">
                <img width="300px" src="{{this.images.[0].url}}">
                <p>{{this.name}}</p>
                <audio controls>
                    <source src="{{this.preview_url}}" type="audio/mpeg">
                </audio> 
            </div>
        {{/each}}
    </div>
</div>