<div class="tracks-header">
  <h3>Title</h3>
  <h3>Listen</h3>
</div>
<ul class="tracks-list">
  {{#each albumTracks as |track|}}
  <li>
    <h3>{{track.name}}</h3>
    <audio controls src="{{track.preview_url}}"></audio>
    </li>
  {{/each}}
</ul>