<div class="container">
  <ul>
    {{#each items}}
      <li class="row d-flex justify-content-around">
        <h5 class="artist-name">{{this.name}}</h5>
        <audio controls src="{{this.preview_url}}" type="audio/mpeg">
          Your browser does not support the audio element.
          <code>audio</code> element
        </audio>
    </li>
    {{/each}}
  </ul>
</div>