<div class="tracks">
<table>
  <tr>
    <th>Title</th>
    <th>Listen</th>
  </tr>

{{#each tracks}}
    <tr>
      <td>{{name}}</td>
      <td>

        <audio controls>
        <source src="{{preview_url}}" type="audio/ogg">
        </audio>
      </td>
    </tr> 
  {{/each}}

</table>
</div>