<div class="track-container">
  <div>
    <span class="ti">Title</span>
  </div>
  <div>
    <span class="li">Listen</span>
  </div>
</div>

  <div class="tracks">
    {{#each tracks}}
    <div class="pair">
      <div class='test'>
        {{this.name}}
      </div>
      <div class="audio">
          <audio controls>
            <source src="{{this.preview_url}}" type="audio/mpeg">
          </audio>
      </div>
    </div>
      {{/each}}
    </div>
