<header class="top-bar">
  <h2>Title</h2>
  <h2>Listen</h2>
</header>
{{#each trackList}}
<div class="track">
  <p><strong>{{ this.name }}</strong></p>
  <audio controls>
    <source src={{ this.preview_url }} type="audio/mpeg">
  </audio>
</div>

{{/each}}