<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Tracks</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

     <div class="container">
          <div class="row header-row">
               <span class="col-lg-8 text-center">TITLE</span>
               <span class="col-lg-4 text-center">LISTEN</span>
          </div>
          {{#each trackList}}
          <div class="row">
               <span class="col-lg-8 font-weight-bold">{{name}}</span>
               <audio controls class="col-lg-4">
                    <source src="{{preview_url}}" type="audio/mpeg">
                    Your browser does not support the audio element.
               </audio>
          </div>
          {{/each}}
     </div>

</body>

</html>