<div class="songs-container">
    <div class="song-play album-title">
        <h3>Title</h3>
        <h3>Listen</h3>
    </div>
    {{#each items}}
    {{> track this}}
    {{/each}}
</div>
<form>
	<input type="button" value="Return to previous page" onClick="javascript:history.go(-1)" />
</form>