<body>
  <div class="tracks">
    <div class="titles">
      <h1>Title</h1>
      <h1>Listen</h1>
    </div>
    <% response.forEach(e => { %>
      <div class="song">
        <p>
        <%= e.name %>
        </p>
        <audio controls="" name="media"><source src="<%=e.preview_url%>" type="audio/mpeg"></audio>
      </div>
      <%  }) %>
  </div>
</body>
