<ul>
    {{#each items}}
    <p>{{this.name}}</p>
    <audio controls="" name="media">
        <source src="{{this.preview_url}}" type="audio/mpeg">
    </audio>
    <a href="/tracks/{{this.id}}"></a>
    {{/each}}

</ul> 