<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="/stylesheets/style.css"> {{!-- remember to put /styles --}} 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div class="row header-row">
    <span class="col-lg-8">Title</span>
    <span class="col-lg-4">Listen</span>
    </div>
	
    {{#each items}}
    <div class="row track-item">
	
      <div class=" red col-lg-8">
        <p>{{this.name}}</p>
      </div>
      <div class="col-lg-4">
        <audio controls="" name="media"><source src="{{this.preview_url}}" type="audio/mpeg"></audio>
      </div>
    </div>
	 {{/each}}
    
   
</div>
  
  
  
  
  
		
	


</body>
</html>
