 <main class="cards-container">

<h2>tracks list</h2>

{{#each tracksList}}
    
    
    <p>{{name}}</p>
    <p>{{preview_url}}</p>

    
    
    <audio src="{{preview_url}}" controls></audio> 
     


    {{/each}}

</main>
</div>