<div class="track-menu title"><h2>Title</h2></div>
<div class="track-menu listen"><h2>Listen</h2></div>
<div class="card-group"></div>
    {{#each tracks}}
      {{> trackPartial }}
    {{/each}}
</div>    