<h1>TRACKS</h1>

<div>
  <div>
    <p>Title</p>
    <p>Listen</p>
  </div>
  {{#each items as |track|}}
  <div>
    <p>{{track_number}}.{{name}}</p>
    <audio src="{{preview_url}}" controls></audio>
  </div>
  {{/each}}
</div>