<main class="tracks-container">

    <section id="track">
        {{#each tracksObject}}
                {{#if this.preview_url}}
                    <span>{{this.name}}</span>
                    
                        <audio 
                                    controls
                                    src="{{this.preview_url}}">
                        </audio>              

            {{/if}}
            
        {{/each}}
    </section>

</main>