<div class="table-heading">
    <div class="table-column">
        Title
    </div>
    <div class="table-column">
        Listen
    </div>
</div>
<div class="tracks-list">
    {{#each this.body.items}}
        <div class="track">
            <div>
                {{name}}
            </div>
            <div>
                <audio src="{{preview_url}}" controls>
                    
                </audio>
            </div>
        </div>
    {{/each}}
</div>