<div class="d-flex flex-column">
    <div class="tracks-title">
        <ul class="d-flex justify-content-between">
            <li>TITLE</li>
            <li>LISTEN</li>
        </ul>        
    </div>
    {{#each list}}
    <div class="track d-flex justify-content-between">
        <span>{{name}}</span>
        <audio controls="controls" src="{{preview_url}}"></a></audio>
    </div>
    {{/each}}
</div>