<div class="collection-container">
  {{#each tracks}}
  <span>{{name}}</span>
  <audio id="" controls src="{{preview_url}}" type="audio/mp3">
  </audio><br>
  {{!-- <img src="{{images.[0].url}}" alt=""> --}}
  {{!-- <a href="/tracks/{{id}}">View Tracks</a><br> --}}
  {{/each}}
</div>