
<link rel="stylesheet" href="/stylesheets/track.css"> 
  <div class="ribbon" >
      <h2>Title</h2>
      <h2>Listen</h2>
  </div>
  {{#each tracks}}
    <div class="container">
      <p>{{this.name}}</p>
        <audio controls>
          <source src="{{this.preview_url}}" type="audio/mpeg">
      </audio>
    </div>
  {{/each}}


