<div class="container">
    <div class="row header-row">
        <span class="col-lg-8">Title</span>
        <span class="col-lg-4">Listen</span>
    </div>

    {{#each tracks as |track|}}
    <div class="row track-item">
        <div class="col-lg-8">
            <p>{{track.name}}</p>
        </div>
        <div class="col-lg-4">
            <audio controls="" name="media"><source src="{{track.preview_url}}" type="audio/mpeg"></audio>
        </div>
    </div>
    {{/each}}
</div>