extends layout

block content

  .tracks
    .track-header
      h3 Title
      h3 Listen
    .track-container
      each track in items
        .tracklist
          .track
            p #{track.name}
          .preview
            audio(src=`${track.preview_url}` controls)