<table class="table">
  <thead>
    <tr>
      <th>Track</th>
      <th>Duration</th>

      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
    {{#each tracks}}
    <tr>
      <td> {{this.name}} </td>
      <td> {{this.duration_ms}} </td>
      {{#if this.preview_url}}
      <td> <audio src="{{this.preview_url}}"></audio> </td>
      {{else}}
      <td> NO PREVIEW AVAILABLE </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>