{{#each tracks  }}
    {{#if this.preview_url  }}
    <p>{{this.name}}</p>
    <audio controls src="{{this.preview_url}}"></audio><br>
    
        {{else}}
        <p>The preview is not available. Sorry!</p>
    {{/if}}
{{/each}}