<div class="container">
  <div class="row header-row">
    <span class="col-lg-8">Title</span>
    <span class="col-lg-4">Listen</span>
  </div>
  <div class="row track-item">
    {{#each trackSearchResults }}
    {{>tracksPartial this}}
    {{/each}}
  </div>
</div>