<ul class="list-group list-group-flush">
  {{#each items as |track|}}
  <li class="list-group-item">{{track.name}}</li>
  <audio><source src={{track.preview_url}}><a>arece que no</a></audio>
  {{/each}}
</ul>