<a href="/"><button>BackHome</button></a>
<ul>
    <% tracks.forEach((track) => { %>
        <li><%= track.name %><audio controls="controls" src="<%= track.preview_url %>"></audio></li>
    <% }); %>
</ul>
