<div class="row header-row">
    <span class="col-lg-8">Title</span>
    <span class="col-lg-4">Listen</span>
</div>
<ul>
    {{#each track}}
    <p>{{name}}</p>
    <audio controls="" name="media">
        <source src="{{preview_url}}" type="audio/mpeg"></audio>
    {{/each}}
</ul>