<div class="tab-trackers">
    <h2>Title</h2>
    <h2>Listen</h2>
</div>
<div class="trackers"></div>
{{#each track}}
<div class="track-info">
    <p>{{name}}</p>
    <audio src="{{preview_url}}" controls></audio>
</div>
{{/each }}
</div>