<h2>Tracks</h2>

<div class="d-flex flex-column">
  {{#each tracks}}
  <div class="block">
    <h6>{{name}}</h6>
    {{#if preview_url}}
    <audio id="" controls src="{{preview_url}}" type="audio/mp3">
    </audio><br>
    {{/if}}
  </div>
  {{/each}}
</div>