<div>
  <div class="title-bar">
    <h1>Title</h1>
    <h1>Listen</h1>
  </div>
  <div class="tracks-container">
    {{#each items}}
    <div class="track">
      <h1>{{name}}</h1>
      <audio controls>
        <source src="{{preview_url}}" type="">
      </audio>
    </div>
    {{/each}}
  </div>