<div class="container">
  <table class="tracks">
    <thead>
      <tr>
        <th>Title</th>
        <th>Listen</th>
      </tr>
    </thead>
    <tbody>
      {{#each tracks}}
      {{> track this}}
      {{/each}}
    </tbody>
  </table>
</div>