<h1>Tracks</h1>

{{#each tracks}}
{{!-- <img src="{{preview_url}}" alt="tracks"> --}}
<h5>{{name}}</h5>
<audio controls src={{preview_url}}>
  Your browser does not support the
  <code>audio</code> element.
</audio>{{/each}}

</div>