<form action="/user-register" method="post">
   <label>
       Name
       <input type="text" name="name">
   </label> <br> <br>

   <label>
       Age
       <input type="number" name="age">
   </label> <br> <br>

   <label>
       Email
       <input type="email" name="email">
   </label> <br> <br>

   <label>
       Password
       <input type="password" name="pwd">
   </label> <br> <br>

 <button type="submit">Submit Info!</button>

</form>