<div class="view-tracks">
  <h2>Title </h2>
  <h2>Player </h2>
</div>

<div class="titles">
  {{#each tracks}}
  <h3>{{this.name}}</h3>
  <audio controls>
    <source src={{this.preview_url}} type="audio/mpeg">
  </audio>
  {{/each}}
</div>

</div>