

<div class="container">
  <div class="row"><h1>View tracks</h1></div>
  <div class="row">
   <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title </th>
      <th scope="col">Listen</th>
    </tr>
  </thead>
  <tbody>
    {{#each trackArray }}
    <tr>
      {{!-- <th scope="row"></th> --}}
      <td>{{ this.name }}</td>
      <td> <audio
             controls
                  src="{{ this.preview_url }}">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
      </td>
    </tr>
     {{/each}}
  </tbody>
</table>

    {{!-- {{#each trackArray }}
      <figure>
        <figcaption>Listen to the {{ this.name }}</figcaption>
          <audio
             controls
                  src="{{ this.preview_url }}">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
      </figure>
         
    {{/each}} --}}
  </div>
</div>