body {
    margin: 0;
  }
  
  /* Global */
  .item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .single-item {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 450px;
    margin: 15px 12px;
    width: 31%;
  }
  
  .single-item img {
    width: 100%;
    height: 350px;
    position: relative;
  }
  
  .single-item h3 {
    font-size: 22px;
    margin: 0;
  }
  
  .item-footer {
    width: 100%;
    background-color: #4d4d4d;
    color: white;
    padding: 10px;
  }
  
  .item-footer a {
    color: white;
    margin-top: 8px;
    background-color: #ff6666;
  }
  
  .view-more {
    border: 1px solid black;
  }
  
  /* Home Page */
  .home-container {
    background-image: url("https://static.pexels.com/photos/167605/pexels-photo-167605.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .home-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
  }
  
  .home-search {
    margin-top: 10px;
    background-color: black;
    border-radius: 0;
    color: white;
    background-color: #ff6666;
    border: 1px solid #ff6666;
  }
  
  .home-search:hover, .home-search:active {
    color: #ff6666;
    background-color: white;
    border: 1px solid #ff6666;
  }
  
  .form-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .artist-container {
    padding: 10px 40px;
  
  }
  
  .artist-img {
    width: 100%;
  }
  
  .artist-info-container {
    background-color: #4D4D4D;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .artist-info-container p {
    color: #fff;
    font-size: 18px;
    margin: 0;
  }
  
  .artist-info-container a {
    color: #fff;
    font-size: 12px;
    background-color: #F86967;
    border-radius: 5px;
    padding: 4px 10px;
  }
  
  .track-item {
    background-color: #F6F6F6;
    margin-bottom: 2px;
    padding: 10px 0;
  }
  
  .track-item p {
    margin-bottom: 0;
  }
  
  .header-row {
    background-color: #4A4A4A;
    padding: 20px 10px;
    color: #F6F6F6;
    font-size: 20px;
  }