


<div class="d-flex flex-wrap justify-content-between pl-5 pr-5">
  {{#each artists as |artist|}}
  <div class="card ml-2 mr-2 mt-2 mb-2">
    <img src="{{artist.images.0.url}}" class="card-img-top" alt={{artist.name}}>
    <div class="card-body text-center bg-dark">
      <h5 class="card-title text-white">{{artist.name}}</h5>
      <a href="/albums/{{artist.id}}" class="btn btn-info btn-sm">View Album</a>
    </div>
  </div>
  {{/each}}
</div>