
<h1>Welcome</h1>

<form method="GET" action="/artists">

  <div class="field" >
    <label for="search-artist"></label>
    <input type="text" name="artistInfo">
  </div>

  <div class="submit">
    <button type="submit">Search for an artist</button>
  </div>
</form>
