<div class="card m-5" style="width: 18rem;">
  <img class="card-img-top" src="{{this.images.[1].url}}" alt="artist image">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="*" class="btn btn-info">View albums</a>
  </div>
</div>