<!--layout.hbs-->
<div class="album col-sm-4">
    <div class="cover"><img src="{{images.[0].url}}" alt="{{ name }}"></div>
    <div class="info">
        <h1 class="title">{{ name }}</h1>
        <a href="/tracks/{{id}}"><div class="button shadow-sm">View Tracks</div></a>
    </div>
</div>