<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="artist image">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{}}</p>
    <a href="#" class="btn btn-primary">View albums</a>
  </div>
</div>